@using ConfigManager
@using EzBob.Web.Infrastructure
@using EzBob.Web.Infrastructure.Html

@{
	var origin = ViewBag.CustomerOrigin.GetOrigin();
}
<div class="page-section hide section-dashboard">
	<div id="commission-view">@{ Html.RenderPartial("Commission"); }</div>

	<div class="navbar profile-menu">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="#section-dashboard-customers"><span>Clients</span></a></li>
				<li class="divider-vertical"></li>
				<li><a href="#section-dashboard-marketing"><span>Marketing materials</span></a></li>
				<li class="divider-vertical"></li>
				<li><a href="#section-dashboard-account-info"><span>Account information</span></a></li>
				<li class="divider-vertical"></li>
				<li><a href="#section-dashboard-terms-and-conditions"><span>Terms and conditions</span></a></li>
				@if (CurrentValues.Instance.BrokerInstantOfferEnabled) {
					<li class="divider-vertical"></li>
					<li><a href="#section-dashboard-instant-offer"><span>Instant offer</span></a></li>
				}
			</ul>
		</div>
	</div>

	<div id="section-dashboard-customers">
		<button type="button" id="AddNewCustomer" class="button btn-green pull-right btn-wide ev-btn-org">Add a new client</button>

		<h2 class="form-start">Client list</h2>

		<div class="table-big">
			<table class="customer-list table">
				<thead>
					<tr>
						<th>First name</th>
						<th>Last name</th>
						<th>Status</th>
						<th>Applied date</th>
						<th>Approved amount</th>
						<th>Loan amount</th>
						<th>Commission amount</th>
						<th>Commission payment date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<div id="section-dashboard-marketing">
		<h2 class="form_start">Marketing materials</h2>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption">Add @UiCustomerOrigin.Get().Name logo to your web site and email</div>

			<div class="aka-row logo-example">
				<div class="aka-column">
					<div class="source-ref-container">
						<div class="image-size">100 x 41</div>
						<div class="value source-ref-sample" data-field-name="SourceRefToLink_100x41"></div>
					</div>
				</div>

				<div class="aka-column-top">
					<div class="value source-ref-sample-text" data-field-name="SourceRefToText_100x41"></div>
				</div>
			</div>

			<div class="aka-row logo-example">
				<div class="aka-column">
					<div class="source-ref-container">
						<div class="image-size">200 x 83</div>
						<div class="value source-ref-sample" data-field-name="SourceRefToLink_200x83"></div>
					</div>
				</div>

				<div class="aka-column-top">
					<div class="value source-ref-sample-text" data-field-name="SourceRefToText_200x83"></div>
				</div>
			</div>

			<div class="aka-row logo-example">
				<div class="aka-column">
					<div class="source-ref-container">
						<div class="direct-link">Direct link</div>
						<div class="send-via-email"><i class="fa fa-envelope"></i>Send via email</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="source-ref-link value" data-field-name="SourceRef"></div>
				</div>
			</div>
		</div>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption">Useful links</div>
			<div class="aka-row">
				<div class="aka-column">
					<ul class="marketing-files" data-url-template="@Model.MarketingFileUrlTemplate"></ul>
				</div>
			</div>
		</div>
	</div>

	<div id="section-dashboard-account-info">
		<h2 class="form_start">Account information</h2>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption account-details">Account details</div>

			<div class="aka-row">
				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Company name:</span>
							<span class="value" data-field-name="BrokerName"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Contact person:</span>
							<span class="value" data-field-name="ContactName"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Company registration number:</span>
							<span class="value" data-field-name="BrokerRegNum"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Mobile phone #:</span>
							<span class="value" data-field-name="ContactMobile"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Other phone #:</span>
							<span class="value" data-field-name="ContactOtherPhone"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Company web site:</span>
							<span class="value" data-field-name="BrokerWebSiteUrl"></span>
						</div>
						<div class="aka-row">
							<span class="value-title">Contact email:</span>
							<span class="value" data-field-name="ContactEmail"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="aka-row">
				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Bank name:</span>
							<span class="value" data-field-name="BankName"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Account number:</span>
							<span class="value" data-field-name="BankAccount"></span>
						</div>
					</div>
				</div>

				<div class="aka-column">
					<div class="aka-table">
						<div class="aka-row">
							<span class="value-title">Sort code:</span>
							<span class="value" data-field-name="BankSortCode"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="value-group aka-table table-big box">
			<div class="box-title aka-caption update-password"><span>Update password</span></div>
				<div class="aka-row">
					<div class="aka-column">
						<section id="content">
							<div class="wizard-wrap">
								<form class="update-password-form broker-form" novalidate="novalidate">
									@{ int nUpdatePassIdx = 1; }

									@EzForm.InputTextWizard(
										new EzInputBuilder(
											"OldPassword",
											"Current password",
											type: "password",
											cls: "form_field",
											isRequired: true,
											statusIcon: true,
											tabIndex: nUpdatePassIdx++,
											uiEventControlID: "broker:update-old-password"),
										origin: origin)

									@EzForm.InputTextWizard(
										new EzInputBuilder(
											"NewPassword",
											"New password",
											type: "password",
											cls: "form_field",
											isRequired: true,
											statusIcon: true,
											formFieldID: "strength-update-password-view",
											tabIndex: nUpdatePassIdx++,
											uiEventControlID: "broker:update-password"),
										origin: origin)

									@EzForm.InputTextWizard(
										new EzInputBuilder(
											"NewPassword2",
											"Confirm password",
											type: "password",
											cls: "form_field",
											isRequired: true,
											statusIcon: true,
											tabIndex: nUpdatePassIdx++,
											uiEventControlID: "broker:update-confirm-password"),
										origin: origin)

									@EzForm.WizardButton(
										new EzButtonModel(
											"UpdatePassword",
											"Update password",
											cls: "button btn-green disabled pull-right btn-wide ev-btn-org",
											tabIndex: nUpdatePassIdx++,
											uiEventControlID: "broker:submit-update-password",
											buttonType: EzButtonType.submit),
										origin: origin)

								</form>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

	<div id="section-dashboard-terms-and-conditions">
		<h2>Terms and conditions</h2>

		Signed on <span class="signed-time">..</span>.

		<div class="terms-and-conditions">Loading...</div>
	</div>

	@if (CurrentValues.Instance.BrokerInstantOfferEnabled) {
		Html.RenderPartial("InstantOffer");
	}
</div>
