@using ConfigManager
@using EzBob.Web.Infrastructure
@using EZBob.DatabaseLib.Model.Database
@using SquishIt.Framework
@using SquishIt.Mvc
@model EzBob.Web.Areas.Broker.Models.BrokerHomeModel
@{
	Layout = null;

	Model.RootUrl = Url.Content("~/");

	Model.MarketingFileUrlTemplate = Url.Action("DownloadFile", "BrokerHome", new { Area = "Broker", fid = "__FILE_ID__", });

	Model.LogoUrl = Url.Content("~/Content/css/images/header/ezbob_logo-white.png");
	Model.EuIconUrl = Url.Content("~/Content/img/eu-menu.png");

	UiCustomerOrigin.Set(ViewBag);
}
<!DOCTYPE html>
<html>
<head>
	@{ Html.RenderPartial("_FrameKiller"); }
	<script type="text/javascript">
		window.gRootPath = '@Model.RootUrl';
	</script>

	<title>Broker's home | EZBOB</title>

	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

	<meta name="webutation-site-verification" content="webutation66c78d618b360eb461a120920e8ab3a3" />
	<meta name="msvalidate.01" content="AFD649895CD47944F50BFA0BE7BAB5D8" />

	<meta name="description" content="Online sellers sign up for a free account to apply for an ecommerce business loan. Funds can be in your account within 30 minutes." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	@{
		Html.RenderPartial("_FavIcon");

		WriteLiteral(Bundle.Css()
			//libs
			.Add("~/Content/css/lib/jquery-ui-1.8.16.custom.css")
			.Add("~/Content/css/lib/jquery.ui.1.8.16.ie.css")
			.Add("~/Content/css/lib/bootstrap2.css")
			.Add("~/Content/css/lib/bootstrap3.css")
			.Add("~/Content/css/lib/bootstrap3-modal-patch.css")
			.Add("~/Content/css/lib/dataTables.bootstrap.css")
			.Add("~/Content/css/lib/DT_bootstrap.css")
			.Add("~/Content/css/lib/font-awesome.min.css")
			.Add("~/Content/css/lib/dropzone.css")
			.Add("~/Content/css/lib/flaty.css")
			.Add("~/Content/css/lib/flaty-responsive.css")
			.Add("~/Content/css/lib/chosen.css")
			.Add("~/Content/css/lib/notifications.css")
			//custom css
			.Add("~/Content/css/common.css")
			.Add("~/Content/css/ezbob.css")
			.Add("~/Content/css/everline.css")
			.Add("~/Content/css/broker.css")
			.Add("~/Content/css/edit-experian-director-data.css")
			.Add("~/Content/css/mobile.css")
			.Add("~/Content/css/profile-ny2015scratch.css")
			.Add("~/Content/css/valentine2015scratch.css")
			.Add("~/Content/css/easter2015scratch.css")
			.MvcRender("~/Content/css/min/broker_#.css")
		);
	}
</head>

<body
	data-auth="@Model.Auth"
	data-msg-on-start="@Model.MessageOnStart"
	data-msg-on-start-severity="@Model.MessageOnStartSeverity"
	data-request-accept-terms="@Model.HasTermsStr"
	data-user-name="@Model.Auth"
>
	@AntiForgery.GetHtml()

	<div id="wrapper">
		@if (CustomerOriginExt.IsEzbob(ViewBag.CustomerOrigin)) {
			<header class="common-header">
				<div id="header">
					<div class="header-bg-strip"></div>
					<div class="header-inner">
						<div class="header-logo">
							<a href="http://ezbob.com">
								<img src="@Model.LogoUrl" class="newlogo" width="128" height="34">
							</a>
						</div>
						<div class="header-info">
							<div class="header-info-left"></div>
							<div class="header-info-text">FOR BROKERS</div>
							<div class="header-info-right"></div>
						</div>
						<ul id="user-menu" class="hide">
							<li class="menu-btn login log-off"><a href="#" class="button btn-grey">Log off</a></li>
							<li class="menu-btn login log-in"><a href="#" class="button btn-grey">Login</a></li>
							<li class="menu-btn sign-up"><a href="#" class="button btn-green">Sign Up</a></li>
							<li>
								<div class="header-phone">
									<i class="fa fa-phone"></i>&nbsp;0800-011-4787
								</div>
							</li>
						</ul>
					</div>
				</div>
			</header>
			<div class="ezbob-header-placeholder"></div>
		} else if (CustomerOriginExt.IsEverline(ViewBag.CustomerOrigin)) {
			<header class="everline_header">
				<nav>
					<div class="pin"><span></span></div>
					<span class="everlinelogo svg">Everline.com Official site - Flexible cashflow for your business</span>
					<span class="for-brokers">FOR BROKERS</span>
					<ul id="user-menu" class="hide">
						<li class="menu-btn login log-off"><a href="#" class="button btn-grey">Log off</a></li>
						<li class="menu-btn login log-in"><a href="#" class="button btn-grey">Login</a></li>
						<li class="menu-btn sign-up"><a href="#" class="button btn-green">Sign Up</a></li>
						<li>
							<div class="header-phone">
								<i class="fa fa-phone"></i>&nbsp;0800-011-4787
							</div>
						</li>
					</ul>
				</nav>
			</header>
			<div class="everline-header-placeholder"></div>
		}
		
		<div class="row-fluid broker-page-content main-page main-page-ezbob">
			<div class="inner">
				<div class="inner">
					<section class="broker">
						<div class="notifications"></div>

						@{
							Html.RenderPartial("Signup");
							Html.RenderPartial("Login");
							Html.RenderPartial("Forgotten");
							Html.RenderPartial("Dashboard");
							Html.RenderPartial("AddCustomer");
							Html.RenderPartial("AddBank");
							Html.RenderPartial("LeadDetails");
							Html.RenderPartial("CustomerDetails");
							Html.RenderPartial("Forbidden");
							Html.RenderPartial("RequestAcceptTerms");
						}
					</section>
				</div>
			</div>
		</div>

		@{ Html.RenderPartial("ScratchCards_Old_Do_NOT_AppendHere"); }

		<div id="modalRegion" class="modal hide fade"></div>

		@*if (CustomerOriginExt.IsEverline(ViewBag.CustomerOrigin)) {
			<div id="broker-footer-placeholder"></div>
		}*@

		@{ Html.RenderPartial("_Footer"); }
	</div>

	@{ Html.RenderPartial("ScratchCards"); }

	<div id="hidden-container" class="hide" style="display: none !important;">
		<div class="common-customer-sidebar">
			@{Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_Sidebar.cshtml");}
		</div>

		<div style="display: none;" class="hide" id="broker-sms-count"
			 data-force-captcha="@Model.ForceCaptcha"
			 data-max-per-number="@Model.MaxPerNumber"
			 data-max-per-page="@Model.MaxPerPage"></div>

		<div id="broker-terms-and-conditions" title="Terms and Conditions" data-terms-version="0"></div>
	</div>

	<!-- scripts - begin -->
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	@{
		Html.RenderPartial("~/Areas/Customer/Views/Profile/CompanyDirectorsTemplate.cshtml");
		Html.RenderPartial("EditExperianDirectorData");

		Html.RenderPartial("_GoogleTagManager");
		Html.RenderPartial("security_template");
		Html.RenderPartial("~/Areas/Customer/Views/Shared/_TargetingTemplate.cshtml");
		Html.RenderPartial("_LoanScheduleTemplate");

		WriteLiteral(Bundle.JavaScript()
			.Add("~/Content/js/lib/jquery-1.8.3.js")
			.Add("~/Content/js/ezbob.csrf.js")
			.Add("~/Content/js/lib/jquery.browser.min.js")
			.Add("~/Content/js/lib/dropzone.js")
			.Add("~/Content/js/lib/jquery.hoverIntent.min.js")
			.Add("~/Content/js/lib/jquery.scrollTo.js")
			.Add("~/Content/js/lib/jquery.blockUI.js")
			.Add("~/Content/js/lib/jquery.mousewheel.js")
			.Add("~/Content/js/lib/jquery.jscrollpane.js")
			.Add("~/Content/js/lib/jquery.validate.js")
			.Add("~/Content/js/lib/jquery-ui-1.8.24.custom.js")
			.Add("~/Content/js/lib/jsuri-1.1.1.js")
			.Add("~/Content/js/lib/jquery.cookie.js")
			.Add("~/Content/js/lib/jquery.slimscroll.min.js")
			.Add("~/Content/js/lib/underscore.js")
			.Add("~/Content/js/lib/backbone.js")
			.Add("~/Content/js/lib/backbone.marionette.js")
			.Add("~/Content/js/lib/Backbone.ModelBinder.js")
			.Add("~/Content/js/lib/moment.js")
			.Add("~/Content/js/lib/jquery.numeric.js")
			.Add("~/Content/js/lib/recaptcha_ajax.js")
			.Add("~/Content/js/lib/autoNumeric-1.7.4.js")
			.Add("~/Content/js/lib/chosen.jquery.js")
			.Add("~/Content/js/lib/jquery.maskedinput-1.2.2.js")
			.Add("~/Content/js/lib/notifications.js")
			.Add("~/Content/js/lib/coin-slider.js")
			.Add("~/Content/js/lib/jquery.placeholder.js")
			.Add("~/Content/js/lib/attardi.labels.js")
			.Add("~/Content/js/lib/amount-period-sliders.js")
			.Add("~/Content/js/lib/jquery.field_status.js")
			.Add("~/Content/js/lib/jquery.set_display_value.js")
			.Add("~/Content/js/lib/jquery.load_display_value.js")
			.Add("~/Content/js/lib/mousetrap_1.4.0.js")
			.Add("~/Content/js/lib/jquery.colorbox-min.js")
			.Add("~/Content/js/lib/wScratchPad.min.js")
			.Add("~/Content/js/controls/ezbob.modal.js")
			.Add("~/Content/js/controls/ezbob.jqmodal.js")
			.Add("~/Content/js/App/ezbob.app.js")
			.Add("~/Content/js/App/ezbob.validation.js")
			.Add("~/Content/js/controls/captcha.js")
			.Add("~/Content/js/controls/ezbob.notifications.js")
			.Add("~/Content/js/ezbob.design.js")
			.Add("~/Content/js/ezbob.internal.debug.js")
			.Add("~/Content/js/ezbob.uiaction.js")
			.Add("~/Content/js/ezbob.cgvendors.js")
			.Add("~/Content/js/ezbob.serverlog.js")
			.Add("~/Content/js/ezbob.strengthPassword.js")
			.Add("~/Content/js/lib/jquery.dataTables.js")
			.Add("~/Content/js/lib/flaty/bootstrap3.js")
			.Add("~/Content/js/lib/bootstrap-datepicker.js")
			.Add("~/Content/js/lib/bootstrap-modal.js")
			.Add("~/Content/js/lib/bootstrap-modalmanager.js")
			.Add("~/Content/js/lib/flaty/dataTables.bootstrap.js")
			.Add("~/Content/js/lib/flaty/DT_Bootstrap.js")
			.Add("~/Content/js/lib/flaty/flaty.js")
			.Add("~/Content/js/EzBob.DataTables.Helper.js")
			.Add("~/Content/js/controls/ezbob.BoundItemView.js")
			.Add("~/Content/js/underwriter/profile/CustomerRelations/ezbob.underwriter.AddCustomerRelationsEntry.js")
			.AddString(BundleHelper.GetDbStrings())
			.Add("~/Content/js/ezbob.view.js")
			.Add("~/Content/js/ScratchCards/ezbob.scratchcard.selectcard.js")
			.Add("~/Content/js/ScratchCards/ezbob.scratchcard.ny2015.js")
			.Add("~/Content/js/ScratchCards/ezbob.scratchcard.valentine2015.js")
			.Add("~/Content/js/ScratchCards/ezbob.scratchcard.easter2015.js")
			.Add("~/Content/js/ezbob.edit.experian.director.data.js")
			.Add("~/Content/js/Broker/broker.base.view.js")
			.Add("~/Content/js/Broker/broker.submit.view.js")
			.Add("~/Content/js/Broker/broker.mobilephone.view.js")
			.Add("~/Content/js/Broker/broker.forgotten.view.js")
			.Add("~/Content/js/Broker/broker.dashboard.view.js")
			.Add("~/Content/js/Broker/broker.requestAcceptTerms.view.js")
			.Add("~/Content/js/Broker/broker.login.view.js")
			.Add("~/Content/js/Broker/broker.signup.view.js")
			.Add("~/Content/js/Broker/broker.addcustomer.view.js")
			.Add("~/Content/js/Broker/broker.customerdetails.view.js")
			.Add("~/Content/js/Broker/broker.leaddetails.view.js")
			.Add("~/Content/js/Broker/broker.router.js")
			.Add("~/Content/js/Broker/broker.main.js")
			.Add("~/Content/js/Broker/broker.instantoffer.view.js")
			.Add("~/Content/js/Broker/broker.changepassword.view.js")
			.Add("~/Content/js/Broker/broker.addbank.view.js")
			.Add("~/Content/js/Broker/broker.commission.view.js")
			.Add("~/Content/js/Wizard/yourInfo/ezbob.yourinfo.companyTarget.js")
			.Add("~/Content/js/controls/ezbob.LoanScheduleView.js")
			.MvcRender("~/Content/js/min/jslib_#.js")
		);
	}

	<script>
		var EzBob = EzBob || {};
		EzBob.LoadedConfig = EzBob.LoadedConfig || {};
		@{
			OneUploadLimitation oul = CurrentValues.Instance.GetUploadLimitations("BrokerHome", "HandleUploadFile");
		}
		EzBob.LoadedConfig.BrokerMaxFileSize = +(@oul.FileSize / 1048576.0).toFixed(2);
		EzBob.LoadedConfig.BrokerAcceptedFiles = '@oul.AcceptedFiles';
		EzBob.LoadedConfig.PasswordPolicyType = '@Model.PasswordPolicyType';
		EzBob.LoadedConfig.CaptchaMode = '@Model.CaptchaMode';
		EzBob.LoadedConfig.SessionTimeout = @Model.SessionTimeout;

		function EzBob_CgVendors_init() {
			if (EzBob.CgVendors)
				EzBob.CgVendors.init(@{ WriteLiteral(Model.ChannelGrabberAccounts); });
		} // EzBob_CgVendors_init

		$(document).ready(function() {
			EzBob_CgVendors_init();
		});
	</script>
	<!-- scripts - end -->
</body>

</html>
