@using System.Web.Helpers
@using EzBob.Web.Infrastructure

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @BundleHelper.RenderSalesForceCss()
    @BundleHelper.RenderPrintCss()
</head>


<body class="">
    @AntiForgery.GetHtml()
    @RenderBody()

    <script type="text/javascript">
        window.gRootPath = '@Url.Content("~/")';
    </script>
    @BundleHelper.RenderSalesForceJs()
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    @RenderSection("Js", false)
</body>
</html>


