@using System.Globalization
@using EzBob.Web.Infrastructure
@using Integration.ChannelGrabberConfig
@using Newtonsoft.Json
@using StructureMap

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("_FavIcon"); }
    @BundleHelper.RenderUnderwriterCss()
    @BundleHelper.RenderPrintCss()
</head>

@{
    string sBodyClasses = "";
    string sBodyClassesException = "";

    try
    {
        var context = ObjectFactory.GetInstance<IWorkplaceContext>();

        if (context != null && context.User != null)
        {
            string sPermissions = context.User.Permissions == null ? "" : string.Join(" ", context.User.Permissions.Select(p => "permission-" + p.Name));
            string sRoles = context.User.Roles == null ? "" : string.Join(" ", context.User.Roles.Select(p => "role-" + p.Name));
            sBodyClasses = sRoles + " " + sPermissions;
        }
    }
    catch (Exception e)
    {
        sBodyClassesException = "Error fetching user permissions and roles: " + e.Message;
    }
}

<body class="@sBodyClasses">
    @if (!string.IsNullOrWhiteSpace(sBodyClassesException))
    {
        <div class="red">@sBodyClassesException</div>
    }

    @AntiForgery.GetHtml()
    <div class="container" id="main-container">
        @RenderBody()
    </div>

    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
    <script type="text/javascript">
        window.gRootPath = '@Url.Content("~/")';
        var Drupal = Drupal || {};
        Drupal.behaviors = Drupal.behaviors || {};
    </script>
    @BundleHelper.RenderCommonJs()
    @BundleHelper.RenderUnderwriterJs()
    <script type="text/javascript">

        $('.navbar.menu .roleImg').tooltip({ placement: "bottom" });
        var EzBob = EzBob || {};
        EzBob.CrmActions = [];
        EzBob.CrmStatuses = [];
        EzBob.CrmRanks = [];
        EzBob.RejectReasons = [];
        function EzBob_CgVendors_init() {
            EzBob.CgVendors.init(@{ WriteLiteral(JsonConvert.SerializeObject(Configuration.Instance.Vendors)); });
        } // EzBob_CgVendors_init

        $(document).ready(function () {
            EzBob_CgVendors_init();
        });
    </script>
    @RenderSection("Js", false)
    <div style="display: none;" class="hide" id="current-server-time-zone">@DateTimeOffset.Now.ToString("zzz", CultureInfo.InvariantCulture)</div>
</body>
</html>


