@using EzBob.Web.Infrastructure
@using Integration.ChannelGrabberConfig
@using Newtonsoft.Json
@{
	UiCustomerOrigin.SetDefault(ViewBag);
	var permRoles = PermissionsAndRoles.Fetch();
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@{ Html.RenderPartial("_FavIcon"); }
	@BundleHelper.RenderUnderwriterCss()
	@BundleHelper.RenderPrintCss()

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWS782EipVp8SaRqMR9DWTpK1Cx6Bo_tQ"></script>
</head>

<body class="@permRoles.BodyClassName">
	@if (!string.IsNullOrWhiteSpace(permRoles.ErrorMessage)) {
		<div class="red">@permRoles.ErrorMessage</div>
	}

	@AntiForgery.GetHtml()
	<div class="container" id="main-container">
		@RenderBody()
	</div>

	<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>

	<script type="text/javascript">
		window.gRootPath = '@Url.Content("~/")';
		var Drupal = Drupal || {};
		Drupal.behaviors = Drupal.behaviors || {};
	</script>
	@BundleHelper.RenderCommonJs()
	@BundleHelper.RenderUnderwriterJs()
	<script type="text/javascript">

		$('.navbar.menu .roleImg').tooltip({ placement: "bottom" });
		var EzBob = EzBob || {};
		var serverDate = '@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm:ss")';
		var serverOffset = moment.utc(serverDate).diff(new Date());
		EzBob.serverOffset = serverOffset;

		EzBob.CrmActions = [];
		EzBob.CrmStatuses = [];
		EzBob.CrmRanks = [];
		EzBob.RejectReasons = [];
		function EzBob_CgVendors_init() {
			EzBob.CgVendors.init(@{ WriteLiteral(JsonConvert.SerializeObject(Configuration.Instance.Vendors)); });
		} // EzBob_CgVendors_init

		$(document).ready(function () {
			EzBob_CgVendors_init();
		});
	</script>
	@RenderSection("Js", false)


	@AddDirectorInfoTemplate.Render(this, ViewBag, Url.Action("AddDirector", "CrossCheck", new { Area = "Underwriter" }))
</body>
</html>


