@model dynamic

@helper RenderModalContent(){
    <div class="form-inline">
    
        @EzForm.DatePickerInline("loantransactions-from", "From", @DateTime.Now.Subtract(TimeSpan.FromDays(31)).ToShortDateString(), "input-small form-control")
        @EzForm.DatePickerInline("loantransactions-to", "to", @DateTime.Now.ToShortDateString(), "input-small form-control")

        @EzForm.SelectInline("loantransactions-number", "Loan", new[] {"Loan name/number"}, "input-medium form-control selectheight")
        @EzForm.SelectInline("loantransactions-types", "Type", new[] {"All transactions"}, "input-medium form-control selectheight")
    </div>

    <p>
        <table class="table">
            <thead class="box">
                <tr class="box-title">
                    <th>Date</th>
                    <th>Transaction description</th>
                    <th>Amount</th>
                    <th>Total</th>
                    <th>Advance name/number</th>
                    <th>Account name</th>
                </tr>
            </thead>
            <tbody>
                @RenderRow(DateTime.Now.ToShortDateString(), "Repayment for xxx", "600", "1513", "Advance name", "PayPal1")
                @RenderRow(DateTime.Now.ToShortDateString(), "Repayment for xxx", "600", "1513", "Advance name", "PayPal1")
                @RenderRow(DateTime.Now.ToShortDateString(), "Repayment for xxx", "600", "813", "Advance name", "PayPal1")
                @RenderRow(DateTime.Now.ToShortDateString(), "Repayment for xxx", "600", "813", "Advance name", "PayPal1")
                @RenderRow(DateTime.Now.ToShortDateString(), "Late payment for xxx", "600", "513", "Advance name", "PayPal1")
                @RenderRow(DateTime.Now.ToShortDateString(), "Fee for xxx", "13", "0", "Advance name", "PayPal2")
            </tbody>
        </table>
    </p>
    <p>
        Underwriter name: * Lewis Hamiltorn<br/>
        Manager name: Jack Bruce
    </p>
}

@helper RenderRow (string date, string description, string amount, string total, string number, string account) {
    <tr>
        <td>@date</td>
        <td>@description</td>
        <td>@amount</td>
        <td>@total</td>
        <td>@number</td>
        <td>@account</td>
    </tr>
}

<div class="modal hide fade" id="loan-transactions-modal-inner">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Loan transactions</h3>
    </div>
    <div class="modal-body">
        @RenderModalContent()
    </div>
    <div class="pull-right">
        <a href="#" class="btn btn-primary"><i class="icon-print"></i>Print</a>
        <a href="#" class="btn btn-primary"><i class="icon-download-alt"></i> Download</a>
    </div>
</div>