@using EZBob.DatabaseLib
@using EzBob.CommonLib
@using StructureMap
@model dynamic

<script id="loanhistory-view-template" type="text/template">
    <div class="row">
        <div class="col-md-12">
            <div class="table-ezbig">
                <div class="box">
                    <div class="box-content">
                        <div id="loanhistory-table">
                        </div>
                        <div id="loanhistory-details">
                        </div>
                        <div id="loan-editor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script id="loanhistory-template" type="text/template">
            @Loans()
            <div>
                <label class="checkbox">
                    <input type="checkbox" class="show-rejections" checked="checked">
                    Show rejections
                </label>
            </div>
            <div id="offers-conteiner">
            </div>

            @{Html.RenderPartial("_ExportToExcel");}
</script>

@helper Loans()
{
    <table class="table centered box">
        <thead class="box">
            <tr class="box-title">
                <th>Loan ref#</th>
                <th>Loan amount</th>
                <th>Repayments</th>
                <th>Date Applied</th>
                <th>Date closed</th>
                <th>Outstanding</th>
                <th>Outstanding<br />
                    Principal</th>
                <th>Type</th>
                <th>DiscountPlan</th>
                <th>Status</th>
                <th>Source</th>
            </tr>
        </thead>
        <%if(typeof loans !== "undefined" && loans !== null && loans.length > 0){
                var sumLoanAmount = 0,
                sumRepayments = 0,
                sumBalance = 0;
                sumPrincipal = 0;%>
        <tbody class="box-content">
            <%_.each(loans, function(loan){%>
            <tr data-id="<%- loan.Id %>" class="loans tr-link">
                <td><%- loan.RefNumber %>
                    <% if (loan.Modified) { print('*')} else { print('&nbsp;&nbsp;'); }%>
                    <a href="#" class="btn btn-primary btn-mini edit-loan" data-id="<%-loan.Id%>"><i class="fa fa-pencil"></i></a>
                </td>
                <td><%- EzBob.formatPounds(loan.LoanAmount) %></td>
                <td><%- EzBob.formatPounds(loan.Repayments) %></td>
                <td><%- EzBob.formatDateHumanFull(loan.Date) %></td>
                <td><%- EzBob.formatDateHumanFull(loan.DateClosed ) %></td>
                <td><%- EzBob.formatPounds(loan.TotalBalance) %></td>
                <td><%- EzBob.formatPounds(loan.Principal) %></td>
                <td><%- loan.LoanType %></td>
                <td><%- loan.DiscountPlan %></td>
                <td><%- loan.StatusDescription %></td>
                <td><%- loan.LoanSourceName %></td>
            </tr>
            <%
            sumLoanAmount +=!isNaN(loan.LoanAmount)?loan.LoanAmount:0 ;
            sumRepayments += !isNaN(loan.Repayments)?loan.Repayments:0;
            sumBalance += !isNaN(loan.TotalBalance)?loan.TotalBalance:0;
            sumPrincipal += !isNaN(loan.Principal)?loan.Principal:0;
            });%>
            <tr>
                <td>Total</td>
                <td><%- EzBob.formatPounds(sumLoanAmount) %></td>
                <td><%- EzBob.formatPounds(sumRepayments) %></td>
                <td colspan="2"></td>
                <td><%- EzBob.formatPounds(sumBalance) %></td>
                <td><%- EzBob.formatPounds(sumPrincipal) %></td>
                <td colspan="4"></td>
            </tr>
        </tbody>
        <%}%>
    </table>
}

<script id="offrers-template" type="text/template">
    <table class="table centered box">
        <thead class="box">
            <tr class="box-title">
                <th>Action</th>
                <th>Offer</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Interest Rate</th>
                <th>Setup Fee</th>
                <th>Discount Plan</th>
                <th>Repayment Period</th>
                <th>Type</th>
                <th>Source</th>
                <th>Originator</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody class="box-content">
            <%_.each(offers, function(offer){%>   
                <% if (offer.UnderwriterDecision === "Approved") {%>
                    @TableRowsOfferApproved()
            <%} else if (offer.UnderwriterDecision === "Rejected") {%>
                    @TableRowsOfferReject()
            <%}%>
            <%});%>
        </tbody>
    </table>
</script>


@helper TableRowsOfferApproved()
{
    <tr>
        <td><%- offer.UnderwriterDecision %></td>
        <td class="centered">
            <button data-id="<%=offer.Id%>" class="btn btn-primary btn-mini show-schedule"><i class="fa fa-calendar"></i></button>
        </td>
        <td><%- EzBob.formatDateHumanFull(offer.StartDate) %></td>
        <td><%- EzBob.formatDateHumanFull(offer.EndDate) %></td>
        <td><%- EzBob.formatPounds(offer.Amount) %></td>
        <td><%- EzBob.formatPercents(offer.InterestRate) %></td>
        <td><%- offer.SetupFee %></td>
        <td><%- offer.DiscountPlan %></td>
        <td><%- offer.RepaymentPeriod %></td>
        <td><%- offer.LoanType %></td>
        <td><%- offer.LoanSourceName %></td>
        <td><%- offer.Originator %></td>
        <td><%- offer.Comments %></td>
    </tr>
}

@helper TableRowsOfferReject()
{
    <tr>
        <td><%- offer.UnderwriterDecision %></td>
        <td class="centered"></td>
        <td><%- EzBob.formatDateHumanFull(offer.StartDate) %></td>
        <td colspan="8"></td>
        <td><%- offer.Originator %></td>
        <td><%- offer.Comments %></td>
    </tr>
}
<script id="manualPayment-template" type="text/template">
    @ManualPayment()
</script>

@helper ManualPayment()
{
    var oDBHelper = ObjectFactory.GetInstance<IDatabaseDataHelper>() as DatabaseDataHelper;
    List<string> paymentMethods = oDBHelper.LoanTransactionMethodRepository
        .GetAll()
        .Where(x => x.DisplaySort > 0)
        .OrderBy(x => x.DisplaySort)
        .Select(x => x.Name)
        .ToList();

    <input type="hidden" name="loanId" value="<%-loanId%>" />
    <div class="modal-header">
        <h3 id="myModalLabel">Manual Payment</h3>
    </div>

    <div class="modal-body">

        <form id="payment-form" class="form-horizontal" action="/" method="POST">
            @EzForm.Select("paymentMethod", "Payment method", paymentMethods, "form-control")
            @EzForm.InputTextUnderwriter(this, "totalSumPaid", "Total sum paid", "")
            @EzForm.DateInputUnderwriter("paymentDate", "Date", false, new[] { DateTime.Now.AddYears(-1), DateTime.Now.AddYears(1), DateTime.Now })
            @EzForm.InputTextUnderwriter(this, "fees", "Fees", "", "text", isDisabled: true)
            @EzForm.InputTextUnderwriter(this, "interest", "Interest", "", "text", isDisabled: true)
            @EzForm.InputTextUnderwriter(this, "principal", "Principal", "", "text", isDisabled: true)
            @EzForm.CheckBox("sendemail", "Send confirmation email")
            @EzForm.TextAreaSmall("description", "Description", "", "form-control")
        </form>


    </div>
    
    <div class="pull-right">
        <a href="#" class="btn btn-primary uploadFiles">Upload files</a>
        <button class="btn btn-primary confirm">OK</button>
    </div>
}