@model dynamic

<h3>Cross check table:</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Credit Bureau</th>
            <th>Application</th>
        </tr>
    </thead>
    <tbody>
        @RenderRow("Age", "35", "35")
        @RenderRow("Gender", "Male", "Male")
        @RenderRow("Adress", "bla-bla-bla", "bla-bla-bla")
    </tbody>
</table>

@helper RenderRow(string name, string bereau, string application){
    <tr>
        <td>@name</td>
        <td>@bereau</td>
        <td>@application</td>
    </tr>
}

@{Html.RenderPartial("_ExportToExcel");}