@model dynamic
<script id="dashboard-template" type="text/template">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="row">
                <div class="box">
                    <div class="box-title">
                        <h3>Customer Input</h3>
                        @BoxTools("Customer Input")
                    </div>
                    <div class="box-content">
                        <%
                            var rl = m.RequestedLoan || {},
                            cec = m.CompanyEmployeeCountInfo || {};
                        %>
                        <table class="">
                            <tbody>
                                <tr>
                                    <td rowspan="3" class="requested-loan-td">Requested loan: <br /> <span><%-rl!=null ? EzBob.formatPoundsNoDecimals(rl.Amount, true) : "-"%></span></td>
                                    <td class="pad-left">Annual turnover: <%- EzBob.formatPoundsNoDecimals(m.OverallTurnOver) %></td>
                                </tr>
                                <tr>
                                    <td class="pad-left"># of employees: <%- cec.EmployeeCount %> employees</td>
                                </tr>
                                <tr>
                                    <td class="pad-left">Total Monthly salary cost: <%- EzBob.formatPoundsAsInt(cec.TotalMonthlySalary) %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <%if(properties){%>
            <div class="box">
                <div class="box-title">
                    <h3>Assets & Worth</h3>
                    @BoxTools("Assets & Worth", "#customer-info")
                </div>
                <div class="box-content">
                    <div class="row">
                        <div>Market value: <span class="ez-green"><%- EzBob.formatPoundsAsThousandsNoDecimals(properties.MarketValue) %></span></div>
                        <div style="position: relative;">
                            <div class="mortgage-div"><span class="ez-bigtext"><%- EzBob.formatPoundsAsThousandsNoDecimals(properties.SumOfMortgages) %> (<%- properties.NumberOfMortgages %>)</span><br /><span class="badge">(LTV: <%- properties.Ltv %>%)</span></div>
                            <div class="networth-div" ><span class="ez-bigtext"><%- EzBob.formatPoundsAsThousandsNoDecimals(properties.NetWorth) %></span><br /><span class="badge">(<%- properties.NetWorthPercentages %>%)</span></div>
                         </div>
                        <div style="position: relative; width: 170px; margin: 0 auto;">
                            <canvas id="assets-donut" width="170" height="170"></canvas>
                            <div class="assets-image"><i class="fa fa-home"></i><br />X<%- properties.NumberOfProperties %></div>
                            <div class="assets-legend"><i class="fa fa-square ez-light-grey"></i> Mortgage &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-square ez-green"></i>Net worth</div>
                        </div>
                    </div>
                </div>
            </div>
                <%}%>
            </div>
        </div>

        <%
            var aff = {};
            var dates = {};
            if(affordability && affordability.length == 1 && affordability[0].CGData){
			
			if (affordability[0].CGData.VatReturnSummary && affordability[0].CGData.VatReturnSummary[0])
				aff = affordability[0].CGData.VatReturnSummary[0];

			var dates = {};
			if (affordability[0].CGData.VatReturnSummaryDates && affordability[0].CGData.VatReturnSummaryDates[0])
				dates = affordability[0].CGData.VatReturnSummaryDates[0];
        }%>
        
        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="table-ezbig">
                <div class="box">
                <div class="box-title">
                    <h3>Affordability</h3>
                    @BoxTools("Affordability", "#marketplaces")
                </div>
                <div class="box-content">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><i>annual</i></td>
                                <td><span class="<%-dates.TotalSummaryDays < 350 ? 'label label-large label-important' : ''%>"><%-moment(dates.DateFrom).format("MMM YY")%> - <%-moment(dates.DateTo).format("MMM YY")%></span></td>
                            </tr>
                            <tr>
                                <td>revenues</td>
                                <td class="<%-NegativeNum(aff.Revenues)%>"><%-EzBob.formatPoundsNoDecimals(aff.Revenues)%></td>
                            </tr>
                            <tr>
                                <td>opex</td>
                                <td class="<%-NegativeNum(aff.Opex)%>"><%-EzBob.formatPoundsNoDecimals(aff.Opex)%></td>
                            </tr>
                            <tr class="chkpt">
                                <td>value added</td>
                                <td class="<%-NegativeNum(aff.TotalValueAdded)%>"><%-EzBob.formatPoundsNoDecimals(aff.TotalValueAdded)%></td>
                            </tr>
                            <tr>
                                <td>salaries</td>
                                <td class="<%-NegativeNum(aff.Salaries)%>"><%-EzBob.formatPoundsNoDecimals(aff.Salaries)%></td>
                            </tr>
                            <tr>
                                <td>tax</td>
                                <td class="<%-NegativeNum(aff.Tax)%>"><%-EzBob.formatPoundsNoDecimals(aff.Tax)%></td>
                            </tr>
                            <tr class="chkpt">
                                <td>EBITDA</td>
                                <td class="<%-NegativeNum(aff.Ebida)%>"><%-EzBob.formatPoundsNoDecimals(aff.Ebida)%></td>
                            </tr>
                            <tr>
                                <td>loan repayment</td>
                                <td class="<%-NegativeNum(aff.ActualLoanRepayment)%>"><%-EzBob.formatPoundsNoDecimals(aff.ActualLoanRepayment)%></td>
                            </tr>
                            <tr class="chkpt">
                                <td>FCF</td>
                                <td><span class="label label-large <%- aff.FreeCashFlow < 0 ? 'label-important' : 'label-success' %>"><%-EzBob.formatPoundsNoDecimals(aff.FreeCashFlow)%></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <%if(experian) {
            experian.Summary = experian.Summary || {};
            experian.Summary.ConsumerAccountsOverview = experian.Summary.ConsumerAccountsOverview || {};
            experian.ConsumerSummaryCharacteristics = experian.ConsumerSummaryCharacteristics || {};
            experian.ConsumerAccountsOverview = experian.ConsumerAccountsOverview || {};
            var experianCompany = experian.LimitedInfo || experian.NonLimitedInfo || {};
            var tileColor='';
            if(!EzBob.isDarkColor(experian.ScoreColor)){
            tileColor = 'tile-light';
            }
        %>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-title">
                    <h3>Customer & Directors</h3>
                    @BoxTools("Customer & Directors", "#credit-bureau")
                </div>
                <div class="box-content">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs active">
                            <li class="active"><a href="#customerExperian" data-toggle="tab"><span class="<%-tileColor%>" style="background-color: <%-experian.ScoreColor%>;"><%-experian.Score%></span>&nbsp;Applicant</a></li>
                            <%if(experian.directorsModels && experian.directorsModels.length > 0){
                                _.each(experian.directorsModels, function(item, i){
                                    var directorTileColor='';
                                    if(!EzBob.isDarkColor(item.ScoreColor)){
                                        directorTileColor = 'tile-light';
                                    }
                            %>
                            <li><a href="#director<%-i%>" data-toggle="tab"><span class="<%-directorTileColor%>" style="background-color: <%-item.ScoreColor%>;"><%-item.Score%></span> Director <%-(i+1)%></a></li>
                            <%});}%>
                        </ul>
                        <div class="tab-content no-border">
                            <div class="tab-pane fade active in" id="customerExperian">
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        <div class="caption text-center">
                                            <div>Score</div>
                                            <canvas id="consumerScoreCanvas" width="100" height="100" data-color="<%-experian.ScoreColor%>" data-percent="<%-experian.Score/1200%>"></canvas>
                                            <div class="half-donut-caption"><%-experian.Score%></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        <div class="caption text-center">
                                            <div>Indebtedness index</div>
                                            <canvas id="consumerCIICanvas" width="100" height="100" data-color="#a7a7a7" data-percent="<%-experian.CII/100%>"></canvas>
                                            <div class="half-donut-caption"><%-experian.CII%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        <div class="caption text-center">
                                            Total CAIS balance
                                        </div>
                                        <% var balance = EzBob.formatPoundsAsThousandsNoDecimals(experian.ConsumerAccountsOverview.Balance_Total);
                                var textSize = '';
                            if(balance.length > 5){ textSize = 'text-small';} %>
                            <p class="title text-center <%- textSize%>"><%-EzBob.formatPoundsAsThousandsNoDecimals(experian.ConsumerAccountsOverview.Balance_Total)%></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile <%- experian.ConsumerSummaryCharacteristics.NumberOfDefaults == 0 ? 'tile-lightgreen' : 'tile-red' %>">
                                        <div class="caption text-center">
                                            Defaults
                                        </div>
                                        <p class="title text-center"><%-experian.ConsumerSummaryCharacteristics.NumberOfDefaults%></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        <span class="inline-sparkline consumerScoreGraph"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        <span class="inline-sparkline consumerCIIGraph"></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile <%- experian.ConsumerAccountsOverview.OpenAccounts_Total==0 ? 'tile-red' : 'tile-lightgreen' %>">
                                        <div class="caption text-center">
                                            CAIS Accounts
                                        </div>
                                        <p class="title text-center"><%-experian.ConsumerAccountsOverview.OpenAccounts_Total%></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                        <div class="tile <%- experian.Summary.CCJs == 0 ? 'tile-lightgreen' : 'tile-red' %>">
                                            <div class="caption text-center">
                                                CCJ/Recent CCJ(m)
                                            </div>
                                            <p class="title text-center"><%-experian.Summary.CCJs%> / <%-experian.Summary.MostrecentCCJ%>m</p>
                                        </div>
                                    </div>
                            </div>
                            <%if(experian.directorsModels && experian.directorsModels.length > 0){
                    _.each(experian.directorsModels, function(item, i){
                            item.Summary = item.Summary || {};
                            item.Summary.ConsumerAccountsOverview = item.Summary.ConsumerAccountsOverview || {};
                            item.ConsumerSummaryCharacteristics = item.ConsumerSummaryCharacteristics || {};
                            item.ConsumerAccountsOverview = item.ConsumerAccountsOverview || {};%>
                        <div class="tab-pane fade in" id="director<%-i%>">
                            <div class="">
                                <div class="col-md-3 col-sm-4">
                                    <%var tileColor='';
                                    if(!EzBob.isDarkColor(item.ScoreColor)){
                                        tileColor = 'tile-light';
                                    }%>
                                    <div class="tile tile-transparant">
                                        <div class="caption text-center">
                                            <div>Score</div>
                                            <canvas id="directorScoreCanvas<%-i%>" width="100" height="100" data-color="<%-item.ScoreColor%>" data-percent="<%-item.Score/1200%>"></canvas>
                                            <div class="half-donut-caption"><%-item.Score%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        <div class="caption text-center">
                                            <div>Indebtedness index</div>
                                            <canvas id="directorCIICanvas<%-i%>" width="100" height="100" data-color="#a7a7a7" data-percent="<%-item.CII/100%>"></canvas>
                                            <div class="half-donut-caption"><%-item.CII%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        <div class="caption text-center">
                                            Total CAIS balance:
                                        </div>
                                        <% var balance = EzBob.formatPoundsAsThousandsNoDecimals(item.ConsumerAccountsOverview.Balance_Total);
                                            var textSize = '';
                                        if(balance.length > 5){ textSize = 'text-small';} %>
                                        <p class="title text-center <%- textSize%>"><%-EzBob.formatPoundsAsThousandsNoDecimals(item.ConsumerAccountsOverview.Balance_Total)%></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile <%- item.ConsumerSummaryCharacteristics.NumberOfDefaults == 0 ? 'tile-lightgreen' : 'tile-red' %>">
                                        <div class="caption text-center">
                                            Defaults
                                        </div>
                                        <p class="title text-center"><%-item.ConsumerSummaryCharacteristics.NumberOfDefaults%></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        score trend N/A
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile tile-transparant">
                                        CII trend N/A
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile <%- item.ConsumerAccountsOverview.OpenAccounts_Total==0 ? 'tile-red' : 'tile-lightgreen' %>">
                                        <div class="caption text-center">
                                            CAIS Accounts:
                                        </div>
                                        <p class="title text-center"><%-item.ConsumerAccountsOverview.OpenAccounts_Total%></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="tile <%- item.Summary.CCJs == 0 ? 'tile-lightgreen' : 'tile-red' %>">
                                        <div class="caption text-center">
                                            CCJ/Recent CCJ(m)
                                        </div>
                                        <p class="title text-center"><%-item.Summary.CCJs%> / <%-item.Summary.MostrecentCCJ%>m</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <%});}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        
        <%if(experianCompany){
            var tileColor='';
            if(!EzBob.isDarkColor(experianCompany.ScoreColor)){
                tileColor = 'tile-light';
            }%>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-title">
                    <h3>Company Credit Profile</h3>
                    @BoxTools("Company Credit Profile", "#company-score")
                </div>
                <div class="box-content">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs active">
                            <li class="active"><a href="#companyExperian1" data-toggle="tab">
                                <span class="<%-tileColor%>" style="background-color: <%-experianCompany.ScoreColor%>;"><%-experianCompany.BureauScore%></span>&nbsp;C1</a></li>
                        </ul>
                        <div class="tab-content no-border">
                            <div class="tab-pane fade active in" id="companyExperian1">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="tile <%-tileColor%>" style="background-color: <%-experianCompany.ScoreColor%>">
                                            <div class="caption text-center">
                                                Score
                                            </div>
                                            <p class="title text-center"><%-experianCompany.BureauScore%></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="tile tile-lightgrey">
                                            <div class="caption text-center">
                                                CCJ
                                            </div>
                                            <p class="title text-center">N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="tile tile-lightgrey">
                                            <div class="caption text-center">
                                                Tangible equity
                                            </div>
                                            <p class="title text-center">N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="tile tile-lightgrey">
                                            <div class="caption text-center">
                                                Adjusted profit
                                            </div>
                                            <p class="title text-center">N/A</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="tile tile-transparant">
                                            <span class="inline-sparkline companyScoreGraph"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
    <div class="row">
        <%if(m.LoanActivity && m.Decisions && m.Decisions.TotalDecisionsCount > 0){
            var activeLoans = m.LoanActivity.TotalIssuesCount > 0 ? "active" : "";
            var activeDecisions = activeLoans == "" ? "active" : "";
        %>
        <div class="col-lg-12 col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3>Customer History</h3>
                    @BoxTools("Customer History", "#loanhistorys")
                </div>
                <div class="box-content">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="<%-activeLoans%>"><a href="#loans" data-toggle="tab"><span class="label label-large label-warning"><%-m.LoanActivity.TotalIssuesCount%></span>&nbsp;Loans</a></li>
                            <li class="<%-activeDecisions%>"><a href="#decisions" data-toggle="tab"><span class="label label-large label-success"><%-m.Decisions.TotalDecisionsCount%></span>&nbsp;Decisions</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade <%-activeLoans%> in" id="loans">
                                <ul class="summary-offer">
                                    <li>
                                        <p>
                                            <span>Total issues</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.TotalIssuesSum)%></span>
                                            <span><%-m.LoanActivity.TotalIssuesCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Repaid</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.RepaidSum)%></span>
                                            <span><%-m.LoanActivity.RepaidCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Active</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.ActiveSum)%></span>
                                            <span><%-m.LoanActivity.ActiveCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Earned interest</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.EarnedInterest)%></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade <%-activeDecisions%> in" id="decisions">
                                <ul class="summary-offer">
                                    <li>
                                        <p>
                                            <span># Decisions</span>
                                            <span><%-m.Decisions.TotalDecisionsCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Total approved</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.Decisions.TotalApprovedAmount)%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span># Rejects</span>
                                            <span><%-m.Decisions.RejectsCount%></span>
                                        </p>
                                    </li>
                                    <%if(m.Decisions.LastInterestRate > 0){%>
                                    <li>
                                        <p>
                                            <span>Last interest rate</span>
                                            <span><%-EzBob.formatPercents(m.Decisions.LastInterestRate)%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Last approval date</span>
                                            <span><%-EzBob.formatDate(new Date(moment(m.Decisions.LastDecisionDate)))%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Time past from last approval</span>
                                            <span><%-moment(m.Decisions.LastDecisionDate).fromNow()%></span>
                                        </p>
                                    </li>
                                    <%}%>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="rejects">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Oct 1 2013</td>
                                            <td>low sales</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
    <%m.DecisionHistory = m.DecisionHistory || {};%>
    <%if(m.DecisionHistory.length > 0){%>
    <div class="table-ezbig">
        <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3>Journal</h3>
                    @BoxTools("Journal", "#customerRelations")
                </div>
                <div class="box-content">

                    <table class="table centered">
                        <thead class="box">
                            <tr class="box-title">
                                <th>Action </th>
                                <th style="width: 100px;">Date </th>
                                <th>Approved Sum </th>
                                <th>Interest </th>
                                <th>Repayment Period </th>
                                <th>Loan Type </th>
                                <th>Use Setup Fee </th>
                                <th>Discount Plan </th>
                                <th>Customer Selection </th>
                                <th>Loan Source </th>
                                <th>Originator </th>
                                <th>Underwriter </th>
                                <th>Comment </th>
                                <th>ID </th>
                            </tr>
                        </thead>
                        <tbody>
                            <%_.each(m.DecisionHistory, function(d){%>
                            <tr>
                                <td><%- d.Action %></td>
                                <td><%- EzBob.formatDate(d.Date) %></td>
                                <% if (d.Action == "Reject") {%>
                                    <td colspan="8"></td>
                                <%} else {%>
                                    <td><%- EzBob.formatPounds(d.ApprovedSum) %></td>
                                <td><%- EzBob.formatPercents(d.InterestRate) %></td>
                                <td><%- d.RepaymentPeriod %></td>
                                <td><%- EzBob.formatLoanType(d.IsLoanTypeSelectionAllowed, d.LoanType) %></td>
                                <td><%- (d.ManualSetupFeeAmount || d.ManualSetupFeePercent) ? 'Manual' : (d.UseBrokerSetupFee ? 'Broker' : (d.UseSetupFee ? 'Setup Fee' : 'No')) %></td>
                                <td><%- d.DiscountPlan %></td>
                                <td><%- EzBob.formatLoanTypeSelection(d.IsLoanTypeSelectionAllowed) %></td>
                                <td><%- d.LoanSourceName %></td>
                                <%}%>
                                <td><%- d.Originator %></td>
                                <td><%- d.UnderwriterName %></td>
                                <td><%- d.Comment %></td>
                                <td><%- d.Id %></td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%}%>

</script>

@helper BoxTools(string bugType, string gotoTab = null){
    <div class="box-tool">
        @if (!string.IsNullOrEmpty(gotoTab))
        {
            <a href="#" data-toggle="tab" class="btn btn-mini btn-primary" onclick="$('a[href=@gotoTab]').click()"><i class="fa fa-ellipsis-h"></i></a>
        }
        <a href="#" class="btn btn-mini btn-primary" data-bug-type="@bugType" data-bug-customer="<%-m.Id%>" data-placement="bottom" data-original-title="" title=""><i class="fa fa-bug"></i></a>
        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
    </div>
}