@model dynamic

@helper RenderRow(string account, string accountid, string date, string revenue, string turnover){
    <tr>
        <td>@account</td>
        <td>@accountid</td>
        <td>@date</td>
        <td>@revenue</td>
        <td>@turnover</td>
    </tr>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Payment account</th>
            <th>Account ID</th>
            <th>Date</th>
            <th>Revenue</th>
            <th>Turnover</th>
        </tr>
    </thead>
    <tbody>
        @RenderRow("Bank account", "23487sdf", @DateTime.Now.ToString(), "21500", "321548")
        @RenderRow("PayPal", "23487sdf", @DateTime.Now.ToString(), "21500", "321548")
    </tbody>
</table>
<div class="row">
    <div class="span12">
        Total Revenue: 23348
    </div>

</div>
<div class="row">
    <div class="span12">
        Total TurnOver: 234325
    </div>
</div>
@{Html.RenderPartial("_ExportToExcel");}