@model dynamic
@helper RawCell(params string[] arguments)
{
    <tr>
        <td class="customer-column-width-50">@Html.Raw(arguments[0])</td>
        <td>@Html.Raw(arguments[1])</td>
    </tr>
}

@helper RowCell(string title, string value)
{
    <tr>
        <td>
            <span class="customer-details-left-margin">@Html.Raw(title)</span>
            <span class="pull-right">@Html.Raw(value)</span>
        </td>
    </tr>
}

@helper RawCellWithButtonNear(string title, string val1, string val2, string css = "", string sRawHtmlUnder = "")
{
    <tr>
        <td class="@Html.Raw(css) customer-column-width-50">@Html.Raw(title)</td>
        <td class="@Html.Raw(css)">
            <span>@Html.Raw(val1) </span>
            <button class="btn btn-mini left-pane-button" name="@Html.Raw(val2)"><i class="fa fa-pencil" /></button>
            @{ WriteLiteral(sRawHtmlUnder); }
        </td>
    </tr>
}

@helper RowCellWithButtonNear(string title, string val1, string val2, string css = "", string sRawHtmlUnder = "")
{
    <tr>
        <td>
            <span class="@Html.Raw(css) customer-details-left-margin">@Html.Raw(title)</span>
            <span class="@Html.Raw(css) pull-right">
                <span>@Html.Raw(val1) </span>
                <button class="btn btn-mini left-pane-button" name="@Html.Raw(val2)"><i class="fa fa-pencil" /></button>
                @{ WriteLiteral(sRawHtmlUnder); }
            </span>
        </td>
    </tr>
}

@helper RawCellWithSlider(string title, string className, string labelOff, string labelOn, string css = "", string dataOn = "danger")
{
    <tr>
        <td class="@Html.Raw(css) customer-column-width-50">@Html.Raw(title)</td>
        <td class="@Html.Raw(css)">
            <div class="@Html.Raw(className) make-switch switch-mini" data-on="@Html.Raw(dataOn)" data-off="default" data-animated="true" data-off-label="@Html.Raw(labelOff)" data-on-label="@Html.Raw(labelOn)">
                <input type="checkbox" checked/>
            </div>
        </td>
    </tr>
}

@helper RowCellWithSlider(string title, string className, string labelOff, string labelOn, string css = "", string dataOn = "danger")
{
    <tr>
        <td class="customer-details-switch-td">
            <span class="@Html.Raw(css) customer-details-left-margin">@Html.Raw(title)</span>
            <span class="@Html.Raw(css) pull-right">
                <div class="@Html.Raw(className) make-switch switch-mini" data-on="@Html.Raw(dataOn)" data-off="default" data-animated="true" data-off-label="@Html.Raw(labelOff)" data-on-label="@Html.Raw(labelOn)">
                    <input type="checkbox" checked/>
                </div>
            </span>
        </td>
    </tr>
}

<div id="simpleEditDlg" name="simpleEditDlg" style="display: none">
    <form name="simpleEditDlg">
    </form>
</div>

<script id="simple-value-editor-cb-template" type="text/template">
    <select name='simpleValueEdit' class="form-control selectheight">
        <%_.each(options, function(o){%>
            <option value="<%=o.value%>"><%=o.text%></option>
        <%});%>		
    </select>
</script>

<script id="profile-person-info-template" type="text/template">
    <%data = data || {}; data.Email = data.Email || ""; data.BrokerContactEmail = data.BrokerContactEmail || ""; data.Website = data.Website || "";%>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Customer Details
                    <button id="MainStrategyHidden" class="hide btn btn-mini btn-primary">Run main strategy</button>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RowCell("Id", "<%- data.Id %>")
            @RowCell("Name", "<%- data.Name %>")
            <tr>
                <td class="customer-personal-status-alignment"><%- data.FullGender %>, <%- data.FamilyStatus %>, <%- data.Age %></td>
            </tr>
            <tr>
                <td>
                    <span class="customer-details-left-margin">Reg date</span>
                    <span class="pull-right"><%- data.RegistrationDate %></span>
                </td>
            </tr>
            @RowCell("Residental Status", "<%- data.ResidentalStatus %>")
            <tr>
                <td class="customer-personal-status-alignment"><a href="#" class="reset-password-123456">Reset password to 123456</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Company Details
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RowCell("Company Name", "<%- data.CompanyName %>")
            @RowCell("Business Type", "<%- data.CompanyType %>")

            <tr>
                <td>
                    <span class="customer-details-left-margin <%= data.IsYoungCompany ? 'red_cell' : '' %>">Company Seniority</span>
                    <span class="pull-right <%= data.IsYoungCompany ? 'red_cell' : '' %>"><%- data.CompanySeniority %></span>
                </td>
            </tr>

            @RowCell("# Directors", "<%- data.NumOfDirectors %>")
            @RowCell("# Shareholders", "<%- data.NumOfShareholders %>")
        </tbody>
    </table>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Contact Details
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RowCell("Mobile", "<%- data.MobilePhone %>")
            @RowCell("Daytime", "<%- data.DaytimePhone %>")

            <tr>
                <td>
                    <span class="customer-details-left-margin">E-mail<i data-title="<%- data.EmailState %>" class="tltp <%=getIcon()%>"/></span>
                    <span class="pull-right">
                        <%- data.Email.length <= 14 ? data.Email : data.Email.substring(0,11)+'...' %>
                        <i data-title="<%- data.Email %>" class="tltp-left <%=getIcon()%>"/>
                        <button class="btn btn-mini left-pane-button" name="editEmail">
                            <i class="fa fa-pencil"/>
                        </button>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="customer-details-left-margin">Website</span>
                    <span class="pull-right">
                        <a data-title="<%- data.Website %>" class="tltp <%=getIcon()%>" href="http://<%- data.Website %>" target="_blank">
                            <%- data.Website.length <= 30 ? data.Website : data.Website.substring(0,27)+'...' %>
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Source
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            <tr class="with-broker">
                <td>
                    <span class="customer-details-left-margin">
                        <button class="btn btn-mini left-pane-button hide" id="brokerDetailsBtn" name="brokerDetails">
                            <i class="fa fa-plus"/>
                        </button>
                        Broker name
                    </span>
                    <span class="pull-right">
                        <%- data.BrokerName %>
                    </span>
                </td>
            </tr>
        </tbody>
        <tbody class="broker-details-rows with-broker" style="display: none;">
            <tr>
                @RowCell("Firm name", "<%- data.BrokerFirmName %>")
            </tr>
            <tr>
                <td>
                    <span class="customer-details-left-margin">Email</span>
                    <span class="pull-right">
                        <%- data.BrokerContactEmail.length <= 15 ? data.BrokerContactEmail : data.BrokerContactEmail.substring(0,12)+'...' %>
                        <i data-title="<%- data.BrokerContactEmail %>" class="tltp-left <%=getIcon()%>"/>
                    </span>
                </td>
            </tr>
            <tr>
                @RowCell("Mobile", "<%- data.BrokerContactMobile %>")
            </tr>
        </tbody>
        <tbody class="box-content">
            <tr>
                <td>
                    <span class="<%= data.PromoCodeCss %> customer-details-left-margin">Promo</span>
                    <span class="pull-right <%= data.PromoCodeCss %>">
                        <%= data.PromoCode %>
                    </span>
                </td>
            </tr>
            @RowCell("Campaigns", "<%- data.ActiveCampaign %>")

            <tr>
                <td>
                    <span class="customer-details-left-margin">Ref Source</span>
                    <span class="pull-right">
                        <%- data.ReferenceSource ? (data.ReferenceSource.length <= 20 ? data.ReferenceSource : data.ReferenceSource.substring(0,17)+'...') : '-' %>
                    <i data-title="<%- data.ReferenceSource || 'no source ref' %>" class="tltp fa fa-question-circle"></i>
                    </span>
                </td>
            </tr>

            @RowCell("Segment", "<%- data.SegmentType %>")
        </tbody>
    </table>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Statuses
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RowCellWithButtonNear("Customer Status", "<%- data.CustomerStatusName %>", "changeDisabledState", "<%= data.IsCustomerStatusInAlertMode ? 'red_cell' : '' %>")

            <tr>
                <td>
                    <span class="customer-details-left-margin <%= data.IsAmlInAlertMode ? 'red_cell' : '' %>">AML</span>
                    <span class="pull-right <%= data.IsAmlInAlertMode ? 'red_cell' : '' %>"><%- data.AmlResult %></span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="customer-details-left-margin <%= data.IsFraudInAlertMode ? 'red_cell' : '' %>">Fraud Status</span>
                    <span class="pull-right <%= data.IsFraudInAlertMode ? 'red_cell' : '' %>"><%- data.FraudCheckStatus %>
                        <button class="btn btn-mini left-pane-button" name="changeFraudStatusManualy">
                            <i class="fa fa-pencil" />
                        </button>
                    </span>
                </td>
            </tr>

            @RowCellWithSlider("CCI mark", "cciMarkSwitch", "Off", "On", "<%= data.IsCciMarkInAlertMode ? 'red_cell' : '' %> cci-mark-td customer-details-switch-height")

            @RowCellWithSlider("Test User", "testUserSwitch", "No", "Yes", "<%= data.IsTestInAlertMode ? 'red_cell' : '' %> is-test-td customer-details-switch-height")
            
            @RowCellWithSlider("Manual Decision", "manualDecisionSwitch", "No", "Yes", "customer-details-switch-height")

            @RowCellWithButtonNear("Trust Pilot status", "<%- data.TrustPilotStatusName %>", "TrustPilotStatusUpdate")

            @RowCell("User status", "<%- data.UserStatus %>")
        </tbody>
        <tfoot>
            <tr>
                <th class="left-pane-header"><button id="ForceFinishWizard" class="btn btn-mini btn-primary">Finish wizard</button></th>
            </tr>
        </tfoot>
    </table>
</script>

<script id="profile-loan-info-template" type="text/template">
    <% (function(m) { %>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header" colspan="2">Offer Details</th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RawCell("System decision", "<%- m.SystemDecision %>")
            @RawCell("System amount", "<%- EzBob.formatPounds(m.SystemCalculatedAmount) %>")

            <%if(m.Editable){%>
                @RawCellWithButtonNear("<span class=create-loan-hidden-toggle>Offered amount</span>", "<%if(m.OfferedCreditLine < EzBob.Config.MinLoan){%><i class='fa fa-exclamation-circle'></i><%}%> <%- EzBob.formatPounds(m.OfferedCreditLine) %>", "openCreditLineChangeButton")
            <%} else{%>
                @RawCell("<span class=create-loan-hidden-toggle>Offered amount</span>", "<%if(m.OfferedCreditLine < EzBob.Config.MinLoan){%><i class='fa fa-exclamation-circle'></i><%}%> <%- EzBob.formatPounds(m.OfferedCreditLine) %>")
            <%}%>

            <tr class="hide" id="create-loan-hidden">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>Loan amount:</td>
                            <td>
                                <input type="number" id="create-loan-hidden-amount" style="height: 36px;" /></td>
                        </tr>
                        <tr>
                            <td>Loan date:</td>
                            <td>
                                <input type="date" id="create-loan-hidden-date" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="button" id="create-loan-hidden-btn">Create loan</button></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <%if (m.Editable) { %>
                @RawCellWithButtonNear(
                    "Interest Rate",
                    "<%- EzBob.formatPercents(m.InterestRate) %>",
                    "interestRateChangeButton",
                    sRawHtmlUnder: "<div class=\"hide red interest-exceeds-max-by-loan-source\">Interest rate exceeds max rate for this loan source.</div>"
                     )
            <%} else {%>
                <tr>
                    <td>@Html.Raw("Interest Rate")</td>
                    <td>@Html.Raw("<%- EzBob.formatPercents(m.InterestRate) %>")
                        @Html.Raw("<div class=\"hide red interest-exceeds-max-by-loan-source\">Interest rate exceeds max rate for this loan source.</div>")
                    </td>
                </tr>
            <%}%>

            @RawCell("Borrowed amount", "<%- EzBob.formatPounds(m.BorrowedAmount) %>")
            @RawCell("Avaliable amount", "<%- m.OfferExpired ? '-' : EzBob.formatPounds(m.AvaliableAmount) %>")

            <%if(m.Editable){%>
                @RawCellWithButtonNear("Starting from date", "<%- m.StartingFromDate %>", "startingDateChangeButton")
            <%} else{%>
                @RawCell("Starting from date", "<%- m.StartingFromDate %>")
            <%}%>

            <%if(m.Editable){%>
                @RawCellWithButtonNear("Offer valid until", "<%- m.OfferValidateUntil %>", "offerValidUntilDateChangeButton")
            <%} else{%>
                @RawCell("Offer valid until", "<%- m.OfferValidateUntil %>")
            <%}%>
        </tbody>
    </table>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header" colspan="2">Setup Fee</th>
            </tr>
        </thead>
        <tbody class="box-content">
            <%if(m.Editable){%>
            @RawCellWithSlider("Setup fee", "setupFeeSwitch", "No", "Yes", "", "info")
            @RawCellWithSlider("Broker commission", "brokerCommisionSwitch", "No", "Yes", "", "info")
            <%} else{%>
            @RawCell("Setup fee", "<%= m.UseSetupFee ? 'Enabled' : 'Disabled' %>")
            @RawCell("Broker commission", "<%= m.UseBrokerSetupFee ? 'Enabled' : 'Disabled' %>")
            <%}%>
    
            <tr>
                <td>Manual setup fee</td>
                <td>
                    <span>£ <%= m.ManualSetupFeeAmount ? m.ManualSetupFeeAmount : '' %> | <%= m.ManualSetupFeePercent ? EzBob.formatPercents(m.ManualSetupFeePercent) : '%' %></span>
                     <%if(m.Editable){%>
                    <button class="btn btn-mini couple_buttons left-pane-button" name="manualSetupFeeEditAmountButton" <%= m.UseSetupFee || m.UseBrokerSetupFee ? '' : 'disabled="disabled"' %> ><i class="fa fa-gbp"></i></button>
                    <button class="btn btn-mini couple_buttons left-pane-button" name="manualSetupFeeEditPercentButton" <%= m.UseSetupFee || m.UseBrokerSetupFee ? '' : 'disabled="disabled"' %> >%</button>
                    <%}%>
                </td>
            </tr>
        </tbody>
    </table>

        <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header" colspan="2">Other Properties</th>
            </tr>
        </thead>
        <tbody class="box-content">
            <%if(m.Editable){%>
                @RawCellWithButtonNear("Repayment period", "<%- m.RepaymentPerion %>", "repaymentPeriodChangeButton")
            <%} else{%>
                @RawCell("Repayment period", "<%- m.RepaymentPerion %>")
            <%}%>

            <%if(m.Editable){%>
                @RawCellWithSlider("Send Emails", "sendEmailsSwitch", "No", "Yes", "", "info")
            <%} else{%>
                @RawCell("Send Emails", "<%= m.AllowSendingEmail ? 'Yes' : 'No' %>")
            <%}%>

            <tr>
                <td>Discount plan</td>
                <td><%= m.DiscountPlan %>
                    <i data-title="" class="tltp-left fa fa-question-circle" data-original-title=""></i> 
                    <% if (m.Editable) { %>
                        <button class="btn btn-mini left-pane-button" name="discountPlan">
                            <i class="fa fa-pencil"></i>
                        </button>
                    <% } %>
                    <div class="hide red discount-exceeds-max-by-loan-source">Interest rate for at least one month exceeds max rate for this loan source.</div>
                </td>
            </tr>

            <%if(m.Editable){%>
                @RawCellWithButtonNear("Loan Type", "<%= EzBob.formatLoanType(m.IsLoanTypeSelectionAllowed, m.LoanType) %>", "loanType")
            <%} else{%>
                @RawCell("Loan Type", "<%= EzBob.formatLoanType(m.IsLoanTypeSelectionAllowed, m.LoanType) %>")
            <%}%>

            <% if (m.Editable) { %>
                @RawCellWithButtonNear("Loan Source", "<%- EzBob.formatLoanSource(m) %>", "loanSource")
            <% } else { %>
                @RawCell("Loan Source", "<%- EzBob.formatLoanSource(m) %>")
            <% } %>

            <%if(m.Editable){%>
                @RawCellWithButtonNear("Customer selection", "<%= EzBob.formatLoanTypeSelection(m.IsLoanTypeSelectionAllowed) %>", "isLoanTypeSelectionAllowed")
            <%} else{%>
                @RawCell("Customer selection", "<%= EzBob.formatLoanTypeSelection(m.IsLoanTypeSelectionAllowed) %>")
            <%}%>
        </tbody>
    </table>
    </div>
    <div class="control-group">
        <input id="newCreditLineButtonId" type="button" class="btn btn-dashboard" value="New Credit Line" name="newCreditLineBtn" />
    </div>
    <% })(m); %>
</script>

<script id="email-edit-template" type="text/template">
    <div class="modal-header">
        <h3 id="myModalLabel">Customer Email Edit</h3>
    </div>
    <div class="modal-body">
        <form id="email-edit-form">
            <label>Email</label>
            <input class="form-control" type="text" id="edit-email" name="edit-email" value="<%- Email %>">
        </form>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary email-change-address">Change Email</button>
        <button class="btn btn-primary email-send-new-request">Send New Request</button>
        <button class="btn btn-primary email-confirm-manually">Confirm Manually</button>
    </div>
</script>


<script id="credit-line-edit-dialog-template" type="text/template">
    <div class="modal-body">
        <form id="credit-line-form">
            <label>Amount</label>
            <input class="form-control" type="text" id="edit-offer-amount" name="editOfferAmount" value="">
        </form>

        <div>
            <div class="row">
                <div class="col-md-3">
                    <label for="turnOverManual">Revenue: <%-EzBob.formatPoundsNoDecimals(m.Turnover)%></label>
                </div>
                <div class="col-md-4">
                    <input id="turnOverManual" class="percent" type="text" value="0" data-value="<%-m.Turnover%>" data-method="Turnover" />
                </div>
                <div class="col-md-5">
                    <a href="#" class="suggested-amount-link ManualTurnover" data-method="Turnover" data-medal="Manual" data-value="0" data-percent="0">Manual offer 0 (0%)</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="vaManual">VA: <%-EzBob.formatPoundsNoDecimals(m.ValueAdded)%></label>
                </div>
                <div class="col-md-4">
                    <input class="percent" type="text" value="0" data-value="<%-(m.ValueAdded)%>" data-method="ValueAdded"/>
                </div>
                <div class="col-md-5">
                    <a href="#" class="suggested-amount-link ManualValueAdded" data-method="ValueAdded" data-medal="Manual" data-value="0" data-percent="0">Manual offer 0 (0%)</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="fcfManual">FCF: <%-EzBob.formatPoundsNoDecimals(m.FreeCashFlow)%></label>
                </div>
                <div class="col-md-4">
                    <input class="percent" type="text" value="0" data-value="<%-(m.FreeCashFlow)%>" data-method="FreeCashFlow"/>
                </div>
                <div class="col-md-5">
                    <a href="#" class="suggested-amount-link ManualFreeCashFlow" data-method="FreeCashFlow" data-medal="Manual" data-value="0" data-percent="0">Manual offer 0 (0%)</a>
                </div>
            </div>
        </div>

        <table class="table">
            <thead class="box">
                <tr class="box-title">
                    <th>Method</th>
                    <th>Silver</th>
                    <th>Gold</th>
                    <th>Platinum</th>
                    <th>Diamond</th>
                </tr>
            </thead>
            <tbody class="box-content">
                <%_.each(m.SuggestedAmounts, function(s) { %>
                        <tr>
                            <td><%-s.Method%></td>
                            <td><a href="#" class="suggested-amount-link" data-method="<%-s.Method%>" data-medal="Silver" data-value="<%-(s.Silver*s.Value)%>" data-percent="<%-s.Silver%>"><%-EzBob.formatPoundsNoDecimals(s.Silver*s.Value)%> (<%-EzBob.formatPercents(s.Silver)%>)</a></td>
                            <td><a href="#" class="suggested-amount-link" data-method="<%-s.Method%>" data-medal="Gold" data-value="<%-(s.Gold*s.Value)%>" data-percent="<%-s.Gold%>"><%-EzBob.formatPoundsNoDecimals(s.Gold*s.Value)%> (<%-EzBob.formatPercents(s.Gold)%>)</a></td>
                            <td><a href="#" class="suggested-amount-link" data-method="<%-s.Method%>" data-medal="Platinum" data-value="<%-(s.Platinum*s.Value)%>" data-percent="<%-s.Platinum%>"><%-EzBob.formatPoundsNoDecimals(s.Platinum*s.Value)%> (<%-EzBob.formatPercents(s.Platinum)%>)</a></td>
                            <td><a href="#" class="suggested-amount-link" data-method="<%-s.Method%>" data-medal="Diamond" data-value="<%-(s.Diamond*s.Value)%>" data-percent="<%-s.Diamond%>"><%-EzBob.formatPoundsNoDecimals(s.Diamond*s.Value)%> (<%-EzBob.formatPercents(s.Diamond)%>)</a></td>
                        </tr>
                <%});%>
            </tbody>
        </table>
    </div>

    <div class="pull-right">
        <button class="btn btn-primary btnOk">Save</button>
    </div>
</script>

<script id="collection-status-layout-template" type="text/template">

    <form id="collection-status-dialog" class="view-collection-status" action="/" method="POST">
        <input name="currentStatus" type="hidden" />
        <input name="customerId" type="hidden" />
        <div id="list-items">
        </div>
        <div id="collection-view">
        </div>
    </form>
</script>

<script id="collection-status-items-template" type="text/template">
    <select id="collection-status-items" class="selectheight form-control">
        <%_.each(statuses, function(status){%>
            <option value="<%=status.Id%>"><%=status.Name%></option>
        <%});%>
    </select>
</script>

<script id="fraud-status-layout-template" type="text/template">
    <form id="fraud-status-dialog" class="view-fraud-status" action="/" method="POST">
        <input name="currentStatus" type="hidden" />
        <input name="currentStatusText" type="hidden" />
        <input name="customerId" type="hidden" />
        <div id="list-fraud-items">
        </div>
        <div id="fraud-view">
        </div>
    </form>
</script>

<script id="fraud-status-items-template" type="text/template">
    <select id="fraud-status-items" class="selectheight form-control">
        <option value="0">OK</option>
        <option value="1">Fishy</option>
        <option value="2">Fraud suspect</option>
        <option value="3">Under investigation</option>
        <option value="4">Fraud Done</option>
        <option value="5">Identity/details theft</option>
    </select>
</script>

<script id="collection-status-template" type="text/template">
    <div class="control-group">
        <label class="control-label">Description:</label>
        <div class="controls">
            <textarea class="form-control" id="collectionDescription" name="collectionDescription" />
        </div>
    </div>
    <label class="default-customer-status-warning">
        Saving this status will also effect the loan options
    </label>
    <a href="#" class="uploadFiles btn btn-primary">Upload files</a>
</script>

<script id="manual-setup-fee-template" type="text/template">
    <form id="manual-setup-fee-dialog" action="/" method="POST">
        <div class="control-group">
            <div class="controls">
                <label for="manualSetupFeeAmount">Amount</label>
                <input class="form-control" name="manualSetupFeeAmount" type="text" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="manualSetupFeePercent">Percent</label>
                <input class="form-control" name="manualSetupFeePercent" type="text" />
            </div>
        </div>
    </form>
</script>
