@model dynamic
<script id="profile-summary-template" type="text/template">
    @ProfileSummary()
</script>

@helper ButtonLights(string buttonStyle, string icon, string caption, string onClick = "")
{
    onClick = string.IsNullOrEmpty(onClick) ? "" : onClick + ";window.scrollTop();";
    <button class="btn btn-mini @Html.Raw(buttonStyle) pull-right" onclick="@Html.Raw(onClick)"><i class="@Html.Raw(icon)"></i> @Html.Raw(caption)</button>
}

@helper ProfileSummary()
    {
    <text>
         <% 
        var mp = m.MarketPlaces || {}, 
        pa = m.PaymentAccounts || {}, 
        aa = m.AffordabilityAnalysis || {}, 
        la = m.LoanActivity || {}, 
        ab = m.AmlBwa || {}, 
        cb = m.CreditBureau || {};

        mp.Lighter = mp.Lighter || {};
        pa.Lighter = pa.Lighter || {};
        aa.Lighter = aa.Lighter || {};
        la.Lighter =la.Lighter || {};
        ab.Lighter = ab.Lighter || {};
        cb.Lighter = cb.Lighter || {};

        %>
    </text>
    <div class="row-fluid">
        <div class="span6">
            <table class="table table-striped blue-header rright">
                <thead>
                    <tr>
                        <th colspan="2">Marketplaces @ButtonLights("<%- mp.Lighter.ButtonStyle %>", "<%- mp.Lighter.Icon %>", "<%- mp.Lighter.Caption %>", "$('[href=\\'#marketplaces\\']').tab('show')")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="60%">
                            <b>Number of stores:</b> &nbsp; &nbsp;<span class="<%-Convert.toBool(mp.IsNew) ? '' : 'hidden-field'%> btn-success btn-mini"><i class="icon-star-empty"></i>new</span>
                        </td>
                        <td width="40%">
                            <%-mp!=null ? mp.NumberOfStores : "-"%> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Annual Turnover £:</b>
                        </td>
                        <td>
                            <%-mp!=null ? EzBob.formatPoundsNoDecimals( mp.AnualTurnOver, true ) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Inventory £:</b>
                        </td>
                        <td>
                            <%-mp!=null ? EzBob.formatPoundsNoDecimals(mp.Inventory, true ) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Total positive reviews:</b>
                        </td>
                        <td>
                            <%-mp!=null ? mp.TotalPositiveReviews : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Seniority:</b>   
                        </td>
                        <td>
                            <%-mp!=null ? EzBob.SeniorityFormat(mp.Seniority) : "-"%>
                        </td>
                    </tr>
                    @EzTable.RawCell(Html, "<b>Overall Turnover</b>", "<%- EzBob.formatPoundsNoDecimals(m.OverallTurnOver) %>")
                    @EzTable.RawCell(Html, "<b>WebSite Turnover</b>", "<%- EzBob.formatPoundsNoDecimals(m.WebSiteTurnOver) %>")
                </tbody>
            </table>
        </div>
        <div class="span6">
            <table class="table table-striped blue-header rright">
                <thead>
                    <tr>
                        <th colspan="2">Payment accounts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Number of payment accounts:</b> <span class="<%-pa.IsNew ? '' : 'hidden-field'%> btn-success btn-small"><i class="icon-star-empty"></i>new</span>
                        </td>
                        <td width="35%">
                            <%-pa!=undefined ? pa.NumberOfPayPalAccounts : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Net income £:</b>
                        </td>
                        <td>
                            <%-pa!=undefined ? GBPValues( pa.NetIncome, true ) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Net Expenses £:</b>
                        </td>
                        <td>  
                            <%-pa!=undefined ? GBPValues(  pa.NetExpences, true ) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Seniority:</b>   
                        </td>
                        <td>
                            <%-mp!=null ? EzBob.SeniorityFormat(pa.Seniority) : "-"%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="row-fluid">
        <div class="span6">
            <table class="table table-striped blue-header rright">
                <thead>
                    <tr>
                        <% 
                        if (cb.FinancialAccounts == 0)
                        {
                        cb.Lighter.ButtonStyle="btn-danger";
                        cb.Lighter.Icon="icon-check";
                        cb.Lighter.Caption="ThinFile";
                        }
                        %>

                        <th colspan="3">Credit Bureau </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Credit bureau score:</b>
                        </td>
                        <td width="40%">
                            <%-cb!=null ? cb.CreditBureauScore : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini" data-bug-type="CreditBureauScore" data-bug-customer="<%-m.Id%>" ><i class="icon-tag"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Total debt £:</b>
                        </td>
                        <td>
                            <%-cb!=null ? GBPValues( cb.TotalDebt, true ) : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini" data-bug-type="TotalDebt" data-bug-customer="<%-m.Id%>"><i class="icon-tag"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Total monthly repayments £:</b>
                        </td>
                        <td>
                            <%-cb!=null ? GBPValues( cb.TotalMonthlyRepayments, true ) : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini" data-bug-type="TotalMonthlyRepayments" data-bug-customer="<%-m.Id%>"><i class="icon-tag"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Credit Card Balances £:</b>
                        </td>
                        <td>
                            <%-cb!=null ? GBPValues( cb.CreditCardBalances, true ) : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini" data-bug-type="CreditCardBalances" data-bug-customer="<%-m.Id%>"><i class="icon-tag"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Borrower Type:</b>
                        </td>
                        <td>
                            <%-cb!=null ? cb.BorrowerType : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini" data-bug-type="BorrowerType" data-bug-customer="<%-m.Id%>"><i class="icon-tag"></i></a>
                        </td>
                    </tr>
                    <tr>                   
                        <td>
                            <b>Thin File:</b>
                        </td>
                        <td>
                            <%- cb.ThinFile %>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini" data-bug-type="ActiveFinancialAccounts" data-bug-customer="<%-m.Id%>"><i class="icon-tag"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span6">
            <table class="table table-striped  blue-header rright">
                <thead>
                    <tr>
                        <th colspan="2">AML & Bank @ButtonLights("<%- ab.Lighter.ButtonStyle %>", "<%- ab.Lighter.Icon %>", "<%- ab.Lighter.Caption %>", "$('[href=\\'#credit-bureau\\']').tab('show')")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Bank Acc. Check:</b>
                        </td>
                        <td width="40%">
                            <%-ab!=null ? ab.Bwa : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>AML:</b>
                        </td>
                        <td>
                            <%-ab!=null ? ab.Aml : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Fraud:</b>
                        </td>
                        <td>
                            <%-ab!=null ? ab.Fraud : "-"%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <table class="table table-striped blue-header rright">
                <thead>
                    <tr>
                        <th colspan="2">Loans Activity @ButtonLights("<%- la.Lighter.ButtonStyle %>", "<%- la.Lighter.Icon %>", "<%- la.Lighter.Caption %>", "$('[href=\\'#loanhistorys\\']').tab('show')")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>Previous Loans:</b>
                        </td>
                        <td width="40%">
                            <%-la!=null ? la.PreviousLoans : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Current Balance £:</b>
                        </td>
                        <td>
                            <%-la!=null ? GBPValues( la.CurrentBalance, true) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Late Payments £:</b>
                        </td>
                        <td>
                            <%-la!=null ? GBPValues( la.LatePaymentsSum, true) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Collection:</b>
                        </td>
                        <td>
                            <%-la!=null ? GBPValues( la.Collection, true) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Late Interest:</b>
                        </td>
                        <td>
                            <%-la!=null ? GBPValues( la.LateInterest, true) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Payment demeanor:</b>
                        </td>
                        <td>
                            <%-la!=null ? la.PaymentDemeanor : "-"%>
                        </td>
                    <tr>
                        <td>
                            <b>Current late days:</b>
                        </td>
                        <td>
                            <%-la!=null ? la.CurrentLateDays : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Fees applied:</b>
                        </td>
                        <td>
                            <%-la!=null ? la.FeesCount : "-"%> (<%-la!=null ? GBPValues(la.TotalFees, true) : "-"%>)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @ShowDecisionsHistory()    
}

@helper ShowDecisionsHistory(){
    <div class="row-fluid">
        <div class="span12">
            <%
                m.DecisionHistory = m.DecisionHistory || {};
            %>
            <%if(m.DecisionHistory.length > 0){%>
            <fieldset>
                <legend>Decisions History:</legend>
                <table class="table table-bordered table-striped blue-header centered">
                    <thead>
                        <tr>
                            <th> Action </th>
                            <th style="width: 100px;"> Date </th>
                            <th> ApprovedSum </th>
                            <th> Interest </th>
                            <th> Repayment Period </th>
                            <th> Loan Type </th>
                            <th> Use SetupFee </th>
                            <th> Discount Plan </th>
                            <th> Customer Selection </th>
                            <th> Underwriter </th>
                            <th> Comment </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%_.each(m.DecisionHistory, function(d){%>
                        <tr>
                            <% if (d.Action == "Reject") {%>
                                <td><%- d.Action %></td>
                                <td><%- EzBob.formatDate(d.Date) %></td>
                                <td colspan="7"></td>
                                <td><%- d.UnderwriterName %></td>
                                <td><%- d.Comment %></td>
                            <%} else {%>
                                <td><%- d.Action %></td>
                                <td><%- EzBob.formatDate(d.Date) %></td>
                                <td><%- EzBob.formatPounds(d.ApprovedSum) %></td>
                                <td><%- EzBob.formatPercents(d.InterestRate) %></td>
                                <td><%- d.RepaymentPeriod %></td>
                                <td><%- EzBob.formatLoanType(d.IsLoanTypeSelectionAllowed, d.LoanType) %></td>
                                <td><%- d.UseSetupFee %></td>
                                <td><%- d.DiscountPlan %></td>
                                <td><%- EzBob.formatLoanTypeSelection(d.IsLoanTypeSelectionAllowed) %></td>
                                <td><%- d.UnderwriterName %></td>
                                <td><%- d.Comment %></td>
                            <%}%>
                        </tr>
                        <%});%>
                    </tbody>
                </table>
            </fieldset>
            <%} else{%>
            <fieldset>
                <legend>No decisions were made</legend>
            </fieldset>
            <%}%>
        </div>
    </div>
}