@using EZBob.DatabaseLib.Model.Database
@model dynamic
<script id="profile-summary-template" type="text/template">
    @ProfileSummary()
</script>

@helper ButtonLights(string buttonStyle, string icon, string caption, string onClick = "")
{
    onClick = string.IsNullOrEmpty(onClick) ? "" : onClick + ";window.scrollTop();";
    <button class="btn btn-xs @Html.Raw(buttonStyle) pull-right" onclick="@Html.Raw(onClick)"><i class="@Html.Raw(icon)"></i>@Html.Raw(caption)</button>
}

@helper ProfileSummary()
{
    <text>
    <% 
        aa = m.AffordabilityAnalysis || {}, 
        la = m.LoanActivity || {}, 
        ab = m.AmlBwa || {}, 
        cb = m.CreditBureau || {},
        rl = m.RequestedLoan || {},
        cec = m.CompanyEmployeeCountInfo || {};
        cai = m.CompanyAdditionalInfo || {};

		if (cec.Created == '@{ WriteLiteral(CompanyEmployeeCount.LongAgo().ToString("yyyy-MM-dd'T'HH:mm:ssK")); }')
			cec = {};
        
        aa.Lighter = aa.Lighter || {};
        la.Lighter =la.Lighter || {};
        ab.Lighter = ab.Lighter || {};
        cb.Lighter = cb.Lighter || {};
        %>
    </text>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table rright box">
                <thead class="box">
                    <tr class="box-title">
                        <% 
                        if (cb.FinancialAccounts == 0)
                        {
                        cb.Lighter.ButtonStyle="btn-primary";
                        cb.Lighter.Icon="icon-white icon-check";
                        cb.Lighter.Caption="ThinFile";
                        }
                        %>

                        <th colspan="3">Credit Bureau </th>
                    </tr>
                </thead>
                <tbody class="box-content">
                    <tr>
                        <td>
                            <b>Credit bureau score:</b>
                        </td>
                        <td width="40%"><%-cb!=null ? cb.CreditBureauScore : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini btn-primary" data-bug-type="CreditBureauScore" data-bug-customer="<%-m.Id%>"><i class="fa fa-bug"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Total debt £:</b>
                        </td>
                        <td><%-cb!=null ? GBPValues( cb.TotalDebt, true ) : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini btn-primary" data-bug-type="TotalDebt" data-bug-customer="<%-m.Id%>"><i class="fa fa-bug"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Total monthly repayments £:</b>
                        </td>
                        <td><%-cb!=null ? GBPValues( cb.TotalMonthlyRepayments, true ) : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini btn-primary" data-bug-type="TotalMonthlyRepayments" data-bug-customer="<%-m.Id%>"><i class="fa fa-bug"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Credit Card Balances £:</b>
                        </td>
                        <td><%-cb!=null ? GBPValues( cb.CreditCardBalances, true ) : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini btn-primary" data-bug-type="CreditCardBalances" data-bug-customer="<%-m.Id%>"><i class="fa fa-bug"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Borrower Type:</b>
                        </td>
                        <td><%-cb!=null ? cb.BorrowerType : "-"%>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini btn-primary" data-bug-type="BorrowerType" data-bug-customer="<%-m.Id%>"><i class="fa fa-bug"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Thin File:</b>
                        </td>
                        <td><%- cb.ThinFile %>
                        </td>
                        <td>
                            <a href="#" class="btn btn-mini btn-primary" data-bug-type="ActiveFinancialAccounts" data-bug-customer="<%-m.Id%>"><i class="fa fa-bug"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <table class="table rright box">
                <thead class="box">
                    <tr class="box-title">
                        <th colspan="2">AML & Bank @ButtonLights("<%- ab.Lighter.ButtonStyle %>", "<%- ab.Lighter.Icon %>", "<%- ab.Lighter.Caption %>", "$('[href=\\'#credit-bureau\\']').tab('show')")</th>
                    </tr>
                </thead>
                <tbody class="box-content">
                    <tr>
                        <td>
                            <b>Bank Acc. Check:</b>
                        </td>
                        <td width="40%"><%-ab!=null ? ab.Bwa : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>AML:</b>
                        </td>
                        <td><%-ab!=null ? ab.Aml : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Fraud:</b>
                        </td>
                        <td><%-ab!=null ? ab.Fraud : "-"%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table rright box">
                <thead class="box">
                    <tr class="box-title">
                        <th colspan="2">Loans Activity @ButtonLights("<%- la.Lighter.ButtonStyle %>", "<%- la.Lighter.Icon %>", "<%- la.Lighter.Caption %>", "$('[href=\\'#loanhistorys\\']').tab('show')")</th>
                    </tr>
                </thead>
                <tbody class="box-content">
                    <tr>
                        <td>
                            <b>Previous Loans:</b>
                        </td>
                        <td width="40%"><%-la!=null ? la.PreviousLoans : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Current Balance £:</b>
                        </td>
                        <td><%-la!=null ? GBPValues( la.CurrentBalance, true) : "-"%>
                        </td>
                    </tr>
                    @*<tr>
                        <td>
                            <b>Late Payments £:</b>
                        </td>
                        <td>
                            <%-la!=null ? GBPValues( la.LatePaymentsSum, true) : "-"%>
                        </td>
                    </tr>*@
                    <tr>
                        <td>
                            <b>Collection:</b>
                        </td>
                        <td><%-la!=null ? GBPValues( la.Collection, true) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Late Interest:</b>
                        </td>
                        <td><%-la!=null ? GBPValues( la.LateInterest, true) : "-"%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Payment demeanor:</b>
                        </td>
                        <td><%-la!=null ? la.PaymentDemeanor : "-"%>
                        </td>
                        <tr>
                            <td>
                                <b>Current late days:</b>
                            </td>
                            <td><%-la!=null ? la.CurrentLateDays : "-"%>
                            </td>
                        </tr>
                    <tr>
                        <td>
                            <b>Fees applied:</b>
                        </td>
                        <td><%-la!=null ? la.FeesCount : "-"%> (<%-la!=null ? GBPValues(la.TotalFees, true) : "-"%>)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <table class="table rright box">
                <thead class="box">
                    <tr class="box-title">
                        <th colspan="2">Requested Loan</th>
                    </tr>
                </thead>
                <tbody class="box-content">
                    <tr>
                        <td>
                            <b>Requested Amount:</b>
                        </td>
                        <td width="65%"><%-rl!=null ? EzBob.formatPoundsNoDecimals(rl.Amount, true) : "-"%>
                        </td>
                    </tr>
					<tr>
						<td>
							<b>Requested Term:</b>
						</td>
						<td width="65%">
							<%-rl!=null ? rl.Term : "-"%>
						</td>
					</tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <table class="table rright box">
                <thead class="box">
                    <tr class="box-title">
                        <th colspan="2">Company Employee Count</th>
                    </tr>
                </thead>
                <tbody class="box-content">
                    <tr>
                        <td><b>Reported on:</b></td>
                        <td><%- EzBob.formatDate(cec.Created) %></td>
                    </tr>

                    <tr>
                        <td><b>Current Number of Employees:</b></td>
                        <td><%- cec.EmployeeCount %></td>
                    </tr>
                    <%if(cec.TopEarningEmployeeCount){%>
                    <tr>
                        <td><b>Number of Employees Earning (Gross Salary) over £41,450 Per Annum:</b></td>
                        <td><%- cec.TopEarningEmployeeCount %></td>
                    </tr>

                    <tr>
                        <td><b>Number of Employees Earning (Gross Salary) less than £9,440 Per Annum:</b></td>
                        <td><%- cec.BottomEarningEmployeeCount %></td>
                    </tr>

                    <tr>
                        <td><b>Change in the Number of Employees in Last 12 Months:</b></td>
                        <td><%- cec.EmployeeCountChange %></td>
                    </tr>

                    <tr>
                        <td><b>Amount of capital expenditure in the last 12 months (excl. vat):</b></td>
                        <td><%- EzBob.formatPoundsAsInt(cai.CapitalExpenditure) %></td>
                    </tr>
                    <%}%>
                    <tr>
                        <td><b>Total Monthly Salary Expenditure (inc tax & NI):</b></td>
                        <td><%- EzBob.formatPoundsAsInt(cec.TotalMonthlySalary) %></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    @ShowDecisionsHistory()
}

@helper ShowDecisionsHistory()
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <%
                m.DecisionHistory = m.DecisionHistory || {};
            %>
            <%if(m.DecisionHistory.length > 0){%>
            <div class="box">
                <div class="box-title">
                    <h3>Decisions History</h3>
                </div>
                <div class="box-content">
                    <table class="table centered">
                        <thead class="box">
                            <tr class="box-title">
                                <th>Action </th>
                                <th style="width: 100px;">Date </th>
                                <th>ApprovedSum </th>
                                <th>Interest </th>
                                <th>Repayment Period </th>
                                <th>Loan Type </th>
                                <th>Setup Fee</th>
                                <th>Discount Plan </th>
                                <th>Customer Selection </th>
                                <th>Loan Source </th>
                                <th>Originator </th>
                                <th>Underwriter </th>
                                <th>Comment </th>
                                <th>ID </th>
                            </tr>
                        </thead>
                        <tbody>
                            <%_.each(m.DecisionHistory, function(d){%>
                            <tr>
                                <td><%- d.Action %></td>
                                <td><%- EzBob.formatDate(d.Date) %></td>
                                <% if (d.Action == "Reject") {%>
                                <td colspan="8"></td>
                                <%} else {%>
                                <td><%- EzBob.formatPounds(d.ApprovedSum) %></td>
                                <td><%- EzBob.formatPercents(d.InterestRate) %></td>
                                <td><%- d.RepaymentPeriod %></td>
                                <td><%- d.LoanType %></td>
                                <td><%- d.TotalSetupFee ? EzBob.formatPounds(d.TotalSetupFee) : 'No' %> <%- d.BrokerSetupFee ? '( Broker: ' + EzBob.formatPounds(d.BrokerSetupFee) + ')' : '' %></td>
                                <td><%- d.DiscountPlan %></td>
                                <td><%- EzBob.formatLoanTypeSelection(d.IsLoanTypeSelectionAllowed) %></td>
                                <td><%- d.LoanSourceName %></td>
                                <%}%>
                                <td><%- d.Originator %></td>
                                <td><%- d.UnderwriterName %></td>
                                <td><%- d.Comment %></td>
                                <td><%- d.Id %></td>
                            </tr>
                            <%});%>
                        </tbody>
                    </table>
                </div>
            </div>
            <%} else{%>
            <div class="box">
                <div class="box-title">
                    <h3>No decisions were made</h3>
                </div>
            </div>
            <%}%>
        </div>
    </div>
}