@using EzBob.Web.Infrastructure.Html
@model dynamic
@helper RawCell(params string[] arguments)
{
    <tr>
        <td class="customer-column-width-50">@Html.Raw(arguments[0])</td>
        <td>@Html.Raw(arguments[1])</td>
    </tr>
}

@helper RawCellWithButtonNear(string title, string val1, string val2, string css = "", string sRawHtmlUnder = "")
{
    <tr>
        <td class="@Html.Raw(css) customer-column-width-50">@Html.Raw(title)</td>
        <td class="@Html.Raw(css)">
            <span>@Html.Raw(val1) </span>
            <button class="btn btn-mini btn-primary left-pane-button" name="@Html.Raw(val2)"><i class="fa fa-pencil" /></button>
            @{ WriteLiteral(sRawHtmlUnder); }
        </td>
    </tr>
}

<div id="simpleEditDlg" name="simpleEditDlg" style="display: none">
    <form name="simpleEditDlg">
    </form>
</div>

<script id="simple-value-editor-cb-template" type="text/template">
    <select name='simpleValueEdit' class="form-control selectheight">
        <%_.each(options, function(o){%>
				<option value="<%=o.value%>"><%=o.text%></option>
        <%});%>		
    </select>
</script>

<script id="profile-person-info-template" type="text/template">    
    <table class="table extra-squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th colspan="2">Customer Details
                    <button id="MainStrategyHidden" class="hide btn btn-mini btn-primary">Run main strategy</button>
                    <button id="FinishWizardHidden" class="hide btn btn-mini btn-primary">Finish wizard</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @RawCellWithButtonNear("Fraud Status:", "<%= data.FraudCheckStatus %>", "changeFraudStatusManualy", "<%= data.IsFraudInAlertMode ? 'red_cell' : '' %>")
            @RawCellWithButtonNear("Test User:", "Yes", "isTestEditButton", "<%= data.IsTestInAlertMode ? 'red_cell' : '' %>")

            <tr>
                <td class="<%= data.IsCciMarkInAlertMode ? 'red_cell' : '' %> customer-column-width-50">CCI mark</td>
                <td class="<%= data.IsCciMarkInAlertMode ? 'red_cell' : '' %>">
                    <span class="cci-mark">on</span>
                    <button type="button" class="btn btn-mini btn-primary cci-mark-toggle left-pane-button">Toggle</button>
                </td>
            </tr>

            @RawCellWithButtonNear("Customer Status", "<%- data.CustomerStatusName %>", "changeDisabledState", "<%= data.IsCustomerStatusInAlertMode ? 'red_cell' : '' %>")

            <tr>
		        <td class="<%= data.IsAmlInAlertMode ? 'red_cell' : '' %> customer-column-width-50">AML</td>
		        <td class="<%= data.IsAmlInAlertMode ? 'red_cell' : '' %>"><%- data.AmlResult %></td>
	        </tr>

            @RawCell("Id", "<%- data.Id %>")
            @RawCell("Name", "<%- data.Name %>")
            @RawCell("Age", "<%- data.Age %>")
            @RawCell("Gender", "<%- data.Gender %>")
            @RawCell("Family Status", "<%- data.FamilyStatus %>")
            @RawCell("Residental Status", "<%- data.ResidentalStatus %>")
            @RawCell("Company Type", "<%- data.CompanyType %>")
            @RawCell("Company Seniority", "<%- data.CompanySeniority %>")
            @RawCell("# Directors\\# Shareholders", "<%- data.NumOfDirectorsAndShareholders %>")
            @RawCell("Website", "<%- data.Website %>")

            @RawCell("Segment Type", "<%- data.SegmentType %>")

			<tr id="with-broker">
				<td class="customer-column-width-50">Broker name</td>
				<td><%- data.BrokerName %></td>
			</tr>

            <tr>
                <td>Ref Source</td>
                <td><%- data.ReferenceSource ? (data.ReferenceSource.length <= 20 ? data.ReferenceSource : data.ReferenceSource.substring(0,17)+'...') : '-' %>
					<i data-title="<%- data.ReferenceSource || 'no source ref' %>" class="tltp icon-question-sign"></i>
                </td>
            </tr>

            @RawCell("A/B Testing", "<%- data.ABTesting || '-' %>")
            @RawCell("User score", "<%- data.CreditScore %>")
            @RawCell("Reg date", "<%- data.RegistrationDate %>")
            @RawCell("User status", "<%- data.UserStatus %>")
            @RawCellWithButtonNear("Manual Decision:", "<%= data.IsAvoid ? 'Yes' : 'No' %>", "avoidAutomaticDecisionButton")
            
            <tr>
                <td class="<%= data.PromoCodeCss %>">Promo Code:</td>
                <td class="<%= data.PromoCodeCss %>">
                    <span><%= data.PromoCode %></span>
                </td>
            </tr>
            @RawCell("Active Campaigns:", "<%- data.ActiveCampaign %>")

            @RawCellWithButtonNear("Trust Pilot status", "<%- data.TrustPilotStatusDescription %>", "TrustPilotStatusUpdate")
            @RawCell("Mobile Phone #", "<%- data.MobilePhone %>")
            @RawCell("Daytime Phone #", "<%- data.DaytimePhone %>")

            <tr>
                <td>E-mail 
					<i data-title="<%- data.EmailState %>" class="tltp <%=getIcon()%>"></i>
                </td>
                <td><%- data.Email.length <= 20 ? data.Email : data.Email.substring(0,17)+'...' %>
					<i data-title="<%- data.Email %>" class="tltp-left <%=getIcon()%>"></i>
                    <button class="btn btn-mini btn-primary left-pane-button" name="editEmail"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</script>

<script id="profile-loan-info-template" type="text/template">
    <% (function(m) { %>
	<table class="table extra-squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th colspan="2">Offer Details</th>
            </tr>
        </thead>
        <tbody>
            @RawCell("System decision", "<%- m.SystemDecision %>")
            @RawCell("System calculated amount", "<%- EzBob.formatPounds(m.SystemCalculatedAmount) %>")

            <%if(m.Editable){%>
				@RawCellWithButtonNear("<span class=create-loan-hidden-toggle>Offered credit line</span>", "<%if(m.OfferedCreditLine < EzBob.Config.MinLoan){%><i class='icon-exclamation-sign'></i><%}%> <%- EzBob.formatPounds(m.OfferedCreditLine) %>", "openCreditLineChangeButton")
            <%} else{%>
				@RawCell("<span class=create-loan-hidden-toggle>Offered credit line</span>", "<%if(m.OfferedCreditLine < EzBob.Config.MinLoan){%><i class='icon-exclamation-sign'></i><%}%> <%- EzBob.formatPounds(m.OfferedCreditLine) %>")
            <%}%>
			
			<tr class="hide" id="create-loan-hidden">
				<td colspan="2">
					<table>
						<tr>
							<td>Loan amount:</td>
							<td><input type="number" id="create-loan-hidden-amount" style="height: 36px;" /></td>
						</tr>
						<tr>
							<td>Loan date:</td>
							<td><input type="date" id="create-loan-hidden-date" /></td>
						</tr>
						<tr>
							<td colspan="2"><button type="button" id="create-loan-hidden-btn">Create loan</button></td>
						</tr>
					</table>
				</td>
			</tr>
	
			@RawCell("Borrowed amount", "<%- EzBob.formatPounds(m.BorrowedAmount) %>")
            @RawCell("Avaliable amount", "<%- m.OfferExpired ? '-' : EzBob.formatPounds(m.AvaliableAmount) %>")

            <%if(m.Editable){%>
				@RawCellWithButtonNear("Repayment period", "<%- m.RepaymentPerion %>", "repaymentPeriodChangeButton")
            <%} else{%>
				@RawCell("Repayment period", "<%- m.RepaymentPerion %>")
            <%}%>
	
			<%if(m.Editable){%>
				@RawCellWithButtonNear("Starting from date", "<%- m.StartingFromDate %>", "startingDateChangeButton")
            <%} else{%>
				@RawCell("Starting from date", "<%- m.StartingFromDate %>")
            <%}%>
	
			<%if(m.Editable){%>
				@RawCellWithButtonNear("Offer valid until", "<%- m.OfferValidateUntil %>", "offerValidUntilDateChangeButton")
            <%} else{%>
				@RawCell("Offer valid until", "<%- m.OfferValidateUntil %>")
            <%}%>

            <%if (m.Editable) { %>
				@RawCellWithButtonNear(
                    "Interest Rate",
                    "<%- EzBob.formatPercents(m.InterestRate) %>",
                    "interestRateChangeButton",
                    sRawHtmlUnder: "<div class=\"hide red interest-exceeds-max-by-loan-source\">Interest rate exceeds max rate for this loan source.</div>"
				     )
            <%} else {%>
                <tr>
		            <td>@Html.Raw("Interest Rate")</td>
		            <td>@Html.Raw("<%- EzBob.formatPercents(m.InterestRate) %>")
			            @Html.Raw("<div class=\"hide red interest-exceeds-max-by-loan-source\">Interest rate exceeds max rate for this loan source.</div>")
		            </td>
	            </tr>
            <%}%>
            <%if(m.Editable){%>
            @RawCellWithButtonNear("Enable setup fee:", "<%= m.UseSetupFee ? 'Yes' : 'No' %>", "setupFeeEditButton")
            @RawCellWithButtonNear("Enable broker commission:", "<%= m.UseBrokerSetupFee ? 'Yes' : 'No' %>", "brokerSetupFeeEditButton")
            <%} else{%>
            @RawCell("Setup fee:", "<%= m.UseSetupFee ? 'Enabled' : 'Disabled' %>")
            @RawCell("Broker commission:", "<%= m.UseBrokerSetupFee ? 'Enabled' : 'Disabled' %>")
            <%}%>
    
            <tr>
                <td>Manual setup fee:</td>
                <td>
                    <span>£ <%= m.ManualSetupFeeAmount ? m.ManualSetupFeeAmount : '' %> | <%= m.ManualSetupFeePercent ? EzBob.formatPercents(m.ManualSetupFeePercent) : '%' %></span>
                     <%if(m.Editable){%>
                    <button class="btn btn-mini btn-primary couple_buttons left-pane-button" name="manualSetupFeeEditAmountButton" <%= m.UseSetupFee || m.UseBrokerSetupFee ? '' : 'disabled="disabled"' %> ><i class="fa fa-gbp"></i></button>
                    <button class="btn btn-mini btn-primary couple_buttons left-pane-button" name="manualSetupFeeEditPercentButton" <%= m.UseSetupFee || m.UseBrokerSetupFee ? '' : 'disabled="disabled"' %> >%</button>
                    <%}%>
                </td>
            </tr>

            <tr>
                <td class="<%- m.FundsAvailableUnderLimitClass %>">Funds available:</td>
                <td class="<%- m.FundsAvailableUnderLimitClass %>">
                    <span>£ <%- m.FundsAvaliable %></span>
                    <button class="btn btn-mini btn-primary couple_buttons left-pane-button" name="openPacnetManualButton"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-mini btn-primary couple_buttons left-pane-button" name="clearPacnetManualButton"><i class="fa fa-ban"></i></button>
                </td>
            </tr>

            @RawCell("Open offers", "<%- EzBob.formatPounds(m.FundsReserved) %>")

            <%if(m.Editable){%>
				@RawCellWithButtonNear("Send Emails:", "<%= m.AllowSendingEmail ? 'Yes' : 'No' %>", "allowSendingEmail")
            <%} else{%>
				@RawCell("Send Emails:", "<%= m.AllowSendingEmail ? 'Yes' : 'No' %>")
            <%}%>

			<tr>
                <td>Discount plan:</td>
                <td><%= m.DiscountPlan %>
                    <i data-title="" class="tltp-left icon-question-sign" data-original-title=""></i> 
                    <% if (m.Editable) { %>
                        <button class="btn btn-mini btn-primary left-pane-button" name="discountPlan">
                            <i class="fa fa-pencil"></i>
                        </button>
                    <% } %>
                    <div class="hide red discount-exceeds-max-by-loan-source">Interest rate for at least one month exceeds max rate for this loan source.</div>
                </td>
            </tr>

			<%if(m.Editable){%>
				@RawCellWithButtonNear("Loan Type:", "<%= EzBob.formatLoanType(m.IsLoanTypeSelectionAllowed, m.LoanType) %>", "loanType")
            <%} else{%>
				@RawCell("Loan Type:", "<%= EzBob.formatLoanType(m.IsLoanTypeSelectionAllowed, m.LoanType) %>")
            <%}%>

			<% if (m.Editable) { %>
				@RawCellWithButtonNear("Loan Source:", "<%- EzBob.formatLoanSource(m) %>", "loanSource")
            <% } else { %>
				@RawCell("Loan Source:", "<%- EzBob.formatLoanSource(m) %>")
            <% } %>

			<%if(m.Editable){%>
				@RawCellWithButtonNear("Customer selection:", "<%= EzBob.formatLoanTypeSelection(m.IsLoanTypeSelectionAllowed) %>", "isLoanTypeSelectionAllowed")
            <%} else{%>
				@RawCell("Customer selection:", "<%= EzBob.formatLoanTypeSelection(m.IsLoanTypeSelectionAllowed) %>")
            <%}%>

        </tbody>
    </table>
    <div class="control-group hide">
        <input id="newCreditLineButtonId" type="button" class="btn" value="New Credit Line" name="newCreditLineBtn" />
    </div>
    <% })(m); %>
</script>

<script id="email-edit-template" type="text/template">
    <div class="modal-header">
        <h3 id="myModalLabel">Customer Email Edit</h3>
    </div>
    <div class="modal-body">
        <form id="email-edit-form">
            <label>Email</label>
            <input class="form-control" type="text" id="edit-email" name="edit-email" value="<%- Email %>">
        </form>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary email-change-address">Change Email</button>
        <button class="btn btn-primary email-send-new-request">Send New Request</button>
        <button class="btn btn-primary email-confirm-manually">Confirm Manually</button>
    </div>
</script>

<script id="collection-status-layout-template" type="text/template">

    <form id="collection-status-dialog" class="view-collection-status" action="/" method="POST">
        <input name="currentStatus" type="hidden" />
        <input name="customerId" type="hidden" />
        <div id="list-items">
        </div>
        <div id="collection-view">
        </div>
    </form>
</script>

<script id="collection-status-items-template" type="text/template">
    <select id="collection-status-items" class="selectheight form-control">
        <%_.each(statuses, function(status){%>
			<option value="<%=status.Id%>"><%=status.Name%></option>
        <%});%>
    </select>
</script>

<script id="fraud-status-layout-template" type="text/template">
    <form id="fraud-status-dialog" class="view-fraud-status" action="/" method="POST">
        <input name="currentStatus" type="hidden" />
        <input name="currentStatusText" type="hidden" />
        <input name="customerId" type="hidden" />
        <div id="list-fraud-items">
        </div>
        <div id="fraud-view">
        </div>
    </form>
</script>

<script id="fraud-status-items-template" type="text/template">
    <select id="fraud-status-items" class="selectheight form-control">
        <option value="0">OK</option>
        <option value="1">Fishy</option>
        <option value="2">Fraud suspect</option>
        <option value="3">Under investigation</option>
        <option value="4">Fraud Done</option>
        <option value="5">Identity/details theft</option>
    </select>
</script>

<script id="collection-status-template" type="text/template">
    <div class="control-group">
        <label class="control-label">Description:</label>
        <div class="controls">
            <textarea class="form-control" id="collectionDescription" name="collectionDescription" />
        </div>
    </div>
    <label class="default-customer-status-warning">
        Saving this status will also effect the loan options
    </label>
    <a href="#" class="uploadFiles btn btn-primary">Upload files</a>
</script>

<script id="manual-setup-fee-template" type="text/template">
    <form id="manual-setup-fee-dialog" action="/" method="POST">
        <div class="control-group">
            <div class="controls">
                <label for="manualSetupFeeAmount">Amount</label>
                <input class="form-control" name="manualSetupFeeAmount" type="text" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="manualSetupFeePercent">Percent</label>
                <input class="form-control" name="manualSetupFeePercent" type="text" />
            </div>
        </div>
    </form>
</script>
