@model dynamic
@helper RawCell(params string[] arguments)
{
    <tr>
        <td class="customer-column-width-50">@Html.Raw(arguments[0])</td>
        <td>@Html.Raw(arguments[1])</td>
    </tr>
}

@helper RowCell(string title, string value, string css = "")
{
    <tr>
        <td>
            <span class="customer-details-title">@Html.Raw(title)</span>
            <span class="@Html.Raw(css) pull-right">@Html.Raw(value)</span>
        </td>
    </tr>
}

@helper RawCellWithButtonNear(string title, string val1, string val2, string css = "", string sRawHtmlUnder = "")
{
    <tr>
        <td class="@Html.Raw(css) customer-column-width-50">@Html.Raw(title)</td>
        <td class="@Html.Raw(css)">
            <span>@Html.Raw(val1) </span>
            <button class="btn btn-mini left-pane-button" name="@Html.Raw(val2)"><i class="fa fa-pencil" /></button>
            @{ WriteLiteral(sRawHtmlUnder); }
        </td>
    </tr>
}

@helper RowCellWithButtonNear(string title, string val1, string val2, string css = "", string sRawHtmlUnder = "")
{
    <tr>
        <td>
            <span class="@Html.Raw(css) customer-details-title">@Html.Raw(title)</span>
            <span class="@Html.Raw(css) pull-right">
                <span>@Html.Raw(val1) </span>
                <button class="btn btn-mini left-pane-button" name="@Html.Raw(val2)"><i class="fa fa-pencil" /></button>
                @{ WriteLiteral(sRawHtmlUnder); }
            </span>
        </td>
    </tr>
}

@helper RawCellWithSlider(string title, string className, string labelOff, string labelOn, string css = "", string dataOn = "danger")
{
    <tr>
        <td class="@Html.Raw(css) customer-column-width-50">@Html.Raw(title)</td>
        <td class="@Html.Raw(css)">
            <div class="@Html.Raw(className) make-switch switch-mini" data-on="@Html.Raw(dataOn)" data-off="default" data-animated="true" data-off-label="@Html.Raw(labelOff)" data-on-label="@Html.Raw(labelOn)">
                <input type="checkbox" checked/>
            </div>
        </td>
    </tr>
}

@helper RowCellWithSlider(string title, string className, string labelOff, string labelOn, string css = "", string dataOn = "danger", string tooltip = "")
{
    <tr>
        <td class="customer-details-switch-td">
			<span class="@Html.Raw(css) customer-details-title" data-title="@Html.Raw(tooltip)">@Html.Raw(title)</span>
            <span class="@Html.Raw(css) pull-right">
                <div class="@Html.Raw(className) make-switch switch-mini" data-on="@Html.Raw(dataOn)" data-off="default" data-animated="true" data-off-label="@Html.Raw(labelOff)" data-on-label="@Html.Raw(labelOn)">
                    <input type="checkbox" checked/>
                </div>
            </span>
        </td>
    </tr>
}

<div id="simpleEditDlg" name="simpleEditDlg" style="display: none">
    <form name="simpleEditDlg">
    </form>
</div>

<script id="simple-value-editor-cb-template" type="text/template">
    <select name='simpleValueEdit' class="form-control selectheight">
        <%_.each(options, function(o){%>
           <option value="<%=o.value%>"><%=o.text%></option>			
        <%});%>		
    </select>
</script>

<script id="profile-person-info-template" type="text/template">
    <%  data = data || {};
        data.Email = data.Email || ""; 
        data.BrokerContactEmail = data.BrokerContactEmail || ""; 
        data.Website = data.Website || "";
        data.PropertyStatus = data.PropertyStatus || {};
    %>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Customer Details
                    <button id="MainStrategyHidden" class="hide btn btn-mini btn-primary">Run main strategy</button>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RowCell("Id", "<%- data.Id %>")
			<tr>
				<td>
					<span class="customer-details-title">Name</span>
					<span class="pull-right" style="max-width:200px"><%- data.Name %></span>
				</td>
			</tr>
            <tr>
                <td class="customer-personal-status-alignment"><%- data.FullGender %>, <%- data.FamilyStatus %>, <%- data.Age %></td>
            </tr>
            <tr>
                <td>
                    <span class="customer-details-title">Reg date</span>
                    <span class="pull-right"><%- data.RegistrationDate %></span>
                </td>
            </tr>
            @RowCell("Property Status", "<%- data.PropertyStatus.Description %>")
            <%if (data.IsAlibaba) {%>
            <tr>
                <td class="customer-personal-status-alignment"><span class="pull-right red_cell">Alibaba Customer</span></td>
            </tr>
            <%}%>
            <tr>
                <td class="customer-personal-status-alignment"><a href="#" class="reset-password-123456">Reset password to 123456</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Company Details
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RowCell("Company Name", "<%- data.CompanyName %>")
            @RowCell("Business Type", "<%- data.CompanyType %>")

            <tr>
                <td>
                    <span class="customer-details-title <%= data.IsYoungCompany ? 'red_cell' : '' %>">Company Seniority</span>
                    <span class="pull-right <%= data.IsYoungCompany ? 'red_cell' : '' %>"><%- data.CompanySeniority %></span>
                </td>
            </tr>

            @RowCell("# Directors", "<%- data.NumOfDirectors %>")
            @RowCell("# Shareholders", "<%- data.NumOfShareholders %>")
        </tbody>
    </table>
    <table class="table squeezed rright <%- data.BrokerName ? 'broker-client-detail' : '' %>" >
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Contact Details
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            <tr>
                <td>
                    <span class="customer-details-title">Mobile</span>
                    <span class="pull-right <%- data.MobilePhoneVerified ? 'verfied-phone' : '' %>">
                        <%- data.MobilePhone %>
                        <button class="btn btn-mini left-pane-button" name="verifyMobile">
                            <i class="fa tltp-left <%- data.MobilePhoneVerified ? 'fa-check verfied-phone' : 'fa-warning' %>" data-title="<%- data.MobileTooltip %>"></i>
                        </button>
                        <button class="btn btn-mini left-pane-button" name="changeMobile" data-phoneType="Mobile">
                            <i class="fa fa-pencil tltp-left" data-title="Change mobile phone number"></i>
                        </button>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="customer-details-title">Daytime</span>
                    <span class="pull-right <%- data.DaytimePhoneVerified ? 'verfied-phone' : '' %>">
                        <%- data.DaytimePhone %>
                        <button class="btn btn-mini left-pane-button" name="verifyDaytime">
                            <i class="fa tltp-left <%- data.DaytimePhoneVerified ? 'fa-check verfied-phone' : 'fa-warning' %>" data-title="<%- data.DaytimeTooltip %>"></i>
                        </button>
                        <button class="btn btn-mini left-pane-button" name="changeDaytime" data-phoneType="Daytime" >
                            <i class="fa fa-pencil tltp-left" data-title="Change daytime phone number"></i>
                        </button>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="customer-details-title">E-mail<i data-title="<%- data.EmailState %>" class="tltp <%=getIcon()%>"/></span>
                    <span class="pull-right">
                        <%- data.Email.length <= 19 ? data.Email : data.Email.substring(0,16)+'...' %>
                        <i data-title="<%- data.Email %>" class="tltp-left <%=getIcon()%>"/>
                        <button class="btn btn-mini left-pane-button" name="editEmail">
                            <i class="fa fa-pencil"/>
                        </button>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="customer-details-title">Website</span>
                    <span class="pull-right">
                        <a data-title="<%- data.Website %>" class="tltp <%=getIcon()%>" href="http://<%- data.Website %>" target="_blank">
                            <span class="customer-website-font">
                                <%- data.Website.length <= 23 ? data.Website : data.Website.substring(0,20)+'...' %>
                            </span>
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Source
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            <tr class="with-broker">
                <td>
                    <span class="customer-details-title">
                        <button class="btn btn-mini left-pane-button hide" id="brokerDetailsBtn" name="brokerDetails">
                            <i class="fa fa-plus"/>
                        </button>
                        Broker name
                    </span>
                    <span class="pull-right">
						<% if (data.BrokerName) { %>
							<a class="go-to-broker ez-green" href="#" data-broker-id="<%- data.BrokerID %>"><%- data.BrokerName %></a>
						<% } else { %>
							<%- data.BrokerName %>
						<% } %>
                    </span>
                </td>
            </tr>
        </tbody>
        <tbody class="broker-details-rows with-broker" style="display: none;">
			@RowCell("Firm name", "<%- data.BrokerFirmName %>", "ez-green")
            <tr>
                <td>
                    <span class="customer-details-title">Email</span>
                    <span class="pull-right ez-green">
                        <%- data.BrokerContactEmail.length <= 15 ? data.BrokerContactEmail : data.BrokerContactEmail.substring(0,12)+'...' %>
                        <i data-title="<%- data.BrokerContactEmail %>" class="tltp-left <%=getIcon()%>"/>
                    </span>
                </td>
            </tr>
			@RowCell("Mobile", "<%- data.BrokerContactMobile %>", "ez-green")
        </tbody>
        <tbody class="box-content">
            <tr>
                <td class="customer-personal-status-alignment"><a href="#" class="change-broker">Update broker</a></td>
            </tr>
        </tbody>
        <tbody class="box-content">
			
			<%if(data.PromoCode) {%>
            <tr>
                <td>
                    <span class="<%= data.PromoCodeCss %> customer-details-title">Promo</span>
                    <span class="pull-right <%= data.PromoCodeCss %>">
                        <%= data.PromoCode %>
                    </span>
                </td>
            </tr>
			<%}%>
			
			<%if(data.ActiveCampaign) {%>
            @RowCell("Campaigns", "<%- data.ActiveCampaign %>")
			<%}%>
            <tr>
                <td>
                    <span class="customer-details-title">Ref Source</span>
                    <span class="pull-right">
                        <%- data.ReferenceSource ? (data.ReferenceSource.length <= 20 ? data.ReferenceSource : data.ReferenceSource.substring(0,17)+'...') : '-' %>
                    <i data-title="<%- data.ReferenceSource || 'no source ref' %>" class="tltp fa fa-question-circle"></i>
                    </span>
                </td>
            </tr>

            @RowCell("Segment", "<%- data.SegmentType %>")
            @RowCell("Origin", "<%- data.Origin %>", "red_cell")
        </tbody>
    </table>
    <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th class="left-pane-header">Statuses
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RowCellWithButtonNear("Customer Status", "<%- data.CustomerStatusName %>", "changeCustomerStatus", "<%= data.IsCustomerStatusInAlertMode ? 'red_cell' : '' %>")
			
			@RowCellWithButtonNear("External Collection Status", "<%- data.ExternalCollectionStatusName %>", "changeExternalCollectionStatus")

            <tr>
                <td>
                    <span class="customer-details-title <%= data.IsAmlInAlertMode ? 'red_cell' : '' %>">AML</span>
                    <span class="pull-right <%= data.IsAmlInAlertMode ? 'red_cell' : '' %>"><%- data.AmlResult %></span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="customer-details-title <%= data.IsFraudInAlertMode ? 'red_cell' : '' %>">Fraud Status</span>
                    <span class="pull-right <%= data.IsFraudInAlertMode ? 'red_cell' : '' %>"><%- data.FraudCheckStatus %>
                        <button class="btn btn-mini left-pane-button" name="changeFraudStatusManualy">
                            <i class="fa fa-pencil" />
                        </button>
                    </span>
                </td>
            </tr>
			@RowCellWithSlider("Block taking loan", "blockTakingLoanSwitch", "No", "Yes", "<%= data.BlockTakingLoan ? 'red_cell' : '' %> block-taking-loan-td customer-details-switch-height tltp", tooltip: "<%= data.BlockTakingLoan ? 'Blocked for funds transfer,<br> uncheck to resume.' : '' %>")

            @RowCellWithSlider("CCI mark", "cciMarkSwitch", "Off", "On", "<%= data.IsCciMarkInAlertMode ? 'red_cell' : '' %> cci-mark-td customer-details-switch-height")

            @RowCellWithSlider("Test User", "testUserSwitch", "No", "Yes", "<%= data.IsTestInAlertMode ? 'red_cell' : '' %> is-test-td customer-details-switch-height")
            
            @RowCellWithSlider("Manual Decision", "manualDecisionSwitch", "No", "Yes", "customer-details-switch-height")

            @RowCellWithButtonNear("Trust Pilot status", "<%- data.TrustPilotStatusName %>", "TrustPilotStatusUpdate")

            @RowCell("User status", "<%- data.UserStatus %>")
        </tbody>
        <tfoot>
            <tr>
                <th><button id="ForceFinishWizard" class="btn btn-mini btn-primary">Finish wizard</button></th>
            </tr>
        </tfoot>
    </table>
     <div class="lightDarkThemeSwitch make-switch switch-mini" data-on="info" data-off="default" data-animated="true" data-off-label="dark" data-on-label="light" style="width: 100%">
        <input type="checkbox" checked/>
    </div>
</script>

<script id="profile-loan-info-template" type="text/template">
    <% (function(m) { %>
	
	<%if(m.CashRequestId) { %>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th colspan="2">Offer Details</th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RawCell("System decision", "<%- m.SystemDecision %>")
			@RawCell("Credit result", "<%- m.CreditResult%>")
            @RawCell("System amount", "<%- EzBob.formatPounds(m.SystemCalculatedAmount) %>")
            @RawCell("<span class=create-loan-hidden-toggle>Offered amount</span>", "<%if(m.OfferedCreditLine < EzBob.Config.MinLoan){%><i class='fa fa-exclamation-circle'></i><%}%> <%- EzBob.formatPounds(m.OfferedCreditLine) %>")

            <tr class="hide" id="create-loan-hidden">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>Loan amount:</td>
                            <td>
                                <input type="number" id="create-loan-hidden-amount" style="height: 36px;" /></td>
                        </tr>
                        <tr>
                            <td>Loan date:</td>
                            <td>
                                <input type="date" id="create-loan-hidden-date" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="button" id="create-loan-hidden-btn">Create loan</button></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>@Html.Raw("Interest Rate")</td>
                <td>@Html.Raw("<%- EzBob.formatPercents(m.InterestRate) %>")
                    @Html.Raw("<div class=\"hide red interest-exceeds-max-by-loan-source\">Interest rate exceeds max rate for this loan source.</div>")
                </td>
            </tr>
            @RawCell("Borrowed amount", "<%- EzBob.formatPounds(m.BorrowedAmount) %>")
            @RawCell("Avaliable amount", "<%- m.OfferExpired ? '-' : EzBob.formatPounds(m.AvailableAmount) %>")
            @RawCell("Starting from date", "<%- m.StartingFromDate %>")
            @RawCell("Offer valid until", "<%- m.OfferValidateUntil %>")
        </tbody>
    </table>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th colspan="2">Setup Fee</th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RawCell("Spread setup fee", "<%= m.SpreadSetupFee ? 'Yes' : 'No' %>")
            <tr>
                <td>setup fee</td>
                <td>
                    <span><%= m.ManualSetupFeePercent ? EzBob.formatPercents(m.ManualSetupFeePercent) + ' (' + EzBob.formatPounds(m.SetupFee) + ')' : 'No setup fee' %></span>
                </td>
            </tr>
            <tr>
                <td>broker fee</td>
                <td>
                    <span><%= m.BrokerSetupFeePercent ? EzBob.formatPercents(m.BrokerSetupFeePercent) + ' (' + EzBob.formatPounds(m.BrokerSetupFee) + ')' : 'No broker fee' %></span>
                </td>
            </tr>
        </tbody>
    </table>
		<table class="table squeezed rright">
        <thead class="box">
            <tr class="box-title">
                <th colspan="2">Other Properties</th>
            </tr>
        </thead>
        <tbody class="box-content">
            @RawCell("Repayment period", "<%- m.RepaymentPeriod %>")
            @RawCell("Send Emails", "<%= m.AllowSendingEmail ? 'Yes' : 'No' %>")
            
            <tr>
                <td>Discount plan</td>
                <td><%= discountPlanName %>
                    <i data-title="" class="tltp-left fa fa-question-circle" data-original-title=""></i> 
                    <div class="hide red discount-exceeds-max-by-loan-source">Interest rate for at least one month exceeds max rate for this loan source.</div>
                </td>
            </tr>
			@RawCell("Product", "<%= productName %>")
			@RawCell("Product type", "<%= productTypeName %>")
			@RawCell("Open platform", "<%= fundingTypeName %>")
            @RawCell("Loan type", "<%= loanTypeName %>")
            @RawCell("Loan source", "<%- loanSourceName %>")
            @RawCell("Loan type selection", "<%= EzBob.formatLoanTypeSelection(m.IsLoanTypeSelectionAllowed) %>")
            @RawCell("Repayment period selection", "<%= m.IsCustomerRepaymentPeriodSelectionAllowed ? 'Yes' : 'No' %>")
        </tbody>
    </table>
    </div>
	<% } else {%>
		<div>Customer status : <%- m.SystemDecision %></div>
	<% } %>
    <div class="control-group">
        <% if(m.Editable) { %>
            <button id="editOfferButton" class="btn btn-dashboard" name="editOfferButton">Edit offer</button>
        <% } %>

		<% if(m.CashRequestId) { %>
			<a class="btn btn-dashboard downloadOfferButton" data-type="pdf">Download offer pdf</a>
			<a class="btn btn-dashboard downloadOfferButton" data-type="excel">Download offer excel</a>
		<% } %>

        <button id="newCreditLineButtonId" class="btn btn-dashboard" name="newCreditLineBtn">New Credit Line</button>
    </div>
    <% })(m); %>
	<div class="hide new-credit-line-mode-selector-template">
		<div class="new-credit-line-mode-selector">
			<div>
				<div>Customer data</div>
				<div>Use current</div>
				<div>Update</div>
			</div>
			<div>
				<div>Let me to decide</div>
				<label><input type="radio" data-option-id="1" data-id="sm" data-is-default="yes"></label>
				<label><input type="radio" data-option-id="4" data-id="um"></label>
			</div>
			<div>
				<div>Apply auto rules</div>
				<label><input type="radio" data-option-id="2" data-id="sa"></label>
				<label><input type="radio" data-option-id="3" data-id="ua"></label>
			</div>
		</div>
	</div>
</script>

<script id="email-edit-template" type="text/template">
    <div class="modal-body">
        <form id="email-edit-form">
            <label>Email</label>
            <input class="form-control" type="text" id="edit-email" name="edit-email" value="<%- Email %>">
        </form>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary email-change-address">Change Email</button>
        <button class="btn btn-primary email-send-new-request">Send New Request</button>
        <button class="btn btn-primary email-confirm-manually">Confirm Manually</button>
    </div>
</script>

<script id="phone-edit-template" type="text/template">
    <div class="modal-body">
        <form id="phone-edit-form">
            <label><%- PhoneType %> Phone</label>
            <input class="form-control phonenumber" type="tel" id="edit-phone" name="edit-phone" value="<%- Phone %>">
        </form>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary change-phone disabled">Change phone</button>
    </div>
</script>


<script id="fraud-status-layout-template" type="text/template">
    <form id="fraud-status-dialog" class="view-fraud-status" action="/" method="POST">
        <input name="currentStatus" type="hidden" />
        <input name="currentStatusText" type="hidden" />
        <input name="customerId" type="hidden" />
        <div id="list-fraud-items">
        </div>
        <div id="fraud-view">
        </div>
    </form>
</script>

<script id="fraud-status-items-template" type="text/template">
    <select id="fraud-status-items" class="selectheight form-control">
        <option value="0">OK</option>
        <option value="1">Fishy</option>
        <option value="2">Fraud suspect</option>
        <option value="3">Under investigation</option>
        <option value="4">Fraud Done</option>
        <option value="5">Identity/details theft</option>
    </select>
</script>

<script id="manual-setup-fee-template" type="text/template">
    <form id="manual-setup-fee-dialog" action="/" method="POST">
        <div class="control-group">
            <div class="controls">
                <label for="manualSetupFeeAmount">Amount</label>
                <input class="form-control" name="manualSetupFeeAmount" type="text" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="manualSetupFeePercent">Percent</label>
                <input class="form-control" name="manualSetupFeePercent" type="text" />
            </div>
        </div>
    </form>
</script>
