@using EzBob.Web.Models.Strings
@model dynamic

@{
    Layout = "_SideBarLayout.cshtml";
}

<h1><img alt="" src="@Url.Content("~/Content/img/sidebar/ico-tips.png")"><span style="margin-left:-3px;">Quick Tips</span></h1>
<ul class="gtarr">
    <li
        rel="popover" 
        data-content="In case your company is incorporated, you will be asked to enter your business information in addition to your personal information."
        data-original-title="">
        Add business information if you are a corporation.
    </li>
    <li
        rel="popover" 
        data-content="We require 3 years of residence addresses as part of your credit profile analysis."
        data-original-title="">
        Please have your residence addresses for the past 3 years.
    </li>
    <li
        rel="popover" 
        data-content="In order to qualify for more cash please enter your total turnover.  Total turnover means all of your offline & online sales."
        data-original-title="">
        Please have your 12 moths total turnover ready.
    </li>
</ul>

@section Video
{
    <div style="position:relative">
        <span>Featuring - Get Cash</span>
        <img src="@Url.Content("~/Content/Video/poster.jpg")" alt="" style="width: 320px; height:140px" class="poster-picture"/>
        <a href="javascript:;" 
            class="play-link" 
            data-videoDivId="cash2Div"
            data-videoId ="cash2"
            >Play</a>    
    </div>
    
    <div id="cash2Div" style="display: none;">
        <video id="cash2" class="video-js vjs-default-skin" controls preload="none" width="640" height="360" 
               poster="@Url.Content("~/Content/Video/poster.jpg")"
               data-setup="{}">
            <source src="@Url.Content("~/Content/Video/GetCash.mp4")" type='video/mp4' />
            <source src="@Url.Content("~/Content/Video/GetCash.webm")" type='video/webm' />
            <source src="@Url.Content("~/Content/Video/GetCash.ogv")" type='video/ogg' />
      
        </video>    
    </div>
}
