@using EzBob.Web.Models.Strings
@model dynamic

@{
    Layout = "_SideBarLayout.cshtml";
}

<h1><img alt="" src="@Url.Content("~/Content/img/sidebar/ico-tips.png")"><span style="margin-left:-3px;">Quick Tips</span></h1>
<ul class="gtarr">
    <li
        rel="popover" 
        data-content="Once you enter your debit card information you will be able to repay your loan automatically from your account. We advise you to check your charges in your account on a monthly basis. For any disputes please contact customer care."
        data-original-title="">
        Entering your debit card detail allows for automatic payments.
    </li>
    <li
        rel="popover" 
        data-content="In order to avoid late fees please make sure that you have sufficient funds in your account. Be advise that late payments will effect your credit history."
        data-original-title="">
        make sure to have funds in your account.
    </li>
</ul>

@section Video
{
    <div style="position:relative">
        <span>Featuring - Getting Started</span>
        <img src="@Url.Content("~/Content/Video/poster.jpg")" alt="" style="width: 320px; height:140px" class="poster-picture"/>
        <a href="javascript:;" 
            class="play-link" 
            data-videoDivId="GetCashDiv"
            data-videoId ="getCash"
            >Play</a>    
    </div>
    
    <div id="GetCashDiv" style="display: none;">
        <video id="getCash" class="video-js vjs-default-skin" controls preload="none" width="640" height="360" 
               poster="@Url.Content("~/Content/Video/poster.jpg")"
               data-setup="{}">
            <source src="@Url.Content("~/Content/Video/GetCash.mp4")" type='video/mp4' />
            <source src="@Url.Content("~/Content/Video/GetCash.webm")" type='video/webm' />
            <source src="@Url.Content("~/Content/Video/GetCash.ogv")" type='video/ogg' />
        </video>    
    </div>
}
