@model dynamic

<script type="text/template" id="rejection-settings-template">
    <form>
        <a href="https://www.dropbox.com/s/p3xebpxrojtq8dy/Auto%20rejection%20logic.docx" class="blue-link" target="_blank" title="View logic documentation">View logic documentation</a>
        <div class="alert-block">
            <table class="table squeezed">
                <thead class="box">
                    <tr class="box-title">
                        <th colspan="3">Rejection Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @SelectSetting("EnableAutomaticRejection")
                    @Setting("LowCreditScore")
                    @Setting("TotalAnnualTurnover")
                    @Setting("TotalThreeMonthTurnover")
                    @Setting("Reject_Defaults_CreditScore")
                    @Setting("Reject_Defaults_AccountsNum")
                    @Setting("Reject_Defaults_Amount")
                    @Setting("Reject_Defaults_MonthsNum")
                    @Setting("Reject_Minimal_Seniority")
                    @Setting("Reject_LowOfflineAnnualRevenue")
                    @Setting("Reject_LowOfflineQuarterRevenue")
                    @Setting("Reject_LateLastMonthsNum")
                    @Setting("Reject_NumOfLateAccounts")
                    @SelectSetting("EnableAutomaticReRejection")
                    @Setting("AutoRejectionException_CreditScore")
                    @Setting("AutoRejectionException_AnualTurnover")
    
                    <tr>
                        <td width="20%">RejectionLastValidLate: </td>
                        <td width="20%">
                            <select name="RejectionLastValidLate" class="form-control selectheight">
                                <option value="0">0 days</option>
                                <option value="1">30 days</option>
                                <option value="2">60 days</option>
                                <option value="3">90 days</option>
                                <option value="4">120 days</option>
                                <option value="5">150 days</option>
                                <option value="6">180 days</option>
                                <option value="8">Default</option>
                                <option value="9">Bad</option>
                            </select>
                        </td>
                        <td class="left"><%- RejectionLastValidLateDesc %></td> 
                    </tr>

                    @Setting("RejectionCompanyScore")
                    @Setting("RejectionExceptionMaxConsumerScoreForMpError")
                    @Setting("RejectionExceptionMaxCompanyScoreForMpError")
                    @Setting("RejectionExceptionMaxCompanyScore")
    
                    @Setting("Reject_Defaults_CompanyScore")
                    @Setting("Reject_Defaults_CompanyAccountsNum")
                    @Setting("Reject_Defaults_CompanyMonthsNum")
                    @Setting("Reject_Defaults_CompanyAmount")
                </tbody>
            </table>
            <div class="buttons_container">
                <button class="btn btn-primary" name="SaveRejectionSettings" ><i class="fa fa-check-circle" />Save</button> 
                <button class="btn btn-primary"name="CancelRejectionSettings" ><i class="fa fa-refresh" />Reset</button> 
            </div>
        </div>
    </form>
</script>

@helper Setting(string settingName)
{
    <tr>
        <td>@settingName:</td>
        <td><input name="@settingName" class="form-control"/></td>
        <td><%- @string.Format("{0}Desc", settingName)%></td>
    </tr>
}
@helper SelectSetting(string settingName)
{
    <tr>
        <td width="20%">@settingName: </td>
        <td width="20%">
            <select name="@settingName" class="form-control selectheight">
                <option value="0">Disabled</option>
                <option value="1">Enabled</option>
            </select>
        </td>
        <td class="left"><%- @string.Format("{0}Desc", settingName) %></td> 
    </tr>
}