<script type="text/template" id="support-template">
    @UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Other)
    <div id="main-content">
        <div class="box">
            <div class="box-content">
                <table class="table centered" style="white-space: nowrap;">
                    <thead class="box">
                        @EzForm.RawHeaderCell("Marketplaces with error", "", "", "", "", "", "", "")
                    </thead>
                    <tbody>
                        @RawCellBoldWithArray("#",
                                  "Marketplace Type",
                                  "Marketplace Name",
                                  "Update start date",
                                  "Error Message",
                                  "CustomerId",
                                  "Status",
                                  "")
                        <%_.each(model, function(val, i){
             var disabled="";
             if(val.Status=="In progress") { disabled = "disabled"; }%>
                @EzForm.RawCell(
                    "<%-val.Umi%>",
                    "<b><%-val.Type%></b>",
                    "<%-val.Name%>",
                    "<%-EzBob.formatDateTime(val.UpdateStartDate)%>",
                    "<pre><%-val.ErrorMessage%></pre>",
                    "<%-val.CustomerId%>",
                    "<%-val.Status%>",
                    "<a href='#' class='btn btn-mini btn-primary reCheckMP <%- val.Name.toLowerCase() %> <%-disabled%>' umi='<%- val.Umi %>' marketplaceType='<%- val.Type %>'><i class='fa fa-refresh'></i>Recheck</a>")
                        <%});%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

@helper RawCellBoldWithArray(params string[] arguments)
{
    <tr>
        @for (int index = 0; index < arguments.Length; index++)
        {
            string s = arguments[index];
            <td data-sort-type='@(index + 1)'>
                <b>
                    @(new HtmlString(s))
                    <span><i class="arrow icon-arrow-down"></i></span>
                </b>
            </td>
        }
    </tr>
}