@using System
@using System.Collections.Generic
@using EzBob.Web.Infrastructure
@using ConfigManager
@using Ezbob.Backend.Models
@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database
@{
	UiCustomerOrigin.Set(ViewBag);
	var origin = ViewBag.CustomerOrigin.GetOrigin();
	ViewBag.Title = "Loan Confirmation: Loan Confirmation |  " + ViewBag.CustomerOrigin.Name;
	bool ttPixelEnabled = CurrentValues.Instance.TradeTrackerPixelEnabled;
}

@section css {
	@if (origin == CustomerOriginEnum.everline) {
		@BundleHelper.RenderEverlineProfileCss()
	} else {
		@BundleHelper.RenderEzbobProfileCss()
	}
}
<div class="dashboard-steps-container"></div>
<div class="row-fluid inner loan-taken">
	<div id="profile-content">
		<div id="header-container"></div>

		<h1>Congratulations</h1>

		@if (!(bool)ViewData["IsAlibaba"]) {
			if (origin == CustomerOriginEnum.everline) {
				<p id="funds-transferred">Funds are being transferred to your account.</p>
			} else {
				<h2 class="funds-transferred">Funds are being transferred to your account.</h2>
			}
		} 

		<h2 class="loan-summary-title">Loan Summary</h2>

		<input type="hidden" id="loanid" value="@ViewData["LoanId"]" />

		<dl class="loan-schedule-info clearfix">
			<dt>Name:</dt>
			<dd>@ViewData["name"]</dd>

			<dt>Loan Ref. Number:</dt>
			<dd>@ViewData["loanNo"]</dd>

			<dt>Origination Date:</dt>
			<dd>@FormattingUtils.FormatDateToString(DateTime.Now)</dd>

			<dt>Loan Amount:</dt>
			<dd>
				£@ViewData["Amount"]
				@if (!String.IsNullOrEmpty((string)ViewData["SetupFee"])) {
					<span class="loan-amount">
						An origination fee of
						£@ViewData["SetupFee"] was deducted from the transfer
					</span>
				}
			</dd>

			<dt>
				Total Repayments:
				<span class="total-repayments">(inc. interest and fees)</span>
			</dt>
			<dd class="total-amount">£@ViewData["Total"]</dd>

			@if (!(bool)ViewData["IsAlibaba"]) {
				<dt class="bankacount-title">Bank Account:</dt>
				<dd class="bankacount-data">@ViewData["bankNumber"]</dd>
			}
		</dl>

		<div class="row-fluid">
			<div class="span12">
				<h2 class="repayments-table-header">Payment schedule</h2>
				<div id="schedule"></div>
			</div>
		</div>

		<div class="row-fluid">
			@EzForm.WizardButton(new List<EzButtonModel>{
				new EzButtonModel("pacnet-status-back-to-profile", "Go to my account",
					cls: "btn-continue button btn-green pull-right btn-fix btn-wide ev-btn-org",
					buttonType: EzButtonType.link,
					uiEventControlID: "loan-taken:back-to-profile",
					href: @Url.Action("Index", "Profile", new { Area = "Customer" })),

				new EzButtonModel(null, "Print for your records",
					cls: "schedule-print-link pull-left print-link clean-btn",
					buttonType: EzButtonType.link,
					uiEventControlID: "loan-taken:print",
					onClick: "window.print();return false;",
					href: "#"),
			},
			wrapperClass: "show-more-wrapper",
			origin: origin)

		</div>
	</div>

	@if (Request.Cookies["tt"] != null && ttPixelEnabled) {
		string srcStr = string.Format(
			"{0}?campaignID={1}&productID={2}&conversionType={3}&https={4}&transactionID={5}&transactionAmount={6}" +
			"&email={7}&descrMerchant={8}&descrAffiliate={9}&currency={10}",
			Url.Action("TradeTrackerConversion", "PacnetStatus", new { Area = "Customer" }),
			"12996",
			"19438",
			"sales",
			"1",
			@ViewData["loanNo"],
			@ViewData["Amount"],
			ViewData["email"],
			"Ezbob",
			"Loan",
			"GBP"
		);
		<img src="@srcStr" width="1" height="1" border="0" alt="" />
	}
</div>

<script id="paypoint-schedule-template" type="text/template">
	<table class="table payment-schedule-table">
		<thead>
			<tr>
				<th>Due Date</th>
				<th>Principal</th>
				<th>Interest</th>
				<th>Fees</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<%
			var totalAmount = 0, totalPrincipal = 0, totalInterest = 0, totalFees = 0;

			_.each(schedule, function(line, i) {
				totalAmount += line.AmountDue;
				totalPrincipal += line.LoanRepayment;
				totalInterest += line.Interest;
				totalFees += line.Fees;
				%><tr>
					<td><%-EzBob.formatDateHumanFull(line.Date)%></td>
					<td><%-EzBob.formatPoundsNoDecimals(line.LoanRepayment)%></td>
					<td><%-EzBob.formatPounds(line.Interest)%></td>
					<td><%-EzBob.formatPounds(line.Fees)%></td>
					<td class="apply-loan-total"><%- EzBob.formatPounds(line.AmountDue) %></td>
				</tr><%
			});
			%>
		</tbody>
	</table>
	<p id="loan-confirmation-email-address">
		A confirmation email will be sent
		to your email address: @ViewData["email"]
	</p>
</script>

@section Js
{
	<script type='text/javascript' src='https://my.nanorep.com/common/API/conversionUpdate.js?account=ezbob&revenue=@ViewData["Amount"]&orderId=@ViewData["loanNo"]'></script>
	<script type="text/javascript">
		$(function() {
			var scheduleView = new EzBob.Profile.PaypointLoanScheduleView({
				el: $('#schedule'),
				schedule: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewData["schedule"]))
			});
			scheduleView.render();

			var steps = _.template($('#steps-dashboard-template').html());
			$('.dashboard-steps-container').html(steps({ current: 2 }));
			$('.green-line').css("width", '70%');
			$('.sidebarBox').find('li[rel]').setPopover('left');

			var oView = new EzBob.Profile.LoanTakenView();
			oView.render();
			$('.header-info').show();
			$('.header-info-text').text('MY ACCOUNT');

			EzBob.App.GA.trackPage('/Customer/Profile/LoanConfirmation', 'Loan Confirmation', {
				Amount: '@ViewData["Amount"]',
				Length: '@ViewData["Term"]',
				Gender: '@ViewData["Gender"]',
				Age: '@ViewData["Age"]',
				Postcode: '@ViewData["Postcode"]',
				TypeofBusiness: '@ViewData["TypeOfBusiness"]',
				IndustryType: '@ViewData["IndustryType"]',
				LeadID: '@ViewData["LeadID"]',
				AccountStatus: '@ViewData["Status"]'
			});
		})
	</script>
	@{Html.RenderPartial("_StepsDashboard");}
	@BundleHelper.RenderProfileJs()
}