@using System
@using System.Collections.Generic
@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
	var origin = ViewBag.CustomerOrigin == null ? CustomerOriginEnum.ezbob : ViewBag.CustomerOrigin.GetOrigin();
	var crmEmptyOptionsList = new List<Tuple<string, string>>();
}

@* This file is used in Underwriter and Broker. *@

<script type="text/template" id="add-customer-relations-entry-template">
    <div>
        <form id="customer-relations-form">
            <div>
                <div class="FormRadioCtrl">
                    <span>Type</span>
                </div>
				
				<div class="crm-event-types">
					<div class="FormRadioCtrl">

						@{ EzInputBuilder radio1 = new EzInputBuilder(
									"Type_In",
									"Incoming",
									value: "In",
									type: "radio",
									cls: "required",
									isRequired: true,
									statusIcon: true,
									name: "Type"); }

						@EzForm.ClickableInputTag(radio1, origin: origin)

					</div>
					<div class="FormRadioCtrl">

						@{ EzInputBuilder radio2 = new EzInputBuilder(
									"Type_Out",
									"Outgoing",
									value: "Out",
									type: "radio",
									isRequired: true,
									statusIcon: true,
									name: "Type"); }

						@EzForm.ClickableInputTag(radio2, origin: origin)

					</div>
					<div class="FormRadioCtrl">

						@{ EzInputBuilder radio3 = new EzInputBuilder(
									"Type_Internal",
									"Internal",
									value: "Internal",
									type: "radio",
									isRequired: true,
									statusIcon: true,
									name: "Type"); }

						@EzForm.ClickableInputTag(radio3, origin: origin)

					</div>
				</div>
            </div>
						
			@EzForm.SelectWizard(
				new EzSelectModel(
					"Action", 
					"Action",
					crmEmptyOptionsList,
					cls: "form_field selectheight"),
				origin: origin)	

			<div class="phoneNumbersSection hide">
				@EzForm.SelectWizard(
					new EzSelectModel(
						"PhoneNumber",
						"Phone #",
						crmEmptyOptionsList,
						cls: "form_field selectheight"),
				origin: origin)
			</div>

			@EzForm.SelectWizard(
				new EzSelectModel(
				"Status",
				"Status",
				crmEmptyOptionsList,
				cls: "form_field selectheight"),
				origin: origin)

            <div class="control-group form_field_container rank-div">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span class="rank-span">Potential Rank</span>
                        <select class="form_field selectheight" id="Rank" name="Rank">
                            <option></option>
                            <% _.each(ranks, function(rank) { %>
                                <option value="<%- rank.Id %>"><%- rank.Name %></option>
                            <%});%>
                        </select>
                    </label>
                </div>
            </div>
           
@if (origin != CustomerOriginEnum.everline) {
	<label>Comment</label>
	<textarea id="Comment" class="add-customer-entry-comment-size"></textarea>
} else {
	<div class="form_field_container control-group">
		<label for="Comment" class="input-title">Comment</label>
		<div class="input-wrapper">
			<textarea style="resize: vertical; height: 100px" id="Comment" class="add-customer-entry-comment-size"></textarea>
		</div>
	</div>
}
        </form>
    </div>
    <div class="pull-right">
		<button class="button btn-green btn-primary ev-btn-org">OK</button>
    </div>
</script>
