@model EzBob.Web.Areas.Underwriter.Models.Reports.ReportCountAmountModelBase
@{ Layout = "~/Areas/Underwriter/Views/Reports/_LayoutReport.cshtml"; }

@section filterPanel
{
    @using (Html.BeginForm())
    {
        <div class="box">
            <div class="well box-title">
                <div class="box-tool">
                    @Html.Partial("TimeFilterReportControl", Model)
                </div>
                <div class="controls">
                    <label class="radio-inline">
                        <input type="radio" name="group" value="Amount" onclick="showAmountReport()" />
                        £
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="group" value="Count" checked="checked" onclick="showCountReport()" />
                        # of applications
                    </label>
                </div>
                
            </div>
        </div>
    }

}
@section report
{
    <div id="amountReport" style="display: none">
        @RenderSection("AmountReport")
        <div>
            <a class="btn btn-primary btn-back" href="@HttpUtility.JavaScriptStringEncode(Url.Action(Model.DownloadAmountAction, Model.DateFilter))" id="exportAmountBtn">Export</a>
        </div>
    </div>
    <div id="countReport">
        @RenderSection("CountReport")
        <div>
            <a class="btn btn-primary btn-back" href="@HttpUtility.JavaScriptStringEncode(Url.Action(Model.DownloadCountAction, Model.DateFilter))" id="exportCountBtn">Export</a>
        </div>
    </div>
}
@section Js
{
    <script type="text/javascript">
        $(function () {
            //$(".datepicker").datepicker();
        });

        function showCountReport() {
            $("#countReport").show();
            $("#amountReport").hide();
        }

        function showAmountReport() {
            $("#amountReport").show();
            $("#countReport").hide();
        }


    </script>
    @RenderSection("Js", false)
}
