@using System.Web.WebPages
@helper Render(WebPageBase page, string sUrl) {
	<script id="add-director-info-template" type="text/template">
		<div class="director">
			<form method="post" action="@sUrl" class="addDirectorInfoForm" novalidate="novalidate">
				<input type="hidden" name="nCustomerID" id="nCustomerID" />

				<div class="add-director-container">
					<h2 class="form_start">Add director/shareholder</h2>
				</div>
				
				<div class="control-group form_field_container form-director-is-dir-sha">
					<div>
						<input type="checkbox" checked="checked" id="DirectorIsDirectorShareholder_Dir" class="is-dir-sha" data-target="is-director" ui-event-control-id="dashboard:director_is_director" />
						<label for="DirectorIsDirectorShareholder_Dir">This person is a company&rsquo;s director.</label>
					</div>
					<div>
						<input type="checkbox" id="DirectorIsDirectorShareholder_Sha" class="is-dir-sha" data-target="is-shareholder" ui-event-control-id="dashboard:director_is_shareholder" />
						<label for="DirectorIsDirectorShareholder_Sha">This person is a company&rsquo;s shareholder.</label>
					</div>
				</div>

				@EzForm.InputText("Name", "First name", cls: "form_field alphaOnly", isRequired: true, statusIcon: true, uiEventControlID: "dashboard:director_first_name")
				@EzForm.InputText("Middle", "Middle initial", cls: "form_field alphaOnly", isRequired: false, statusIcon: true, uiEventControlID: "dashboard:director_middle_name")
				@EzForm.InputText("Surname", "Surname", cls: "form_field alphaOnly", isRequired: true, statusIcon: true, uiEventControlID: "dashboard:director_surname")

				<div class="control-group form_field_container FormRadioCtrl">
					<span>
						<input class="male-director-gender-margin" type="radio" name="Gender" value="M" id="DirectorFormRadioCtrl_M" ui-event-control-id="dashboard:director_gender"><label for="DirectorGenderCtrl_M">Male</label>
						<input class="gender-margin" type="radio" name="Gender" value="F" id="DirectorFormRadioCtrl_F" ui-event-control-id="dashboard:director_gender"><label for="DirectorGenderCtrl_F">Female</label>
					</span>
					<img id="GenderImage" class="field_status required director_gender_image" />
				</div>

				<div class="director_address">
					@EzForm.AddressInput(page, "DirectorAddress", "Address", "director")
				</div>

				@EzForm.DateInput(page, "DateOfBirth", "Date of Birth", css: "director_date", required: true, statusIcon: true, uiEventControlID: "dashboard:director_birth_date", hiddenFieldAuxClass: "director_birth_date")

				@EzForm.InputText("Email", "Email", type: "email", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "dashboard:director_email")
				@EzForm.InputText("Phone", "Best contact number", cls: "form_field phonenumber", isRequired: true, statusIcon: true, uiEventControlID: "dashboard:director_phone")

				<input type="hidden" class="is-director" name="IsDirector" value="on" />
				<input type="hidden" class="is-shareholder" name="IsShareholder" value="off" />
			</form>

			<div class="form_buttons_container">
				<div class="attardi-button">
					<button type="button" class="button btn-green addDirector disabled ev-btn-org" ui-event-control-id="dashboard:add_director">Add director</button>
					<button type="button" class="button btn-grey directorBack ev-btn-org" ui-event-control-id="dashboard:add_director_back">Back</button>
				</div>
			</div>
		</div>
	</script>
}
