@using System
@using System.Linq
@using System.Web.Mvc
@using EzBob.Web.Infrastructure
@using StructureMap

@functions {
    public enum SideBarType
    {
        Customers,
        Customer,
		Broker,
		Investor,
        Other
    }
}

@helper Menu(WebViewPage page, SideBarType type, bool isEscalate = false)
{
    var sRoleImageUrl = "crm.png";
    var sRoleImageTitle = "CRM";
    var userName = "";
    var userId = 0;
    var userEmail = "";
	var detectUserRolesError = "";

    try {
        var context = ObjectFactory.GetInstance<IWorkplaceContext>();

	    if (context != null) {
		    var user = context.User;
		    if (user != null) {
			    userName = user.FullName ?? user.Name;
			    userId = user.Id;
			    userEmail = user.EMail;

			    var roles = context.UserRoles;

			    if (roles.Any(r => r == "manager")) {
				    sRoleImageUrl = "manager.png";
				    sRoleImageTitle = "Manager";
			    } else if (roles.Any(r => r == "Underwriter")) {
				    sRoleImageUrl = "underwriter.png";
				    sRoleImageTitle = "Underwriter";
			    }

			    sRoleImageTitle = roles.Last();
		    } else {
				detectUserRolesError = "user is null";
		    }
	    } else {
			detectUserRolesError = "context is null";
	    }
    } catch (Exception e) {
	    detectUserRolesError = e.Message;
    }

    sRoleImageUrl = "https://app.ezbob.com/Content/img/roles/" + sRoleImageUrl;

    <div id="sidebar" class="bg">
		@if (!string.IsNullOrWhiteSpace(detectUserRolesError)) {
			<div class="hide exception-while-fetching-user-roles">@detectUserRolesError</div>
		}

        <a href="#" id="reload-button-template" class="hide">Reload</a>
        <ul class="nav nav-list">
            <li>
                <a title="click to log out" href="@page.Url.Action("LogOffUnderwriter", "Account", new { Area = "" })" id="uw-name-and-icon" data-uw-id="@userId">
	                <img data-title="@sRoleImageTitle" class="roleImg" width="40" height="40" src="@Ezbob.Utils.Gravatar.Url(userEmail, sRoleImageUrl, 40)"/>
					<div class="user-name">@userName</div>
                </a>
            </li>
            @switch (type)
            {
                case SideBarType.Customers:
                <li>
                    <a class="customers-link" href='@page.Url.Action("Index", "Customers")#' title="Customers"><i class="fa fa-angle-double-left"></i>Customers</a>
                    <a href="#" class="dropdown-toggle more-options-link" title="Sub Menu">
                        <i class="fa fa-reorder"></i>
                    </a>
                    <ul class="submenu">
                        @SubMenu(page)
                    </ul>
                </li>
                <li class="active"><a href="#waiting-grid" data-toggle="tab" title="Decision"><i class="fa fa-envelope-o"></i><span>Decision(<span id="waiting-count"></span>)</span></a></li>
                if (isEscalate)
                {
                    <li><a href="#escalated-grid" data-toggle="tab" title="Escalated"><i class="fa fa-arrow-up"></i><span>Escalated(<span id="escalated-count"></span>)</span></a></li>
                }
                <li><a href="#pending-grid" data-toggle="tab" title="Pending"><i class="fa fa-clock-o"></i><span>Pending(<span id="pending-count"></span>)</span></a></li>
                <li><a href="#signature-grid" data-toggle="tab" title="Waiting for signature"><i class="fa fa-pencil-square-o"></i><span>Signature(<span id="signature-count"></span>)</span></a></li>
                <li><a href="#approved-grid" data-toggle="tab" title="Approved"><i class="fa fa-thumbs-o-up"></i><span>Approved</span></a></li>
				<li><a href="#pendingInvestor-grid" data-toggle="tab" title="Pending Investor"><i class="fa fa-hourglass-half"></i><span>Pending investor(<span id="pendinginvestor-count"></span>)</span></a></li>
                <li><a href="#rejected-grid" data-toggle="tab" title="Rejected"><i class="fa fa-thumbs-o-down"></i><span>Rejected</span></a></li>
                <li><a href="#loans-grid" data-toggle="tab" title="Loans"><i class="fa fa-gbp"></i><span>Loans</span></a></li>
                <li><a href="#sales-grid" data-toggle="tab" title="Sales"><i class="fa fa-phone"></i><span>Sales</span></a></li>
                <li><a href="#collection-grid" data-toggle="tab" title="Collection"><i class="fa fa-rocket"></i><span>Collection</span></a></li>
                <li><a href="#late-grid" data-toggle="tab" title="Late"><i class="fa fa-flag"></i><span>Late</span></a></li>
                <li><a href="#all-grid" data-toggle="tab" title="All customers"><i class="fa fa-female"></i><span>All customers</span></a></li>
                <li><a href="#registered-grid" data-toggle="tab" title="Registered"><i class="fa fa-bars"></i><span>Registered(<span id="RegisteredCustomers-count"></span>)</span></a></li>
				
                <li class="test-customers" title="Check to include test customers">
                    <i class="fa fa-filter"></i>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" id="include-test-customers" />
                        Test customers
                    </label>
                </li>
                <li class="all-customers hide" title="Check to show all the customers (unchecked shows registered during last week only).">
                    <i class="fa fa-filter"></i>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" id="include-all-customers" />
                        Show all customers
                    </label>
                </li>
                <li><a href="#logbook-grid" data-toggle="tab" title="Logbook"><i class="fa fa-file-text-o"></i><span>Logbook</span></a></li>
                <li><a href="#brokers-grid" data-toggle="tab" title="Brokers"><i class="fa fa-male"></i><span>Brokers</span></a></li>

				<li id="liInvestors" class="dropdown">
					<a href="#" class="dropdown-toggle" title="Investor">
						<i class="fa fa-money"></i><span>&nbsp;Investors</span>
						<b class="arrow fa fa-angle-right"></b>
					</a>
					<ul class="submenu">
						@InvestorMenu(page)
					</ul>
				</li>

				<li id="liClient"><a href='#' title="Find"><i class="fa fa-search"></i><span>Find</span></a></li>

				break;
				case SideBarType.Customer:
                <li>
                    <a class="customers-link" href='@page.Url.Action("Index", "Customers")#' title="Customers"><i class="fa fa-angle-double-left"></i><span>Customers</span></a>
                    <a href="#" class="dropdown-toggle more-options-link" title="Sub Menu">
                        <i class="fa fa-reorder"></i>
                    </a>
                    <ul class="submenu">
                        <li id="liClient">
                            <a href='#' title="Find"><i class="fa fa-search"></i><span>&nbsp;Find</span></a>
                        </li>
                        @SubMenu(page)
                    </ul>
                </li>
                <li><a href="#dashboard" data-toggle="tab" class="customer-tab" title="Dashboard"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
                <li><a href="#profile-summary" data-toggle="tab" class="customer-tab" title="Profile Summary"><i class="fa fa-user"></i><span>Profile Summary</span></a></li>
                <li><a href="#marketplaces" data-toggle="tab" class="customer-tab" title="Marketplaces">
                    <div class="source_labels new-ribbon" id="new-ribbon-marketplaces"></div>
                    <i class="fa fa-shopping-cart"></i><span>Marketplaces</span></a>
                </li>
                <li><a href="#payment-accounts" data-toggle="tab" class="customer-tab"><i class="fa fa-credit-card" title="Payment accounts"></i><span>Payment accounts</span></a></li>
                <li><a href="#credit-bureau" data-toggle="tab" class="customer-tab"><i class="fa fa-building" title="Credit bureau"></i><span>Credit bureau</span></a></li>
                <li><a href="#calculator" data-toggle="tab" class="customer-tab"><i class="fa fa-slack" title="Calculator"></i><span>Calculator</span></a></li>
				<li><a href="#logical-glue-history" data-toggle="tab" class="customer-tab"><i class="fa fa-magic" title="Logical glue"></i><span>Logical glue</span></a></li>
                <li><a href="#loanhistorys" data-toggle="tab" class="customer-tab"><i class="fa fa-history" title="Loan history"></i><span>Loan history</span></a></li>
                <li><a href="#customer-info" class="customer-tab cross-check-tab" data-toggle="tab" title="Cross check"><i class="fa fa-pencil-square-o"></i><span>Cross check</span></a></li>
                <li><a href="#company-score" class="customer-tab company-score-tab" data-toggle="tab" title="Company score"><i class="fa fa-university"></i><span>Company score</span></a></li>
                <li><a href="#messages-tab" data-toggle="tab" class="customer-tab" title="Messages / Files"><i class="fa fa-file-text-o"></i><span class="messages-tab">Messages / Files</span></a></li>
                <li><a href="#apiChecks" data-toggle="tab" class="customer-tab" title="API checks log"><i class="fa fa-codepen"></i><span>API checks log</span></a></li>
                <li><a href="#customerRelations" data-toggle="tab" class="customer-tab crm-tab" title="Customer relations"><i class="fa fa-users"></i><span>Customer relations</span></a></li>
                <li><a href="#fraudDetection" data-toggle="tab" class="customer-tab" title="Fraud detection"><i class="fa fa-exclamation-triangle"></i><span>Fraud detection</span></a></li>
                <li><a href="#properties" data-toggle="tab" class="customer-tab" title="Properties"><i class="fa fa-home"></i><span>Properties</span></a></li>
                <li><a href="#" class="common-bug" data-bug-customer="0" data-placement="bottom" data-bug-type="Common" style="display: block;" title="Bug"><i class="fa fa-bug" /><span>Bug</span></a></li>
                    break;

				case SideBarType.Broker:
				<li>
					<a class="customers-link" href='@page.Url.Action("Index", "Customers")#'><i class="fa fa-angle-double-left"></i><span>Brokers</span></a>
				</li>
				<li><a href="#broker-customers-grid" data-toggle="tab" title="All customers"><i class="fa fa-female"></i><span>All customers</span></a></li>
				<li><a href="#broker-profile-summary" data-toggle="tab" title="Profile Summary"><i class="fa fa-user"></i><span>Profile Summary</span></a></li>
		        <li><a href="#broker-relations" data-toggle="tab" class="crm-tab" title="Broker relations"><i class="fa fa-users"></i><span>Broker relations</span></a></li>
				<li><a href="#broker-whitelabel" data-toggle="tab" class="crm-tab" title="White Label"><i class="fa fa-tag"></i><span>White label</span></a></li>
					break;
				case SideBarType.Investor:
					<li>
						<a class="customers-link" href='@page.Url.Action("Index", "Customers")#' title="Customers"><i class="fa fa-angle-double-left"></i>Customers</a>
					</li>
					@InvestorMenu(page)
					break;

				case SideBarType.Other:
					<li>
						<a class="customers-link" href='@page.Url.Action("Index", "Customers")#'><i class="fa fa-angle-double-left"></i><span>Customers</span></a>
					</li>
					@SubMenu(page)
                    break;
            }
        </ul>

        <div id="sidebar-collapse">
            <i class="fa fa-angle-double-left"></i>
        </div>
    </div>
}

@helper InvestorMenu(WebViewPage page) {
	<li><a href="Customers#addInvestor" title="Create new">
			<i class="fa-stack">
				<i class="fa fa-file-o fa-stack-1x"></i>
				<i class="fa fa-plus fa-stack-1x" style="font-size: 10px"></i>
			</i>
			<span class="create-new-investor">&nbsp;Create new</span>
		</a>
	</li>
	<li><a href="Customers#manageInvestor" title="Manage"><i class="fa fa-cogs"></i><span>&nbsp;Manage</span></a></li>
	<li><a href="Customers#configInvestor" title="Config"><i class="fa fa-cog"></i><span>&nbsp;Config</span></a></li>
	<li><a href="Customers#accountingInvestor" title="Accounting"><i class="fa fa-book"></i><span>&nbsp;Accounting</span></a></li>
	<li><a href="Customers#portfolioInvestor" title="Portfolio"><i class="fa fa-folder-open-o"></i><span>&nbsp;Portfolio</span></a></li>
	<li><a href="Customers#statisticsInvestor" title="Statistics"><i class="fa fa-bar-chart"></i><span>&nbsp;Statistics</span></a></li>
}

@helper SubMenu(WebViewPage page)
{
	<li id="liReport">
        <a href="Customers#report" title="Reports"><i class="fa fa-file-text-o"></i><span>&nbsp;Reports</span></a>
    </li>
    <li id="liSupport">
        <a href='Customers#support' title="Support"><i class="fa fa-support"></i><span>&nbsp;Support</span></a>
    </li>
    <li id="liFraud">
        <a href='Customers#fraud' title="Fraud"><i class="fa fa-bomb"></i><span>&nbsp;Fraud</span></a>
    </li>
    <li id="liCAIS">
        <a href="@page.Url.Action("Index", "CAIS")" title="CAIS"><i class="fa fa-building"></i><span>&nbsp;CAIS</span></a>
    </li>
    <li id="liAutomation">
        <a href="Customers#automation" title="Automation"><i class="fa fa-flash"></i><span>&nbsp;Automation</span></a>
    </li>
    <li id="liStrategySettings">
        <a href="Customers#settings" title="Settings"><i class="fa fa-gears"></i><span>&nbsp;Settings</span></a>
    </li>
	<li id="liFunding">
		<a href="Customers#funding" title="Funding"><i class="fa fa-money"></i><span>&nbsp;Funding</span></a>
	</li>
	<li id="liReports" class="dropdown">
        <a href="#" class="dropdown-toggle" title="Other Reports">
            <i class="fa fa-file-text"></i><span>&nbsp;Other Reports</span>
            <b class="arrow fa fa-angle-right"></b>
        </a>
        <ul class="submenu">
            <li id="liCustomerReports">
                @{
                    var reportsIp = ConfigManager.CurrentValues.Instance.ReportsSite.Value;
                    <a href="@reportsIp" target="_blank"><span>Reports Site</span></a>
                }
            </li>
            <li id="liPerformenceReportPerUnderWriter">
                <a href='@page.Url.Action("PerformenceReportPerUnderWriter", "Reports", new { Area = "Underwriter" })'><span>Performence Report / Underwriter</span></a>
            </li>
            <li id="liPerformenceReportPerMedal">
                <a href='@page.Url.Action("PerformenceReportPerMedal", "Reports", new { Area = "Underwriter" })'><span>Performence Report / Medal</span></a>
            </li>
            <li id="liExposureReportPerUnderwriter">
                <a href='@page.Url.Action("ExposureReportPerUnderwriter", "Reports", new { Area = "Underwriter" })'><span>Exposure Report / Underwriter</span></a>
            </li>
            <li id="liExposureReportPerMedal">
                <a href='@page.Url.Action("ExposureReportPerMedal", "Reports", new { Area = "Underwriter" })'><span>Exposure Report / Medal</span></a>
            </li>
            <li id="liMedalStatisticReport">
                <a href='@page.Url.Action("MedalStatisticReport", "Reports", new { Area = "Underwriter" })'><span>Medal Statistic</span></a>
            </li>
            <li id="liDaily">
                <a href='@page.Url.Action("DailyReport", "Reports", new { Area = "Underwriter" })'><span>Daily Report</span></a>
            </li>
            <li id="liExtendedDaily">
                <a href='@page.Url.Action("ExpectationReport", "Reports", new { Area = "Underwriter" })'><span>Expectation Report</span></a>
            </li>
        </ul>
    </li>
}