@using EzBob.Web.Infrastructure
@model EzBob.Web.Models.CreatePasswordModel

@{
	UiCustomerOrigin.Set(ViewBag);
	ViewBag.Title = " Create a password for your " + ViewBag.CustomerOrigin.Name + " Account";
}

@section head
{
	<meta name="description" content="Create a password for your EZBOB online business loan account." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
}

@section css{
	@BundleHelper.RenderLoginCss()
}

<div class="row-fluid">
	<div class="inner">
		<div class="createPasswordTemplate"></div>
	</div>
</div>

<script id="customer-create-password-template" type="text/template">
	@using (Html.BeginForm("CustomerCreatePassword", "Account", new { Area = "" }, FormMethod.Post, new { @class = "simple-create-password" })) {
		<input type="hidden" name="RawToken" id="RawToken" value="@Model.Token.ToString("N")" />
		<input type="hidden" name="UserName" id="UserName" value="@Model.UserName" />
		<input type="hidden" name="BrokerLeadStr" id="BrokerLeadStr" value="@Model.BrokerLeadStr" />

		<section id="content">
			<div class="notifications"></div>
			<section class="pages">
				<h1>Create password</h1>
				<h2>Welcome @Model.FullName!</h2>
				
				<div id="strength-password-view" class="form_field_container">
					<label class="attardi-input">
						<span>Password</span>
						<input type="password" tabindex="1" class="form_field" name="Password" id="Password" ui-event-control-id="create-password:password1" />
						<img id="PasswordImage" class="field_status required" />
					</label>
					<p id="message" class="help-block"></p>
				</div>

				<div class="form_field_container">
					<label class="attardi-input">
						<span>Confirm password</span>
						<input type="password" tabindex="2" class="form_field" name="signupPass2" id="signupPass2" ui-event-control-id="create-password:password2" />
						<img id="Password2Image" class="field_status required" />
					</label>
				</div>

				<div class="form_field_container">
					<label class="checkbox" for="RememberMe" style="font-weight: normal">
						Remember me<input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="@Model.RememberMe.ToString().ToLowerInvariant()" ui-event-control-id="create-password:remember_me" />
					</label>
				</div>

				<div class="form_buttons_container">
					<div class="attardi-button">
						<input type="submit" value="Login" class="button btn-green create-password-btn disabled ev-btn-org" id="createPasswordSubmit" ui-event-control-id="create-password:submit" />
					</div>
				</div>
			</section>
		</section>
		<div class="clear"></div>
	}
</script>

@section Js{
	@BundleHelper.RenderCreatePasswordJs()

	<script type="text/javascript">
		$(function() {
			var loginPage = new EzBob.CustomerCreatePasswordView({ el: $('.createPasswordTemplate') });
			loginPage.render();

			var notifications = new EzBob.NotificationsView({ el: $('.notifications') });
		});
	</script>
}
