@using EzBob.Web.Infrastructure
@using StructureMap
@model EzBob.Web.Models.ForgotPasswordModel
@{
    var mail = Model == null ? "" : Model.Email;
    var captchamode = ObjectFactory.GetInstance<IEzBobConfiguration>().CaptchaMode;
    ViewBag.Title = "Retrieve your EZBOB account password | EZBOB Business loans UK";
}
<div class="errorArea"></div>
<div class="pass-restore"></div>

<script type="text/template" id="restore-pass-template">
    <h1>Password recovery</h1>
    <section id="content">
        <div class="restorePasswordArea">
            @using (Html.BeginForm())
            {
                <fieldset>
                    <div class="restore-password">
                        <div class="control-group">
                            @EzForm.InputText("email", "Email Address", @mail, "email", isRequired: true, cls: "email form_field", statusIcon: true, tabIndex: 10)
                        </div>
                        <div class="control-group">
                            @EzForm.Captcha(captchamode)
                        </div>
                        <input class="button orange disabled" type="button" id="getQuestion" value="Continue" tabindex="12" />
                        <div id="questionArea" style="display: none;">
                            <div class="control-group">
                                @*<label for="questionField" class="control-label">Security question:</label>*@
                                <textarea style="resize: vertical;" disabled="disabled" id="questionField" class="form_field"> </textarea>
                            </div>
                            <div class="control-group">
                                @EzForm.InputText("Answer", "Security answer:", "", isRequired: true, cls: "form_field", statusIcon: true, tabIndex: 10)
                            </div>
                            <input class="button orange disabled" type="button" id="restore" value="Continue" tabindex="12" />
                        </div>
                    </div>
                </fieldset>
            }
        </div>
        <div class="passwordRestoredArea" style="display: none;">
            <h2>A new password was sent to your email</h2>
            @Html.ActionLink("Finish", "LogOn", "Account", new { }, new { @class = "btn-continue button orange" })
        </div>
    </section>
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_Login.cshtml");}
</script>


@section Js{
    <script type="text/javascript" src= '@Url.Content("~/Content/js/controls/ezbob.notifications.js")' > </script>
    <script type="text/javascript">
        var notifications = new EzBob.NotificationsView({ el: $(".errorArea") });
        notifications.render();
        EzBob.Config.CaptchaMode = '@ViewData["CaptchaMode"]';
        SetCaptchaMode();
        var passEmailView = new EzBob.ResetPasswordView({ el: $(".pass-restore") });
        passEmailView.render();
    </script>
}