@using ConfigManager
@model EzBob.Web.Models.ForgotPasswordModel
@section head
{
    <meta name="description" content="Recover your EZBOB business loan account password." />
    <meta name="viewport" content="width=device-width, user-scalable=no">
}

@{
    var mail = Model == null ? "" : Model.Email;
    string captchamode = CurrentValues.Instance.CaptchaMode;
    ViewBag.Title = "Password recovery - ezbob";
}
<div class="row-fluid">
    <div class="inner">
        <div class="pass-restore"></div>
    </div>
</div>


<script type="text/template" id="restore-pass-template">
    <div class="row-fluid">
        <div class="span12"></div>
    </div>
    <div class="errorArea"></div>
    <section id="content">

        <section class="pages">
            <div class="restorePasswordArea">
                @using (Html.BeginForm())
                {
                    <div class="restore-password">
                        <div class="control-group">
                            @EzForm.InputText("email", "Email address", @mail, "email", isRequired: true, cls: "email form_field", statusIcon: true, tabIndex: 10, uiEventControlID: "restore-password:email")
                        </div>
                        <div class="control-group">
                            @EzForm.Captcha(captchamode)
                        </div>
                        <div class="form_buttons_container">
                            <div class="attardi-button">
                                <input class="rc-button green continue disabled" type="button" id="getQuestion" value="Continue" tabindex="12" ui-event-control-id="restore-password:get_question" />
                            </div>
                        </div>
                        <div id="questionArea" style="display: none;">
                            <div class="control-group">
                                @*<label for="questionField" class="control-label">Security question:</label>*@
                                <textarea style="resize: vertical; height: 32px" disabled="disabled" id="questionField" class="form_field"></textarea>
                            </div>
                            <div class="control-group">
                                @EzForm.InputText("Answer", "Security answer", "", isRequired: true, cls: "form_field", statusIcon: true, tabIndex: 10, uiEventControlID: "restore-password:answer")
                            </div>
                            <div class="form_buttons_container">
                                <div class="attardi-button">
                                    <input class="rc-button green continue disabled" type="button" id="restore" value="Continue" tabindex="12" ui-event-control-id="restore-password:submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="passwordRestoredArea" style="display: none;">
                <h2>A new password was sent to your email</h2>
                <div class="form_buttons_container">
                    <div class="attardi-button">
                        @{
                            var oAttr = new Dictionary<string, object>();
                            oAttr["class"] = "btn-continue button orange";
                            oAttr["ui-event-control-id"] = "restore-password:login";
                        }
                        @Html.ActionLink("Finish", "LogOn", "Account", new RouteValueDictionary(), oAttr)
                    </div>
                </div>
            </div>
        </section>
    </section>
    <aside class="customer-sidebar forgot-password">
        @{Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_Sidebar.cshtml");}
    </aside>
    <div class="clear" />

</script>

@section Js{
    <script type="text/javascript" src= '@Url.Content("~/Content/js/controls/ezbob.notifications.js")' > </script>
    <script type="text/javascript">
        var notifications = new EzBob.NotificationsView({ el: $(".errorArea") });
        notifications.render();
        EzBob.Config.CaptchaMode = '@ViewData["CaptchaMode"]';
        SetCaptchaMode();
        var passEmailView = new EzBob.ResetPasswordView({ el: $(".pass-restore") });
        passEmailView.render();
    </script>
}