@using System.Collections.Generic
@using ConfigManager
@using EzBob.Web.Infrastructure
@using EzBob.Web.Infrastructure.Html
@model EzBob.Web.Models.ForgotPasswordModel
@section head
{
	<meta name="description" content="Recover your EZBOB business loan account password." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
}

@section css{
	@BundleHelper.RenderLoginCss()
}

@{
	var mail = Model == null ? "" : Model.Email;
	string captchamode = CurrentValues.Instance.CaptchaMode;

	UiCustomerOrigin.Set(ViewBag);
	var origin = ViewBag.CustomerOrigin.GetOrigin();
	ViewBag.Title = "Password recovery - " + ViewBag.CustomerOrigin.Name;
}
<div class="row-fluid">
	<div class="inner">
		<div class="wizard-wrap">
			<div class="wizard-inner-wrap">
				<div class="pass-restore"></div>
			</div>
		</div>
	</div>
</div>


<script type="text/template" id="restore-pass-template">
	<section id="content">
		<div class="errorArea"></div>
		<section class="pages">
			<h2>Password recovery</h2>
			<div class="restorePasswordArea">
				@using (Html.BeginForm()) {
					<div>
						@EzForm.InputTextWizard(new EzInputBuilder("email", "Email address",
							type: "email",
							cls: "email form_field",
							isRequired: true,
							statusIcon: true,
							uiEventControlID: "restore-password:email",
							tabIndex: 10,
							autoCorrect: "off",
							autoCapitalize: "off",
							maxLength: 128), origin: origin)
						
						@EzForm.Captcha(captchamode,
							uiEventControlID:"restore-password:captcha",
							tabIndex:11, 
							origin: origin)
						
						@EzForm.WizardButton(new EzButtonModel("getQuestion", "Continue", 
							"button btn-green continue disabled ev-btn-org",
							"restore-password:get_question",
							buttonType: EzButtonType.input, 
							tabIndex: 12),
							origin)

						<div id="questionArea" style="display: none;">
							@EzForm.InputTextArea("questionField", "Security question", cls: "form_field", origin: origin)
							
							@EzForm.InputTextWizard(new EzInputBuilder("Answer", "Security answer",
								cls: "form_field",
								isRequired: true,
								statusIcon: true,
								uiEventControlID: "restore-password:answer",
								tabIndex: 10,
								autoCorrect: "off",
								autoCapitalize: "off",
								maxLength: 128), origin: origin)
							
							@EzForm.WizardButton(new EzButtonModel("restore", "Continue",
								"button btn-green continue disabled ev-btn-org",
								"restore-password:submit",
								buttonType: EzButtonType.input,
								tabIndex: 12),
								origin)
						</div>
					</div>
				}
			</div>
			<div class="passwordRestoredArea" style="display: none;">
				<h2>A new password was sent to your email</h2>
				@EzForm.WizardButton(new EzButtonModel("finish-restore", "Finish",
								"btn-continue button btn-green ev-btn-org",
								"restore-password:login",
								buttonType: EzButtonType.link,
								tabIndex: 12,
								href: @Url.Action("LogOn", "Account")),
								origin)
			</div>
		</section>
	</section>
	<aside class="customer-sidebar forgot-password">
		@*@{Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_Sidebar.cshtml");}*@
	</aside>
	<div class="clear"></div>
</script>

@section Js{
	<script type="text/javascript" src='@Url.Content("~/Content/js/controls/ezbob.notifications.js")'></script>
	<script type="text/javascript">

		EzBob.Config.CaptchaMode = '@ViewData["CaptchaMode"]';
		SetCaptchaMode();
		var passEmailView = new EzBob.ResetPasswordView({ el: $(".pass-restore") });
		passEmailView.render();
	</script>
}
