@using EzBob.Web.Infrastructure
@model EzBob.Web.Models.LogOnModel

@{
    if (HttpContext.Current.Request.Url.Host.Contains("everline.com")) {
        ViewBag.Origin = "everline";
    }
    if (HttpContext.Current.Request.Url.Host.Contains("ezbob.com")) {
        ViewBag.Origin = "ezbob";
    }
    
    ViewBag.Title = " Login to your " + ViewBag.Origin + " Account";
    
}

@section head
{
    <meta name="description" content="@string.Format("Login to your " + ViewBag.Origin + " online business loan account.")" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
}

@section css{
    @BundleHelper.RenderLoginCss()
}

<div class="row-fluid">
    <div class="inner">
        <div class="loginTemplate"></div>
    </div>
</div>

<script id="customerlogin-template" type="text/template">
    @using (Html.BeginForm("CustomerLogOn", "Account", new { Area = "" }, FormMethod.Post, new { @class = "simple-login" }))
    {
        <section id="content">
            <div class="notifications"></div>
            <section class="pages">
                <h1>Login</h1>
                <h2>Welcome back!</h2>
                @Html.TextBoxFor(x => x.ReturnUrl, new { type = "hidden" })

                @{
                    var oForgottenAttr = new Dictionary<string, Object>();
                    oForgottenAttr["ui-event-control-id"] = "login:forgotten_password";

                    var oSignupRouteValues = new RouteValueDictionary();
                    oSignupRouteValues["Area"] = "Customer";

                    var oSignupAttr = new Dictionary<string, Object>();
                    oSignupAttr["ui-event-control-id"] = "login:signup";
                }
                <p style="font-weight: bold;">@Html.ActionLink("Forgotten password", "ForgotPassword", "Account", new RouteValueDictionary(), oForgottenAttr) | @Html.ActionLink("Sign up", "Index", "Wizard", oSignupRouteValues, oSignupAttr)</p>

                <div class="form_field_container control-group">
                    <div class="controls">
                        <label class="attardi-input">
                            <span>Email address</span>
                            <input type="email" name="UserName" id="UserName" class="form_field login-form-user-name" autocorrect="off" autocapitalize="off" value="" ui-event-control-id="login:user_name" />
                            <img id="UserNameImage" class="field_status required"/>
                        </label>
                    </div>
                </div>

                @EzForm.Password("Password", "Password", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "login:password")

                <div class="form_field_container">
                    <label class="checkbox" for="RememberMe" style="font-weight: normal">
                        Remember me<input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="@Model.RememberMe.ToString().ToLowerInvariant()" ui-event-control-id="login:remember_me" />
                    </label>
                </div>
                <div class="form_buttons_container">
                    <div class="attardi-button">
                        <input type="submit" value="Login" class="button btn-green login-btn disabled" id="loginSubmit" ui-event-control-id="login:submit" />
                    </div>
                </div>
            </section>
        </section>
        <aside class="customer-sidebar login">
            @{Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_Sidebar.cshtml", new ViewDataDictionary(ViewData));}
        </aside>
        <div class="clear" />
        <div id="DontHaveAccount">
        </div>
    }

</script>

@section Js{
    @BundleHelper.RenderLoginJs()

	<script type="text/javascript">
	    $(function () {
	        var loginPage = new EzBob.CustomerLoginView({ el: $('.loginTemplate') });
	        loginPage.render();

	        var notifications = new EzBob.NotificationsView({ el: $('.notifications') });
	    });
    </script>
}
