@using EzBob.Configuration
@model dynamic
<script id="your-info-template" type="text/template">
  @using (Html.BeginForm("Edit", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "editYourInfoForm" }))
  {
      <div class="row-fluid" style="position: relative;">
        <div class="span6 personal-info">
        </div>
          @*
        <div class="" style="overflow: hidden; height: 725px; padding-top:9px; ">
            <img src='@Url.Content("~/Content/img/gradient-line.png")' style='display: block; margin: 0px auto' alt=""/>
        </div>
          *@
        <div class="span6">
            <div class="company-info"/>
        </div>
    </div>
      <div class="row-fluid">
        <div class="span12">
                 <a  class="btn-continue button orange submit-personal pull-right" display="none">Submit</a>
                 <a  class="btn-continue cancel button orange pull-right" display="none">Cancel</a>
                 <a  class="btn-continue edit-personal button orange pull-right" >Edit Information</a>
        </div>
    </div>
  }
  </script>


<script id="personal-info-template" type="text/template">   
    <fieldset>
        <legend>Personal Information</legend>
            
        <div class="control-group">
            <label class="control-label">Name:</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.FirstName%>" readonly="readonly"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Middle:</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.MiddleInitial%>" readonly="readonly"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Surname:</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.Surname%>"  readonly="readonly"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Date of Birth:</label>
            <div class="controls">
                <input type="text" value="<%-EzBob.formatDate(CustomerPersonalInfo.DateOfBirth)%>"  readonly="readonly"/>
            </div>
        </div>
            <div class="controls">
                    <div class="addressEdit">
                        @EzForm.AddressInput("PersonalAddress", "Address:")
                    </div>
            </div>
    
        <div class="control-group">
            <label class="control-label">Time at Address:</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.TimeAtAddress%>  years"  readonly="readonly"/>
            </div>
        </div>

        <div class="controls">
            <div class="addressEdit">
                @EzForm.AddressInput("OtherPropertyAddress", "Other Property Address:")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Residential Status:</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.ResidentialStatus%>"  readonly="readonly"/>
            </div>
        </div>
            
        <div class="control-group">
            <label class="control-label">Daytime Phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber" id="DayTimePhone" name="DayTimePhone" type="text" value="<%-CustomerPersonalInfo.DaytimePhone%>"  readonly="readonly" />
            </div>
        </div>
            
        <div class="control-group">
            <label class="control-label">Mobile Phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber" id="MobilePhone" name="MobilePhone" type="text" value="<%-CustomerPersonalInfo.MobilePhone%>"  readonly="readonly" />
            </div>
        </div>
           
        <div class="control-group">
            <label class="control-label">Type of Business:</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.TypeOfBusinessName%>"  readonly="readonly"/>
            </div>
        </div>
        
        <div class="control-group">
            <label for="OverallTurnOver" class="control-label">Total <b>Estimated</b> Sales</label>
            <div class="controls cashControlls">
                <input id="OverallTurnOver" readonly="readonly" name="OverallTurnOver" type="text" value="<%-CustomerPersonalInfo.OverallTurnOver%>" class="cashInput personEditInput" />
            </div>
        </div>   
       
        <div class="control-group">
            <label for="WebSiteTurnOver" class="control-label">Online Estimated Sales</label>
            <div class="controls cashControlls">
                <input id="WebSiteTurnOver" readonly="readonly" name="WebSiteTurnOver" type="text" value="<%-CustomerPersonalInfo.WebSiteTurnOver%>" class="cashInput personEditInput" />
            </div>
        </div>   

        @if (DBConfigurationValues.Instance.DisplayEarnedPoints) {
        <div class="control-group">
            <label class="control-label">Earned points:</label>
            <div class="controls">
                <input type="text" value="<%- LoyaltyPoints %>" readonly="readonly"/>
            </div>
        </div>
        }
    </fieldset>

</script>

<script id="limited-info-template" type="text/template">
    <fieldset>
        <legend>Business Information </legend>
        <div class="control-group">
            <label class="control-label">
                Registration #:</label>
            <div class="controls">
                <input type="text" value="<%-LimitedInfo.LimitedCompanyNumber%>" readonly="readonly" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Company Name:</label>
            <div class="controls">
                <input type="text" value="<%-LimitedInfo.LimitedCompanyName%>" readonly="readonly" />
            </div>
        </div>
        <div class="controls">
                <div class="addressEdit" display:"none">
                    @EzForm.AddressInput("LimitedCompanyAddress", "Address")
                </div>
        </div>    
        

        <div class="control-group">
            <label class="control-label">
                Business Phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber" id="BusinessPhone" name="BusinessPhone" type="text" value="<%-LimitedInfo.LimitedBusinessPhone%>" readonly="readonly"  />
            </div>
        </div>
        <div class="control-group director-conteiner">
            
        </div>
    </fieldset>
        
</script>

<script id="nonlimited-info-template" type="text/template">
    <fieldset>
        <legend>Business Information </legend>
        <div class="control-group">
            <label class="control-label">
                Company Name:</label>
            <div class="controls">
                <input type="text" value="<%-NonLimitedInfo.NonLimitedCompanyName%>" readonly="readonly" />
            </div>
        </div>
        <div class="controls">
               <div class="addressEdit">
                    @EzForm.AddressInput("NonLimitedAddress", "Address")
               </div>
        </div>    
        <div class="control-group">
            <label class="control-label">
                Time at Address:</label>
            <div class="controls">
                <input type="text" value="<%-NonLimitedInfo.NonLimitedTimeAtAddress%> years" readonly="readonly" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Time In Business:</label>
            <div class="controls">
                <input type="text" value="<%-NonLimitedInfo.NonLimitedTimeInBusiness%>  years" readonly="readonly" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Business Phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber" name="BusinessPhone" type="text" value="<%-NonLimitedInfo.NonLimitedBusinessPhone%>" readonly="readonly"  />
            </div>
        </div>
        <div class="control-group director-conteiner">
            
        </div>
    </fieldset>
        
</script> 

<script id="director-info-template" type="text/template">
                <div class="accordion-group">
                    <div class="accordion-heading faq-accordion-head">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#colapse<%-Id%>">
                            <b class="play"></b>Director</a>
                    </div>
                    <div id="colapse<%-Id%>" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <p>Name:<b><%-Name%> <%-Middle%> <%-Surname%></b></p>
                            <p> Date Of Birth:<b><%-DateOfBirth%></b></p>
                            <div class="addressEdit" >
                                @EzForm.AddressInput("DirectorAddress", "Address")
                            </div>
                        </div>
                    </div>
                </div>
</script> 

<script id="directors-info" type="text/template">
        <div class="accordion page-content-frame" id="accordion-faq-signup">
            
        </div>
</script>

<script id="address-popup-template" type="text/template">
    @{Html.RenderPartial("_AddressPopupTemplate");}
</script>

<script id="address-template" type="text/template">
    @{Html.RenderPartial("_AddressTemplate");}
</script>