@model dynamic
<script id="your-info-template" type="text/template">
  @using (Html.BeginForm("Edit", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "editYourInfoForm" }))
  {
      <div class="personal-company-info-container" style="position: relative;">
        <div class="column personal-info">
        </div>
          @*
        <div class="" style="overflow: hidden; height: 725px; padding-top:9px; ">
            <img src='@Url.Content("~/Content/img/gradient-line.png")' style='display: block; margin: 0px auto' alt=""/>
        </div>
          *@
        <div class="column company-info"/>
    </div>
      <div class="form_buttons_container">
        <div class="attardi-button">
                 <a  class="btn-continue button orange submit-personal pull-right" display="none">Submit</a>
                 <a  class="btn-continue cancel button orange pull-right" display="none">Cancel</a>
                 <a  class="btn-continue edit-personal button orange pull-right" >Edit Information</a>
        </div>
    </div>
  }
  <div class="add-director-container" style="display:none;"></div>
</script>


<script id="personal-info-template" type="text/template">
    <fieldset>
        <legend>Personal Information</legend>
            
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.FirstName%>" class="form_field" readonly="readonly"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Middle</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.MiddleInitial%>" class="form_field" readonly="readonly"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Surname</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.Surname%>" class="form_field" readonly="readonly"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Date of birth</label>
            <div class="controls">
                <input type="text" value="<%-EzBob.formatDate(CustomerPersonalInfo.DateOfBirth)%>" class="form_field" readonly="readonly"/>
            </div>
        </div>
            <div class="controls">
                    <div class="addressEdit">
                        @EzForm.AddressInput("PersonalAddress", "Address", "personal")
                    </div>
            </div>
    
        <div class="control-group">
            <label class="control-label">Time at address</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.TimeAtAddress%>  years" class="form_field" readonly="readonly"/>
            </div>
        </div>

        <div class="controls offline">
            <div class="addressEdit">
                @EzForm.AddressInput("OtherPropertyAddress", "Other property address", "other-property")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Residential status</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.ResidentialStatus%>" class="form_field" readonly="readonly"/>
            </div>
        </div>
            
        <div class="control-group">
            <label class="control-label">Daytime phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber form_field" id="DayTimePhone" name="DayTimePhone" type="text" value="<%-CustomerPersonalInfo.DaytimePhone%>"  readonly="readonly" />
            </div>
        </div>
            
        <div class="control-group">
            <label class="control-label">Mobile phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber form_field" id="MobilePhone" name="MobilePhone" type="text" value="<%-CustomerPersonalInfo.MobilePhone%>"  readonly="readonly" />
            </div>
        </div>
           
        <div class="control-group">
            <label class="control-label">Type of business</label>
            <div class="controls">
                <input type="text" value="<%-CustomerPersonalInfo.TypeOfBusinessName%>" class="form_field" readonly="readonly"/>
            </div>
        </div>
        
        <%if(CustomerPersonalInfo.OverallTurnOver != null){%>
        <div class="control-group">
            <label for="OverallTurnOver" class="control-label">Total <b>estimated</b> sales</label>
            <div class="controls cashControlls">
                <input id="OverallTurnOver" readonly="readonly" name="OverallTurnOver" type="text" value="<%-CustomerPersonalInfo.OverallTurnOver%>" class="cashInput personEditInput form_field" />
            </div>
        </div>   
       <%}%>
        <%if(CustomerPersonalInfo.WebSiteTurnOver != null){%>
        <div class="control-group">
            <label for="WebSiteTurnOver" class="control-label">Online estimated sales</label>
            <div class="controls cashControlls">
                <input id="WebSiteTurnOver" readonly="readonly" name="WebSiteTurnOver" type="text" value="<%-CustomerPersonalInfo.WebSiteTurnOver%>" class="cashInput personEditInput form_field" />
            </div>
        </div>   
        <%}%>
        @*@if (DBConfigurationValues.Instance.DisplayEarnedPoints)
        {
        <div class="control-group">
            <label class="control-label">Earned points</label>
            <div class="controls">
                <input type="text" value="<%- LoyaltyPoints %>" readonly="readonly" class="form_field"/>
            </div>
        </div>
        }*@
    </fieldset>

</script>

<script id="limited-info-template" type="text/template">
    <fieldset>
        <legend>Business Information </legend>
        <div class="control-group">
            <label class="control-label">
                Registration #</label>
            <div class="controls">
                <input type="text" value="<%-CompanyInfo.CompanyNumber%>" readonly="readonly" class="form_field"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Company Name</label>
            <div class="controls">
                <input type="text" value="<%-CompanyInfo.CompanyName%>" readonly="readonly" class="form_field"/>
            </div>
        </div>
        <div class="controls">
                <div class="addressEdit" display:"none">
                    @EzForm.AddressInput("LimitedCompanyAddress", "Address", "limited")
                </div>
        </div>    
        <%if(CompanyInfo.BusinessPhone != null){%>
        <div class="control-group">
            <label class="control-label">
                Business phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber form_field" id="BusinessPhone" name="BusinessPhone" type="text" value="<%-CompanyInfo.BusinessPhone%>" readonly="readonly"  />
            </div>
        </div>
        <%}%>
        <div class="control-group director-container"></div>
            <button class="btn orange add-director">Add Director</button>
        <div class="offline">
            @CompanyCountFields()
        </div>
    </fieldset>
        
</script>

<script id="nonlimited-info-template" type="text/template">
    <fieldset>
        <legend>Business Information </legend>
        <div class="control-group">
            <label class="control-label">
                Company Name</label>
            <div class="controls">
                <input type="text" value="<%-CompanyInfo.CompanyName%>" class="form_field" readonly="readonly" />
            </div>
        </div>
        <div class="controls">
               <div class="addressEdit">
                    @EzForm.AddressInput("NonLimitedAddress", "Address", "nonlimited")
               </div>
        </div>    
        <div class="control-group notoffline">
            <label class="control-label">
                Time at address</label>
            <div class="controls">
                <input type="text" value="<%-CompanyInfo.TimeAtAddress%> years" class="form_field" readonly="readonly" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Time in business</label>
            <div class="controls">
                <input type="text" value="<%-CompanyInfo.TimeInBusiness%>  years" class="form_field" readonly="readonly" />
            </div>
        </div>
        <%if(CompanyInfo.BusinessPhone != null){%>
        <div class="control-group">
            <label class="control-label">
                Business phone #</label>
            <div class="controls">
                <input class ="personEditInput phonenumber form_field" name="BusinessPhone" type="text" value="<%-CompanyInfo.BusinessPhone%>" readonly="readonly"  />
            </div>
        </div>
        <%}%>
        <div class="control-group director-container">
            <button class="btn orange">Add Director</button>
        </div>

		<div class="offline">
			@CompanyCountFields()
		</div>
    </fieldset>
        
</script> 

<script id="director-info-template" type="text/template">
	<div class="accordion-group">
		<div class="accordion-heading faq-accordion-head">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#colapse<%-Id%>">
				<b class="play"></b><span class="link-text">Director</span></a>
		</div>
		<div id="colapse<%-Id%>" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Name: <b><%-Name%> <%-Middle%> <%-Surname%></b></p>
				<p>Date Of birth: <b><%-DateOfBirth%></b></p>
				<p>Email: <b><%- Email %></b></p>
				<p>Phone: <b><%- Phone %></b></p>
				<div class="addressEdit" >
					@EzForm.AddressInput("DirectorAddress", "Address", "director")
				</div>
			</div>
		</div>
	</div>
</script> 

<script id="add-director-info-template" type="text/template">
    <div class="director">
        <div class="add-director-container">
            <h2 class="form_start">Add director</h2>
        </div>

        <div class="control-group form_field_container">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>First Name</span>
                    <input class="form_field director_name_part" id="DirectorName" name="DirectorName" type="text" value="" ui-event-control-id="dashboard:director_first_name" />
                    <img id="DirectorNameImage" class="field_status required" />
                </label>
            </div>
        </div>
        <div class="control-group form_field_container">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>Middle initial</span>
                    <input class="form_field director_name_part nonrequired alphaOnly" id="DirectorMiddle" name="DirectorMiddle" type="text" value="" ui-event-control-id="dashboard:director_middle_name" />
                    <img id="DirectorMiddleImage" class="field_status" />
                </label>
            </div>
        </div>
        <div class="control-group form_field_container">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>Surname</span>
                    <input class="form_field director_surname_part" id="DirectorSurname" name="DirectorSurname" type="text" value="" ui-event-control-id="dashboard:director_last_name" />
                    <img id="DirectorSurnameImage" class="field_status required" />
                </label>
            </div>
        </div>

        <div class="control-group form_field_container FormRadioCtrl">
            <span>
                <input class="male-director-gender-margin" type="radio" name="DirectorGender" value="M" id="DirectorFormRadioCtrl_M" ui-event-control-id="dashboard:director_gender"><label class="fs16" for="DirectorGenderCtrl_M">Male</label>
                <input class="gender-margin" type="radio" name="DirectorGender" value="F" id="DirectorFormRadioCtrl_F" ui-event-control-id="dashboard:director_gender"><label class="fs16" for="DirectorGenderCtrl_F">Female</label>
            </span>
            <img id="DirectorGenderImage" class="field_status required director_gender_image" />
        </div>

        @EzForm.DateInput("DirectorDateOfBirth", "Date of Birth", css: "director_date", required: true, statusIcon: true, uiEventControlID: "dashboard:director_birth_date", hiddenFieldAuxClass: "director_birth_date")

        <div class="control-group form_field_container">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>Email</span>
                    <input class="form_field director_email" id="DirectorEmail" name="DirectorEmail" type="email" value="" ui-event-control-id="dashboard:director_email" />
                    <img id="DirectorEmailImage" class="field_status required" />
                </label>
            </div>
        </div>

        <div class="control-group form_field_container">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>Best contact number</span>
                    <input class="form_field director_phone phonenumber" id="DirectorPhone" name="DirectorPhone" type="text" value="" ui-event-control-id="dashboard:director_phone" />
                    <img id="DirectorPhoneImage" class="field_status required" />
                </label>
            </div>
        </div>

        <div class="director_address">
            @EzForm.AddressInput("Address", "Address", "director")
        </div>
        
        <div class="form_buttons_container">
            <div class="attardi-button">
                <a href="#" class="rc-button green addDirector disabled" ui-event-control-id="dashboard:add_director">Link account</a>
                <button class="rc-button grey directorBack" ui-event-control-id="dashboard:add_director_back">Back</button>
            </div>
        </div>
    </div>
</script>


<script id="directors-info" type="text/template">
        <div class="accordion page-content-frame" id="accordion-faq-signup">
            
        </div>
</script>

<script id="address-popup-template" type="text/template">
    @{Html.RenderPartial("_AddressPopupTemplate");}
</script>

<script id="address-template" type="text/template">
    @{Html.RenderPartial("_AddressTemplate");}
</script>

@helper CompanyCountFields()
{
    <fieldset>
        <legend>On <%- EzBob.formatDate(CompanyEmployeeCountInfo.Created) %></legend>
        <div class="control-group">
            <label class="control-label">Current number of employees</label>
            <div class="controls">
                <input type="text" value="<%- CompanyEmployeeCountInfo.EmployeeCount %>" class="form_field" readonly="readonly" />
            </div>
        </div>
        <%if(CompanyEmployeeCountInfo.TopEarningEmployeeCount != null){%>
		<div class="control-group">
            <label class="control-label">Number of employees earning (gross salary) over £41,450 per annum</label>
            <div class="controls">
                <input type="text" value="<%- CompanyEmployeeCountInfo.TopEarningEmployeeCount %>" class="form_field" readonly="readonly" />
            </div>
        </div>
        <%}%>
        <%if(CompanyEmployeeCountInfo.BottomEarningEmployeeCount != null){%>
		<div class="control-group">
            <label class="control-label">Number of employees earning (gross salary) less than £9,440 per annum</label>
            <div class="controls">
                <input type="text" value="<%- CompanyEmployeeCountInfo.BottomEarningEmployeeCount %>" class="form_field" readonly="readonly" />
            </div>
        </div>
        <%}%>
        <%if(CompanyEmployeeCountInfo.EmployeeCountChange != null){%>
		<div class="control-group">
            <label class="control-label">Change in the number of employees in last 12 months</label>
            <div class="controls">
                <input type="text" value="<%- CompanyEmployeeCountInfo.EmployeeCountChange %>" class="form_field" readonly="readonly" />
            </div>
        </div>
        <%}%>
        <div class="control-group">
            <label class="control-label">Total monthly salary expenditure (inc tax & NI)</label>
            <div class="controls">
                <input type="text" value="<%- CompanyEmployeeCountInfo.TotalMonthlySalary %>" class="form_field" readonly="readonly" />
            </div>
        </div>
    </fieldset>
}