@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
	var origin = ViewBag.CustomerOrigin.GetOrigin();
	bool isEverline = origin == CustomerOriginEnum.everline;
}

<script id="apply-forloan-template" type="text/template">
	<div class="loan-amount-header">
		<h2>
			<span class="loan-amount-header-start">Choose loan amount</span>
			<span class="duration-select-allowed"> and duration</span>
		</h2>
		<p>
			<span class="duration-select-allowed">Select between 3 to 12 months. </span>
			<span>You can always pay the loan early and save on interest.</span>
			<span class="cannot-take-another-loan" style="display: none;">Please pay attention that you will not be able to take the remaining amount as a separate loan, as it is not possible to have more than <%-EzBob.Config.NumofAllowedActiveLoans%> active loans at the same time.</span>
			<span class="cannot-take-under-minloan" style="display: none;">You will not be able to take the remaining amount as a separate loan, as the issued amount is limited to minimum of £<%-EzBob.Config.MinLoan%></span>
		</p>
	</div>

	<div class="cash-question">
		<div id="loan-sliders"></div>
	</div>

	<div id="block-loan-schedule">
		<div class="loan-schedule">
		</div>
	</div>

	<h2 class="agreement-header">
		<span>Review the agreement</span>
	</h2>
	@if (isEverline) {
		<p>Read this section very carefully, it will vary from lander to lender.</p>}

	<div id="block-agreement">
		<div class="agreement">
		</div>
	</div>

	<div class="eu-agreement-section corner-border clearfix">
		<div class="overview loan-agreement simple-well corner-border-inner">
			<div class="clearfix">
				<div class="eu-agreement-images">
					<div class="eu-image eu-fund-image"></div>
					<div class="eu-image eu-agreement-image"></div>
				</div>
				<div class="eu-agreement-text">
					<div class="eu-agreement-header">
						<h3 class="eu-agreement-header-text">Your loan will be included in the EU EPMF program, please confirm:</h3>
					</div>
					<ol>
						<li>I Employ less than 10 persons.</li>
						<li>Annual turnover is less then £1.5M.</li>
						<li>Autonomous enterprise – no other enterprise owns more than 25% of the borrower, I do not own more than 25% in another enterprise.</li>
						<li>Loan is for business purposes.</li>
						<li>Not involved in the following sectors: arms production and trading; human cloning; tobacco; gambling.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="cosme-agreement-section corner-border clearfix">
		<div class="overview loan-agreement simple-well corner-border-inner">
			<div class="clearfix">
				<div class="eu-agreement-images">
					<div class="eu-image eu-fund-image"></div>
					<div class="eu-image eu-agreement-image"></div>
				</div>
				<div class="eu-agreement-text">
					<div class="eu-agreement-header">
						<h3 class="eu-agreement-header-text">Your loan will be included in the EU COSME program, please confirm</h3>
					</div>
					<ol>
						<li>I employ less than 250 people.</li>
						<li>Annual turnover is less than £40M.</li>
						<li>My company/business does not have a substantial focus on one or more of the following sectors: arms production and trading; human cloning; genetically modified organisms; tobacco or alcohol; gambling, pornography, internet piracy.</li>
						<li>I acknowledge that this financing is made possible through the support of the EU guarantee for Debt Financing with the financial backing of the European Union under the Loan Guarantee Facility established under Regulation (EU) No 1287/2013 of the European Parliament and the Council establishing a Programme for the Competitiveness of Enterprises and small and medium enterprises (COSME) (2014-2020).</li>
						<li>The loan will be used for funding (A) investment in tangible and/or intangible assets; and/or (B) working capital.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	@using (Html.BeginForm("LoanLegalSigned", "GetCash", new { Area = "Customer" }, FormMethod.Post, new { @class = "LoanLegal" })) {
		<h2 class="accept-agreement-header">
			<span>Accept the agreement</span>
		</h2>

		<div class="controls agreements-checkboxes">
			<div class="dynamic-agreements-checkboxes"></div>

			@EzForm.ClickableInputTag(new EzInputBuilder("euAgreementTermsRead", "I agree to the EU program terms",
				value: "true",
				type: "checkbox",
				cls: "euAgreementTermsRead",
				wrapperCls: "eu-agreement-section",
				labelClass: "eu-agreement-section",
				isRequired: true,
				uiEventControlID: "loan-legal:apply-for-loan-eu-agreement"), origin: origin)

			@EzForm.ClickableInputTag(new EzInputBuilder("cosmeAgreementTermsRead", "I agree to the EU COSME program terms",
				value: "true",
				type: "checkbox",
				cls: "cosmeAgreementTermsRead",
				wrapperCls: "cosme-agreement-section",
				labelClass: "cosme-agreement-section",
				isRequired: true,
				uiEventControlID: "loan-legal:apply-for-loan-cosme-agreement"),
				origin: origin)

			@EzForm.ClickableInputTag(new EzInputBuilder("notInBankruptcy", "I have read and confirm the solvency representations and warranties",
				value: "true",
				type: "checkbox",
				cls: "notInBankruptcy",
				wrapperCls: "notInBankruptcyContainer",
				labelClass: "notInBankruptcyContainer",
				isRequired: true, specialAttributes: new Dictionary<string, string>{ {
					"readonly", "readonly"
				} },
				uiEventControlID: "loan-legal:not-in-bankruptcy"),
				origin: origin)

			<!-- label class="checkbox quick-offer-section">
				<input type="checkbox" id="directorConsentRead" class="directorConsentRead" name="directorConsentRead" value="true" ui-event-control-id="loan-legal:apply-for-loan-director" />
				I have read and agree to the directors' consent declaration
			</label -->

			<div class="loan-disclosure-text1 hide">
				<h3>Disclosure for Borrowers under Consumer Credit Act regulated Loan Agreements:</h3>
				You hereby represent and warranty that at the date of applying for and accepting this loan, you are not: (i) in a Debt Management Plan (or similar scheme) or considering entering a Debt Management Plan (or similar scheme) in the coming 12 month period; (ii) in an I.V.A or are considering entering into an I.V.A in the coming 12 month period; or (iii) bankrupt or considering filing for bankruptcy in the coming 12 month period.
			</div>
			<div class="loan-disclosure-text2 hide">
				<h3>Disclosure for Borrowers under non-regulated Loan Agreements:</h3>
				You hereby represent and warranty that at the date of applying for and accepting this loan that with respect to the Borrower: (i) no resolution has been passed, petition presented, proceedings commenced or other procedure or step for its liquidation; (ii) no procedure has been used against the Borrower to attach or take possession of any property for payment of a debt; (iii) no receiver or other similar official has been appointed in respect of any of the property of the Borrower;  (iv) no application or petition for an administration order has been made; and none of the foregoing is pending or contemplated; and (v) no director of the Company or proposed guarantor of the loan is: (A) in a Debt Management Plan (or similar scheme) or considering entering a Debt Management Plan (or similar scheme) in the coming 12 month period; (B) in an I.V.A or are considering entering into an I.V.A in the coming 12 month period; or (C) bankrupt or considering filing for bankruptcy in the coming 12 month period.
			</div>

			<div class="form_field_container"></div>

			<span class="sign-full-name hide">Signature:</span>
			@EzForm.InputTextWizard(new EzInputBuilder("signedName", "Type your full name",
				cls: "form_field",
				wrapperCls: "sign-full-name hide",
				isRequired: true,
				statusIcon: true,
				uiEventControlID: "loan-legal:signed-name"),
				origin: origin)

			<input type="hidden" name="loanAmount" id="loanAmount" />
			<input type="hidden" name="repaymentPeriod" id="repaymentPeriod" />
		</div>

		@EzForm.WizardButton(new List<EzButtonModel>{
			new EzButtonModel(null, "Next",
				cls: "btn-continue button btn-green ev-btn-org submit",
				uiEventControlID: "loan-legal:continue",
				buttonType: EzButtonType.link,
				href:"link"),
			new EzButtonModel(null, "Cancel",
				cls: "btn-back button btn-grey clean-btn",
				uiEventControlID: "loan-legal:back",
				buttonType: EzButtonType.link,
				href:"#"),

		}, origin: origin)
	}
</script>


<script id="agreement-template" type="text/template">
	<div class="simple-well clearfix">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<%_.each(templates, function (t, i){ console.log('templates', t,i);
				var active = ((i == 0) ? 'active' : '');%>
				<li class=" agreement-tab <%- active %>"><a href="#tab<%- i %>" data-toggle="tab" page-name="<%- t.TemplateTypeName %>"><%- t.Name %></a></li>
				<%});%>
			</ul>
			<div class="tab-content">
				<%_.each(templates, function (t, i){ %>

				<div class="tab-pane  <%-(i == 0) ? ' active': ''%>" id="tab<%- i %>">
					<div class="overview loan-agreement" id="<%= t.TemplateTypeName %>">
						<%= t.Template %>
					</div>
					@PrintDownload()
				</div>
				<%});%>
			</div>
		</div>
	</div>
</script>

@helper PrintDownload() {
	<div class="print-download">
		<a href="#" target="_blank" class="download pdf-link clean-btn short-btn" ui-event-control-id="loan-legal:download-agreement">Download</a>
		<a href="#" style="margin-left: 10px;" class="print print-link clean-btn short-btn" ui-event-control-id="loan-legal:print-agreement">Print</a>
	</div>
}
