@using System.Globalization
@using EzBob.Web.Infrastructure
@using ConfigManager
@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database
@model EzBob.Web.Models.WizardModel

@{
	UiCustomerOrigin.Set(ViewBag, Model.WhiteLabel == null ? null : Model.WhiteLabel.Phone);

	ViewBag.WhiteLabel = Model.WhiteLabel == null ? null : Model.WhiteLabel.Name;
	var customer = Model.Customer;
	customer.IsProfile = true;
	var currVals = CurrentValues.Instance;
	var origin = ViewBag.CustomerOrigin.GetOrigin();
}

@section css{

	@if (origin == CustomerOriginEnum.everline) {
		@BundleHelper.RenderEverlineProfileCss()
	} else {
		@BundleHelper.RenderEzbobProfileCss()
	}

	@if (Model.WhiteLabel != null) {
		<style>
			.whiteLabel {
				background-image:url(data:@Model.WhiteLabel.LogoImageType;base64,@Model.WhiteLabel.Logo);
				background-repeat: no-repeat;
				background-size: contain;
				width: @Html.Raw(Model.WhiteLabel.LogoWidthPx.ToString() + "px");
				height: @Html.Raw(Model.WhiteLabel.LogoHeightPx.ToString() + "px");
				vertical-align: middle;
				display: inline-block;
			}
		</style>
	}
}

<script id="profile-main-template" type="text/template">
	<div id="profile-main">
		<div class="clearfix">

			<div class="profile-headlines">
				<div id="message-sign" class=""></div>
				<div class="proccessing-message"></div>
			</div>

			<div class="whats-new-main" style="display: none">
				<div class="whats-new-buttons">
					<input type="button" value="Got it" class="btn-link" id="btnGotIt" ui-event-control-id="dashboard:whats-new-dismiss" />
				</div>
			</div>

			<div class="notifications"></div>
		</div>

		<div class="d-widgets clearfix"></div>

		<div class="navbar profile-menu">
			<div class="navbar-inner">
				<ul class="nav customer-dashboard-main">
					<li><a class="profile-menu-link" href="#AccountActivity" ui-event-control-id="dashboard:tab-account-acitvity"><span>Activity</span></a></li>
					<li class="divider-vertical"></li>
					<li><a class="profile-menu-link" href="#PaymentAccounts" ui-event-control-id="dashboard:tab-payment-accounts"><span>Bank details</span></a></li>
					<li class="divider-vertical"></li>
					<li class="active"><a class="profile-menu-link" href="#YourStores" ui-event-control-id="dashboard:tab-accounts"><span>Link accounts</span></a></li>
					<li class="divider-vertical"></li>
					@if (CurrentValues.Instance.EchoSignEnabledCustomer && Model.Customer.CanHaveDirectors) {
						<li><a class="profile-menu-link" href="#CompanyDirectors" ui-event-control-id="dashboard:tab-companydirectors"><span>Company directors</span></a></li>
						<li class="divider-vertical"></li>
					}
					<li><a class="profile-menu-link" href="#YourDetails" ui-event-control-id="dashboard:tab-my-information"><span>My information</span></a></li>
					<li class="divider-vertical"></li>
					<li class="settings-li"><a class="profile-menu-link" href="#Settings" ui-event-control-id="dashboard:tab-settings"><span>Account settings</span></a></li>
					@*@if (Model.Customer.Perks != null) {
							<li class="divider-vertical"></li>
							<li><a href="#Perks" ui-event-control-id="dashboard:tab-perks">Perks</a></li>
						}*@
				</ul>
			</div>
		</div>

		<div class="profile-widgets"></div>
	</div>
</script>

<div class="dashboard-steps-container"></div>
<div class="row-fluid profile-main">
	<div class="inner">
		<div id="profile-content">
			<div id="profile-main-to-be-replaced"></div>
			@if (ViewBag.CustomerOrigin.GetOrigin() == CustomerOriginEnum.alibaba) {
				<div id="review-sign-credit-line">@{ Html.RenderPartial("ReviewSignCreditLine");}</div>
			}
			<div id="get-cash"></div>
			<div id="pay-early"></div>
			<div id="loan-detail"></div>
		</div>
	</div>
</div>

@AddDirectorInfoTemplate.Render(this, ViewBag, Url.Action("AddDirector", "CustomerDetails", new { Area = "Customer" }))

@section Js
{
	<script id="d-payEarly-template" type="text/template">
		<h3>Loans</h3>
		<dl>
			<dt>Total Balance:</dt>
			<dd><%- EzBob.formatPoundsNoDecimals(TotalBalance) %></dd>
		</dl>
		<dl>
			<dt>Next Payment:</dt>
			<dd class="next-due-amount"><%- EzBob.formatPounds(NextPayment) %> <i><%- EzBob.formatDateUK(NextPaymentDate) %></i></dd>
		</dl>
		<dl>
			@if (origin == CustomerOriginEnum.everline) {
				<dt>Due:</dt>
				<dd><%- EzBob.formatDateUK(NextPaymentDate) %></dd>
			}
		</dl>
	<button class="button btn-green ev-btn-org" ui-event-control-id="dashboard:top-pay-early">Pay <%- (IsEarly ? 'early' : 'Now') %></button>
	</script>

	<script id="d-lateLoan-template" type="text/template">
		<h3>Loans</h3>
		<dl>
			<dt>Total Balance:</dt>
			<dd><%- EzBob.formatPoundsNoDecimals(TotalBalance) %></dd>
		</dl>
		<dl>
			<dt id="amount-past-due">Amount Past Due:</dt>
			<dd style="color: red;"><%- EzBob.formatPounds(TotalDue) %></dd>
		</dl>
	<button class="button btn-green pay-late ev-btn-org" ui-event-control-id="dashboard:top-pay-now">Pay Now</button>

	</script>

	<script id="d-getCash-template" type="text/template">
		<h3>Cash</h3>
		<dl>
			<dt>Available credit:</dt>
			<dd><span class="UpToTextBlock">Up to</span> <%- EzBob.formatPoundsNoDecimals(availableCredit) %></dd>
		</dl>
		<dl>
			<dt>Offer valid for:</dt>
			<dd class="offerValidFor"><%- countDown %> hrs</dd>
		</dl>

		<button class="button btn-green get-cash ev-btn-org" ui-event-control-id="dashboard:top-choose-amount">Choose amount</button>
	</script>

	<script id="d-getCash-template-late" type="text/template">
		<h3>Cash</h3>
		<dl>
			<dt>Available credit:</dt>
			<dd class="dashes">---</dd>
		</dl>
		<dl>
			<dt>Offer valid:</dt>
			<dd class="dashes">---</dd>
		</dl>
		<button rel="popover"
				data-content="To get more cash, please pay your minimum amount due."
				data-original-title="Get More Cash"
				class="button btn-green disabled get-cash clean-btn"
				ui-event-control-id="dashboard:get-more-cash">
			Get more cash
		</button>

	</script>

	<script id="d-getCash-template-apply" type="text/template">
	<h3>New loan request</h3>
	<div class="request-cash-sliders">sliders</div>
	<div class="apply-button-wrapper">
		<button href="#" class="button btn-green apply-for-loan refresh-account-help clean-btn" ui-event-control-id="dashboard:request-cash">Get funds</button>
	</div>
	<div class="hide">
		<div id="refresh-vat-return" class="hmrc-upload-ui help_window"></div>

		<div id="refresh-accounts-dlg" class="help_window">
			<h2>Please update the following accounts</h2>

			<p></p>

			<ul class="account-list"></ul>

			<p></p>

			<div class="skip-refresh-accounts-container"><a href="#" class="button btn-green skip-refresh-accounts ev-btn-org" ui-event-control-id="refresh-account:skip">Skip</a></div>

			<p></p>
		</div>

		<div id="refresh_yodlee_help" class="help_window">
			<h2>Refresh bank account</h2>
			<p>
				Please click continue button below to refresh your bank account.<br />
				You will be redirected, this will take around 30 seconds.
			</p>
			<br>
			<div class="dialogue_buttons_container">
				<a href="#" class="button btn-grey clean-btn" id="cancelYodleeBtn" onclick="$.colorbox.close();" ui-event-control-id="refresh-account:yodlee-cancel">Cancel</a>
				<a href="#" target="_blank" class="button btn-green ev-btn-org" id="refreshYodleeBtn" onclick="$.colorbox.close();" ui-event-control-id="refresh-account:yodlee">Continue</a>
			</div>
			<div class="clear"></div>
			<hr>
			<div class="help_security">@Html.Raw(UiCustomerOrigin.GetSecuritySeals(ViewBag))</div>
		</div>

		<div id="refresh_ekm_help" class="help_window">
			<h2>Update ekmpowershop account credentials</h2>
			<p>Your credentials changed, please provide new credentials below.</p>
			<p class="error" style="color: red; min-height: 32px;" id="update-ekm-error"></p>
			<br />

			@EzForm.InputTextWizard(new EzInputBuilder(
					"refresh_ekm_login",
					"ekm login",
					name: "refresh_ekm_login",
					type: "text",
					isDisabled: true,
					cls: "form_field",
					isRequired: true,
					statusIcon: false,
					specialAttributes: new Dictionary<string, string> { { "autocomplete", "off" } },
					uiEventControlID: "refresh-account:ekm_login"
				), origin: origin)

			@EzForm.InputTextWizard(new EzInputBuilder(
					"refresh_ekm_password",
					"Password",
					name: "refresh_ekm_password",
					type: "password",
					cls: "form_field",
					isRequired: true,
					statusIcon: false,
					specialAttributes: new Dictionary<string, string> { { "autocomplete", "off" } },
					uiEventControlID: "refresh-account:ekm_password"
				), origin: origin)

			<div class="form_buttons_container">
				<div class="attardi-button">
					<a href="#" class="button btn-green pull-right ev-btn-org" id="refreshEkmBtn" ui-event-control-id="refresh-account:ekm">Continue</a>
					<a href="#" class="button btn-grey pull-right clean-btn" onclick="$.colorbox.close();" ui-event-control-id="refresh-account:ekm-cancel">Cancel</a>
				</div>
			</div>
			<div class="clear"></div>
			<hr>
			<div class="help_security">@Html.Raw(UiCustomerOrigin.GetSecuritySeals(ViewBag))</div>
		</div>

		<div id="refresh_hmrc_help" class="help_window">
			<h2>Update HMRC account credentials</h2>
			<p>Your credentials changed, please provide new credentials below.</p>
			<p class="error" style="color: red; min-height: 32px;" id="update-hmrc-error"></p>
			<br />

			@EzForm.InputTextWizard(new EzInputBuilder(
					"refresh_hmrc_login",
					"User ID",
					name: "refresh_hmrc_login",
					type: "text",
					isDisabled: true,
					cls: "form_field",
					isRequired: true,
					statusIcon: false,
					specialAttributes: new Dictionary<string, string> { { "autocomplete", "off" } },
					uiEventControlID: "refresh-account:hmrc_login"
				), origin: origin)

			@EzForm.InputTextWizard(new EzInputBuilder(
					"refresh_hmrc_password",
					"Password",
					name: "refresh_hmrc_password",
					type: "password",
					cls: "form_field",
					isRequired: true,
					statusIcon: false,
					specialAttributes: new Dictionary<string, string> { { "autocomplete", "off" } },
					uiEventControlID: "refresh-account:hmrc_password"
				), origin: origin)

			<div class="form_buttons_container">
				<div class="attardi-button">
					<a href="#" class="button btn-green pull-right ev-btn-org" id="refreshHmrcBtn" ui-event-control-id="refresh-account:hmrc">Continue</a>
					<a href="#" class="button btn-grey pull-right clean-btn" onclick="$.colorbox.close();" ui-event-control-id="refresh-account:hmrc-cancel">Cancel</a>
				</div>
			</div>
			<div class="clear"></div>
			<hr>
			<div class="help_security">@Html.Raw(UiCustomerOrigin.GetSecuritySeals(ViewBag))</div>
		</div>
	</div>

	<div class="trustpilot-ezbob">
		<div class="skip">
			<h3>Rate us on Trustpilot</h3>
			<a href="#" class="trustpilot-skip" title="Skip and continue with the request." ui-event-control-id="dashboard:trustpilot-skip">
				<span class="ui-icon ui-icon-closethick">skip</span>
			</a>
		</div>
		<div class="trust-caption">
			Thank you for requesting cash,<br />
			your request is been processed.
		</div>
		<div class="rate">
			<div class="text">
				<div>Help us grow,</div>
				<div>ezbob will help</div>
				<div class="strong">your business</div>
				<div class="strong">grow too!</div>
			</div>

			<a class="image-link trustpilot-rate" href="#" title="Rate us!" ui-event-control-id="dashboard:trustpilot-rate-image">
				<img src="../../../../Content/img/trustpilot.png" alt="Rate us!" />
			</a>
		</div>
		<div class="rate">
			<a class="text-link trustpilot-rate" href="#" title="Rate us!" ui-event-control-id="dashboard:trustpilot-rate-text">Write a review</a>
		</div>
	</div>
</script>

	<script id="processing-message-template" type="text/template">
		<h2 class="header-message <%- cls %>"><%= Message %></h2>
	</script>

	<script id="d-getCash-template-wait" type="text/template">
		<h3>Cash</h3>
		<dl>
			<dt>Available credit:</dt>
			<dd class="under-review">Under Review</dd>
		</dl>
		<dl>
			<dt>Offer valid:</dt>
			<dd class="dashes">---</dd>
		</dl>
		<button class="button btn-green choose-amount-wait disabled clean-btn" ui-event-control-id="dashboard:choose-amount-wait">
			Choose amount
		</button>
	</script>

	<script id="d-getCash-template-bad" type="text/template">
		<h3>Cash</h3>
		<dl>
			<dt>Available credit:</dt>
			<dd class="dashes">---</dd>
		</dl>
		<dl>
			<dt>Offer valid:</dt>
			<dd class="dashes">---</dd>
		</dl>
		<button class="button btn-green apply-for-loan disabled clean-btn" ui-event-control-id="dashboard:choose-amount-bad">
			Choose amount
		</button>
	</script>

	<div class="modal" id="payEarly-modal" style="display: none;">
		<div class="modal-header">
			<button class="close" data-dismiss="modal" ui-event-control-id="pay-early-modal:x">×</button>
			<h3>Information</h3>
		</div>
		<div class="modal-body">
			<p>Your don't have any loan to repay</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn-back" data-dismiss="modal" ui-event-control-id="pay-early-modal:dismiss">Close</a>
		</div>
	</div>

	<script id="sign-template" type="text/template">
		<div class="<%-color%>-sign pull-right">
			<a href="#" ui-event-control-id="sign-template:link"><%=text%></a>
		</div>
	</script>

	<script id="sign-welcome-template" type="text/template">
		<div class="welcome-sign"><%= text %></div>
	</script>

	@{
		Html.RenderPartial("AmazonStoreInfo");
		Html.RenderPartial("StoreButton");
		Html.RenderPartial("_CompanyDetails");
		Html.RenderPartial("BankAccountInstructions");
		Html.RenderPartial("ApplyForLoanTopTemplate");
		Html.RenderPartial("PayEarlyTemplate");
		Html.RenderPartial("AccountActivityTemplate");
		Html.RenderPartial("LoanDetailsTemplate");
		Html.RenderPartial("PaymentAccountsTemplate");
		Html.RenderPartial("StoresTemplate");
		Html.RenderPartial("SettingsTemplate");
		Html.RenderPartial("_YourInfo");
		Html.RenderPartial("StoreInfoMain");
		Html.RenderPartial("CompanyDirectorsTemplate");
		Html.RenderPartial("PerksTemplate");
		Html.RenderPartial("../Shared/Profile/_PayPointCardSelectViewTemplate");
		Html.RenderPartial("Shops/EKMAccoutInfoTemplate");
		Html.RenderPartial("Shops/YodleeAccoutInfoTemplate");
		Html.RenderPartial("Shops/PayPointAccoutInfoTemplate");
		Html.RenderPartial("Shops/CGAccountInfoTemplate");
		Html.RenderPartial("Shops/HMRCAccountInfoTemplate");
		Html.RenderPartial("Shops/HMRCUploadAccountInfoTemplate");
		Html.RenderPartial("Shops/CompanyFilesAccountInfoTemplate");
		Html.RenderPartial("Shops/YodleeUploadAccountInfoTemplate");
		Html.RenderPartial("../Shared/Profile/ProcessingAutomationPopupTemplate");
	}

	@EditExperianDirectorData.Render(this)

	<script type="text/javascript">
	EzBob.Config.GetCashSliderStep = @currVals.GetCashSliderStep.Value;
	EzBob.Config.MinLoan = @currVals.MinLoan.Value;
	EzBob.Config.XMinLoan = @currVals.XMinLoan.Value;
	EzBob.Config.NumofAllowedActiveLoans = @currVals.NumofAllowedActiveLoans.Value;
	EzBob.Config.PayPalEnabled = @currVals.PayPalEnabled.Value.ToLower();
	EzBob.Config.ShowChangePasswordPage = @ViewData["ShowChangePasswordPage"].ToString().ToLower();
	EzBob.Config.TargetsEnabledEntrepreneur = @currVals.TargetsEnabledEntrepreneur.Value.ToLower(CultureInfo.InvariantCulture);
	EzBob.Config.MarketPlaces = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["MarketPlaces"]));
	EzBob.Config.MarketPlaceGroups = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["MarketPlaceGroups"]));
	EzBob.Config.SessionTimeout = @currVals.SessionTimeout.Value;
	EzBob.Config.CaptchaMode = '@currVals.CaptchaMode.Value';

	EzBob.Config.EchoSignEnabledCustomer = @(currVals.EchoSignEnabledCustomer ? "true" : "false");
	EzBob.Config.WizardAutomationTimeout = @currVals.WizardAutomationTimeout.Value;
	@{
			OneUploadLimitation oHmrcOul = CurrentValues.Instance.GetUploadLimitations("HmrcController", "SaveFile");
			OneUploadLimitation oComanyFilesOul = CurrentValues.Instance.GetUploadLimitations("CompanyFilesMarketPlaces", "UploadedFiles");
		}

	EzBob.Config.HmrcMaxFileSize = +(@oHmrcOul.FileSize / 1048576.0).toFixed(2);
	EzBob.Config.HmrcAcceptedFiles = '@oHmrcOul.AcceptedFiles';

	EzBob.Config.CompanyFilesMaxFileSize = +(@oComanyFilesOul.FileSize / 1048576.0).toFixed(2);
	EzBob.Config.CompanyFilesAcceptedFiles = '@oComanyFilesOul.AcceptedFiles';

	$(function() {
		@{
                string wizardComplete = "false";

                if (ViewData["WizardComplete"] != null)
                {
                    wizardComplete = ViewData["WizardComplete"].ToString().ToLower();
                    ViewData["WizardComplete"] = false;
                }
			}

		var finishedWizard = @wizardComplete;

		var options = new EzBob.CustomerModel(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(customer)));
		options.createdInProfile = true;
		options.isFinishedWizard = finishedWizard;

		var profileView = new EzBob.Profile.ProfileView(options);
		profileView.render();

		var notifications = new EzBob.NotificationsView({ el: $('.notifications') });
		notifications.render();

		var whatsNew = new EzBob.WhatsNewView({ el: $('.whats-new-main') });
		whatsNew.render();

		new EzBob.LiveChat.LiveChatRouter();

		Backbone.history.start();
	});
	</script>

	@BundleHelper.RenderProfileJs()
}
