@using EzBob.Web.Infrastructure
@using StructureMap
@model EzBob.Web.Models.WizardModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
    bool taboolaPixelEnabled = config.TaboolaPixelEnabled;
    var customer = Model.Customer;
    customer.IsProfile = true;
}

@section css {
    @BundleHelper.RenderProfileCss()
}

@helper ProfileMain()
{
    <div id="profile-main">
        <div class="clearfix">
            <div class="cart-logo @{ if (Model.Customer.Medal != null)
                                     { @Model.Customer.Medal.ToLower()}}-cart">
            </div>
            <div class="profile-headlines">
                <div id="message-sign" class=""></div>
                <h1 style="margin-top: -10px;">My Account</h1>
                @{
                    var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
                    bool ebayPixelEnabled = config.EbayPixelEnabled;
                    if (ebayPixelEnabled)
                    {
                    <img src="https://ad-emea.doubleclick.net/activity;dc_pixel_url=rmboom;rm=ezbobfinishedwizard;ord='<%- orddb %>'?" width="1" height="1" border="0" alt="" />
                    }
                }
                <div class="proccessing-message"></div>
            </div>
            <div class="whats-new-main notification_lightblue" style="display: none">
                <div class="whats-new-buttons">
                    <input type="button" value="Got it" class="btn-link" id="btnGotIt" />
                </div>
            </div>
            <div class="notifications"></div>
        </div>

        <div class="d-widgets clearfix">
        </div>

        <div class="navbar profile-menu">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="#AccountActivity">Account Activity</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#YourStores">Accounts</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#PaymentAccounts">Payment Accounts</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#YourDetails">My Information</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#Settings">Settings</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#InviteFriend">Refer A Friend</a></li>
                    @if (Model.Customer.Perks != null)
                    {
                        <li class="divider-vertical"></li>
                        <li><a href="#Perks">Perks</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="profile-widgets">
        </div>
    </div>
}

<script id="profile-main-template" type="text/template">
    @ProfileMain()
</script>

<div id="profile-content">
    <div id="profile-main-to-be-replaced"></div>
    <div id="get-cash"></div>
    <div id="pay-early"></div>
    <div id="loan-detail"></div>
</div>

@section Js
{
    <script id="d-payEarly-template" type="text/template">
        <h3>Loans</h3>
        <dl>
            <dt>Total Balance:
            </dt>
            <dd><%-EzBob.formatPoundsNoDecimals(TotalBalance)%>
            </dd>
            <dt>Next Payment:
            </dt>
            <dd class="next-due-amount"><%-EzBob.formatPounds(NextPayment)%> <i><%-EzBob.formatDate(NextPaymentDate)%></i>
            </dd>
        </dl>
        <% var paymentSuffix = IsEarly ? "Early" : "Now" %>
            <button class="button orange">Pay <%=paymentSuffix%></button>
    </script>

    <script id="d-lateLoan-template" type="text/template">
        <dl>
            <dt>Total Balance:
            </dt>
            <dd><%-EzBob.formatPoundsNoDecimals(TotalBalance)%>
            </dd>
            <dt style="line-height: 14px;">Amount Past Due:
            </dt>
            <dd style="color: red;"><%-EzBob.formatPounds(TotalDue)%>
            </dd>
        </dl>
        <button class="button orange pay-late">Pay Now</button>
    </script>

    <script id="d-getCash-template" type="text/template">
        <h3>Cash</h3>
        <dl>
            <dt>Available Credit:
            </dt>
            <dd>
                <span class="UpToTextBlock">Up to</span> <%-EzBob.formatPoundsNoDecimals(availableCredit)%>
            </dd>
            <dt>Offer Valid for:
            </dt>
            <dd class="offerValidFor"><%-countDown%> hrs
            </dd>
        </dl>

        <button class="button orange get-cash">Choose Amount</button>
    </script>

    <script id="d-getCash-template-late" type="text/template">
        <dl>
            <dt>Available Credit:
            </dt>
            <dd class="dashes">---
            </dd>
            <dt>Offer Valid:
            </dt>
            <dd class="dashes">---
            </dd>
        </dl>
        <button
            rel="popover"
            data-content="To get more cash, please pay your minimum amount due."
            data-original-title="Get More Cash"
            class="button orange disabled get-cash">
            Get More Cash
        </button>
    </script>

    <script id="d-getCash-template-apply" type="text/template">
        <h3>Cash</h3>
        <dl>
            <dt>Available Credit:
            </dt>
            <dd class="dashes">---
            </dd>
            <dt>Offer Valid:
            </dt>
            <dd class="dashes">---
            </dd>
        </dl>
        <button href="#" class="button orange apply-for-loan refresh_yodlee_help refresh_ekm_help" ui-event-control-id="dashboard:request-cash">Request Cash</button>

        <div class="hide">
            <div id="refresh_yodlee_help" class="help_window">
                <h2>Refresh bank account</h2>
                <p>
                    Please click continue button below to refresh your bank account.
                <br />
                    You will be redirected, this will take around 30 seconds.
                </p>
                <br>
                <div class="alignright" style="padding: 0 10px 0 0;">
                    <a href="#" target="_blank" class="button orange pull-right" id="refreshYodleeBtn" onclick="$.colorbox.close();">Continue</a>
                    <a href="#" class="button grey pull-right" id="cancelYodleeBtn" onclick="$.colorbox.close();">Cancel</a>
                </div>
                <div class="clear"></div>
                <hr>
                <div class="help_security"></div>
            </div>

            <div id="refresh_ekm_help" class="help_window">
                <h2>Update ekmpowershop account credentials</h2>
                <p>Your credentials changed, please provide new credentials below.</p>
                <p class="error" style="color: red; min-height: 32px;" id="update-ekm-error"></p>
                <br />
                @EzForm.InputText("refresh_ekm_login", "ekm login", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "refresh-account:ekm_login")
                @EzForm.Password("refresh_ekm_password", "ekm password", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "refresh-account:ekm_password")

                <div class="form_buttons_container">
                    <div class="attardi-button">
                        <a href="#" class="button orange pull-right" id="refreshEkmBtn" onclick="updateEkm();">Continue</a>
                        <a href="#" class="button grey pull-right" id="cancelEkmBtn" onclick="$.colorbox.close();">Cancel</a>
                    </div>
                </div>
                <div class="clear"></div>
                <hr>
                <div class="help_security"></div>
            </div>
        </div>

		<div class="trustpilot-ezbob hide" title="Rate us on Trust Pilot and get &pound;25 off on the next loan!">
			<div class="rate"><a class="trustpilot-rate" href="#" title="Rate us!" ui-event-control-id="dashboard:trustpilot-rate"><img src="../../../../Content/img/trustpilot-ezbob.png" alt="Rate us!" />Rate us!</a></div>
			<div class="skip"><a href="#" class="trustpilot-skip" title="Skip and continue with the request." ui-event-control-id="dashboard:trustpilot-skip">Skip</a></div>
		</div>
    </script>

    <script id="processing-message-template" type="text/template">
        <h2 class="header-message <%-cls%>"><%=Message%></h2>
    </script>

    <script id="d-getCash-template-wait" type="text/template">
        <h3>Cash</h3>
        <dl>
            <dt>Available Credit:
            </dt>
            <dd style="font-weight: bold; font-size: 13px; text-align: center;">Under Review
            </dd>
            <dt>Offer Valid:
            </dt>
            <dd class="dashes">---
            </dd>
        </dl>
        <button
            class="button orange disabled">
            Choose Amount
        </button>
    </script>

    <script id="d-getCash-template-bad" type="text/template">
        <h3>Cash</h3>
        <dl>
            <dt>Available Credit:
            </dt>
            <dd style="font-weight: bold; font-size: 13px; text-align: center;">None
            </dd>
            <dt>Offer Valid:
            </dt>
            <dd class="dashes">---
            </dd>
        </dl>
        <button
            class="button orange apply-for-loan disabled">
            Choose Amount
        </button>
    </script>

    <div class="modal" id="payEarly-modal" style="display: none;">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Information</h3>
        </div>
        <div class="modal-body">
            <p>Your don't have any loan to repay</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn-back" data-dismiss="modal">Close</a>
        </div>
    </div>

    <script id="sign-template" type="text/template">
        <div class="<%-color%>-sign pull-right">
            <a href="#"><%=text%></a>
        </div>
    </script>

    <script id="sign-welcome-template" type="text/template">
        <div class="welcome-sign pull-right">
            <%=text%>
        </div>
    </script>

    @{Html.RenderPartial("EbayStoreInfo");}
    @{Html.RenderPartial("AmazonStoreInfo");}
    @{Html.RenderPartial("StoreButton");}
    @{Html.RenderPartial("PayPalInstructions");}
    @{Html.RenderPartial("_CompanyDetails");}
    @{Html.RenderPartial("BankAccountInstructions");}
    @{Html.RenderPartial("ApplyForLoanTopTemplate");}
    @{Html.RenderPartial("PayEarlyTemplate");}
    @{Html.RenderPartial("AccountActivityTemplate");}
    @{Html.RenderPartial("LoanDetailsTemplate");}
    @{Html.RenderPartial("PaymentAccountsTemplate");}
    @{Html.RenderPartial("StoresTemplate");}
    @{Html.RenderPartial("SettingsTemplate");}
    @{Html.RenderPartial("_ProfileSummary");}
    @{Html.RenderPartial("_YourInfo");}
    @{Html.RenderPartial("StoreInfoMain");}
    @{Html.RenderPartial("PayPalInstructions");}
    @{Html.RenderPartial("InviteFriendTemplate");}
    @{Html.RenderPartial("PerksTemplate");}
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/Profile/_PayPointCardSelectViewTemplate.cshtml");}
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/Shops/EKMAccoutInfoTemplate.cshtml");}
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/Shops/YodleeAccoutInfoTemplate.cshtml");}
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/Shops/PayPointAccoutInfoTemplate.cshtml");}
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/Shops/CGAccountInfoTemplate.cshtml");}
    @{Html.RenderPartial("~/Areas/Customer/Views/Shared/Shops/HMRCAccountInfoTemplate.cshtml");}

    <script type="text/javascript">

        EzBob.Config.GetCashSliderStep = @Model.Config.GetCashSliderStep.ToString();
        EzBob.Config.MinLoan = @Model.Config.MinLoan.ToString();
        EzBob.Config.XMinLoan = @Model.Config.XMinLoan.ToString();
        EzBob.Config.PayPalEnabled = @Model.Config.PayPalEnabled.ToString().ToLower();
        EzBob.Config.ShowChangePasswordPage = @ViewData["ShowChangePasswordPage"].ToString().ToLower();
        EzBob.Config.MarketPlaces = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["MarketPlaces"]));
        EzBob.Config.MarketPlaceGroups = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["MarketPlaceGroups"]));
        EzBob.Config.SessionTimeout = @Model.Config.SessionTimeout;

        $(function() {

            var options = new EzBob.CustomerModel(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(customer)));
            var profileView = new EzBob.Profile.ProfileView(options);
            profileView.render();

            var notifications = new EzBob.NotificationsView({ el: $('.notifications') });
            notifications.render();

            var whatsNew = new EzBob.WhatsNewView({ el: $('.whats-new-main') });
            whatsNew.render();

            var r = new EzBob.LiveChat.LiveChatRouter();

            Backbone.history.start();

        });

        function updateEkm() {
            $("#update-ekm-error").html('');
            BlockUi('on');
            var url = "" + window.gRootPath + "Customer/EkmMarketPlaces/Update";
            $.post(url, { name: $('#refresh_ekm_login').val(), password: $('#refresh_ekm_password').val() })
                .done(function(res) {
                    if (res.error) {
                        $("#update-ekm-error").html(res.error);
                    }
                    if (res.success) {
                        $.colorbox.close();
                        $('button.apply-for-loan').click();
                    }
                }).always(function() {
                    BlockUi('off');
                });
        }
    </script>

    @BundleHelper.RenderProfileJs()


}

@section head
{
    @if (taboolaPixelEnabled)
    {
        @TaboolaPixel()
    }
}

@helper TaboolaPixel()
{
    <script>
        window._tfa = window._tfa || [];
        _tfa.push({ notify: "action", name: " successful_ conversion" });
    </script>
    <script src="//cdn.taboola.com/libtrc/ezbobsc/tfa.js"></script>
}