@using EzBob.Models
@model dynamic

@{
	var url = string.Format(
		"{0}://{1}{2}?invite={3}",
		Request.Url.Scheme,
		Request.Url.Authority,
		Url.Content("~"),
		Model.Customer.InviteFriendSource
	);

	string summary = @"I would like to recommend you to " + ViewBag.Origin + @" a financial provider of working capital to small businesses to help them grow.
You can sign up and get as much as £100,000 in within 30 minutes for up to 12 months. Sign up is fast, free, with no paperwork and there is no obligation to take the funds. Once you complete the application you get an instant decision, but you can decide to take the amount you need whenever you need it.
See how much funds you qualify for today. If you qualify and take the funds, you get £100 deposited to your bank account.
please click here: {0} to be directed to " + ViewBag.Origin + @" and see how much you qualify for.
if you need more information please visit " + ViewBag.Origin + @" site or contact customer care.
Join today.
The " + ViewBag.Origin + " team";

	//var encodedSummary = Uri.EscapeDataString(summary);
	var text = string.Format(summary, @url);
	var encodedSummary = Uri.EscapeDataString(text);
	string urlEncoded = Uri.EscapeDataString(url);
	string subject = Uri.EscapeDataString("Join " + ViewBag.Origin + " and get £100 deposited to your bank account");
	string utImageUrl = "http://www.ezbob.com/wp-content/uploads/ezbob_logo.jpg";
	var customer = (CustomerModel)Model.Customer;
}

<script id="invite-friend-template" type="text/template">
	<h2>Refer a small business to <span class="bold">@ViewBag.Origin</span> and both you and your friend can get £100!</h2>

	<p>
		Help your friends grow their small business with up to £100,000 in <span class="bold">@ViewBag.Origin</span>
		instant funds. Refer them to <span class="bold">@ViewBag.Origin</span> and you will earn £100 for each
		business that signs up and takes a loan. The small business that you refer
		will also receive £100 when they sign up and take the funds. There is
		no limit to the number of referrals you can send or the amount of cash you can 
		receive.
	</p>

	<h2>Two easy ways to refer a friend:</h2>

	<ol>
		<li>Invite By email</li>
		<li>Post to social networks</li>
	</ol>

	<div class="row-fluid">
		<button class="button btn-green pull-right inviteFriendHelp" ui-event-control-id="invite-friend:refer">Refer A Friend</button>
	</div>

	@if (customer.InvitedFriends != null && customer.InvitedFriends.Any()) {
		<div style="margin-top: 10px">
			<table class="table">
				<thead>
					<tr>
						<th>Registered Friend</th>
						<th>Took a loan</th>
					</tr>
				</thead>
				<tbody>
					@foreach (InvitedFriend friend in Model.Customer.InvitedFriends) {
						<tr>
							<td class="first">@friend.FriendName</td>
							<td class="last">@friend.FriendTookALoan</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}

	<div class="hide">
		<div id="inviteFriendHelp" class="help_window">
			<h2>Refer a friend and get £100</h2>
			<p>
				To refer by email please copy the text to your email client or click the "Send" button.<br />
				To post to social networks please click the social icons.
			</p>
			<br />

			<div style="position: relative;">
				<textarea class="invite_friend" onclick="this.focus(); this.select()" ui-event-control-id="invite-friend:text">@text</textarea>

				<p class="share-on">share on</p>

				<a
					href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=@subject&p[summary]=@encodedSummary&p[url]=@urlEncoded&p[images][0]=@utImageUrl"
					class="fb-icon"
					target="_blank"
					title="Share on facebook"
					ui-event-control-id="invite-friend:facebook"
				></a>

				<div class="buttons_container invite_friend_buttons">
					<a
						href="mailto:?subject=@subject&body=@encodedSummary"
						target="_blank"
						class="button btn-green pull-right"
						id="inviteFriendBtn"
						onclick="$.colorbox.close();"
						title="Send email"
						ui-event-control-id="invite-friend:email"
					>Send</a>

					<button class="button btn-grey pull-right" id="cancelInviteFriendBtn" onclick="$.colorbox.close();" ui-event-control-id="invite-friend:cancel">Cancel</button>
				</div>
			</div>
			<hr>
			<div class="help_security"></div>
		</div>
	</div>
</script>
