@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
	CustomerOriginEnum origin = ViewBag.CustomerOrigin.GetOrigin();
}
<script id="loan-details-template" type="text/template">
	<% 
		var rollovers = rollovers || [];
		var payButtonName = "Make payment";

		var hasRolover = rollovers && rollovers.length > 0;

		if (hasRolover)
			payButtonName = "Pay roll over";
		else if ((loan.Status == 'Live') && loan.IsEarly)
			payButtonName = "Pay early";
		else if ((isLate && !hasRolover) || !loan.IsEarly)
			payButtonName = "Pay now";
	 %>

	<h2 class="loan-details-title">Loan details</h2>
	<div style="padding-left: 0; padding-bottom: 30px;">
		<div class="dashboard-frame simple-well loan-details-well">
			<%
			var address,
			type = customer.BusinessTypeReduced,
			companyName = '',
			isLate = loan.Status == 'Late';
			switch(type){
			case 'Personal':
			address = customer.PersonalAddress.toJSON()[0];
			break;

			case 'Limited':
			address = customer.CompanyAddress.toJSON()[0];
			companyName = 'LIMITED company name<br />'; // customer.LimitedInfo.LimitedCompanyName || '' + "<br />";
			break;

			case 'NonLimited':
			address =  customer.CompanyAddress.toJSON()[0];
			companyName = 'NON LIMITED company name<br />'; // customer.NonLimitedInfo.NonLimitedCompanyName  || '' + "<br />";
			break;
			}
			%><table style="width: 100%;">
				<tr>
					<td class="caption">Date:</td>
					<td class="value"><%- EzBob.formatDateHumanFullUK(loan.Date) %> </td>
				</tr>
				<tr>
					<td class="caption">Name:</td>
					<td class="value"><%- customer.CustomerPersonalInfo.FirstName %> <%- customer.CustomerPersonalInfo.Surname %></td>
				</tr>
				<%if(address) {%>
				<tr>
					<td class="caption">Address:</td>
					<td class="value">
						<%- address.Line1 || '' %>
						<%- address.Line2 || '' %>
						<%- address.Town || '' %>
						<%- address.Postcode || '' %>
					</td>
				</tr>
				<%}%>
				<tr>
					<td class="caption">Loan reference:</td>
					<td class="value"><%- loan.RefNumber || '' %></td>
				</tr>
			</table>
		</div>
	</div>

	<h2 id="loan-summary">Loan summary</h2>
	<div class="simple-well loan-summary-well">
		<div class="row-fluid form-horizontal loan-details">
			<div class="span4">
				<dl>
					<dt>Loan amount:</dt>
					<dd><%-EzBob.formatPoundsWidhDash(loan.LoanAmount)%></dd>

					<dt>Origination date:</dt>
					<dd><%- EzBob.formatDateUK(loan.Date) %> </dd>

					<dt>Interest rate:</dt>
					<dd><%- EzBob.formatPercents(loan.InterestRate) %></dd>

					<% if (isLate) { %>
					<dt>Late balance:</dt>
					<dd><%- EzBob.formatPounds(loan.Late) %></dd>
					<% } %>
				</dl>
			</div>

			<div class="span1">&nbsp;</div>

			<div class="span4">
				<dl>
					<dt>Open balance:</dt>
					<dd><%-EzBob.formatPounds(loan.TotalBalance)%></dd>

					<% if (area !='Underwriter') { %>
					<dt>Loan status:</dt>
					<dd class="status<%-loan.Status%>"><%- loan.Status %></dd>
					<% } %>

					<dt>Total paid:</dt>
					<dd><%- EzBob.formatPounds(loan.Repayments) %></dd>

					<dt>Setup fee:</dt>
					<dd><%- EzBob.formatPounds(loan.SetupFee) %></dd>
				</dl>
			</div>
			
			@if (origin != CustomerOriginEnum.everline) {
				<div class="span3">
					<% if ((loan.Status == 'Live') || (loan.Status == 'Late')) { %>
						<a href="#PayEarly/<%- loan.Id %>" class="btn-continue button btn-green clean-btn pay-early clean-btn" ui-event-control-id="dashboard:pay-early"><%= payButtonName %></a>
					<% } %>
				</div>
			}
		</div>
	</div>

	@if (origin == CustomerOriginEnum.everline) {
		<div class="buttons_container">
			<% if ((loan.Status == 'Live') || (loan.Status == 'Late')) { %>
			<a href="#PayEarly/<%- loan.Id %>" class="btn-continue button btn-green clean-btn pay-early clean-btn" ui-event-control-id="dashboard:pay-early"><%= payButtonName %></a>
			<% } %>
		</div>
	}
	
	<h2 style="margin-bottom: 10px;">Payment schedule</h2>

	<table class="table payment-schedule-table">
		<thead>
			<tr>
				<th></th>
				<th>Due date</th>
				<th>Principal</th>
				<th>Interest</th>
				<th>Fees</th>
				<th>Rebate</th>
				<th>Total</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<%
			_.each(pacnetTransactions, function(transaction, i) {
			%>
			<tr>
				<td>
					<img style="width: 24px; height: 24px" src='@Url.Content("~/Content/" + (origin == CustomerOriginEnum.everline ? "everline/draw-down-icon.svg" : "img/payment-to-customer.png"))' alt="" />
				</td>
				<td><%- EzBob.formatDateHumanFullUK(transaction.PostDate)  %></td>
				<td><%- EzBob.formatPoundsWidhDash(transaction.Amount) %></td>
				<td><%- EzBob.formatPoundsWidhDash(transaction.Interest) %></td>
				<td><%- EzBob.formatPoundsWidhDash(transaction.Fees) %></td>
				<td><%- EzBob.formatPoundsWidhDash(0) %></td>
				<td class="green-text"><%- EzBob.formatPoundsWidhDash(transaction.Amount) %></td>
				<td><%- transaction.StatusDescription %></td>
			</tr><%
			});

			_.each(transactions, function(transaction, i) {
			if (transaction.StatusDescription != 'Error') {
			%>
			<tr>
				<td><img height="31" src='@Url.Content("~/Content/" + (origin == CustomerOriginEnum.everline ? "everline/repay-complete-icon.svg" : "img/wizard-mark-completed.png"))' alt="" /></td>
				<td><%- EzBob.formatDateHumanFullUK(transaction.PostDate) %></td>
				<td><%- EzBob.formatPoundsWidhDash(transaction.LoanRepayment) %></td>
				<td><%- EzBob.formatPoundsWidhDash(transaction.Interest) %></td>
				<td><%- EzBob.formatPoundsWidhDash(transaction.Fees + transaction.Rollover) %></td>
				<td><%- EzBob.formatPoundsWidhDash(0) %></td>
				<td class="green-text"><%- EzBob.formatPoundsWidhDash(transaction.Amount) %></td>
				<td><%- transaction.StatusDescription %></td>
			</tr><%
			}
			});

			_.each(rollovers, function(rollover, i) {
			%>
			<tr>
				<td><img height="31" src='@Url.Content("~/Content/" + (origin == CustomerOriginEnum.everline ? "everline/rollover-icon.svg" : "img/two_arrows.png"))' alt="" /></td>
				<td><%- EzBob.formatDateHumanFullUK(rollover.ExperyDate)  %></td>
				<td></td>
				<td></td>
				<td><%- EzBob.formatPoundsWidhDash(rollover.Payment) %></td>
				<td></td>
				<td></td>
				<td>Roll Over</td>
			</tr><%
			});

			_.each(charges, function(charge, i) {
			if ( charge.State !== 'Paid' && charge.State !== 'Expired' && charge.IsServiceFee != 'yes' ) {
			%>
			<tr>
				<td><img height="31" src='@Url.Content("~/Content/" + (origin == CustomerOriginEnum.everline ? "everline/repay-icon.svg" : "img/calendarx32.png"))' alt="" /></td>
				<td><%- EzBob.formatDateHumanFullUK(charge.Date) %></td>
				<td></td>
				<td></td>
				<td><%- EzBob.formatPoundsWidhDash(charge.Amount) %></td>
				<td></td>
				<td></td>
				<td><%- charge.State %></td>
			</tr><%
			}
			});

			_.each(schedule, function(item, i) {
			if ((item.Status !== 'PaidEarly') && (item.Status !== 'PaidOnTime') && (item.Status !== 'Paid')) {
			var late = item.Status === 'Late';
			var styleForLate = late ? "hm_red" : "";
			var urlImage = item.Status === 'Late' ? "@Url.Content("~/Content/" + (origin == CustomerOriginEnum.everline ? "everline/repay-error-icon.svg" : "img/calendar-late.png"))" : "@Url.Content("~/Content/" + (origin == CustomerOriginEnum.everline ? "everline/repay-icon.svg" : "img/calendarx32.png"))";

			%>
			<tr data-scheduleid="<%- item.Id %>">
				<td><img src="<%-urlImage%>"></td>
				<td><%- EzBob.formatDateHumanFullUK(item.Date) %></td>
				<td class='<%-styleForLate%>'><%-EzBob.formatPoundsWidhDash(item.LoanRepayment)%></td>
				<td class='<%-styleForLate%>'><%-EzBob.formatPoundsWidhDash(item.Interest)%></td>
				<td class='<%-styleForLate%>'><%-EzBob.formatPoundsWidhDash(item.Fees + item.LateCharges)%></td>
				<td class='<%-styleForLate%>'><%- EzBob.formatPoundsWidhDash(0) %></td>
				<td class='<%-styleForLate%> green-text'><%-EzBob.formatPoundsWidhDash(item.AmountDue)%></td>
				<td class='<%-styleForLate%>'>
					<%-item.StatusDescription == 'AlmostPaid' ? 'Open' : item.StatusDescription%>
					<% if(late) {
					%><br /><span class="late-installment-tip">See Late Balance above</span><%
					} %>
				</td>
			</tr><%
			}
			});
			%>
		</tbody>
	</table>

	<h2 id="loan-agreement">Loan agreement</h2>
	<div class="simple-well">
		<div class="row-fluid form-horizontal loan-agreements">
			<ul>
				<%
				_.each(loan.Agreements, function(item, i){
				%>
				<li>
					<a href="@Url.Action("Download", "Agreements", new { Area = "" })/<%=item.Id%>" class="clean-btn" ui-event-control-id="dashboard:download-agreements">
						<i class="pe-7s-file"></i>
						<%=item.Name%>

					</a>
				</li>
				<% }); %>
			</ul>
		</div>
	</div>

	<%if (area != 'Underwriter') {%>
	<div class="buttons_container">
		<a class="btn-back button btn-grey ev-btn-org" style="margin-bottom:10px;" href="#AccountActivity" ui-event-control-id="dashboard:loan-details-back">Back</a>
	</div>
	<%}%>
</script>
