@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
	CustomerOriginEnum origin = ViewBag.CustomerOrigin.GetOrigin();
	bool isEverline = origin == CustomerOriginEnum.everline;
}
<script id="loan-details-template" type="text/template">
	<% 
		var rollovers = rollovers || [];
		var payButtonName = "Make Payment";

		var hasRolover = rollovers && rollovers.length > 0;

		if (hasRolover)
			payButtonName = "Pay Roll Over";
		else if ((loan.Status == 'Live') && loan.IsEarly)
			payButtonName = "Pay Early";
		else if ((isLate && !hasRolover) || !loan.IsEarly)
			payButtonName = "Pay Now";
	 %>

	<h2 class="loan-details-title">Loan Details</h2>
	<div style="padding-left: 0; padding-bottom: 30px;">
		<div class="dashboard-frame simple-well loan-details-well">
			<%
			var address,
			type = customer.BusinessTypeReduced,
			companyName = '',
			isLate = loan.Status == 'Late';
			switch(type){
			case 'Personal':
			address = customer.PersonalAddress.toJSON()[0];
			break;

			case 'Limited':
			address = customer.CompanyAddress.toJSON()[0];
			companyName = 'LIMITED company name<br />'; // customer.LimitedInfo.LimitedCompanyName || '' + "<br />";
			break;

			case 'NonLimited':
			address =  customer.CompanyAddress.toJSON()[0];
			companyName = 'NON LIMITED company name<br />'; // customer.NonLimitedInfo.NonLimitedCompanyName  || '' + "<br />";
			break;
			}
			%><table style="width: 100%;">
				<tr>
					<td class="caption">Date:</td>
					<td class="value"><%- EzBob.formatDateHumanFullUK(loan.Date) %> </td>
				</tr>
				<tr>
					<td class="caption">Name:</td>
					<td class="value"><%- customer.CustomerPersonalInfo.FirstName %> <%- customer.CustomerPersonalInfo.Surname %></td>
				</tr>
				<%if(address) {%>
				<tr>
					<td class="caption">Address:</td>
					<td class="value">
						<%- address.Line1 || '' %>
						<%- address.Line2 || '' %>
						<%- address.Town || '' %>
						<%- address.Postcode || '' %>
					</td>
				</tr>
				<%}%>
				<tr>
					<td class="caption">Loan Reference#:</td>
					<td class="value"><%- loan.RefNumber || '' %></td>
				</tr>
			</table>
		</div>
	</div>

	<h2 id="loan-summary">Loan Summary</h2>
	<div class="simple-well loan-summary-well">
		<div class="row-fluid form-horizontal loan-details">
			<div class="span4">
				<dl>
					<dt>Loan Amount:</dt>
					<dd><%-EzBob.formatPoundsWidhDashUK(loan.LoanAmount)%></dd>

					<dt>Origination Date:</dt>
					<dd><%- EzBob.formatDateUK(loan.Date) %> </dd>

					<dt>Interest Rate:</dt>
					<dd><%- EzBob.formatPercents(loan.InterestRate) %></dd>
					@if (isEverline) {
							<dt>Loan APR:</dt>
							<dd><%- loan.APR %> %</dd>
						}

					<% if (isLate) {
					%>
					<dt>Late Balance:</dt>
					<dd><%- EzBob.formatPoundsUK(loan.Late) %></dd><%
					} %>
				</dl>
			</div>

			<div class="span1">&nbsp;</div>

			<div class="span4">
				<dl>
					<dt>Open Balance:</dt>
					<dd><%-EzBob.formatPoundsUK(loan.TotalBalance)%></dd>

					<% if (area !='Underwriter') {
					%>
					<dt>Loan Status:</dt>
					<dd class="status<%-loan.Status%>"><%- loan.Status %></dd><%
					} %>

					<dt>Total Paid:</dt>
					<dd><%- EzBob.formatPoundsUK(loan.Repayments) %></dd>

					<dt>Setup Fee:</dt>
					<dd><%- EzBob.formatPoundsUK(loan.SetupFee) %></dd>
				</dl>
			</div>
			
			@if (origin != CustomerOriginEnum.everline) {
				<div class="span3">
					<%
					if ((loan.Status == 'Live') || (loan.Status == 'Late')) {
					%><a href="#PayEarly/<%- loan.Id %>" class="btn-continue button btn-green clean-btn pay-early clean-btn" ui-event-control-id="dashboard:pay-early"><%= payButtonName %></a><%
					}
					%>
				</div>
			}
		</div>
	</div>

	@if (origin == CustomerOriginEnum.everline) {
		<div class="buttons_container">
			<% if ((loan.Status == 'Live') || (loan.Status == 'Late')) { %>
			<a href="#PayEarly/<%- loan.Id %>" class="btn-continue button btn-green clean-btn pay-early clean-btn" ui-event-control-id="dashboard:pay-early"><%= payButtonName %></a>
			<% } %>
		</div>
	}
	
	<h2 style="margin-bottom: 10px;">Payment Schedule</h2>

	<table class="table payment-schedule-table">
		<thead>
			<tr>
				<th style="width: 75px;"></th>
				<th style="width: 180px;">@( !isEverline ? "Date" : "Due date")</th>
				<th style="width: 180px;">Principal</th>
				<th style="width: 160px;">Interest</th>
				<th style="width: 90px;">Fees</th>
				<th style="width: 105px;">Rebate</th>
				<th style="width: 110px;" >Total</th>
				<th style="width: 115px;">Status</th>
			</tr>
		</thead>
		<tbody>
			<%
			_.each(pacnetTransactions, function(transaction, i) {
			%>
			<tr>
				<td>
					<img style="width: 24px; height: 24px" src='@Url.Content("~/Content/img/payment-to-customer.png")' alt="" />
				</td>
				<td><%- EzBob.formatDateHumanFullUK(transaction.PostDate)  %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(transaction.Amount) %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(transaction.Interest) %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(transaction.Fees) %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(0) %></td>
				<td class="green-text"><%- EzBob.formatPoundsWidhDashUK(transaction.Amount) %></td>
				<td><%- transaction.StatusDescription %></td>
			</tr><%
			});

			_.each(transactions, function(transaction, i) {
			if (transaction.StatusDescription != 'Error') {
			%>
			<tr>
				<td><img height="31" src='@Url.Content("~/Content/img/wizard-mark-completed.png")' alt="" /></td>
				<td><%- EzBob.formatDateHumanFullUK(transaction.PostDate) %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(transaction.LoanRepayment) %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(transaction.Interest) %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(transaction.Fees + transaction.Rollover) %></td>
				<td><%- EzBob.formatPoundsWidhDashUK(0) %></td>
				<td class="green-text"><%- EzBob.formatPoundsWidhDashUK(transaction.Amount) %></td>
				<td><%- transaction.StatusDescription %></td>
			</tr><%
			}
			});

			_.each(rollovers, function(rollover, i) {
			%>
			<tr>
				<td><img height="31" src='@Url.Content("~/Content/img/two_arrows.png")' alt="" /></td>
				<td><%- EzBob.formatDateHumanFullUK(rollover.ExperyDate)  %></td>
				<td></td>
				<td></td>
				<td><%- EzBob.formatPoundsWidhDashUK(rollover.Payment) %></td>
				<td></td>
				<td></td>
				<td>Roll Over</td>
			</tr><%
			});

			_.each(charges, function(charge, i) {
			if ( charge.State !== 'Paid' && charge.State !== 'Expired' && charge.IsServiceFee != 'yes' ) {
			%>
			<tr>
				<td><img height="31" src='@Url.Content("~/Content/img/calendarx32.png")' alt="" /></td>
				<td><%- EzBob.formatDateHumanFullUK(charge.Date) %></td>
				<td></td>
				<td></td>
				<td><%- EzBob.formatPoundsWidhDashUK(charge.Amount) %></td>
				<td></td>
				<td></td>
				<td><%- charge.State %></td>
			</tr><%
			}
			});

			_.each(schedule, function(item, i) {
			if ((item.Status !== 'PaidEarly') && (item.Status !== 'PaidOnTime') && (item.Status !== 'Paid')) {
			var late = item.Status === 'Late';
			var styleForLate = late ? "hm_red" : "";
			var urlImage = item.Status === 'Late' ? "@Url.Content("~/Content/img/calendar-late.png")" : "@Url.Content("~/Content/img/calendarx32.png")";

			%>
			<tr data-scheduleid="<%- item.Id %>">
				<td><img src="<%-urlImage%>"></td>
				<td><%- EzBob.formatDateHumanFullUK(item.Date) %></td>
				<td class='<%-styleForLate%>'><%-EzBob.formatPoundsWidhDashUK(item.LoanRepayment)%></td>
				<td class='<%-styleForLate%>'><%-EzBob.formatPoundsWidhDashUK(item.Interest)%></td>
				<td class='<%-styleForLate%>'><%-EzBob.formatPoundsWidhDashUK(item.Fees + item.LateCharges)%></td>
				<td class='<%-styleForLate%>'><%- EzBob.formatPoundsWidhDashUK(0) %></td>
				<td class='<%-styleForLate%> green-text'><%-EzBob.formatPoundsWidhDashUK(item.AmountDue)%></td>
				<td class='<%-styleForLate%>'>
					<%-item.StatusDescription == 'AlmostPaid' ? 'Open' : item.StatusDescription%>
					<% if(late) {
					%><br /><span class="late-installment-tip">See Late Balance above</span><%
					} %>
				</td>
			</tr><%
			}
			});
			%>
		</tbody>
	</table>

	<div class="loan_apr_block">Loan APR: <%- loan.APR %> %</div>

	<h2 id="loan-agreement">Loan Agreement</h2>
	<div class="simple-well">
		<div class="row-fluid form-horizontal loan-agreements">
			<ul>
				<%
				_.each(loan.Agreements, function(item, i){
				%>
				<li>
					<a href="@Url.Action("Download", "Agreements", new { Area = "" })/<%=item.Id%>" class="clean-btn" ui-event-control-id="dashboard:download-agreements">
						<i class="pe-7s-file"></i>
						<%=item.Name%>

					</a>
				</li>
				<% }); %>
			</ul>
		</div>
	</div>

	<%if (area != 'Underwriter') {%>
	<div class="buttons_container">
		<a class="btn-back button btn-grey ev-btn-org" style="margin-bottom:10px;" href="#AccountActivity" ui-event-control-id="dashboard:loan-details-back">Back</a>
	</div>
	<%}%>
</script>
