@using System.Linq
@using ConfigManager
@model EzBob.Web.Areas.Underwriter.Models.SalesForceModel

@{
	ViewBag.Title = "SalesForce";
	Layout = "~/Areas/Underwriter/Views/Shared/_LayoutSalesForce.cshtml";
}

@if (Model == null || Model.PersonalModel.ID == 0) {
	<div>customer not found</div>
} else {
	try {
		
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-pills" role="tablist" id="salesforce_tabs">
				<li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Profile</a></li>
				<li role="presentation"><a href="#datasources" aria-controls="datasources" role="tab" data-toggle="tab"><i class="fa fa-shopping-cart"></i> Data Sources</a></li>
				<li role="presentation"><a href="#loans" aria-controls="loans" role="tab" data-toggle="tab"><i class="fa fa-history" title="Loan history"></i> Loans</a></li>
				<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> Messages</a></li>
				<li role="presentation"><a href="#fraud" aria-controls="fraud" role="tab" data-toggle="tab"><i class="fa fa-exclamation-triangle"></i> Fraud</a></li>
				<li role="presentation"><a href="#crm" aria-controls="crm" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Old CRM</a></li>
				<li role="presentation"><a href="#echosign" aria-controls="echosign" role="tab" data-toggle="tab"><i class="fa fa-file-text"></i> Documents</a></li>
				<li role="presentation"><a href="@Url.Action("LogOffUnderwriter","Account", new { Area = ""})"><i class="fa fa-female"></i>Log off</a></li>
				
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane  fade in active" id="profile">
					<div class="col-md-12">
						<div class="box">
							<div class="box-content">
								@ProfileDetails(Model)
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="datasources">
					<div class="col-md-12">
						<div class="box">
							<div class="box-content">
								@DataSources(Model)
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="loans">
					<div class="col-md-12">
						<div class="box">
							<div class="box-content">
								@Loans(Model)
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="messages">
					<div class="col-md-12">
						<div class="box">
							<div class="box-content">
								@Messages(Model)
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="fraud">
					<div class="col-md-12">
						<div class="box">
							<div class="box-content">
								@Fraud(Model)
							</div>
						</div>
					</div>
				</div>
				<div id="crm" class="tab-pane fade">
					<div class="col-md-12">
						<div class="box">
							<div class="box-content">
								@Crm(Model)
							</div>
						</div>
					</div>
				</div>
				<div id="echosign" class="tab-pane fade">
					<div class="col-md-12">
						<div class="box">
							<div class="box-content">
								<div id="signature-monitor">@{ Html.RenderPartial("SignatureMonitor"); }</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	} catch {
		<div>Failed loading the customer details, please contact support</div>
	}
}

@helper ProfileDetails(EzBob.Web.Areas.Underwriter.Models.SalesForceModel m) {
	<div>
		@Description("ID", m.PersonalModel.ID.ToString())
		@Description("Email", m.PersonalModel.Email)
		@Description("Name", m.PersonalModel.Name)
		@Description("Type of business", m.PersonalModel.TypeOfBusiness)
		@Description("Company", m.PersonalModel.CompanyName + " " + m.PersonalModel.CompanyRefNumber)
		@Description("Fraud status", m.PersonalModel.FraudStatus)

		<dl class="dl-horizontal">
			<dt>Credit status</dt>
			<dd>
				@m.PersonalModel.CreditStatus
				@if (m.PersonalModel.IsPendingDecision) {
					<button class="btn btn-primary btn-return-waiting-for-decision"
							data-toggle="tooltip" data-placement="top" title="return to waiting for decision">
						<i class="fa fa-rotate-left"></i>
					</button>
				}
			</dd>
		</dl>

		@Description("Personal score", m.PersonalModel.ExperianPersonalScore.ToString())
		@Description("Indebtedness index", m.PersonalModel.ExperianCII.ToString())
		@Description("Company score", m.PersonalModel.ExperianCompanyScore.ToString())
		@Description("Aml score", m.PersonalModel.AmlScore.ToString())
		@Description("Aml description", m.PersonalModel.AmlDescription)
		@Description("Promo code", m.PersonalModel.PromoCode)

		@if (m.Phones.Any()) {
			<dl class="dl-horizontal">
				<dt>Phones</dt>
				<dd>
					<ul class="list-group col-sm-4 col-md-3">
						@foreach (var phone in m.Phones) {
							string verified = "";
							string verifiedTooltip = "";
							if (phone.IsVerified) {
								verified = "list-group-item-success";
								verifiedTooltip = "Verified phone";
							}
							<li class="list-group-item no-border @verified"
								data-toggle="tooltip" data-placement="top" title="@verifiedTooltip">
								<span class="badge">@phone.Type</span>@phone.Number
							</li>
						}
					</ul>
				</dd>
			</dl>
		}
	</div>
}

@helper DataSources(EzBob.Web.Areas.Underwriter.Models.SalesForceModel m) {
	if (m.MarketPlaces.Any()) {
		<h4>Data sources</h4>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Created</th>
					<th>Updated</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var mp in m.MarketPlaces) {
					string error = string.IsNullOrEmpty(mp.UpdateError) ? "" : "danger";
					<tr data-toggle="tooltip" data-placement="top" title="@mp.UpdateError" class="@error">
						<td>@mp.MpName</td>
						<td>@mp.displayName</td>
						<td>@mp.Created</td>
						<td>@mp.Updated</td>
					</tr>
				}
			</tbody>
		</table>

		if (m.CompanyFiles.Any()) {
			<h4>Financial documents</h4>
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Date</th>
						<th>File Name</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var cf in m.CompanyFiles) {
						<tr>
							<td>@cf.FileName</td>
							<td>@cf.Uploaded.ToString("dd/MM/yyyy")</td>
						</tr>
					}
				</tbody>
			</table>
		}
	} else {
		<h3>Customer don't have any data source connected</h3>
	}
}

@helper Loans(EzBob.Web.Areas.Underwriter.Models.SalesForceModel m) {
	if (m.Loans.Any()) {
		<h4>Loans</h4>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Date Applied</th>
					<th>Status</th>
					<th>Date Closed</th>
					<th>Loan Amount</th>
					<th>Outstanding</th>
					<th>Repayments</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var loan in m.Loans) {
					<tr data-loanid="@loan.Id">
						<td>@loan.DateApplied</td>
						<td>@loan.Status</td>
						<td>@loan.DateClosed</td>
						<td>@loan.LoanAmount</td>
						<td>@loan.Outstanding</td>
						<td>@loan.Repayments</td>
					</tr>
				}
			</tbody>
		</table>
	} else {
		<h3>Customer don't have any loan</h3>
	}

	if (m.Decisions.Any()) {
		<h4>Decisions</h4>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Date</th>
					<th>Action</th>
					<th>Comment</th>
					<th>Approved sum</th>
					<th>Underwriter name</th>
					<th>Open platform</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var decision in m.Decisions) {
					<tr data-decisionid="@decision.Id">
						<td>@decision.Date</td>
						<td>@decision.Action</td>
						<td>@decision.Comment</td>
						<td>@decision.ApprovedSum</td>
						<td>@decision.UnderwriterName</td>
						<td>@decision.IsOpenPlatform</td>
					</tr>
				}
			</tbody>
		</table>
	} else {
		<h3>Customer don't have any decsions</h3>
	}
}

@helper Messages(EzBob.Web.Areas.Underwriter.Models.SalesForceModel m) {
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Date</th>
				<th>File Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var message in m.Messages) {
				<tr>
					<td>@message.CreationDate</td>
					<td>@message.FileName</td>
				</tr>
			}
		</tbody>
	</table>
}

@helper Fraud(EzBob.Web.Areas.Underwriter.Models.SalesForceModel m) {
	<div>
		@Description("Check Date", m.Fraud.LastCheckDate.HasValue ? m.Fraud.LastCheckDate.Value.ToString("dd/MM/yyyy") : "Never performed a check")
		@if (m.Fraud.LastCheckDate.HasValue && !m.Fraud.FraudDetectionLogRows.Any()) {
			@Description("Not a fraud", "")
		}
		@if (m.Fraud.FraudDetectionLogRows.Any()) {
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Type</th>
						<th>Field</th>
						<th>Concurrence</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var fraudRow in m.Fraud.FraudDetectionLogRows) {
						<tr>
							<td>@fraudRow.Type</td>
							<td>@fraudRow.CurrentField</td>
							<td>@fraudRow.Concurrence</td>
							<td>@fraudRow.Value</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
}

@helper Crm(EzBob.Web.Areas.Underwriter.Models.SalesForceModel m) {
	if (m.OldCrm.Any()) {
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Action</th>
					<th>Status</th>
					<th>User</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var crm in m.OldCrm) {
					<tr>
						<td>@crm.DateTime.ToString("dd/MM/yyyy")</td>
						<td>@crm.Type</td>
						<td>@crm.Action</td>
						<td>@crm.Status</td>
						<td>@crm.User</td>
						<td>@crm.Comment</td>
					</tr>
				}
			</tbody>
		</table>
	} else {
		<h3>There is no old crm records</h3>
	}
}

@helper Description(string key, string value) {
	<dl class="dl-horizontal">
		<dt>@key</dt>
		<dd>@value</dd>
	</dl>
}

@AddDirectorInfoTemplate.Render(this, ViewBag, Url.Action("AddDirector", "CrossCheck", new { Area = "Underwriter" }))
@EditExperianDirectorData.Render(this)

<script id="address-popup-template" type="text/template">
	@{Html.RenderPartial("~/Areas/Customer/Views/Shared/_AddressPopupTemplate.cshtml");}
</script>

@{Html.RenderPartial("~/Areas/Customer/Views/Shared/_AddressTemplate.cshtml");}

@section Js
{
	@{
		Html.RenderPartial("_FunctionsDialog");
	}

	<script>
		var EzBob = EzBob || {};
		EzBob.Config.EchoSignEnabledUnderwriter = @(CurrentValues.Instance.EchoSignEnabledUnderwriter ? "true" : "false");
		var customerID = @Html.Raw(Model != null && Model.PersonalModel != null ? Model.PersonalModel.ID.ToString() : "0");
		EzBob.SalesForce.init(customerID);
	</script>
}
