@model dynamic

<div class="row">
    <div class="span12">
        <div class="five-icons">
            <hr/>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "WhyEzBob", new{Area = ""})/#Partnership">
                        <div class="five-icon icon-partnership"></div>
                        <span>Partnership</span>
                        <p>Your growth<br/>is our business</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "WhyEzBob", new{Area = ""})/#Safe">
                        <div class="five-icon icon-secure"></div>
                        <span>SAFE &amp; SECURE</span>
                        <p>Security comes first<br/>We safeguard your data</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "WhyEzBob", new{Area = ""})/#Reliable">
                        <div class="five-icon icon-reliable"></div>
                        <span>Reliable</span>
                        <p>Always there when<br/>you need us</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "WhyEzBob", new{Area = ""})/#Easy">
                        <div class="five-icon icon-easy"></div>                    
                        <span>Easy to use</span>
                        <p>Easy is our<br/>first name</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "WhyEzBob", new{Area = ""})/#Superfast">
                        <div class="five-icon icon-fast"></div>
                        <span>SuperFast</span>
                        <p>Get instant cash<br/>in minutes</p>
                    </a>
                </li>
            </ul>
            <img width="910" alt="line" src="@Url.Content("~/Content/img/bottom-line.png")"/>
        </div>
    </div>
</div>