@using EzBob.Web.Infrastructure
@using EZBob.DatabaseLib.Model.Database
@model dynamic

@if (ViewBag.CustomerOrigin.GetOrigin() == CustomerOriginEnum.everline) {
	<footer class="everline_footer location-@ViewBag.FooterLocation-@ViewBag.CustomerOrigin.GetOrigin()">
		<div class="footer-eif">
			<div class="footer-eif-inner">
				<div class="cosme-images">
					<div class="cosme-images-wrapper">
						<img src="/Content/css/images/cosme-pic.png" />
						<img class="eif-img" src="/Content/css/images/europe-fund.png" />
					</div>
				</div>
				<div class="footer-eif-text">
					<div class="about-eif">About the European Investment Fund</div>
					<p>
						Everline provide financing that benefits from the support of the European Union under the Loan Guarantee Facility established under Regulation (EU) No 1287/2013 of the European Parliament and the Council establishing a Programme for the Competitiveness of Enterprises and small and medium enterprises (COSME) (2014-2020). The Loan Guarantee Facility is managed and implemented by the European Investment Fund (EIF) <a class="find-out-more" href="#">Find out more</a>.
					</p>
				</div>
			</div>
		</div>
		<div class="subfooter">
			<div class="footer-navigator">
				<div class="footer-navigator-inner">
					<ul class="footer-navigator-list">
						<li><a href="https://www.everline.com/intermediaries/" target="_blank">Intermediaries</a></li>
                        <li class="hide-mobile" ><a href="https://www.everline.com/partners/" target="_blank" >Partners</a></li>
						<li><a href="https://www.everline.com/legal/" target="_blank">Legal</a></li>
						<li><a href="https://www.everline.com/terms-and-conditions/" target="_blank">Terms & conditions</a></li>
						<li><a href="https://www.everline.com/privacy-and-cookie-policy" target="_blank">Privacy & cookie policy</a></li>
						<li><a href="https://www.everline.com/advice/" target="_blank">Advice</a></li>
					</ul>
					<div class="social-link-icons">
						<ul>
							<li><a class="facebook" href="https://www.facebook.com/everlineuk" target="_blank"></a></li>
							<li><a class="tweeter" href="https://twitter.com/everline" target="_blank"></a></li>
							<li><a class="linkedin" href="https://www.linkedin.com/company/everline" target="_blank"></a></li>
                            <li><a class="youtube" href="https://www.youtube.com/user/EverlineUK" target="_blank"></a></li>
						</ul>
					</div>
				</div>
			</div>
            <div class="footer-text clearfix">
                <div class="privacy-and-cookie-policy">
                    <a href="https://www.everline.com/privacy-and-cookie-policy" target="_blank">Privacy and cookie policy</a>
                </div>
                <p class="business-text">
                    EZBob Ltd. trading as Everline is authorised and regulated by the Financial Conduct Authority for its consumer lending business (registration number: 647816).<br>
                    EZBob Ltd. is a lender. Not all credit agreements we enter into are regulated by the Financial Conduct Authority.<br>
                    Registered Address: 36 Soho Square, London W1D 3QY
                </p>
                <div class="privacy-wrap clearfix">
                    <div class="norton-img">
                        @Html.Raw(UiCustomerOrigin.GetVeriSignSeal(ViewBag))
                    </div>
                    <div class="truste-img">
                        <div class="text truste">@Html.Raw(UiCustomerOrigin.GetTrusteSeal(ViewBag))</div>
                    </div>
                </div>
          
                <div class="footer-bottom-text">
                    All rights reserved. Terms, conditions, features, availability, pricing, fees, service &amp; support options subject to change without notice.
                    All loans are subject to status and approval. 18+ only.
                </div>


            </div>
		</div>
	</footer>
} else {
	<footer class="location-@ViewBag.FooterLocation-@ViewBag.CustomerOrigin.GetOrigin()">
		<div id="copyrights">
			<div class="copyrights-inner">
				<div class="privacy-and-cookie-policy"><a href="https://www.ezbob.com/privacy-and-cookies" target="_blank">Privacy and Cookie Policy</a></div>

				@if (!string.IsNullOrEmpty(ViewBag.FooterText)) {
					@Html.Raw(ViewBag.FooterText)
					@Html.Raw(@"<br>powered by <span class='bold'>ezbob</span>")
				} else {
					@Html.Raw(@"
				ezbob and ezbob.com are trading names of EZBob Ltd. which is authorised and regulated by the Financial Conduct Authority. FRN 7852687.<br/>
				EZBob Ltd. is a lender. Not all credit agreements we enter into are regulated by the Financial Conduct Authority.<br/>
				Registered Address: 36 Soho Square, London W1D 3QY<br/>
				&copy;")@System.DateTime.Today.Year @Html.Raw(@" EZBob Ltd. All rights reserved. Terms, conditions, features, availability, pricing, fees, service &amp; support options subject to change without notice.")
				}
			</div>
		</div>
	</footer>
}

