@using System.Globalization
@using EZBob.DatabaseLib
@using EzBob.CommonLib
@using EzBob.Web.Infrastructure
@using EzBob.Web.Infrastructure.csrf
@using Integration.ChannelGrabberConfig
@using Newtonsoft.Json
@using StructureMap
@{
    var controller = (string)ViewContext.RouteData.Values["controller"];
    var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
    var showGetSatisfaction = controller == "Wizard" && config.GetSatisfactionEnabled;
    var authCookie = Request.IsAuthenticated ? "auth" : "";

	var oDBHelper = ObjectFactory.GetInstance<IDatabaseDataHelper>() as DatabaseDataHelper;
	var configVars = oDBHelper.ConfigurationVariables;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    @{ Html.RenderPartial("_FrameKiller"); }

    @RenderSection("head", false)
    
    @if (controller == "Wizard")
    {
        <meta name="description" content="Online sellers sign up for a free account to apply for an ecommerce business loan. Funds can be in your account within 30 minutes."/>
    }
    
    <title>@ViewBag.Title</title>

    <meta name="webutation-site-verification" content="webutation66c78d618b360eb461a120920e8ab3a3" />

    <meta name="msvalidate.01" content="AFD649895CD47944F50BFA0BE7BAB5D8" />

    @{ Html.RenderPartial("_FavIcon"); }

    <link href='https://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>

    @if (IsSectionDefined("css"))
    {
        @RenderSection("css", false)
    }
    else
    {
        @BundleHelper.CustomerCss()
    }

    @BundleHelper.RenderPrintCss()
    <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
    @{ Html.RenderPartial("_GoogleAnalytics"); }
    @{Html.RenderPartial("security_template");}
</head>

<body auth="@authCookie">
    @RenderSection("afterHead", false)

    @{
        var isUnderwriter = (Url.Action(null) ?? "").Contains("AdminLogOn");
        if (!isUnderwriter) { Html.RenderPartial("_LivePerson"); }
    }

    @Html.AntiForgeryTokenNoUserCheck()
    
    <div id="wrapper">
        @{ Html.RenderPartial("_TopButtons"); }
        <header>
            <div class="inner">
                <a href="http://www.ezbob.com" class="logo_ezbob indent_text" id="ezbob_logo" title="Fast business loans">EZBob - Fast Business Loans</a>
                <div class="clear"></div>
            </div>
        </header>

        <div class="inner main-page">
            <section id="full_width">
                @RenderBody()
            </section>
        </div>

        <div id="modalRegion" class="modal hide fade">
        </div>
        <div class="push"></div>
    </div>
    
    <!--wraper-->
    <footer>
        @{ Html.RenderPartial("_Copyright"); }
    </footer>
    <script type="text/javascript">
        window.gRootPath = '@Url.Content("~/")';
    </script>
    <script id="login-template" type="text/template">
        @{ Html.RenderPartial("_LoginSimple"); }
    </script>

    @if (IsSectionDefined("customJs"))
    {
        @RenderSection("customJs")
    }
    else
    {
        @BundleHelper.RenderJs()
        @BundleHelper.RenderProfileJs()
    }
    @RenderSection("Js", false)
    @{ Html.RenderPartial("_ClickTale"); }
    @{ Html.RenderPartial("_AddRoll"); }
    @{
        if (showGetSatisfaction)
        {
            Html.RenderPartial("_GetSatisfaction");
        }
    }

    <div style="display: none;" class="hide" id="cg-account-model-template">@JsonConvert.SerializeObject(new Integration.ChannelGrabberFrontend.AccountModel())</div>
    <div style="display: none;" class="hide" id="cg-account-list">@JsonConvert.SerializeObject(Configuration.Instance.Vendors)</div>
    <div style="display: none;" class="hide" id="current-server-time-zone">@DateTimeOffset.Now.ToString("zzz", CultureInfo.InvariantCulture)</div>
	<div style="display: none;" class="hide" id="allowFinishWizardWithoutMarketplaces"
		online="@configVars.GetByNameAsBool("AllowFinishOnlineWizardWithoutMarketplaces")"
		offline="@configVars.GetByNameAsBool("AllowFinishOfflineWizardWithoutMarketplaces")"
	></div>
	<div style="display: none;" class="hide" id="wizard-step-sequence">@oDBHelper.WizardStepSequence</div>
	<div style="display: none;" class="hide" id="yodlee-banks">@oDBHelper.YodleeBanks</div>
</body>
</html>
