@using System.Globalization
@using EZBob.DatabaseLib
@using EzBob.CommonLib
@using EzBob.Web.Infrastructure
@using Integration.ChannelGrabberConfig
@using Newtonsoft.Json
@using StructureMap
@{
    var controller = (string)ViewContext.RouteData.Values["controller"];
    var authCookie = Request.IsAuthenticated ? "auth" : "";
    var oDBHelper = ObjectFactory.GetInstance<IDatabaseDataHelper>() as DatabaseDataHelper;
	if(string.IsNullOrEmpty(ViewBag.Phone))
	{
		ViewBag.Phone = "0800-011-4787";
	}
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    @{ Html.RenderPartial("_FrameKiller"); }

    @RenderSection("head", false)

    @if (controller == "Wizard")
    {
        <meta name="description" content="Online sellers sign up for a free account to apply for an ecommerce business loan. Funds can be in your account within 30 minutes." />
    }

    <title>@ViewBag.Title</title>

    <meta name="webutation-site-verification" content="webutation66c78d618b360eb461a120920e8ab3a3" />

    <meta name="msvalidate.01" content="AFD649895CD47944F50BFA0BE7BAB5D8" />

    @{ Html.RenderPartial("_FavIcon"); }

    @BundleHelper.RenderPrintCss()
    @BundleHelper.RenderCustomerCss()
    @RenderSection("css", false)

    <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
    @{Html.RenderPartial("security_template");}
</head>

<body auth="@authCookie" data-user-name="">
    @{Html.RenderPartial("_GoogleTagManager");}
    @RenderSection("afterHead", false)

    @AntiForgery.GetHtml() 

    <div id="wrapper">
        <div id="header">
            <div class="header-bg-strip"></div>
            <div class="header-inner">
                <div class="header-logo">
                    <a href="http://www.ezbob.com">
	                    <div class="newlogo" ></div>
                    </a>
                </div>
                <div class="header-info" style="display: none;">
                    <div class="header-info-left"></div>
                    <div class="header-info-text"></div>
                    <div class="header-info-right"></div>
                </div>

                <ul id="user-menu">
                    <li id="logoff-li" class="login" style="display: none;">
                        <a href="@Url.Action("LogOff", "Account", new { Area = "" })" class="button btn-grey">Log Off</a>
                    </li>
                    <li class="login login_btn" style="display: none;"><a href="@Url.Action("LogOn", "Account", new { Area = "" })" class="button btn-grey">Login</a></li>
                    <li class="sign-up signup_btn" style="display: none"><a href="@Url.Action("Index", "Wizard", new { Area = "Customer" }, "https")#SignUp" class="button btn-green">Sign Up</a></li>
                    <li><div class="header-phone"><i class="fa fa-phone"></i>&nbsp;@ViewBag.Phone</div></li>
                </ul>
            </div>
        </div>

        <div class="main-page">
            <section id="full_width">
                @RenderBody()
            </section>
        </div>

        <div id="modalRegion" class="modal hide fade"></div>
        @if (!IsSectionDefined("customJs"))
        {
            <div style="display: none;" class="hide" id="cg-account-model-template">@JsonConvert.SerializeObject(new Integration.ChannelGrabberFrontend.AccountModel())</div>
            <div style="display: none;" class="hide" id="current-server-time-zone">@DateTimeOffset.Now.ToString("zzz", CultureInfo.InvariantCulture)</div>
            <div style="display: none;" class="hide" id="yodlee-banks">@oDBHelper.YodleeBanks</div>
            <div style="display: none;" class="hide" id="customer-name"></div>
            <div class="push"></div>
        }
    </div>
    
    <footer>
        @{ Html.RenderPartial("_Copyright"); }
    </footer>
    <script type="text/javascript">
        window.gRootPath = '@Url.Content("~/")';
    </script>
    <script id="login-template" type="text/template">
        @{ Html.RenderPartial("_LoginSimple"); }
    </script>

    @if (IsSectionDefined("customJs"))
    {
        @RenderSection("customJs")
    }
    else
    {
        @BundleHelper.RenderCommonJs()
        @BundleHelper.RenderProfileJs()
    }
    @RenderSection("Js", false)

    <script type="text/javascript">
        function ShowHideSignLogOnOff() {
            var sEmail = $('body').attr('data-user-name');
            if (sEmail) {
                $('#logoff-li').show().tooltip({ placement: 'bottom', title: sEmail }).tooltip("enable").tooltip('fixTitle');
                $('#user-menu .login_btn, .signup_btn').hide();
            }
            else {
                $('#logoff-li').hide();

                if ($('.login-form-user-name').length) {
                    $('.login_btn').hide();
                    $('.signup_btn').show();
                }
                else {
                    $('.login_btn').show();
                    $('.signup_btn').hide();
                } // if
            } // if
        } // ShowHideSignLogOnOff

        $(document).ready(function() {
            $('body').attr('data-user-name', '@(User.Identity.IsAuthenticated ? User.Identity.Name : "")');
            ShowHideSignLogOnOff();

			EzBob_CgVendors_init();
        });

        function EzBob_CgVendors_init() {
            if (EzBob.CgVendors) {
                EzBob.CgVendors.init(@{ WriteLiteral(JsonConvert.SerializeObject(Configuration.Instance.Vendors)); });
            }
        } // EzBob_CgVendors_init
    </script>
</body>
</html>
