@model EzBob.Web.Models.LogOnModel
@using (Html.BeginForm("LogOn", "Account", new { Area = "" }, FormMethod.Post, new { @class = "simple-login form-horizontal" }))
{
    <div class="inner">
        <h1>Login</h1>
        <section id="content">
            <h2>Funding over £2.5m loans and counting!</h2>
            <h3>Already have an account?</h3>
            <p>Great! Sign in below</p>


            <label>Email Address <span class="required">*</span></label>
            @Html.TextBoxFor(x => x.ReturnUrl, new { type = "hidden" })
            @Html.TextBoxFor(m => m.UserName, new { @class="form_field", size="50", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.UserName)
            <br />
            <label>Password <span class="required">*</span></label>
            @Html.PasswordFor(m => m.Password, new {  @class="form_field", size="50", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Password)

            <input name="RememberMe" type="hidden" value="@Model.RememberMe" />
            <label class="checkbox" for="RememberMe">
                Remember Me
                        <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="@Model.RememberMe" />
            </label>
            <br />
            <br />
            <input type="submit" value="Conitnue &raquo;" class="button grey" />
            <p>@Html.ActionLink("Forgotten Password", "ForgotPassword", "Account", new { }, new { }) | @Html.ActionLink("Sign up", "Index", "Wizard", new { Area = "Customer" }, new { })</p>

        </section>

        @{Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_Login.cshtml");}

    </div>
    <div id="DontHaveAccount">
    </div>
    
}