@using EzBob.Web.Infrastructure
@using Scorto.NHibernate.Model
@using StructureMap
@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
    var securityQuestions = @ViewData["Questions"] as List<SecurityQuestion>;
    var customerReason = @ViewData["Reasons"] as List<CustomerReason>;
    var customerSourceOfRepayment = @ViewData["Sources"] as List<CustomerSourceOfRepayment>;
    var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
    string captchamode = config.CaptchaMode;
    bool ebayPixelEnabled = config.EbayPixelEnabled;
    bool isOffline = @Request.Cookies["isoffline"] != null && @Request.Cookies["isoffline"].Value == "yes";
}


@using (Html.BeginForm("SignUp", "Account", new {Area = ""}, FormMethod.Post, new {@class = "signup clearfix"}))
{
    <h2 class="form_start">Create an Account</h2>
    
    if (ebayPixelEnabled)
    {
        <img src="https://ad-emea.doubleclick.net/activity;dc_pixel_url=rmboom;rm=ezbobregister;ord='<%- ordsu %>'?" width="1" height="1" border="0" alt="" />
    }
    
	<div class="form_field_container">
		<label class="attardi-input">
			<span>Email Address</span>
			<input type="email" name="Email" id="Email" tabindex="1" class="form_field"/>
		</label>
		<img id="EmailImage" class="field_status required"/>
	</div>

	<div id="strength-password-view" class="form_field_container">
		<label class ="attardi-input">
			<span>Password</span>
			<input type="password" tabindex="2" class="form_field" name="signupPass1" id="signupPass1"/>
		</label>
		<img id="Password1Image" class="field_status required"/>
		<p id="message" class="help-block"></p>
	</div>

	<div class="form_field_container">
		<label class ="attardi-input">
			<span>Confirm Password</span>
			<input type="password" tabindex="3" class="form_field" name="signupPass2" id="signupPass2"/>
		</label>
		<img id="Password2Image" class="field_status required"/>
	</div>
    
    <div class="form_field_container">
		<!-- Don't remove the SPAN, its job is to display box-shadow and nothing else. -->
		<span class="inform">
			<label class="attardi-input">
				<span>Secret Question</span>
				<select name="securityQuestion" id="securityQuestion" tabindex="4" class="form_field">
					<option value=""></option>
					@if (securityQuestions != null) {
						foreach (var item in securityQuestions) {
							<option value="@item.Id">@item.Name</option>
						} // foreach
					} // if
				</select>
			</label>
		</span>
		<img id="SecurityQuestionImage" class="field_status required" />
	</div>

    <div class="form_field_container">
        <label class="attardi-input">
            <span>Secret Answer</span>
            <input type="text" name="SecurityAnswer" id="SecurityAnswer" tabindex="5" class="form_field"/>
        </label>
        <img id="SecretAnswerImage" class="field_status required"/>
    </div>
    
    if (isOffline)
    {
        <h2 class="form_start">Requested Loan</h2>
    
        <div class="form_field_container">
            <label class="attardi-input">
                <span>Requested Loan Amount</span>
                <input type="text" name="amount" id="amount" tabindex="6" class="form_field"/>
            </label>
            <img id="amountImage" class="field_status"/>
        </div>

        <div class="form_field_container">
            <span class="inform">
                <label class="attardi-input">
                    <span>Reason</span>
                    <select name="customerReason" id="customerReason" tabindex="7" class="form_field">
                        <option value=""></option>
                        @if (customerReason != null)
                        {
                            foreach (var item in customerReason)
                            {
                                <option value="@item.Id">@item.Reason</option>
                            } // foreach
                        } // if
                    </select>
                </label>
            </span>
            <img id="customerReasonImage" class="field_status required" />
        </div>

        <div class="form_field_container hide" id="otherReasonDiv">
            <label class="attardi-input">
                <span>Other Reason</span>
                <input type="text" name="otherCustomerReason" id="otherCustomerReason" tabindex="8" class="form_field"/>
            </label>
            <img id="otherReasonImage" class="field_status required"/>
        </div>

        <div class="form_field_container">
            <span class="inform">
                <label class="attardi-input">
                    <span>Source Of Repayment</span>
                    <select name="customerSourceOfRepayment" id="customerSourceOfRepayment" tabindex="9" class="form_field">
                        <option value=""></option>
                        @if (customerSourceOfRepayment != null)
                        {
                            foreach (var item in customerSourceOfRepayment)
                            {
                                <option value="@item.Id">@item.SourceOfRepayment</option>
                            } // foreach
                        } // if
                    </select>
                </label>
            </span>
            <img id="customerSourceOfRepaymentImage" class="field_status required" />
        </div>

        <div class="form_field_container hide" id="otherSourceDiv">
            <label class="attardi-input">
                <span>Other Source Of Repayment</span>
                <input type="text" name="otherCustomerSourceOfRepayment" id="otherCustomerSourceOfRepayment" tabindex="10" class="form_field"/>
            </label>
            <img id="otherCustomerSourceOfRepaymentImage" class="field_status required"/>
        </div>
    }
    else
    {
        <div class="form_field_container">
            <label class ="attardi-input">
                <span>Optional Promo Code</span>
                <input type="text" class="form_field" name="promoCode" id="promoCode"/>
            </label>
            <img id="promoCodeImage" class="field_status"/>
        </div>
    }
    
    <div class="form_field_container">
		@EzForm.Captcha(captchamode)
	</div>

	<div class="form_buttons_container"><input type="submit" id="signupSubmitButton" value="Continue" class="button orange continue disabled" tabindex="12"></div>

	if (isOffline) {
		<div class="hide">
			<div id="offline_help" class="help_window">
				<h2>Welcome to the EZBOB Application Process</h2>
				<p>Please find below what you will need to complete the application successfully.</p>
				<p>Good Luck, and please contact us with any issue, question or comment.</p>

				<div class="help_image help_offline"></div>

				<p>The Application is a quick process – have the information ready and you will be able to complete in 5 minutes.</p>

				<br>

				<div class="alignright" style="padding: 0 10px 0 0;">
					<a href="javascript:$.colorbox.close()" target="_blank" class="button orange pull-right">Continue</a>
				</div>

				<div class="clear"></div>
				<hr>
				<div class="help_security"></div>
			</div>
		</div>
	}
}