@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Fast funds to grow online sellers business │ EZBOB";
    ViewBag.Description = "Fast funds to grow online sellers business │ EZBOB";
}

@helper SignUpButton()
{
    <div>
        <a href='@Url.Action("Index", "Wizard", new {Area = "Customer"}, "https")#SignUp' class="free-signup-link"></a>
    </div>
    <h3>Fast, Secure with <b>no Obligation!</b></h3>
}

<div class="start_container">
    <div class="main-page-comm-container start-signup-container">
        @{Html.RenderPartial("_OnlineSellers");}
        <h1 class="main-page-comm">Get funds fast to<br />grow your business.</h1>
        @SignUpButton()
    </div>
    <div class="guided-tour-container">
        <div style="width: 700px;margin: -8px auto 0 auto;">
            <div class="row-fluid">
                <div class="span6 site-video">@FlashPlayer()</div>
                <div class="span6">
                    <h1>What is EZBOB ?</h1>
                    <p>EZBOB is an innovative online financing solution dedicated to supporting online merchants' growth.</p>
                    <p>With EZBOB's instant solution, merchants are able to take advantage of working capital for inventory, marketing and operational expansion.</p>
                </div>
            </div>
        </div>
    </div>

    <h1 class="centered uncle-bob">Three EZsteps and BOB's your uncle!!!</h1>
    
    <div class="three-steps"></div>
    <hr class="light"/>
    <div class="safe-and-secure">
        <h1>Safe &amp; Secure <img alt="secure" src="@Url.Content("~/Content/img/secure-icons.png")" width="165" height="30"/></h1>
        <p>
            Keeping your information Safe &amp; Secure is our top priority. We use leading edge technologies to ensure the information is never shared with 3rd parties. We use the information for one purpose only, to determine your eligibility.
            <a href="@Url.Action("Secure", "HowItWorks", new{Area=""})">Learn more</a>
        </p>
    </div>
    <hr class="light"/>
    <div class="start-signup-container start-signup-container2">
        @SignUpButton()
    </div>
    
    @{Html.RenderPartial("_FeaturedIn");}

</div>

@helper FlashPlayer(){   
    <div style="position:relative">
        <img src="@Url.Content("~/Content/Video/poster.jpg")" alt="video placeholder" style="width: 320px; height:140px" class="poster-picture"/>
        <a href="javascript:;"  data-videoDivId="video" data-videoId ="video-js" class="play-link">Play</a>    
    </div>
    
    <div id="video" style="display: none;">
        <video id="video-js" class="video-js vjs-default-skin" controls preload="none" width="640" height="360" 
               poster="@Url.Content("~/Content/Video/poster.jpg")"
               data-setup="{}">
            <source src="@Url.Content("~/Content/Video/EZBOB-Movie.mp4")" type='video/mp4' />
            <source src="@Url.Content("~/Content/Video/EZBOB_Movie.webm")" type='video/webm' />
            <source src="@Url.Content("~/Content/Video/EZBOB_Movie.ogv")" type='video/ogg' />
        </video>    
    </div>
}