@model dynamic
<script id="dashboard-template" type="text/template">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="row">
                <div class="box">
                    <div class="box-title">
                        <h3>Customer Input</h3>
                        @BoxTools("CustomerInput")
                    </div>
                    <div class="box-content">
                        <%
                        var rl = m.RequestedLoan || {},
                        cec = m.CompanyEmployeeCountInfo || {};
                        %>
                        <table class="">
                            <tbody>
                                <tr>
                                    <td rowspan="3" class="requested-loan-td">
                                        Requested loan:
                                        <br />
                                        <span><%-rl!=null ? EzBob.formatPoundsNoDecimals(rl.Amount, true) : "-"%></span>
                                    </td>
                                    <td class="pad-left">Annual turnover: <%- EzBob.formatPoundsNoDecimals(m.OverallTurnOver) %></td>
                                </tr>
                                <tr>
                                    <td class="pad-left"># of employees: <%- cec.EmployeeCount %> employees</td>
                                </tr>
                                <tr>
                                    <td class="pad-left">Total Monthly salary cost: <%- EzBob.formatPoundsAsInt(cec.TotalMonthlySalary) %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <%if(properties && personal){%>
                <div class="box">
                    <div class="box-title">
                        <h3>Assets & Worth</h3>
                        @BoxTools("AssetsAndWorth", "#properties")
                    </div>
                    <div class="box-content">
                        <%if(personal.PropertyStatus != null && !personal.PropertyStatus.IsOwnerOfMainAddress){%>
                        <div class="row">
                            <div class="requested-loan-td">Property Status: <span><%-personal.PropertyStatus.Description%></span></div>
                            <%if(properties.SumOfMortgages>0){%>
                            <div class="requested-loan-td">Have mortgage<%-properties.NumberOfMortgages>1 ? 's' : '' %>: <span><%- EzBob.formatPoundsAsThousandsNoDecimals(properties.SumOfMortgages) %> (<%- properties.NumberOfMortgages %>)</span></div>
                            <%}%>
                        </div>
                        <%} else {%>
                        <div class="row">
                            <div>Market value: <span class="ez-green"><%- EzBob.formatPoundsAsThousandsNoDecimalsNoSign(properties.MarketValue) %></span></div>
                            <div style="position: relative;">
                                <div class="mortgage-div">
                                    <span class="ez-bigtext"><%- EzBob.formatPoundsAsThousandsNoDecimalsNoSign(properties.SumOfMortgages) %></span>
                                    <br />
                                    <span>(<%- properties.NumberOfMortgages %>)</span>
                                    <br />
                                    <span>(LTV: <%- properties.Ltv %>%)</span>
                                </div>
                                <img class="assets-bubble-left-image" src='@Url.Content("~/Content/img/tab_L.png")'></img>
                                <img class="assets-bubble-right-image" src='@Url.Content("~/Content/img/tab_R.png")'></img>
                                <div class="networth-div">
                                    <span class="ez-bigtext <%- properties.NetWorth < 0 ? 'red_cell' : ''%>"><%- EzBob.formatPoundsAsThousandsNoDecimalsNoSign(properties.NetWorth) %></span><br />
                                    <span>(NW: <%- properties.NetWorthPercentages %>%)</span>
                                </div>
                            </div>
                            <div style="position: relative; width: 170px; margin: 0 auto;">
                                <canvas id="assets-donut" width="170" height="170"></canvas>
                                <% if (properties.NumberOfProperties > 1) {%>
                                <div class="assets-image">
                                    <i class="fa fa-home multiple-assets-font" />
                                    <i class="fa fa-home multiple-assets-font" />
                                    <br />
                                    <i class="fa fa-home multiple-assets-font" />
                                    <i class="fa fa-home multiple-assets-font" />
                                    <br />
                                    X<%- properties.NumberOfProperties %>
                                </div>
                                <% } else {%>
                                <div class="assets-image">
                                    <i class="fa fa-home single-asset-font" />
                                    <br />
                                    X<%- properties.NumberOfProperties %>
                                </div>
                                <% } %>
                            </div>
                            <div class="assets-legend">
                                <span class="pull-left">
                                    <i class="fa fa-square ez-light-grey" />
                                    <span>Mortgage</span>
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-square ez-green" />
                                    <span>Net worth</span>
                                </span>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <%}%>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="table-ezbig">
                <div class="box">
                    <div class="box-title">
                        <h3>Affordability</h3>
                        @BoxTools("Affordability", "#marketplaces")
                    </div>
                    <div class="box-content">
                        <div id="affordability"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <%if(experian) {
        experian.Consumer = experian.Consumer || {};
        experian.Consumer.ConsumerAccountsOverview = experian.Consumer.ConsumerAccountsOverview || {};
        var tileColor='';
        var alert = '';
        if(!EzBob.isDarkColor(experian.ScoreColor)){
        tileColor = 'tile-light';
        }%>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-title">
                    <h3>Customer & Directors <span class="applicant-name"><%-experian.Consumer.ApplicantFullNameAge%></span></h3>
                    @BoxTools("CustomerAndDirectors", "#credit-bureau")
                </div>
                <div class="box-content box-no-padding">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs active">
                            <li class="active"><a href="#customerExperian" data-toggle="tab" data-applicantname="<%-experian.Consumer.ApplicantFullNameAge%>"><span class="<%-tileColor%>" style="background-color: <%-experian.Consumer.ScoreColor%>;"><%-experian.Consumer.Score%></span>&nbsp;Applicant</a></li>
                            <%if(experian.Directors && experian.Directors.length > 0){
                            _.each(experian.Directors, function(item, i){
                            var directorTileColor='';
                            if(!EzBob.isDarkColor(item.ScoreColor)){
                            directorTileColor = 'tile-light';
                            }
                            %>
                            <li><a href="#director<%-i%>" data-toggle="tab" data-applicantname="<%-item.ApplicantFullNameAge%>"><span class="<%-directorTileColor%>" style="background-color: <%-item.ScoreColor%>;"><%-item.Score%></span> Director <%-(i+1)%></a></li>
                            <%});}%>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="customerExperian">
                                <% if (experian.Consumer.HasExperianError) { %>
                                <h3>Error retrieving consumer data</h3>
                                <% } else { %>
                                <div class="col-lg-3 col-md-3 right-seperator">
                                    <div class="text-center experian-canvas">
                                        <div class="text-caption">Score</div>
                                        <canvas id="consumerScoreCanvas" width="100" height="100" data-color="<%-experian.Consumer.ScoreColor%>" data-percent="<%-experian.Consumer.Score/1200%>"></canvas>
                                        <div class="half-donut-caption"><%-experian.Consumer.Score%></div>
                                    </div>
                                    <div class="">
                                        <span class="inline-sparkline consumerScoreGraph"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 right-seperator">
                                    <div class="text-center experian-canvas">
                                        <div class="text-caption">Indebtedness index</div>
                                        <canvas id="consumerCIICanvas" width="100" height="100" data-color="#a7a7a7" data-percent="<%-Math.abs(experian.Consumer.CII)/100%>"></canvas>
                                        <div class="half-donut-caption"><%-experian.Consumer.CII%></div>
                                    </div>
                                    <div class="">
                                        <span class="inline-sparkline consumerCIIGraph"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 right-seperator">
                                    <div class="text-center">
                                        <div class="text-caption">Total CAIS balance</div>
                                        <% var balance = EzBob.formatPoundsAsThousandsNoDecimals(experian.Consumer.ConsumerAccountsOverview.Balance_Total);
                                        var textSize = 'text-big';
                                        if(balance.length > 5){ textSize = 'text-small';} %>
                                        <p class="<%-textSize%>">
                                            <%-EzBob.formatPoundsAsThousandsNoDecimals(experian.Consumer.ConsumerAccountsOverview.Balance_Total)%>
                                            <br />
                                            (<%-experian.Consumer.ConsumerAccountsOverview.OpenAccounts_Total%> accounts)
                                        </p>
                                    </div>
                                    <div class="">
                                        <span class="inline-sparkline consumerBalanceGraph"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <% alert = experian.Consumer.NumberOfLates > 0 ? 'alert-danger' : 'alert-info';%>
                                    <div class="alert <%-alert%>">
                                        Delays: <%-experian.Consumer.NumberOfLates%>, <%-experian.Consumer.LateStatus%>
                                    </div>
                                    <% alert = experian.Consumer.NumberOfDefaults > 0 ? 'alert-danger' : 'alert-info'; %>
                                    <div class="alert <%-alert%>">
                                        Defaults: <%-experian.Consumer.NumberOfDefaults%>,
                                        <%- experian.Consumer.DefaultAmount < 1000 ? EzBob.formatPoundsAsInt(experian.Consumer.DefaultAmount) : EzBob.formatPoundsAsThousandsNoDecimals(experian.Consumer.DefaultAmount)%>
                                    </div>
                                    <% alert = experian.Consumer.NumberOfCCJs > 0 ? 'alert-danger' : 'alert-info';%>
                                    <div class="alert <%-alert%>">
                                        CCJ <%-experian.Consumer.NumberOfCCJs || 0%>, <%-experian.Consumer.AgeOfMostRecentCCJ || 0%> months ago
                                        <%- experian.Consumer.TotalCCJValue < 1000 ? EzBob.formatPoundsAsInt(experian.Consumer.TotalCCJValue) : EzBob.formatPoundsAsThousandsNoDecimals(experian.Consumer.TotalCCJValue)%>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <%if(experian.Directors && experian.Directors.length > 0){
                            _.each(experian.Directors, function(item, i){
                            item.ConsumerAccountsOverview = item.ConsumerAccountsOverview || {};%>
                            <div class="tab-pane fade in" id="director<%-i%>">
                                <%if(item.HasExperianError) { %>
                                <h3>Error retrieving consumer data</h3>
                                <%} else {%>
                                <div class="col-lg-3 col-md-3 right-seperator">
                                    <div class="text-center experian-canvas">
                                        <div class="text-caption">Score</div>
                                        <canvas id="directorScoreCanvas<%-i%>" width="100" height="100" data-color="<%-item.ScoreColor%>" data-percent="<%-item.Score/1200%>"></canvas>
                                        <div class="half-donut-caption"><%-item.Score%></div>
                                    </div>
                                    <div class="">
                                        <span class="inline-sparkline directorScoreGraph<%-i%>">trend N/A</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 right-seperator">
                                    <div class="text-center experian-canvas">
                                        <div class="text-caption">Indebtedness index</div>
                                        <canvas id="directorCIICanvas<%-i%>" width="100" height="100" data-color="#a7a7a7" data-percent="<%-Math.abs(item.CII)/100%>"></canvas>
                                        <div class="half-donut-caption"><%-item.CII%></div>
                                    </div>
                                    <div class="">
                                        <span class="inline-sparkline directorCIIGraph<%-i%>">trend N/A</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 right-seperator">
                                    <div class="text-center">
                                        <div class="text-caption">Total CAIS balance</div>
                                        <% var balance = EzBob.formatPoundsAsThousandsNoDecimals(item.ConsumerAccountsOverview.Balance_Total);
                                        var textSize = 'text-big';
                                        if(balance.length > 5){ textSize = 'text-small';} %>
                                        <p class="<%-textSize%>">
                                            <%-EzBob.formatPoundsAsThousandsNoDecimals(item.ConsumerAccountsOverview.Balance_Total)%>
                                            <br />
                                            (<%-item.ConsumerAccountsOverview.OpenAccounts_Total%> accounts)
                                        </p>
                                    </div>
                                    <div class="">
                                        <span class="inline-sparkline directorBalanceGraph<%-i%>">trend N/A</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <% alert = item.NumberOfLates > 0 ? 'alert-danger' : 'alert-info';%>
                                    <div class="alert <%-alert%>">
                                        Delays: <%-item.NumberOfLates%>, <%-item.LateStatus%>
                                    </div>
                                    <% alert = item.NumberOfDefaults > 0 ? 'alert-danger' : 'alert-info'; %>
                                    <div class="alert <%-alert%>">
                                        Defaults: <%-item.NumberOfDefaults%>,
                                        <%- item.DefaultAmount < 1000 ? EzBob.formatPoundsAsInt(item.DefaultAmount) : EzBob.formatPoundsAsThousandsNoDecimals(item.DefaultAmount)%>
                                    </div>
                                    <% alert = item.NumberOfCCJs > 0 ? 'alert-danger' : 'alert-info';%>
                                    <div class="alert <%-alert%>">
                                        CCJ <%-item.NumberOfCCJs || 0%>, <%-item.AgeOfMostRecentCCJ || 0%> months ago
                                        <%- item.TotalCCJValue < 1000 ? EzBob.formatPoundsAsInt(item.TotalCCJValue) : EzBob.formatPoundsAsThousandsNoDecimals(item.TotalCCJValue)%>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                            <%});}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>

        <%if(company && company.length>0){ var alert='';%>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-title">
                    <h3>Company Credit Profile <span class="company-name"><%-company[0].CompanyName%> <%-company[0].CompanyRefNum%></span></h3>
                    @BoxTools("CompanyCreditProfile", "#company-score")
                </div>
                <div class="box-content box-no-padding">
                    <%if(company[0].Error){%>
                    <h3><%-company[0].Error%></h3>
                    <%} else if(company[0].CompanyRefNum == 'NotFound'){%>
                    <h3>Company not found</h3>
                    <%} else{%>
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs active">
                            <%_.each(company, function(c, i){
                            var tileColor=''; if(!EzBob.isDarkColor(c.ScoreColor)){ tileColor = 'tile-light'; }%>
                            <li class="<%- (i==0 ? 'active' : '')%>">
                                <a href="#companyExperian<%-i%>" data-toggle="tab" data-companyname="<%-c.CompanyName%>" data-companyref="<%-c.CompanyRefNum%>">
                                    <span class="<%-tileColor%>" style="background-color: <%-c.ScoreColor%>;"><%-c.Score%></span>&nbsp;C<%-(i+1)%>
                                </a>
                            </li>
                            <%});%>
                        </ul>
                        <div class="tab-content">
                            <%_.each(company, function(c, i){%>
                            <div class="tab-pane fade <%- (i==0 ? 'active' : '')%> in" id="companyExperian<%-i%>">
                                <div class="">
                                    <div class="col-lg-3 col-md-3 right-seperator">
                                        <div class="text-center experian-canvas">
                                            <div>Score</div>
                                            <canvas id="companyScoreCanvas<%-i%>" width="100" height="100" data-color="<%-c.ScoreColor%>" data-percent="<%-c.Score/100%>"></canvas>
                                            <div class="half-donut-caption"><%-c.Score%></div>
                                        </div>
                                        <div class="">
                                            <span class="inline-sparkline companyScoreGraph<%-i%>">trend N/A</span>
                                        </div>
                                    </div>
                                    <%if(c.IsLimited){%>
                                    <div class="col-lg-3 col-md-3 right-seperator">
                                        <div class="text-center">
                                            CAIS balance
                                            <p class="text-small">
                                                <%-EzBob.formatPoundsAsThousandsNoDecimals(c.CaisBalance)%>
                                                <br />
                                                (<%-c.CaisAccounts%> accounts)
                                            </p>
                                        </div>
                                        <div class="">
                                            <span class="inline-sparkline companyCaisBalanceGraph<%-i%>">trend N/A</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 right-seperator">
                                        <div class="text-center">
                                            <div>Filed financials</div>
                                            <div>
                                                <div class="col-lg-6">
                                                    <div class="text-center">Profit</div>
                                                    <div class="text-center text-big"><%-EzBob.formatPoundsAsThousandsNoDecimals(c.LastFinData.AdjustedProfit)%></div>
                                                    <div class=""><span id="companyProfit<%-i%>" class="bar-sparkline">trend N/A</span></div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="text-center">Tangible eq'</div>
                                                    <div class="text-center text-big"><%-EzBob.formatPoundsAsThousandsNoDecimals(c.LastFinData.TangibleEquity)%></div>
                                                    <div class=""><span id="companyEquity<%-i%>" class="bar-sparkline">trend N/A</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}else{%>
                                    <div class="col-lg-7 col-md-7 right-seperator">
                                        <div class="text-center">
                                            <h3>Non Limited Company</h3>
                                        </div>
                                    </div>
                                    <%}%>
                                    <div class="col-lg-2 col-md-2">
                                        <%if(c.IsLimited){%>
                                        <% alert = c.LateAccounts > 0 ? 'alert-danger' : 'alert-info';%>
                                        <div class="alert <%-alert%>">
                                            Delays: <%-c.LateAccounts%>, <%-c.LateStatus%>
                                        </div>
                                        <% alert = c.DefaultAccounts > 0 ? 'alert-danger' : 'alert-info'; %>
                                        <div class="alert <%-alert%>">
                                            Defaults: <%-c.DefaultAccounts%>, <%-EzBob.formatPoundsAsInt(c.DefaultAmount)%>
                                        </div>
                                        <%}%>
                                        <% alert = c.Ccjs > 0 ? 'alert-danger' : 'alert-info'; %>
                                        <div class="alert <%-alert%>">
                                            CCJ <%-c.Ccjs%>, <%-c.CcjMonths%> months ago
                                            <%- c.CcjValue < 1000 ? EzBob.formatPoundsAsInt(c.CcjValue) : EzBob.formatPoundsAsThousandsNoDecimals(c.CcjValue)%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%});%>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
        <%}%>
    </div>
    <div class="row">
        <%if(m.LoanActivity && m.Decisions && m.Decisions.TotalDecisionsCount > 0){
        var activeCurrentLoans = m.LoanActivity.ActiveLoans && m.LoanActivity.ActiveLoans.length > 0 ? "active" : "";
        var activeAllLoans = m.LoanActivity.TotalIssuesCount > 0 && activeCurrentLoans == "" ? "active" : "";
        var activeDecisions = activeAllLoans == "" && activeCurrentLoans == "" ? "active" : "";
        %>
        <div class="col-lg-12 col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3>Customer History</h3>
                    @BoxTools("CustomerHistory", "#loanhistorys")
                </div>
                <div class="box-content box-no-padding">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="<%-activeCurrentLoans%>"><a href="#currentLoans" data-toggle="tab"><span class="alert alert-label"><%-m.LoanActivity.ActiveCount%></span>&nbsp;Current Loans</a></li>
                            <li class="<%-activeAllLoans%>"><a href="#loans" data-toggle="tab"><span class="alert alert-label"><%-m.LoanActivity.TotalIssuesCount%></span>&nbsp;All Loans</a></li>
                            <li class="<%-activeDecisions%>"><a href="#decisions" data-toggle="tab"><span class="alert alert-label"><%-m.Decisions.TotalDecisionsCount%></span>&nbsp;Decisions</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade <%-activeCurrentLoans%> in" id="currentLoans">
                                <%if(activeCurrentLoans == ""){%>
                                <div>
                                    <h3>No Active loans</h3>
                                </div>
                                <%}else{%>
                                <%_.each(m.LoanActivity.ActiveLoans, function(l) {%>
                                <div class="box row current-loan-main">
                                    <div class="box-content">
                                        <div class="col-md-2">
                                            <div class="current-loan <%-l.IsEU ? 'loan-eu' : ''%>">Loan #<%-l.LoanNumber%></div>
                                            <div><%-EzBob.formatDate2(l.LoanDate)%></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>InterestRate <%-EzBob.formatPercents(l.InterestRate)%> <span class="red_cell"><%-l.IsLate ? 'Late' : ''%></span></div>
                                            <div>TotalFee <%-EzBob.formatPoundsAsInt(l.TotalFee)%></div>
                                            <div>Term <%-l.Term%>m / <%-l.TermApproved%>m approved</div>
											<div><%-l.InvestorData%></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="approved-loan" style="width: <%-l.WidthPercent*100%>%;">Approved <%-l.Approved < 1000 ? EzBob.formatPoundsAsInt(l.Approved) : EzBob.formatPoundsAsThousands(l.Approved)%></div>
                                            <div class="took-loan" style="width: <%-l.LoanAmountWidthPercent*100%>%;">Took <%-l.LoanAmount < 1000 ? EzBob.formatPoundsAsInt(l.LoanAmount) : EzBob.formatPoundsAsThousands(l.LoanAmount)%> (<%-EzBob.formatPercents(l.LoanAmountPercent)%>)</div>
                                            <div class="balance-loan" style="width: <%-l.BalanceWidthPercent*100%>%;">Balance <%-l.Balance < 1000 ? EzBob.formatPoundsAsInt(l.Balance) : EzBob.formatPoundsAsThousands(l.Balance)%> (<%-EzBob.formatPercents(l.BalancePercent)%>)</div>
                                        </div>
                                        <div class="col-md-2">
                                            <div style="font-size: 12px;"><%-l.Comment%></div>
                                        </div>
                                    </div>
                                </div>
                                <%});%>
                                <%}%>
                            </div>
                            <div class="tab-pane fade <%-activeAllLoans%> in" id="loans">
                                <ul class="summary-offer">
                                    <li>
                                        <p>
                                            <span>Total issues</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.TotalIssuesSum)%></span>
                                            <span><%-m.LoanActivity.TotalIssuesCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Repaid</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.RepaidSum)%></span>
                                            <span><%-m.LoanActivity.RepaidCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Active</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.ActiveSum)%></span>
                                            <span><%-m.LoanActivity.ActiveCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Earned interest</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.LoanActivity.EarnedInterest)%></span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade <%-activeDecisions%> in" id="decisions">
                                <ul class="summary-offer">
                                    <li>
                                        <p>
                                            <span># Decisions</span>
                                            <span><%-m.Decisions.TotalDecisionsCount%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Total approved</span>
                                            <span><%-EzBob.formatPoundsNoDecimals(m.Decisions.TotalApprovedAmount)%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span># Rejects</span>
                                            <span><%-m.Decisions.RejectsCount%></span>
                                        </p>
                                    </li>
                                    <%if(m.Decisions.LastInterestRate > 0){%>
                                    <li>
                                        <p>
                                            <span>Last interest rate</span>
                                            <span><%-EzBob.formatPercents(m.Decisions.LastInterestRate)%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Last approval date</span>
                                            <span><%-EzBob.formatDate(new Date(moment(m.Decisions.LastDecisionDate)))%></span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>Time past from last approval</span>
                                            <span><%-moment(m.Decisions.LastDecisionDate).fromNow()%></span>
                                        </p>
                                    </li>
                                    <%}%>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="rejects">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Oct 1 2013</td>
                                            <td>low sales</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
    <div class="table-ezbig">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3>Journal</h3>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-dashboard active journal-filter">
                                <input type="checkbox" id="allJournal" checked="checked">All
                            </label>
                            <label class="btn btn-dashboard journal-filter">
                                <input type="checkbox" id="manualDecision">Manual Decisions
                            </label>
                            <label class="btn btn-dashboard journal-filter">
                                <input type="checkbox" id="systemDecision">System Decision
                            </label>
                            <label class="btn btn-dashboard journal-filter">
                                <input type="checkbox" id="loanAction">Loan taken/repaid
                            </label>
                            <label class="btn btn-dashboard journal-filter">
                                <input type="checkbox" id="uwNotes">Underwriter notes
                            </label>
                            <label class="btn btn-dashboard journal-filter">
                                <input type="checkbox" id="crmNotes">Customer care & sales
                            </label>
                        </div>
                        @BoxTools("Journal", "#customerRelations")
                    </div>
                    <div class="box-content">
                        <div id="journal"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@helper BoxTools(string bugType, string gotoTab = null) {
    <div class="box-tool">
        @if (!string.IsNullOrEmpty(gotoTab)) {
            <a href="#" data-toggle="tab" class="btn btn-mini btn-primary" onclick="$('a[href=@gotoTab]').click()"><i class="fa fa-ellipsis-h"></i></a>
        }
        <a href="#" class="btn btn-mini btn-primary btn-bug" data-bug-type="@bugType" data-bug-customer="<%-m.Id%>" data-placement="bottom" data-original-title="" title=""><i class="fa fa-bug"></i></a>
        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
}


@{
    Html.RenderPartial("Dashboard/Affordability");
    Html.RenderPartial("Dashboard/Journal");
}