@using System
@using System.Collections.Generic
@using System.Web
@using Integration.ChannelGrabberConfig
@model dynamic

@foreach (KeyValuePair<string, VendorInfo> vip in Configuration.Instance.PureVendors)
{
    VendorInfo vi = vip.Value;

    var sTemplateID = new HtmlString(vi.Name + "AccountInfoTemplate");
    var sFormID = new HtmlString(vi.Name.ToLower() + "Account");

    <script id="@sTemplateID" type="text/template">
        <div class="row-fluid">
            <div class="wizard-top-notification">
                <h2 class="form_start">Please Enter @vi.DisplayName Credentials</h2>
            </div>
            <form id="@sFormID" class="cg-link-account-form">
                <div class="clearfix">
                    @foreach (FieldInfo fi in vi.ClientSide.LinkForm.Fields)
                    {
                        switch (fi.Type)
                        {
                            case "Text":
                        @EzForm.InputText(vi.Name.ToLower() + "_" + fi.PropertyName.ToLower(), fi.Caption, "", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "link-account:cg_account_property")
                                break;

                            case "Password":
                        @EzForm.Password(vi.Name.ToLower() + "_" + fi.PropertyName.ToLower(), fi.Caption, "", cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "link-account:cg_account_password")
                                break;

                            default:
                                throw new Exception("Unsupported field type: " + fi.Type);
                        } // switch
                    }

                    <div class="form_buttons_container">
                        <div class="attardi-button">
                            <a href="#" class="button btn-green disabled connect-account" ui-event-control-id="link-account:cg_connect">Link Account</a>
                            <a href="#" class="back button btn-grey" ui-event-control-id="link-account:cg_back">Back</a>
                        </div>
                    </div>

                    @{ WriteLiteral(string.Join("", vi.ClientSide.LinkForm.Notes)); }
                </div>
            </form>
        </div>
    </script>
}