@using Integration.ChannelGrabberConfig
@model dynamic
@foreach (KeyValuePair<string, VendorInfo> vip in Configuration.Instance.Vendors) {
	VendorInfo vi = vip.Value;

	var sTemplateID = new HtmlString(vi.Name + "AccountInfoTemplate");
	var sFormID = new HtmlString(vi.Name.ToLower() + "Account");


	<script id="@sTemplateID" type="text/template">
	<div class="row-fluid">
		<div class="wizard-top-notification"><h2 class="form_start">Please Enter @vi.DisplayName Credentials</h2></div>
		<form id="@sFormID" class="cg-link-account-form">
			<div class="clearfix">
				@foreach (FieldInfo fi in vi.ClientSide.LinkForm.Fields) {
					switch (fi.Type) {
					case "Text":
						@EzForm.InputText(vi.Name.ToLower() + "_" + fi.PropertyName.ToLower(), fi.Caption, "", cls: "form_field", isRequired: true, statusIcon: true)
						break;

					case "Password":
						@EzForm.Password(vi.Name.ToLower() + "_" + fi.PropertyName.ToLower(), fi.Caption, "", cls: "form_field", isRequired: true, statusIcon: true)
						break;

					default:
						throw new Exception("Unsupported field type: " + fi.Type);
					} // switch
				}

				@{ WriteLiteral(string.Join("", vi.ClientSide.LinkForm.Notes)); }

				<div class="control-group clearfix" style="padding-right: 68px;">
					<a href="#" class="button orange disabled pull-right connect-account">Link Account</a>
					<a href="#" class="back button grey pull-right">Back</a>
				</div>
        
                @if (@vi.DisplayName == "HMRC")
                {
                    <img class="eu_explanation" src="@Url.Content("~/Content/css/images/eu_explanation.png")"/>
                }
			</div>

			@if (vi.ClientSide.LinkForm.HasUploadFiles) {
				<div id="upload-files-form">
					<iframe></iframe>
				</div>
			}
		</form>
	</div>
	</script>
}