@using System.Collections.Generic
@using EzBob.Web.Infrastructure.Html
@{
	var origin = ViewBag.CustomerOrigin.GetOrigin();
}

<script id="HMRCAccountInfoTemplate" type="text/template">
	<div id="linkAccountDiv" class="row-fluid">
		<h2>
			HMRC link
			<div id="linkInfoButton" class="hmrc-info-button hmrc-info-button-right-margin-link" ui-event-control-id="hmrc:link_info_button"></div>
		</h2>
		<h5>Please link your HMRC account by entering your HMRC credentials exactly as used on the HMRC website. To upload the HMRC files, press the back button.</h5>

		<form id="hmrcLinkAccountForm" class="cg-link-account-form">
			<div id="hmrc_fields_link_wrapper">
				<div id="hmrc_fields" class="hmrc_fields_margin">
					@EzForm.InputTextWizard(
						new EzInputBuilder(
							"hmrc_user_id", "User ID",
							cls: "form_field",
							isRequired: true,
							statusIcon: true,
							uiEventControlID: "hmrc:user_id"),
						origin: origin)
					@EzForm.InputTextWizard(
						new EzInputBuilder(
							"hmrc_password",
							"Password",
							type: "password",
							cls: "form_field",
							isRequired: true,
							statusIcon: true,
							uiEventControlID: "hmrc:password"),
						origin: origin)
				</div>
			</div>

			<div class="clearfix">
				<div class="form_buttons_container hmrc_margin_from_header">
					<div class="attardi-button">
						@EzForm.WizardButton(
							new List<EzButtonModel>{
								new EzButtonModel(
									"hmrc_link_account_button",
									"Link Account",
									cls: "button btn-green disabled connect-account ev-btn-org",
									uiEventControlID: "hmrc:do_link_button",
									buttonType: EzButtonType.link,
									href: "#"),
								new EzButtonModel(
									"hmrc_back_button",
									"Back",
									cls: "back button btn-grey linkAccountBack ev-btn-org",
									uiEventControlID: "hmrc:link_back",
									buttonType: EzButtonType.link,
									href: "#")
							},
							origin: origin)
					</div>
				</div>
			</div>

			<div class="hmrc-why-question offline_entry_message wizard_message">
				<div id="linkHelpButton" class="hmrc-question-button float_left" ui-event-control-id="hmrc:link_info_button_lower"></div>
				<div class="hmrc-why">Your data is not shared with any third party. The system only reads the HMRC data to evaluate your business.</div>
			</div>
		</form>
	</div>

	<div class="hide">
		<div id="hmrcLinkHelpPopup" class="help_window">
			<img src="@Url.Content("~/Content/img/hmrc_login_sample.png")" />
		</div>
	</div>
</script>

<script id="HMRCUploadAccountInfoTemplate" type="text/template">
	<div id="uploadFilesDiv" class="row-fluid">
		<h2>Upload VAT return data<div id="uploadInfoButton" class="hmrc-info-button hmrc-info-button-right-margin-upload" ui-event-control-id="hmrc:upload_info_button"></div></h2>
		<h5>Upload your last five  VAT returns. Upload files titled “<strong>Printed Copy of Submitted VAT return for your records</strong>”.</h5>

		<div class="hmrc-upload-ui"></div>

		@EzForm.WizardButton(
			new List<EzButtonModel>{
				new EzButtonModel(
					"hmrc_upload_done_button",
					"Done",
					cls: "button btn-green ev-btn-org",
					uiEventControlID: "hmrc:do_upload",
					buttonType: EzButtonType.button),
				new EzButtonModel(
					"hmrc_upload_back_button",
					"Cancel",
					cls: "button btn-grey back clean-btn",
					uiEventControlID: "hmrc:upload_back",
					buttonType: EzButtonType.button)
			}, origin: origin)


		<div class="hmrc-why-question offline_entry_message wizard_message" style="width: 100%;">
			<div id="uploadHelpButton" class="hmrc-question-button float_left" style="margin-top: 55px;" ui-event-control-id="hmrc:upload_info_button_lower"></div>
			<div class="hmrc-why">
				<p>Don’t know where to locate your last 15 months VAT returns?</p>
				<p>You should have received the files directly from the HMRC for your records. We suggest you request from your filing agent or accountant to email your last 15 months VAT returns.</p>
				<p>Remember to mention that you need files titled “Printed Copy of Submitted VAT return for your records” </p>
			</div>
		</div>
	</div>

	<div class="hide">
		<div id="hmrcUploadHelpPopup" class="help_window">
			<img src="@Url.Content("~/Content/img/hmrc_vat_sample.png")" />
		</div>
	</div>
</script>
