@using EzBob.Web.Infrastructure
@using StructureMap
@model dynamic

<script id="VolusionAccoutInfoTemplate" type="text/template">
    @accountInfo()
</script>

@helper accountInfo(){
    var oCfg = ObjectFactory.GetInstance<IEzBobConfiguration>();

    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Please Enter Volusion Credentials</h2>
        </div>
        <form id="volusionAccount">                              
            <div class="bank-account-instructions clearfix form-horizontal">
                <div class="bank-account">
                    @EzForm.InputText("volusion_shopname", "Volusion Shop Name", oCfg.VolusionShopName,cls: "form_field", isRequired: true, statusIcon: true)
                    @EzForm.InputText("volusion_url", "Volusion Shop URL", oCfg.VolusionShopUrl, cls: "form_field", isRequired: true, statusIcon: true)
                    @EzForm.InputText("volusion_login", "Volusion Login", oCfg.VolusionShopLogin, cls: "form_field", isRequired: true, statusIcon: true)
                    @EzForm.Password("volusion_password", "Volusion Password", oCfg.VolusionShopPassword, cls: "form_field", isRequired: true, statusIcon: true)
                    <div class="control-group clearfix" style="padding-right: 68px;">
                        <a href="#" class="button orange  connect-volusion  disabled pull-right">Continue</a>
                        <a href="#" class="back button grey pull-right">Back</a>
                    </div>
                </div>
            </div>
        </form>
        @*@{Html.RenderPartial("_SecureDisclaimer");}*@
    </div>
}