@using System
@using System.Collections.Generic
@using System.Linq
@using EzBob.CommonLib
@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib
@using EZBob.DatabaseLib.Model.Marketplaces.Yodlee
@using StructureMap
@model dynamic

@{
	var origin = ViewBag.CustomerOrigin.GetOrigin();
	var oDBHelper = ObjectFactory.GetInstance<IDatabaseDataHelper>() as DatabaseDataHelper;
	YodleeBanksModel banks = oDBHelper.GetYodleeBanks();

	var ddlBanks = banks.DropDownBanks
		.Select(x => new Tuple<string, string>(x.csId.ToString(), x.displayName))
		.ToList();
}

<script id="YodleeAccoutInfoTemplate" type="text/template">
    <div class="row-fluid">
        <div class="wizard-top-notification">
            <h2 class="form_start">Select your bank and account type</h2>
            You will be directed to a 3rd party site (Yodlee.com), in which you can grant read only access to your online bank account.
            This will allow @ViewBag.CustomerOrigin.Name to read your bank account transaction and evaluate your business.
        </div>
        <form id="yodleeAccount">
			<div class="control-group">

				<div class="form_field_container BankContainer">
					@foreach (var bank in banks.ImageBanks) {
						<div class="marketplace-button-empty marketplace-button float_left" style="margin-bottom: 25px;">
							<input type="radio" name="Bank" value="@bank.parentBankName" id="Bank_@bank.parentBankName" class="hide" />
							<a class="radio-fx @bank.parentBankName" href="#" id="@bank.parentBankName">
								<span class="@bank.parentBankName on" ui-event-control-id="link-account:yodlee_choose_@bank.parentBankName"></span>
							</a>
						</div>
					}
				</div>
			</div>
			<div class="control-group">
				<h3 id="subTypeHeader" class="hide">Select account type:</h3>
				@foreach (var bank in banks.ImageBanks) {
						string cls = bank.parentBankName + "Container";
					<select class="form_field_container hide @cls SubBank" size="3" ui-event-control-id="link-account:yodlee_account_type">
					@foreach (var sub in bank.subBanks) {
						<option value="@sub.csId">@sub.displayName</option>
					}
					</select>
				}
			</div>
				
			@EzForm.SelectWizard(new EzSelectModel("OtherYodleeBanks", "Other banks",
				ddlBanks,
				cls: "form_field",
				isRequired: false,
				statusIcon: false,
				uiEventControlID: "link-account:yodlee_chooser"),
				origin: origin)
			
			@EzForm.WizardButton(
			new List<EzButtonModel>{
				new EzButtonModel(
					"yodleeLinkAccountBtn",
					"Link account",
					cls: "button btn-green disabled yodlee_help ev-btn-org",
					uiEventControlID: "link-account:yodlee_connect",
					buttonType: EzButtonType.button),
				new EzButtonModel(
					"yodlee_back_button",
					"Back",
					cls: "back button btn-grey ev-btn-org",
					uiEventControlID: "link-account:yodlee_back",
					buttonType: EzButtonType.link,
					href:"#")
			}, origin: origin)

            <div class="hide">
                <div id="yodlee_help" class="help_window">
                    <h2>Link bank account</h2>
                    <p>
                        Please click continue button below to link your bank account.
                        <br />
                        You will be redirected, this will take around 30 seconds.
                    </p>
					@EzForm.WizardButton(
						new List<EzButtonModel>{
							new EzButtonModel(
								"yodleeContinueBtn",
								"Continue",
								cls: "button btn-green ev-btn-org",
								uiEventControlID: "link-account:yodlee_continue_to_link",
								buttonType: EzButtonType.link,
								href:"#yodlee_help",
								target: "_blank",
								onClick:"$.colorbox.close();")
							}, origin: origin)
                    
                    <hr>
                    <div class="help_security"></div>
                </div>
            </div>
        </form>
    </div>
</script>