<script type="text/template" id="request-processing-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header">We are processing your application</div>
			<hr/>
			<div class="automation-secondary-header">Please hold for up to <%-automationTimeout%> seconds...</div>
			<div class="automation-text">There is a good chance you will get an immediate answer</div>
			
			<div class="automation-processing">
				<div class="automation-processing-bar" style="width: 0;"></div>
			</div>
			@ContinueButton("processing")
		</div>
	</div>
</script>

<script type="text/template" id="request-processing-reject-nochance-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header"><%-name%>,</div>
			<hr/>
			<div class="automation-secondary-header">unfortunately we cannot offer you financing at this time</div>
			<div class="automation-text">You are welcome to check with us when your credit status improves</div>
			@ContinueButton("reject-have-chance")
		</div>
		<br />
	</div>
</script>

<script type="text/template" id="request-processing-reject-haschance-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header"><%-name%>,</div>
			<hr/>
			<div class="automation-secondary-header">we don't have enough data to approve your loan.</div>
			<div class="automation-text">Please click continue to provide us an additional data source to add more</div>
				@ContinueButton("reject-nochance")
		</div>
	</div>
</script>

<script type="text/template" id="request-processing-nodecision-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header">Your application is complete.</div>
			<hr/>
			<div class="automation-secondary-header">Your application is now being processed and you should be receiving an email with an offer in the next business day.</div>
			<div class="automation-text">
				<p>
					In case you don't receive a funding decision from us in the next twelve hours please check your spam or junk folder.
					If you still have not received an email, please contact our customer care department by phone: @ViewBag.PhoneNumber or by emailing:
					<a href="mailto:@ViewBag.CustomerOrigin.CustomerCareEmail">@ViewBag.CustomerOrigin.CustomerCareEmail</a>.
				</p>
				<p>If you have additional accounts we recommend that you link them to @ViewBag.CustomerOrigin.Name, so we can have a clearer understanding of your business and be able to increase the amount we can offer.</p>
				<p>
					Thank You,<br>
					The <span class="bold">@ViewBag.CustomerOrigin.Name</span> Team
				</p>
			</div>
			@ContinueButton("nodecision")
		</div>
	</div>
</script>

<script type="text/template" id="request-processing-approved-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header"><%-name%>, Congratulations</div>
			<hr />
			<div class="automation-secondary-header">Your credit is approved and can be taken</div>
			<div class="automation-label">Available Credit</div>
			<div class="automation-value">Up to <%-amount%></div>
			<div class="automation-label">Offer Valid for</div>
			<div class="automation-value offerValidFor"><%-offerValid%> hours</div>
			@ContinueButton("approved")
		</div>
	</div>
</script>

@helper ContinueButton(string popup) {
	<div class="alignright">
		<button onclick="javascript:$.colorbox.close(); return false;" class="button btn-green pull-right" ui-event-control-id="profile:request-processing-continue-popup-@popup">Continue</button>
	</div>
	<div class="clear"></div>
	<br />
}
