<script type="text/template" id="request-processing-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header">We are processing your application</div>
			<hr/>
			<div class="automation-secondary-header">Please hold for up to <%-automationTimeout%> seconds...</div>
			<div class="automation-text">There is a good chance you will get an immediate answer</div>
			
			<div class="automation-processing">
				<div class="automation-processing-bar" style="width: 0;"></div>
			</div>
			@ContinueButton("processing")
		</div>
	</div>
</script>

<script type="text/template" id="request-processing-reject-nochance-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header"><%-name%>,</div>
			<hr/>
			<div class="automation-secondary-header">unfortunately we cannot offer you financing at this time</div>
			<div class="automation-text">You are welcome to check with us when your credit status improves</div>
			@ContinueButton("reject-no-chance")
		</div>
		<br />
	</div>
</script>

<script type="text/template" id="request-processing-reject-haschance-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header"><%-name%>,</div>
			<hr/>
			<div class="automation-secondary-header">we don't have enough data to approve your loan.</div>
			<div class="automation-text">Please click continue to provide us an additional data source to add more</div>
			@ContinueButton("reject-has-chance")	
		</div>
	</div>
</script>

<script type="text/template" id="request-processing-nodecision-template">
	<div class="automation-popup automation-popup-complete ">
		<div class="automation-popup-content">
			<div class="automation-header">Your application is complete</div>
			<hr class="automation-hr"/>
			@*<div class="automation-secondary-header">Hi <%-name%>,</div>*@
			<div class="automation-text">
				<p>Thank you. Your application is now being processed and we will provide you with an update in less than an hour. Please note in certain circumstances where additional information is required it may take a little longer.</p>
				<p>If you don’t receive correspondence within the next hour, please check your spam or junk folder. If you have not received an email, please contact us on <a href="mailto:@ViewBag.CustomerOrigin.CustomerCareEmail">@ViewBag.CustomerOrigin.CustomerCareEmail</a> or telephone Customer Care on <a href="tel:@ViewBag.PhoneNumber">@ViewBag.PhoneNumber</a>.</p>
				<p>We may be able to offer you more funds. Please link any additional accounts you may have to Everline as this will provide us with a clearer understanding of your business and increase your amount.</p>
				
			</div>
			@ContinueButton("nodecision")
		</div>
	</div>
</script>

<script type="text/template" id="request-processing-approved-template">
	<div class="automation-popup">
		<div class="automation-popup-content">
			<div class="automation-header"><%-name%>, Congratulations</div>
			<hr />
			<div class="automation-secondary-header">You have been approved for a loan</div>
			<div class="automation-label">Available Credit</div>
			<div class="automation-value">Up to <%-amount%></div>
			<div class="automation-label">Offer Valid for</div>
			<div class="automation-value offerValidFor"><%-offerValid%> hours</div>
			@ContinueButton("approved")
		</div>
	</div>
</script>

@helper ContinueButton(string popup) {
	<div class="alignright">
		<button onclick="javascript:$.colorbox.close(); return false;" class="button btn-green pull-right automation-button ev-btn-org" ui-event-control-id="profile:request-processing-continue-popup-@popup">Continue to account</button>
	</div>
	<div class="clear"></div>
}
