@using System.Collections.Generic
@using System.Linq
@using EzBob.Web.Areas.Underwriter.Models.Fraud

<script type="text/template" id="fraud-template">
    @UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Other)
    <div id="main-content">
        <div class="box">
            <div class="box-content">
                <div class="left simple-well">
                    <button class="add btn btn-success btn-small"><i class="fa fa-plus"></i>Add new fraud user</button>
                </div>
                <table class="table">
                    <thead class="box">
                        @EzForm.RawHeaderCell("Fraud", "", "", "", "", "", "", "")
                    </thead>
                    <tbody>
                        @EzForm.RawCell("<b>Name</b>",
                            "<b>Addresses</b> (Postcode, line1, Line2, Line3, Town, County)",
                            "<b>Phones</b>",
                            "<b>Emails</b>",
                            "<b>Email Domains</b>",
                            "<b>Bank Accounts</b> (Bank account, Sort code)",
                            "<b>Companies</b> (Company name, Registration Number)",
                            "<b>Shops</b> (Shop name, Shop type)")
                        <%_.each(data, function(val){ %> 
            <%
            function PrepareOutput(data){
                var retVal = "";
                _.each(data, function(value, i){
                    var copyValue = value;
                    delete copyValue.Id;
                    var elems = _.values(copyValue);
                    retVal+= i+1 + ') ' + elems.toString().replace(/,/g,', ') + ' <br />'; 
                });
                return retVal.isNullOrEmpty() ? "-" : retVal;
            }
            %>
            @EzForm.RawCell(
                "<%-val.FirstName%> <%-val.LastName%>",
                "<%=PrepareOutput(val.Addresses)%>",
                "<%=PrepareOutput(val.Phones)%>",
                "<%=PrepareOutput(val.Emails)%>",
                "<%=PrepareOutput(val.EmailDomains)%>",
                "<%=PrepareOutput(val.BankAccounts)%>",
                "<%=PrepareOutput(val.Companies)%>",
                "<%=PrepareOutput(val.Shops)%>"
                 )
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="fraud-add-edit-template">
    <div class="modal-body">
        <form class="form-horizontal fraud-form" action="/" method="post">
            <b>Fraud name</b>
            @EzForm.InputTextUnderwriter(this, "FirstName", "First Name", "")
            @EzForm.InputTextUnderwriter(this, "LastName", "Last Name", "")
            <hr />

            <b>Fraud Addresses </b><span>(Postcode, line1, Line2, Line3, Town, County)</span>
            <div class="Addresses"></div>
            <button class="btn-mini btn btn-success add" data-type="Addresses"><i class="fa fa-plus"></i></button>
            <hr />

            <b>Fraud Phones</b>
            <div class="Phones"></div>
            <button class="btn-mini btn btn-success add" data-type="Phones"><i class="fa fa-plus"></i></button>
            <hr />

            <b>Fraud Emails</b>
            <div class="Emails"></div>
            <button class="btn-mini btn btn-success add" data-type="Emails"><i class="fa fa-plus"></i></button>
            <hr />

            <b>Fraud Email Domains </b><span>(like "gmail.com")</span>
            <div class="EmailDomains"></div>
            <button class="btn-mini btn btn-success add" data-type="EmailDomains"><i class="fa fa-plus"></i></button>
            <hr />

            <b>Fraud Bank Accounts </b><span>(Bank account, Sort code)</span>
            <div class="BankAccounts"></div>
            <button class="btn-mini btn btn-success add" data-type="BankAccounts"><i class="fa fa-plus"></i></button>
            <hr />

            <b>Fraud Companies </b><span>(Company name, Registration Number)</span>
            <div class="Companies"></div>
            <button class="btn-mini btn btn-success add" data-type="Companies"><i class="fa fa-plus"></i></button>
            <hr />

            <b>Fraud Shops </b><span>(Shop name, Shop type)</span>
            <div class="Shops"></div>
            <button class="btn-mini btn btn-success add" data-type="Shops"><i class="fa fa-plus"></i></button>
            <hr />
        </form>
    </div>
    <div class="form-group">
        <button class="btn btn-primary form-control save">Save</button>
    </div>
</script>

@helper AddValuesModal(string caption, IEnumerable<InputValuesModel> values)
{
    <div class="modal-body">
        <form class="form-horizontal fraud-form-add-values">
            @foreach (var val in values)
            {
                if (val.IsCombobox)
                {
                    @EzForm.SelectAdvanced(val.Id, val.Caption, val.MpType.ToDictionary(key => key.Name, value=>value.Name), "","form-control selectheight ")
                }
                else
                {
                @EzForm.InputTextUnderwriter(this, val.Id, val.Caption, val.Value)
                }
            }
        </form>
    </div>
    <div class="form-group">
        <button class="btn btn-primary ok">Add</button>
    </div>
}

@helper SimpleValues(string caption, string type)
{
    <text>
    <%_.each(models, function(val, i){%>
        <div class="control-group">
            <label class="control-label" for="@caption<%-i%>">@caption <%-i+1%></label>
            <div class="controls">
                <%if(_.keys(val).length>2){ %>
                <textarea  disabled="disabled" style="height:40px; resize: none"><%-_.values(val)%></textarea>
                <button class="btn btn-mini btn-primary remove" data-index="<%-i%>" data-type="@type"><i class="fa fa-times"></i></button>
                <%}else{%>
                <input type="text" disabled="disabled" value="<%-_.values(val)%>">
                <button class="btn btn-mini btn-primary remove" data-index="<%-i%>" data-type="@type" style="margin-top: -10px"><i class="fa fa-times"></i></button>
                <%}%>
                
            </div>
        </div>
    <%});%>
    </text>
}
<script type="text/template" id="Addresses-template">
    @SimpleValues("Address", "Addresses")
</script>

<script type="text/template" id="Phones-template">
    @SimpleValues("Phone", "Phones")
</script>

<script type="text/template" id="Emails-template">
    @SimpleValues("Email", "Emails")
</script>

<script type="text/template" id="EmailDomains-template">
    @SimpleValues("Email Domain", "EmailDomains")
</script>

<script type="text/template" id="BankAccounts-template">
    @SimpleValues("Bank Account", "BankAccounts")
</script>

<script type="text/template" id="Companies-template">
    @SimpleValues("Company", "Companies")
</script>

<script type="text/template" id="Shops-template">
    @SimpleValues("Shop", "Shops")
</script>

<script type="text/template" id="add-Addresses-template">
    @AddValuesModal("Add Fraud Addresses", new List<InputValuesModel>
        {
            new InputValuesModel
                {
                    Caption = "Postcode",
                    Id = "Postcode",
                    Value = ""
                },
            new InputValuesModel
                {
                    Caption = "Address Line1",
                    Id = "Line1",
                    Value = ""
                },
            new InputValuesModel
                {
                    Caption = "Address Line2",
                    Id = "Line2",
                    Value = ""
                },
            new InputValuesModel
                {
                    Caption = "Address Line3",
                    Id = "Line3",
                    Value = ""
                },
            new InputValuesModel
                {
                    Caption = "Town",
                    Id = "Town",
                    Value = ""
                },
            new InputValuesModel
                {
                    Caption = "County",
                    Id = "County",
                    Value = ""
                }
        })
</script>

<script type="text/template" id="add-Phones-template">
    @AddValuesModal("Add Fraud Phone", new List<InputValuesModel>
        {
            new InputValuesModel
                {
                    Caption = "Phone",
                    Id = "PhoneNumber",
                    Value = ""
                }
        })
</script>

<script type="text/template" id="add-Emails-template">
    @AddValuesModal("Add Fraud Email", new List<InputValuesModel>
        {
            new InputValuesModel
                {
                    Caption = "Email",
                    Id = "Email",
                    Value = ""
                }
        })
</script>

<script type="text/template" id="add-EmailDomains-template">
    @AddValuesModal("Add Fraud Email Domain", new List<InputValuesModel>
        {
            new InputValuesModel
                {
                    Caption = "Email",
                    Id = "EmailDomain",
                    Value = ""
                }
        })
</script>

<script type="text/template" id="add-BankAccounts-template">
    @AddValuesModal("Add Fraud Bank Accounts", new List<InputValuesModel>
        {
            new InputValuesModel
                {
                    Caption = "Bank Account",
                    Id = "BankAccount",
                    Value = ""
                },
            new InputValuesModel
                {
                    Caption = "Sort Code",
                    Id = "SortCode",
                    Value = ""
                }
        })
</script>

<script type="text/template" id="add-Companies-template">
    @AddValuesModal("Add Fraud Company", new List<InputValuesModel>
        {
            new InputValuesModel
                {
                    Caption = "Company Name",
                    Id = "CompanyName",
                    Value = ""
                },
             new InputValuesModel
                {
                    Caption = "Registration Number",
                    Id = "RegistrationNumber",
                    Value = ""
                }
        })
</script>

<script type="text/template" id="add-Shops-template">
    @AddValuesModal("Add Fraud Shop", new List<InputValuesModel>
        {
            new InputValuesModel
                {
                    Caption = "Shop Name",
                    Id = "Name",
                    Value = ""
                },
             new InputValuesModel
                {
                    Caption = "Shop Type",
                    Id = "Type",
                    Value = "",
                    IsCombobox = true,
                    MpType = Model.MpTypes
                }
        })
</script>
