@model EzBob.Web.Areas.Underwriter.Models.LoansGrids
@{
    ViewBag.Title = "Underwriter";
}
<div id="customers-view" style="display: none;">
    <div class="tabbable tabs-left" id="applications-tabs">
        <ul class="nav nav-tabs ui-state-default left-underwriter-menu">
            <li class="active"><a href="#customers/waiting" data-target="#waiting" data-toggle="tab">Decision(<span id="waiting-count"></span>)</a></li>
            @if (Model.Escalated != null)
            {
                <li><a href="#customers/escalated" data-target="#escalated" data-toggle="tab">Escalated(<span id="escalated-count"></span>)</a></li>
            }
            <li><a href="#customers/pending" data-target="#pending" data-toggle="tab">Pending(<span id="pending-count"></span>)</a></li>
            <li><a href="#customers/approved" data-target="#approved" data-toggle="tab">Approved</a></li>
            <li><a href="#customers/loans" data-target="#loans" data-toggle="tab">Loans</a></li>
            <li><a href="#customers/sales" data-target="#sales" data-toggle="tab">Sales</a></li>
            <li><a href="#customers/late" data-target="#late" data-toggle="tab">Late</a></li>
            <li><a href="#customers/rejected" data-target="#rejected" data-toggle="tab">Rejected</a></li>
            <li><a href="#customers/all" data-target="#all" data-toggle="tab">All customers</a></li>
            <li><a href="#customers/RegisteredCustomers" data-target="#RegisteredCustomers" data-toggle="tab">Registered(<span id="RegisteredCustomers-count"></span>)</a></li>
        </ul>
        <div class="tab-content customer-grids">
            <div class="tab-pane active" id="waiting"></div>
            @if (Model.Escalated != null)
            {
                <div class="tab-pane" id="escalated"></div>
            }
            <div class="tab-pane" id="pending"></div>
            <div class="tab-pane" id="approved"></div>
            <div class="tab-pane" id="late"></div>
            <div class="tab-pane" id="rejected"></div>
            <div class="tab-pane" id="all"></div>
            <div class="tab-pane" id="RegisteredCustomers"></div>
            <div class="tab-pane" id="loans"></div>
            <div class="tab-pane" id="sales"></div>
        </div>
    </div>
</div>
<div id="profile-view" style="display: none;"></div>
<div id="settings-view" style="display: none;"></div>
<div id="automation-view" style="display: none;"></div>
<div id="support-area" style="display: none;"></div>
<div id="fraud-area" style="display: none;"></div>

@{
    Html.RenderPartial("_ProfileTemplateMain");
    Html.RenderPartial("_CustomersPopupTemplate");
    Html.RenderPartial("AutomationSettings/StrategySettings");
    Html.RenderPartial("AutomationSettings/StrategyAutomation");
    Html.RenderPartial("Support/_Support");
    Html.RenderPartial("Fraud/Fraud");
}
@section Js{
    <script type="text/javascript">

        EzBob.Config.MinLoan = @Model.Config.MinLoan;
        EzBob.Config.MaxLoan = @Model.MaxLoan;
        EzBob.Config.XMinLoan = @Model.Config.XMinLoan;
        EzBob.Config.SessionTimeout = @Model.Config.SessionTimeout;
        EzBob.Config.PacnetBalanceMaxManualChange = @Model.Config.PacnetBalanceMaxManualChange;

        $(function() {

            var customersOptions = {
                el: $('#customers-view'),
                grids: [
                    { el: '#waiting', url: '@Url.Action(@Model.WaitingForDecision.Action, new {Area = "Underwriter"})', model: @Model.WaitingForDecision.ColModel, names: @Model.WaitingForDecision.ColNames }
                    @if (Model.Escalated != null)
                    {
                        <text>
                    ,
                    { el: '#escalated', url: '@Url.Action(@Model.Escalated.Action, new {Area = "Underwriter"})', model: @Model.Escalated.ColModel, names: @Model.Escalated.ColNames}
                    </text>
                    },
                    { el: '#pending', url: '@Url.Action(@Model.Pending.Action, new {Area = "Underwriter"})', model: @Model.Pending.ColModel, names: @Model.Pending.ColNames },
                    { el: '#approved', url: '@Url.Action(@Model.Approved.Action, new {Area = "Underwriter"})', model: @Model.Approved.ColModel, names: @Model.Approved.ColNames },
                    { el: '#late', url: '@Url.Action(@Model.Late.Action, new {Area = "Underwriter"})', model: @Model.Late.ColModel, names: @Model.Late.ColNames },
                    { el: '#rejected', url: '@Url.Action(@Model.Rejected.Action, new {Area = "Underwriter"})', model: @Model.Rejected.ColModel, names: @Model.Rejected.ColNames },
                    { el: '#all', url: '@Url.Action(@Model.All.Action, new {Area = "Underwriter"})', model: @Model.All.ColModel, names: @Model.All.ColNames },
                    { el: '#RegisteredCustomers', url: '@Url.Action(@Model.RegisteredCustomers.Action, new {Area = "Underwriter"})', model: @Model.RegisteredCustomers.ColModel, names: @Model.RegisteredCustomers.ColNames },
                    { el: '#loans', url: '@Url.Action(@Model.Loans.Action, new {Area = "Underwriter"})', model: @Model.Loans.ColModel, names: @Model.Loans.ColNames },
                    { el: '#sales', url: '@Url.Action(@Model.Sales.Action, new {Area = "Underwriter"})', model: @Model.Sales.ColModel, names: @Model.Sales.ColNames },
                ]
            };

            //count updater
            var counterTimer;

            function updateCounters() {
                var xhr = $.get(window.gRootPath + "Underwriter/Customers/GetCounters", { isTest: EzBob.Config.isTest });
                xhr.done(function(response) {
                    _.each(response, function(val) {
                        $("#" + val.Name + "-count").text(val.Count);
                    });
                });
            }

            var customersView = new EzBob.Underwriter.CustomersView(customersOptions);
            var profileView = new EzBob.Underwriter.ProfileView({ el: $('#profile-view') });
            var strategySettingsView = new EzBob.Underwriter.StrategySettingsView({ el: $('#settings-view') });
            var strategyAutomationView = new EzBob.Underwriter.StrategyAutomationView({ el: $('#automation-view') });
            var supportView = new EzBob.Underwriter.SupportView({ el: $("#support-area") });
            var fraudView = new EzBob.Underwriter.FraudView({ el: $("#fraud-area") });

            var underwriterRouter = Backbone.Router.extend({
                initialize: function() {
                    this.isCustomersRendered = false;
                    this.isProfileRendered = false;
                    this.isSettingsRendered = false;
                    this.isAutomationRendered = false;
                    this.isSupportRendered = false;
                    this.isFraudRendered = false;
                },
                routes: {
                    "": "customers",
                    "customers/:type": "customers",
                    "profile/:id": "profile",
                    "profile/:id/:type": "profilePopup",
                    "settings": "settings",
                    "automation": "automation",
                    "support": "support",
                    "fraud": "fraud"
                },
                customers: function(type) {
                    counterTimer = counterTimer || setInterval(updateCounters, 5000);
                    if (!this.isCustomersRendered) {
                        this.isCustomersRendered = true;
                        customersView.render();
                    }
                    this.switchMenuTo("liApplications");
                    this.hideAll();

                    customersView.show(type);
                    EzBob.App.vent.trigger('uw:grids:refresh');
                },
                profile: function(id, type) {
                    clearInterval(counterTimer);
                    counterTimer = null;
                    this.switchMenuTo("liApplications");
                    if (!this.isProfileRendered) {
                        this.isProfileRendered = true;
                        profileView.render();
                    }
                    this.hideAll();
                    profileView.show(id, type);
                    profileView.showed = true;

                },
                profilePopup: function(id, type) {
                    var profilePopupView = new EzBob.Underwriter.ProfilePopupView({ customerId: id });
                    profilePopupView.modalOptions = { show: true, keyboard: false, width: 650 };

                    var that = this;
                    profilePopupView.on("close", function() {
                        that.navigate("#customers/RegisteredCustomers");
                    });
                    EzBob.App.modal.show(profilePopupView);
                },
                settings: function() {
                    this.switchMenuTo("liStrategySettings");
                    if (!this.isSettingsRendered) {
                        this.isSettingsRendered = true;
                        strategySettingsView.render();
                    }
                    this.hideAll();
                    strategySettingsView.show();
                },
                automation: function() {
                    this.switchMenuTo("liAutomation");
                    if (!this.isAutomationRendered) {
                        this.isAutomationRendered = true;
                        strategyAutomationView.render();
                    }
                    this.hideAll();
                    strategyAutomationView.show();
                },
                support: function() {
                    this.switchMenuTo("liSupport");
                    if (!this.isSupportRendered) {
                        this.isSupportRendered = true;
                        supportView.render();
                    }
                    this.hideAll();
                    supportView.show();

                },
                fraud: function() {
                    this.switchMenuTo("liFraud");
                    if (!this.isFraudRendered)
                        this.isFraudRendered = true;
                    this.hideAll();
                    fraudView.$el.show();
                },
                switchMenuTo: function(name) {
                    $(".container-fluid > ul.nav > li[id]").removeClass("active");
                    $("#" + name).addClass("active");
                },
                hideAll: function() {
                    customersView.hide();
                    profileView.hide();
                    profileView.showed = false;
                    strategyAutomationView.hide();
                    strategySettingsView.hide();
                    supportView.hide();
                    fraudView.$el.hide();
                }
            });

            profileView.router = new underwriterRouter();
            Backbone.history.start();
            profileView.on("customerNotFull", function(customerId) {
                profileView.router.navigate("#customers/RegisteredCustomers", { trigger: true, replace: true });
                profileView.router.navigate("#profile/" + customerId + "/RegisteredCustomers", { trigger: true, replace: true });
            });

            supportView.on("rechecked", function(options) {
                var umi = options.umi;
                var el = $("[umi=" + umi + "]");
                var status = el.parent().prev();
                supportView.model.fetch().done(function() {
                    var interval = setInterval(function() {
                        var req = $.get(window.gRootPath + "Underwriter/MarketPlaces/CheckForUpdatedStatus", {
                            mpId: umi
                        });
                        return req.done(function(response) {
                            status.text(response.status);
                            if (response.status !== "In progress") {
                                clearInterval(interval);
                                supportView.model.fetch().done(function() {
                                    el.removeClass("disabled");
                                    if (response.status == 'Done') {
                                        EzBob.ShowMessage("The MP " + umi + " rechecked successfully", "", null, "OK");
                                    }
                                    supportView.model.trigger('change');
                                });
                            }
                        });
                    }, 1000);
                });

            });

            if (window.location.hash != "") {
                $('a[href="' + window.location.hash + '"]').tab('show');
            }

            var a = new EzBob.Underwriter.goToCustomerId();
            a.on("ok", function(id) {
                profileView.router.navigate("profile/" + id, { trigger: true, replace: true });
            });

            $("#liClient > a").on("click", function() {
                a.render();
                return false;
            });

        });

        @if (Model.Escalated != null)
        {
            <text>  var escalatedFlag = 1;  </text>
        }
        else
        {
            <text>  var escalatedFlag = 0;  </text>
        }
    </script>
}