@using ConfigManager
@model EzBob.Web.Areas.Underwriter.Models.LoansGrids
@{
    ViewBag.Title = "Underwriter";
}
<div id="grids-view" style="display: none;">
    @UnderwriterSidebar.Menu(this, UnderwriterSidebar.SideBarType.Customers, Model.IsEscalated)
    <div id="main-content">
        <div class="page-title">
            <div>
                <h1></h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tab-pane active" id="waiting-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Decision</th>
                                <th>Calc. amount</th>
                                <th>O/S balance</th>
                                <th>Last Status</th>
                                <th>Broker</th>
                                <th>Comment</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        @Tds(15)
                    </table>
                </div>
            </div>
            @if (Model.IsEscalated)
            {
            <div class="tab-pane" id="escalated-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Current staus</th>
                                <th>Calc. amount</th>
                                <th>O/S balance</th>
                                <th>Escalation date</th>
                                <th>Underwriter</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        @Tds(13)
                    </table>
                </div>
            </div>
            }
            <div class="tab-pane" id="pending-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Cur. status</th>
                                <th>Calc. amount</th>
                                <th>O/S balance</th>
                                <th>Pending status</th>
                                <th>Last Status</th>
                                <th>Broker</th>
                                <th>Comment</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        @Tds(16)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="signature-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Cur. status</th>
                                <th>Calc. amount</th>
                                <th>O/S balance</th>
                                <th>Pending status</th>
                                <th>Last Status</th>
                                <th>Broker</th>
                                <th>Comment</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        @Tds(16)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="approved-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Approve date</th>
                                <th>Reg. date</th>
                                <th>Calc. amount</th>
                                <th>Approved</th>
                                <th>Amount taken</th>
                                <th>Approves #</th>
                                <th>Rejects #</th>
                                <th>Last Status</th>
                                <th>Broker</th>
                                <th>Comment</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        @Tds(18)
                    </table>
                </div>
            </div>
			<div class="tab-pane" id="pendingInvestor-grid">
				<div class="table-responsive table-ezbig">
					<table class="table grid-data">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Grade</th>
								<th>Applicant score</th>
								<th>Approved amount</th>
								<th>Term</th>
								<th>Request approved at</th>
								<th>Time limit until autoreject</th>
								<th></th>
								<th></th>
								<th>Choose investor</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						@Tds(13)
					</table>
				</div>
			</div>
            <div class="tab-pane" id="loans-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Reg. date</th>
                                <th>First loan date</th>
                                <th>Last loan date</th>
                                <th>Last loan amount</th>
                                <th>Amount taken</th>
                                <th>Repaid</th>
                                <th>O/S balance</th>
                                <th>Next repayment</th>
                                <th>Last Status</th>
                                <th>Broker</th>
                                <th>Comment</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        @Tds(18)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="sales-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>E-mail</th>
                                <th>Name</th>
                                <th>Mobile phone</th>
                                <th>Daytime phone</th>
                                <th>Approved sum</th>
                                <th>Amount taken</th>
                                <th>Offer date</th>
                                <th>O/S balance</th>
                                <th>CRM status</th>
                                <th>CRM comment</th>
                                <th>Interactions</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        @Tds(13)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="collection-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>E-mail</th>
                                <th>Name</th>
                                <th>Mobile phone</th>
                                <th>Daytime phone</th>
                                <th>Amount taken</th>
                                <th>O/S balance</th>
                                <th>CRM status</th>
                                <th>CRM comment</th>
                                <th>Collection status</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        @Tds(11)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="late-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Approve date</th>
                                <th>Reg. date</th>
                                <th>Calc. amount</th>
                                <th>Approved sum</th>
                                <th>Amount taken</th>
                                <th>Approves #</th>
                                <th>Rejects #</th>
                                <th>Segment</th>
                                <th>O/S balance</th>
                                <th>Date of late payment</th>
                                <th>Late amount</th>
                                <th>Delinquency</th>
                                <th>CRM status</th>
                                <th>CRM comment</th>
                            </tr>
                        </thead>
                        @Tds(20)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="rejected-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Rejected date</th>
                                <th>Reason</th>
                                <th>Rejects #</th>
                                <th>Approves #</th>
                                <th>O/S balance</th>
                                <th>Last Status</th>
                                <th>Broker</th>
                                <th>Comment</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        @Tds(17)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="all-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Reg. date</th>
                                <th>Apply date</th>
                                <th>Customer status</th>
                                <th>Calc. amount</th>
                                <th>Approved sum</th>
                                <th>O/S balance</th>
                            </tr>
                        </thead>
                        @Tds(11)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="registered-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>E-mail</th>
                                <th>User status</th>
                                <th>Reg. date</th>
                                <th>MPs statuses</th>
                                <th>Wizard step</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        @Tds(7)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="logbook-grid">
                <div id="logbook-new-entry-form" class="hide">
                    <div class="left-column">
                        <h3>New entry</h3>

                        <div>Entry type</div>
                        <select id="logbook-new-entry-type" tabindex="1">
                            <option></option>
                        </select>

                        <button type="button" id="logbook-new-entry-save" class="btn btn-primary" tabindex="3">Save</button>
                        <button type="button" id="logbook-new-entry-cancel" class="btn" tabindex="4">Cancel</button>
                    </div>

                    <textarea id="logbook-new-entry" placeholder="Entry content" tabindex="2"></textarea>
                </div>
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Author</th>
                                <th>Time</th>
                                <th>Content</th>
                            </tr>
                        </thead>
                        @Tds(5)
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="brokers-grid">
                <div class="table-responsive table-ezbig">
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Firm name</th>
                                <th>Contact name</th>
                                <th>E-mail</th>
                                <th>Mobile</th>
                                <th>Other phone #</th>
                                <th>Web site</th>
                            </tr>
                        </thead>
                        @Tds(2)
                    </table>
                </div>
            </div>
			<div class="tab-pane" id="investors-grid">
				<div class="table-responsive table-ezbig">
					<table class="table grid-data">
						<thead>
							<tr>
								<th>#</th>
								<th>Investor type</th>
								<th>Company name</th>
								<th>Reg date</th>
							</tr>
						</thead>
						@Tds(4)
					</table>
				</div>
			</div>
        </div>
    </div>
</div>

<div id="profile-view" style="display: none;"></div>
<div id="settings-view" style="display: none;"></div>
<div id="automation-view" style="display: none;"></div>
<div id="support-area" style="display: none;"></div>
<div id="fraud-area" style="display: none;"></div>
<div id="report-view" style="display: none;"></div>
<div id="funding-view" style="display: none;"></div>
<div id="broker-profile-view" style="display: none;">@{ Html.RenderPartial("_BrokerProfile"); }</div>

@{
    Html.RenderPartial("_ProfileTemplateMain");
    Html.RenderPartial("AutomationSettings/StrategySettings");
    Html.RenderPartial("AutomationSettings/StrategyAutomation");
    Html.RenderPartial("Support/_Support");
    Html.RenderPartial("Fraud/Fraud");
    Html.RenderPartial("../Reports/Report");
    Html.RenderPartial("Support/Funding");
    Html.RenderPartial("~/Areas/Customer/Views/Shared/_TargetingTemplate.cshtml");
    Html.RenderPartial("../CrossCheck/Zoopla");
    Html.RenderPartial("../CrossCheck/LandRegistryEnquiry");
    Html.RenderPartial("../CrossCheck/LandRegistryEnquiryResults");
	Html.RenderPartial("../Investor/InvestorMain");
}

@ChangeAddress.Render(this, Url.Action("ChangeAddress", "CrossCheck", new { Area = "Underwriter"}))

@section Js{
    <script type="text/javascript">
        EzBob.Config.MinLoan = @CurrentValues.Instance.MinLoan.Value;
        EzBob.Config.MaxLoan = @Model.MaxLoan;
        EzBob.Config.ManagerMaxLoan = @Model.ManagerMaxLoan;
        EzBob.Config.XMinLoan = @CurrentValues.Instance.XMinLoan.Value;
        EzBob.Config.SessionTimeout = @CurrentValues.Instance.SessionTimeout.Value;
        EzBob.Config.PacnetBalanceMaxManualChange = @CurrentValues.Instance.PacnetBalanceMaxManualChange.Value;
        EzBob.Underwriter.StaticData = {};
        EzBob.Underwriter.StaticData.CollectionStatuses = new EzBob.Underwriter.CollectionStatuses(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.CollectionStatuses)));

        EzBob.Config.EchoSignEnabledUnderwriter = @(CurrentValues.Instance.EchoSignEnabledUnderwriter ? "true" : "false");

        @{
            OneUploadLimitation oHmrcOul = CurrentValues.Instance.GetUploadLimitations("UploadHmrcController", "SaveFile");
            OneUploadLimitation oAlertDocOul = CurrentValues.Instance.GetUploadLimitations("AlertDocsController", "UploadDoc");
            OneUploadLimitation oComanyFilesOul = CurrentValues.Instance.GetUploadLimitations("CompanyFilesMarketPlaces", "UploadedFiles");
        }

        EzBob.Config.HmrcMaxFileSize = +(@oHmrcOul.FileSize / 1048576.0).toFixed(2);
        EzBob.Config.HmrcAcceptedFiles = '@oHmrcOul.AcceptedFiles';

        EzBob.Config.CompanyFilesMaxFileSize = +(@oComanyFilesOul.FileSize / 1048576.0).toFixed(2);
        EzBob.Config.CompanyFilesAcceptedFiles = '@oComanyFilesOul.AcceptedFiles';

        EzBob.Config.AlertDocMaxFileSize = +(@oAlertDocOul.FileSize / 1048576.0).toFixed(2);
        EzBob.Config.AlertDocAcceptedFiles = '@oAlertDocOul.AcceptedFiles';

        var escalatedFlag = @(Model.IsEscalated ? 1 : 0);
        EzBob.handleUserLayoutSetting();
    </script>

    <script type="text/javascript" src="../Content/js/Underwriter/customersGrid/ezbob.underwriter.index.js"></script>
}

@helper Tds(int num)
{
    <tbody>
        <tr>
            @for (int i = 0; i < num; ++i)
            {
                <td></td>
            }
        </tr>
    </tbody>
}