@using ConfigManager
@model EzBob.Web.Areas.Underwriter.Models.LoansGrids
@{
    ViewBag.Title = "Underwriter";
}
<div id="grids-view" style="display: none;">
    <div id="sidebar" class="bg">
		<a href="#" id="reload-button-template" class="hide">Reload</a>

        <ul class="nav nav-list">
            <li class="active"><a href="#waiting-grid" data-toggle="tab"><i class="fa fa-envelope-o"></i><span>Decision(<span id="waiting-count"></span>)</span></a></li>
            @if (Model.IsEscalated)
            {
                <li><a href="#escalated-grid" data-toggle="tab"><i class="fa fa-arrow-up"></i><span>Escalated(<span id="escalated-count"></span>)</span></a></li>
            }
            <li><a href="#pending-grid" data-toggle="tab"><i class="fa fa-clock-o"></i><span>Pending(<span id="pending-count"></span>)</span></a></li>
            <li><a href="#approved-grid" data-toggle="tab"><i class="fa fa-thumbs-o-up"></i><span>Approved</span></a></li>
            <li><a href="#rejected-grid" data-toggle="tab"><i class="fa fa-thumbs-o-down"></i><span>Rejected</span></a></li>
            <li><a href="#loans-grid" data-toggle="tab"><i class="fa fa-gbp"></i><span>Loans</span></a></li>
            <li><a href="#sales-grid" data-toggle="tab"><i class="fa fa-phone"></i><span>Sales</span></a></li>
            <li><a href="#collection-grid" data-toggle="tab"><i class="fa fa-rocket"></i><span>Collection</span></a></li>
            <li><a href="#late-grid" data-toggle="tab"><i class="fa fa-flag"></i><span>Late</span></a></li>
            <li><a href="#offline-grid" data-toggle="tab"><i class="fa fa-briefcase"></i><span>Offline</span></a></li>
            <li><a href="#all-grid" data-toggle="tab"><i class="fa fa-female"></i><span>All customers</span></a></li>
            <li><a href="#registered-grid" data-toggle="tab"><i class="fa fa-bars"></i><span>Registered(<span id="RegisteredCustomers-count"></span>)</span></a></li>
            <li class="test-customers" title="Check to include test customers">
                <i class="fa fa-filter"></i>
                <label class="checkbox-inline">
                    <input type="checkbox" class="checkbox" id="include-test-customers" />
                    Test customers
                </label>
            </li>
            <li>
                <div class="all-customers hide" title="Check to show all the customers (unchecked shows registered during last week only).">
                    <i class="fa fa-filter"></i>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkbox" id="include-all-customers" />
                        Show all customers
                    </label>
                </div>
            </li>
            <li><a href="#logbook-grid" data-toggle="tab"><i class="fa fa-file-text-o"></i><span>Logbook</span></a></li>
        </ul>
        <div id="sidebar-collapse">
            <i class="fa fa-angle-double-left"></i>
        </div>
    </div>
    <div id="main-content">
        <div class="page-title">
            <div>
                <h1></h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tab-pane active" id="waiting-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>Market Places</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Current staus</th>
                                <th>Calc. amount</th>
                                <th>O/S balance</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.IsEscalated)
            {
                <div class="tab-pane" id="escalated-grid">
                    <div class="table-responsive table-big" >
                        <table class="table grid-data">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Cart</th>
                                    <th>MPs</th>
                                    <th>Name</th>
                                    <th>E-mail</th>
                                    <th>Apply date</th>
                                    <th>Reg. date</th>
                                    <th>Current staus</th>
                                    <th>Calc. amount</th>
                                    <th>O/S balance</th>
                                    <th>Segment</th>
                                    <th>Escalation date</th>
                                    <th>Underwriter</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div class="tab-pane" id="pending-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Current staus</th>
                                <th>Calc. amount</th>
                                <th>O/S balance</th>
                                <th>Segment</th>
                                <th>Pending status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="approved-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Approve date</th>
                                <th>Reg. date</th>
                                <th>Calc. amount</th>
                                <th>Approved sum</th>
                                <th>Amount taken</th>
                                <th>Offer expire date</th>
                                <th>Approves #</th>
                                <th>Rejects #</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="loans-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Reg. date</th>
                                <th>Apply date</th>
                                <th>First loan date</th>
                                <th>Last loan date</th>
                                <th>Last loan amount</th>
                                <th>Amount taken</th>
                                <th>Total principal repaid</th>
                                <th>O/S balance</th>
                                <th>Next repayment date</th>
                                <th>Customer status</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="sales-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>E-mail</th>
                                <th>Name</th>
                                <th>Mobile phone</th>
                                <th>Daytime phone</th>
                                <th>Approved sum</th>
                                <th>Amount taken</th>
                                <th>Offer date</th>
                                <th>O/S balance</th>
                                <th>CRM status</th>
                                <th>CRM comment</th>
                                <th>Interactions</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="collection-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>E-mail</th>
                                <th>Name</th>
                                <th>Mobile phone</th>
                                <th>Daytime phone</th>
                                <th>Amount taken</th>
                                <th>O/S balance</th>
                                <th>CRM status</th>
                                <th>CRM comment</th>
                                <th>Collection status</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="late-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Approve date</th>
                                <th>Reg. date</th>
                                <th>Calc. amount</th>
                                <th>Approved sum</th>
                                <th>Amount taken</th>
                                <th>Approves #</th>
                                <th>Rejects #</th>
                                <th>Segment</th>
                                <th>O/S balance</th>
                                <th>Date of late payment</th>
                                <th>Late amount</th>
                                <th>Delinquency</th>
                                <th>CRM status</th>
                                <th>CRM comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="rejected-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Apply date</th>
                                <th>Reg. date</th>
                                <th>Rejected date</th>
                                <th>Reason</th>
                                <th>Rejects #</th>
                                <th>Approves #</th>
                                <th>O/S balance</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="offline-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Reg. date</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Wizard step</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="all-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cart</th>
                                <th>MPs</th>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Reg. date</th>
                                <th>Apply date</th>
                                <th>Customer status</th>
                                <th>Calc. amount</th>
                                <th>Approved sum</th>
                                <th>O/S balance</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="registered-grid">
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>E-mail</th>
                                <th>User status</th>
                                <th>Reg. date</th>
                                <th>MPs statuses</th>
                                <th>Wizard step</th>
                                <th>Segment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="logbook-grid">
				<div id="logbook-new-entry-form" class="hide">
					<div class="left-column">
						<h3>New entry</h3>

						<div>Entry type</div>
						<select id="logbook-new-entry-type" tabindex="1">
							<option></option>
						</select>

						<button type="button" id="logbook-new-entry-save" class="btn btn-primary" tabindex="3">Save</button>
						<button type="button" id="logbook-new-entry-cancel" class="btn" tabindex="4">Cancel</button>
					</div>

					<textarea id="logbook-new-entry" placeholder="Entry content" tabindex="2"></textarea>
				</div>
                <div class="table-responsive table-big" >
                    <table class="table grid-data">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Author</th>
                                <th>Time</th>
                                <th>Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="profile-view" style="display: none;"></div>
<div id="settings-view" style="display: none;"></div>
<div id="automation-view" style="display: none;"></div>
<div id="support-area" style="display: none;"></div>
<div id="fraud-area" style="display: none;"></div>
<div id="report-view" style="display: none;"></div>
<div id="funding-view" style="display: none;"></div>

@{
    Html.RenderPartial("_ProfileTemplateMain");
    Html.RenderPartial("_CustomersPopupTemplate");
    Html.RenderPartial("AutomationSettings/StrategySettings");
    Html.RenderPartial("AutomationSettings/StrategyAutomation");
    Html.RenderPartial("Support/_Support");
    Html.RenderPartial("Fraud/Fraud");
    Html.RenderPartial("../Reports/Report");
    Html.RenderPartial("Support/Funding");
}
@section Js{
    <script type="text/javascript">
        EzBob.Config.MinLoan = @CurrentValues.Instance.MinLoan.Value;
        EzBob.Config.MaxLoan = @Model.MaxLoan;
        EzBob.Config.XMinLoan = @CurrentValues.Instance.XMinLoan.Value;
        EzBob.Config.SessionTimeout = @CurrentValues.Instance.SessionTimeout.Value;
        EzBob.Config.PacnetBalanceMaxManualChange = @CurrentValues.Instance.PacnetBalanceMaxManualChange.Value;
        EzBob.Underwriter.StaticData = {};
        EzBob.Underwriter.StaticData.CollectionStatuses = new EzBob.Underwriter.CollectionStatuses(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.CollectionStatuses)));

        var escalatedFlag = @(Model.IsEscalated ? 1 : 0);
    </script>

    <script type="text/javascript" src="../Content/js/Underwriter/customersGrid/ezbob.underwriter.index.js"></script>
}
