@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database
@model dynamic

@{
	var origin = ViewBag.CustomerOrigin == null ? CustomerOriginEnum.ezbob : ViewBag.CustomerOrigin.GetOrigin();
}

<div id="address-popup" >
	<input class="postCode" name="postCode" type="hidden" />

	<div class="address-list-loading-block">
		Loading...
	</div>

	<div class="address-selector-block hide">
		<ul class="matchingAddressList" disabled="disabled" tabindex="128"></ul>
	</div>

	<div class="address-input-block hide">
		@EzForm.InputTextWizard(new EzInputBuilder(null, "Address line 1",
			cls: "line1 form_field",
			isRequired: true,
			statusIcon: true,
			uiEventControlID: "address-form:manual-input-line1"),
			origin: origin)

		@EzForm.InputTextWizard(new EzInputBuilder(null, "Address line 2",
			cls: "line2 form_field",
			isRequired: false,
			statusIcon: true,
			uiEventControlID: "address-form:manual-input-line2"),
			origin: origin)
		
		@EzForm.InputTextWizard(new EzInputBuilder(null, "Address line 3",
			cls: "line3 form_field",
			isRequired: false,
			statusIcon: true,
			uiEventControlID: "address-form:manual-input-line3"),
			origin: origin)
		
		@EzForm.InputTextWizard(new EzInputBuilder(null, "Town",
			cls: "town form_field",
			isRequired: true,
			statusIcon: true,
			uiEventControlID: "address-form:manual-input-town"),
			origin: origin)
		
		@EzForm.InputTextWizard(new EzInputBuilder(null, "Postcode",
			cls: "zipcode form_field disabled",
			isRequired: true,
			statusIcon: true,
			isDisabled:true,
			uiEventControlID: "address-form:manual-input-zipcode"),
			origin: origin)
		
		@EzForm.InputTextWizard(new EzInputBuilder(null, "Country",
			cls: "country form_field",
			isRequired: false,
			statusIcon: true,
			uiEventControlID: "address-form:manual-input-country"),
			origin: origin)
		
		@EzForm.InputTextWizard(new EzInputBuilder(null, "P.O. box",
			cls: "pobox form_field",
			isRequired: false,
			statusIcon: true,
			uiEventControlID: "address-form:manual-input-pobox"),
			origin: origin)
	</div>
</div>
