@using EzBob.Web.Infrastructure
@using StructureMap
@model dynamic
@{
    var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
    bool ebayPixelEnabled = config.EbayPixelEnabled;
}

<script id="personinfo-template" type="text/template">
    <div class="row-fluid">
        <h2 class="form_start">Personal Information</h2>

        @*This ebay pixel code is commented out now in phase 1 but will be uncommented later - do not delete
	    @{
            var config = ObjectFactory.GetInstance<IEzBobConfiguration>();
            bool ebayPixelEnabled = config.EbayPixelEnabled;
	        if (ebayPixelEnabled)
	        {
	            <img src="https://ad-emea.doubleclick.net/activity;dc_pixel_url=rmboom;rm=ezbobpersonaldetails;ord='<%- ordpi %>'?" width="1" height="1" border="0" alt="" />
	        }
	    }*@

        <div>
            @using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm PersonalDetailsForm" }))
            {
                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="attardi-input">
                            <span>First name</span>
                            <input class="form_field" type="text" id="FirstName" name="FirstName" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.FirstName : '' %>" ui-event-control-id="personal-info:first_name" />
                            <img id="FirstNameImage" class="field_status required" />
                        </label>
                        
                    </div>
                </div>

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="attardi-input">
                            <span>Middle name</span>
                            <input type="text" id="MiddleInitial" name="MiddleInitial" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.MiddleInitial : '' %>" class="form_field alphaOnly" ui-event-control-id="personal-info:middle_name" />
                            <img id="MiddleNameImage" class="field_status empty" />
                        </label>
                        
                    </div>
                </div>

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="attardi-input">
                            <span>Surname</span>
                            <input id="Surname" type="text" name="Surname" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.Surname : '' %>" class="form_field"  ui-event-control-id="personal-info:last_name" />
                            <img id="SurnameImage" class="field_status required" />
                        </label>
                        
                    </div>
                </div>
                <input type="hidden" name="Fullname" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.Fullname : '' %>" />

                <div class="form_field_container">
                    <label class="attardi-input FormRadioCtrl fs16">
                        <input type="radio" name="Gender" value="M" id="FormRadioCtrl_M" class="required" ui-event-control-id="personal-info:gender"><label for="FormRadioCtrl_M">Male</label>
                        <input type="radio" name="Gender" value="F" id="FormRadioCtrl_F" ui-event-control-id="personal-info:gender"><label for="FormRadioCtrl_F">Female</label>
                        <img id="GenderImage" class="field_status required" alt="" />
                    </label>
                    
                </div>

                @EzForm.DateInput("DateOfBirth", "Date of birth", required: true, statusIcon: true, uiEventControlID: "personal-info:birth_date")

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Marital status</span>
                            <select class="form_field" id="MaritalStatus" name="MaritalStatus" ui-event-control-id="personal-info:marital_status">
                                <option></option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Widow/er">Widow/er</option>
                                <option value="Other">Other</option>
                            </select>
                            <img id="MaritalStatusImage" class="field_status required" />
                        </label>
                        
                    </div>
                </div>

                <h2 class="form_section">Home address</h2>

                @EzForm.AddressInput("PersonalAddress", "Home address")

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Period of occupation</span>
                            <select id="TimeAtAddress" name="TimeAtAddress" class="TimeAtAddress select form_field" ui-event-control-id="personal-info:time_at_address">
                                <option selected="selected" value=""></option>
                                <option value="1">1 year</option>
                                <option value="2">2 years</option>
                                <option value="3">3 years or more</option>
                            </select>
                            <img id="TimeAtAddressImage" class="field_status required" />
                        </label>
                        
                    </div>
                </div>

                @EzForm.AddressInput("PrevPersonAddresses", "Previous address", "canDisabledAddress")

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Residential status</span>
                            <select id="ResidentialStatus" name="ResidentialStatus" class="select form_field" ui-event-control-id="personal-info:residential_status">
                                <option></option>
                                <option value="Home owner">Home owner</option>
                                <option value="Renting">Renting</option>
                                <option value="Living with parents">Living with parents</option>
                            </select>
                            <img id="ResidentialStatusImage" class="field_status required" />
                        </label>
                    </div>
                </div>

                <div class="offline">
                    <h2 class="form_section">Property ownership</h2>

                    <div class="control-group form_field_container">
                        <div class="controls">
                            <label class="control-label attardi-input">
                                <span id="OwnOtherPropertyQuestion">Do you own a property?</span>
                                <select id="OwnOtherProperty" name="OwnOtherProperty" class="select form_field" ui-event-control-id="personal-info:own_other_property" >
                                    <option value=""></option>
                                    <option value="Yes">Yes, I own a property.</option>
                                    <option value="No">No, I don't own a property.</option>
                                </select>
                                <img id="OwnOtherPropertyImage" class="field_status required" />
                            </label>
                            
                        </div>
                    </div>

                    @EzForm.AddressInput("OtherPropertyAddress", "Other property address", "canDisabledAddress")
                </div>

                <h2 class="form_section">Contact details</h2>

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Best contact number</span>
                            <input type="text" class="phonenumber form_field" id="DayTimePhone" name="DayTimePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.DayTimePhone : '' %>"  ui-event-control-id="personal-info:daytime_phone" />
                            <img id="DayTimePhoneImage" class="field_status required" />
                        </label>
                        
                    </div>
                </div>

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Additional contact number</span>
                            <input type="text" class="phonenumber form_field" name="MobilePhone" id="MobilePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.MobilePhone : '' %>"  ui-event-control-id="personal-info:mobile_phone" />
                            <img id="MobilePhoneImage" class="field_status required" />
                        </label>
                    </div>
                </div>

			<div class="control-group form_read_and_accept">
				<hr />
				<div class="controls">
					<input id="ConsentToSearch" name="ConsentToSearch" type="checkbox" value="false"  ui-event-control-id="personal-info:consent_to_search" />
					<label for="ConsentToSearch" class="editor-label-with-checkbox">I have read and accept the <a>terms and conditions</a> of the credit bureau search</label>
				</div>
			</div>
            }
		</div>

        <div class="form_buttons_container">
            <div class="attardi-button">
                <a href="#" class="btn-continue button orange btn-next disabled continue" ui-event-control-id="personal-info:continue">Continue</a>
            </div>
        </div>
    </div>
</script>

<script id="company-data-template" type="text/template">
	<div class="row-fluid">
		<h2 class="form_start">Company information</h2> 

		@using (Html.BeginForm("SaveCompany", "CustomerDetails", new {Area = "Customer"}, FormMethod.Post, new {@class = "CompanyDetailForm"})) {
		    <div class="control-group typeOfBussiness form_field_container">
				<div class="controls">
					<label class="attardi-input">
						<span>Type of business</span>
						<select class="form_field" id="TypeOfBusiness" name="TypeOfBusiness" ui-event-control-id="personal-info:type_of_business" >
							<option value=""></option>
							<option class="notoffline" value="Entrepreneur">Sole trader (not Inc.)</option>
							<option value="SoleTrader">Sole trader (Inc.)</option>
							<option value="PShip3P">Partnership (Up to 3)</option>
							<option value="PShip">Partnership (More than 3)</option>
							<option value="Limited">Limited company</option>
							<option value="LLP">LLP</option>
						</select>
					    <img id="TypeOfBusinessImage" class="field_status required" />
                    </label>
				</div>
			</div>

		    <div class="control-group form_field_container">
				<div class="controls cashControlls">
					<label class="attardi-input">
						<span>Total online sales (£)</span>
						<input id="WebSiteTurnOver" name="WebSiteTurnOver" type="text" class="cashInput form_field" ui-event-control-id="personal-info:online_turnover" />
					    <img id="WebSiteTurnOverImage" class="field_status required" />
                    </label>
				</div>
			</div>

		    <div class="control-group form_field_container">
				<div class="controls cashControlls">
					<label class="attardi-input">
						<span>Total sales (online & offline in £)</span>
						<input id="OverallTurnOver" name="OverallTurnOver" type="text" class="cashInput form_field" ui-event-control-id="personal-info:overall_turnover" />
					    <img id="OverallTurnOverImage" class="field_status required" />
                    </label>
				</div>
			</div>

			<div class="row-fluid company-full-details"></div>
		}
	</div>

	<div class="form_buttons_container">
		<a href="#" class="continue btn-continue next button orange disabled" ui-event-control-id="personal-info:company_continue">Continue</a>
	</div>
</script>

<script id="director-edit-template" type="text/template">
    <div>
        <h2 class="form_section">Additional directors (optional)</h2>

        <div class="directorArea"></div>

        <div class="add-director-container">
            <div class="wizard-director-text">ezbob presumes that you a director of your company.</div>
            <div class="wizard-director-text">Adding the details of additional directors may improve the offer you receive.</div>

            <input id="addDirector" class="btn green" type="button" value="Add directors" ui-event-control-id="personal-info:add_director" />
        </div>
    </div>
</script>

<script id="employee-count-template" type="text/template">
    <h2 class="form_section">Payroll information</h2>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Current # of employees</span>
                <input id="EmployeeCount" name="EmployeeCount" type="text" class="form_field numeric" min="0" ui-event-control-id="personal-info:employee_count" />
                <img id="EmployeeCountImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span># of earning (gross salary) over £41,450 per annum</span>
                <input id="TopEarningEmployeeCount" name="TopEarningEmployeeCount" type="text" class="form_field numeric" min="0" ui-event-control-id="personal-info:top_earning_employee_count" />
                <img id="TopEarningEmployeeCountImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span># of earning (gross salary) less than £9,440 per annum</span>
                <input id="BottomEarningEmployeeCount" name="BottomEarningEmployeeCount" type="text" class="form_field numeric" min="0" ui-event-control-id="personal-info:bottom_earning_employee_count" />
                <img id="BottomEarningEmployeeCountImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Change in the # of employees in last 12 months</span>
                <select id="EmployeeCountChange" name="EmployeeCountChange" class="form_field select" ui-event-control-id="personal-info:employee_count_change" >
                    <option value=""></option>
                    <option value="-5">Reduced by 5 or more</option>
                    <option value="-4">Reduced by 4</option>
                    <option value="-3">Reduced by 3</option>
                    <option value="-2">Reduced by 2</option>
                    <option value="-1">Reduced by 1</option>
                    <option value="0">No change</option>
                    <option value="1">Increased by 1</option>
                    <option value="2">Increased by 2</option>
                    <option value="3">Increased by 3</option>
                    <option value="4">Increased by 4</option>
                    <option value="5">Increased by 5 or more</option>
                </select>
                <img id="EmployeeCountChangeImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Total monthly salary expenditure (inc tax & NI)</span>
                <input id="TotalMonthlySalary" name="TotalMonthlySalary" type="text" class="form_field cashInput" ui-event-control-id="personal-info:total_monthly_salary" />
                <img id="TotalMonthlySalaryImage" class="field_status required" />
            </label>
        </div>
    </div>
</script>

<script id="nonlimitededinfo-template" type="text/template">
	<input type="hidden" name="NonLimitedRefNum" class="RefNum" />

	<h2 class="form_section">Company details</h2>

	<div class="control-group form_field_container">
		<div class="controls">
			<label class="control-label attardi-input">
				<span>Name</span>
				<input id="NonLimitedCompanyName" name="NonLimitedCompanyName" type="text" class="form_field" ui-event-control-id="personal-info:nonlimited_company_name" />
			    <img id="NonLimitedCompanyNameImage" class="field_status required" />
            </label>
		</div>
	</div>

	@EzForm.AddressInput("NonLimitedCompanyAddress", "Address")

	<div class="control-group form_field_container notoffline">
		<div class="controls">
			<label class="control-label attardi-input">
				<span>Period of occupation</span>
				<select id="NonLimitedTimeAtAddress" name="NonLimitedTimeAtAddress" class="TimeAtAddress select form_field" ui-event-control-id="personal-info:nonlimited_time_at_address" >
					<option selected="selected" value=""></option>
					<option value="1">1 year</option>
					<option value="2">2 years</option>
					<option value="3">More than 3 years</option>
				</select>
			    <img id="NonLimitedTimeAtAddressImage" class="field_status required" />
            </label>
		</div>
	</div>

	<div class="control-group form_field_container">
		<div class="controls">
			<label class="control-label attardi-input">
				<span>Time in business</span>
				<select id="NonLimitedTimeInBusiness" name="NonLimitedTimeInBusiness" class="select form_field"> ui-event-control-id="personal-info:nonlimited_time_in_business" 
					<option selected="selected" value=""></option>
					<option value="1">1 year</option>
					<option value="2">2 years</option>
					<option value="3">3 years</option>
					<option value="4">4 years</option>
					<option value="5">5 years</option>
					<option value="6">6 years</option>
					<option value="7">7 years</option>
					<option value="8">8 years</option>
					<option value="9">9 years</option>
					<option value="101">More than 10 years</option>
				</select>
			    <img id="NonLimitedTimeInBusinessImage" class="field_status required" />
            </label>
		</div>
	</div>

	@AdditionalCompanyInfo("NonLimited")

	<div class="control-group form_field_container">
		<div class="controls">
			<label class="control-label attardi-input">
				<span>Business phone</span>
				<input id="NonLimitedBusinessPhone" name="NonLimitedBusinessPhone" type="text" class="form_field phonenumber" ui-event-control-id="personal-info:nonlimited_phone_number" />
			    <img id="NonLimitedBusinessPhoneImage" class="field_status required" />
            </label>
		</div>
	</div>

	<div class="offline employee-count"></div>

	<div class="directors"></div>
</script>

<script id="limitedinfo-template" type="text/template">
	<h2 class="form_section">Company details</h2>

	<div class="control-group form_field_container">
		<div class="controls">
			<label class="control-label attardi-input">
				<span>Registration #</span>
				<input id="LimitedCompanyNumber" name="LimitedCompanyNumber" type="text" class="form_field" ui-event-control-id="personal-info:limited_company_number" />
			    <img id="LimitedCompanyNumberImage" class="field_status required" />
            </label>
		</div>
	</div>

	<div class="control-group form_field_container">
		<div class="controls">
			<label class="control-label attardi-input">
				<span>Name</span>
				<input id="LimitedCompanyName" name="LimitedCompanyName" type="text" class="form_field" ui-event-control-id="personal-info:limited_company_name" />
			    <img id="LimitedCompanyNameImage" class="field_status required" />
            </label>
		</div>
	</div>

	@EzForm.AddressInput("LimitedCompanyAddress", "Address")

	@AdditionalCompanyInfo("Limited")

	<div class="control-group form_field_container">
		<div class="controls">
			<label class="control-label attardi-input">
				<span>Business phone</span>
				<input id="LimitedBusinessPhone" name="LimitedBusinessPhone" type="text" class="form_field phonenumber" ui-event-control-id="personal-info:limited_phone_number" />
			    <img id="LimitedBusinessPhoneImage" class="field_status required" />
            </label>
		</div>
	</div>

	<input type="hidden" name="LimitedRefNum" class="RefNum" />

	<div class="offline employee-count"></div>

	<div class="directors"></div>
</script>

@helper AdditionalCompanyInfo(string prefix)
{
	var prfx = prefix.ToLower();

    <div class="offline">
        <div class="control-group form_field_container">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>Property owned by company</span>
                    <select id="@string.Format("{0}{1}", prefix, "PropertyOwnedByCompany")" name="PropertyOwnedByCompany" class="select form_field" ui-event-control-id="personal-info:@string.Format(prfx)_property_owned_by_company">
                        <option></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <img id="@string.Format("{0}{1}", prefix, "PropertyOwnedByCompanyImage")" class="field_status required" />
                </label>
            </div>
        </div>

        <div class="control-group form_field_container hide additionalCompanyAddressQuestions">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>Period of occupation</span>
                    <select id="@string.Format("{0}{1}", prefix, "YearsInCompany")" name="YearsInCompany" class="select form_field" ui-event-control-id="personal-info:@string.Format(prfx)_years_in_company">
                        <option></option>
                        <option value="1">1 year</option>
                        <option value="2">2 years</option>
                        <option value="3">More than 3 years</option>
                    </select>
                    <img id="@string.Format("{0}{1}", prefix, "YearsInCompanyImage")" class="field_status required" />
                </label>
            </div>
        </div>

        <div class="control-group form_field_container hide additionalCompanyAddressQuestions">
            <div class="controls">
                <label class="control-label attardi-input">
                    <span>How many month are left for the rent contract</span>
                    <select id="@string.Format("{0}{1}", prefix, "RentMonthsLeft")" name="RentMonthsLeft" class="select form_field" ui-event-control-id="personal-info:@string.Format(prfx)_rent_months_left)">
                        <option></option>
                        <option value="0-6">0-6 months</option>
                        <option value="6-12">6-12 months</option>
                        <option value="12-24">12-24 months</option>
                        <option value="24+">More than 24 months</option>
                    </select>
                    <img id="@string.Format("{0}{1}", prefix, "RentMonthsLeftImage")" class="field_status required" />
                </label>
            </div>
        </div>
    </div>
}

<script id="address-popup-template" type="text/template">
    @{Html.RenderPartial("_AddressPopupTemplate");}
</script>

<script id="address-template" type="text/template">
    @{Html.RenderPartial("_AddressTemplate");}
</script>

<script id="oneDirector" type="text/template">
    <%_.each(directors, function(director, i){%>
        <div class="Directors">
            <h1 class="form_start" preffix="<%-preffix%>" seqno="<%=i%>">Director #<%=i+1%><a style="margin-left: 15px; margin-bottom: 7px" number="<%=i+1%>" href="#" class="removeDirector btn green" ui-event-control-id="personal-info:remove_director">Remove</a></h1>

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Name</span>
                        <input class="form_field director_name_part" id="<%-preffix%>[<%=i%>].Name" name="<%-preffix%>[<%=i%>].Name" type="text" value="<%- director.Name %>" ui-event-control-id="personal-info:director_first_name" />
                        <img id="<%-preffix%>[<%=i%>].NameImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Middle initial</span>
                        <input class="form_field director_name_part nonrequired alphaOnly" id="<%-preffix%>[<%=i%>].Middle" name="<%-preffix%>[<%=i%>].Middle" type="text" value="<%- director.Middle %>" ui-event-control-id="personal-info:director_middle_name" />
                        <img id="<%-preffix%>[<%=i%>].MiddleImage" class="field_status" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Surname</span>
                        <input class="form_field director_surname_part" id="<%-preffix%>[<%=i%>].Surname" name="<%-preffix%>[<%=i%>].Surname" type="text" value="<%- director.Surname %>" ui-event-control-id="personal-info:director_last_name" />
                        <img id="<%-preffix%>[<%=i%>].SurnameImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container FormRadioCtrl">
				<span>
					<input class="director_gender" <%if(director.Gender == 'M'){%>checked="checked"<%}%> type="radio" name="<%-preffix%>[<%=i%>].Gender" value="M" id="<%-preffix%>[<%=i%>].FormRadioCtrl_M" ui-event-control-id="personal-info:director_gender"><label for="<%-preffix%>[<%=i%>].GenderCtrl_M">Male</label>
					<input class="director_gender" <%if(director.Gender == 'F'){%>checked="checked"<%}%> type="radio" name="<%-preffix%>[<%=i%>].Gender" value="F" id="<%-preffix%>[<%=i%>].FormRadioCtrl_F" ui-event-control-id="personal-info:director_gender"><label for="<%-preffix%>[<%=i%>].GenderCtrl_F">Female</label>
				</span>
				<img id="<%-preffix%>[<%=i%>].GenderImage" class="field_status required gender_image" />
			</div>

            @EzForm.DateInput("<%-preffix%>[<%=i%>].DateOfBirth", "Date of Birth", css: "director_date", required: true, statusIcon: true, uiEventControlID: "personal-info:director_birth_date", hiddenFieldAuxClass: "director_birth_date")

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Email</span>
                        <input class="form_field director_email" id="<%-preffix%>[<%=i%>].Email" name="<%-preffix%>[<%=i%>].Email" type="email" value="<%- director.Email %>" ui-event-control-id="personal-info:director_email" />
                        <img id="<%-preffix%>[<%=i%>].EmailImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Best contact number</span>
                        <input class="form_field director_phone phonenumber" id="<%-preffix%>[<%=i%>].Phone" name="<%-preffix%>[<%=i%>].Phone" type="text" value="<%- director.Phone %>" ui-event-control-id="personal-info:director_phone" />
                        <img id="<%-preffix%>[<%=i%>].PhoneImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="director_address">
                @EzForm.AddressInput("<%-preffix%>Address<%=i%>", "Address")
            </div>

            <input type="hidden" name="<%-preffix%>[<%=i%>].NameImage" value="<%- director.NameStatus %>" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].MiddleImage" value="<%- director.MiddleStatus %>" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].SurnameImage" value="<%- director.SurnameStatus %>" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].GenderImage" value="<%- director.GenderStatus %>" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].DateOfBirthImage" value="<%- director.DateOfBirthStatus %>" />
        </div>
    <%
	})
	%>
</script>

<script id="lastWizardThankYouPage" type="text/template">
    <div>
        <div style="display: inline;">
            <img height="1" width="1" style="border-style: none;" alt="" src="//www.googleadservices.com/pagead/conversion/985067256/?value=0&amp;label=TBrFCLiQ9gQQ-N3b1QM&amp;guid=ON&amp;script=0" />
        </div>
        <section id="full_width">
            <div class="full_width">
                <div style="margin: 0 0 20px 0;">
                    <h2 class="form_section">Your application is complete!</h2>

                    @*This ebay pixel code is commented out now in phase 1 but will be uncommented later - do not delete
					@{
						if (ebayPixelEnabled)
						{
							<img src="https://ad-emea.doubleclick.net/activity;dc_pixel_url=rmboom;rm=ezbobfinishedwizard;ord='<%- ordty %>'?" width="1" height="1" border="0" alt="" />
						}
					}*@
                    <div class="notoffline">
                        <p>Your application is now being processed and you should be receiving an email with an offer within the next 30 minutes. Please note that in certain cases the decision may be delayed for up to twelve hours.</p>
                        <p>
                            In case you don't receive a funding decision from us in the next twelve hours please check your spam or junk folder.
                           If you do not receive a funding decision from us within the next twelve hours, please check your spam or junk folder. If you still have not received an email, please contact our customer care department by phone: 0800 011 4787 or by emailing: <a href="mailto:customercare@ezbob.com">customercare@ezbob.com</a>.
                        </p>
                        <p>The criteria for qualifying for funding is a minimum annual turnover of 10,000 pounds. If you have additional accounts we recommend that you link them to ezbob, so we can have a clearer understanding of your business and be able to increase the amount we can offer.</p>
                    </div>
                    <div class="offline">
                        <p>Your application is now being processed and you should be receiving an email with an offer in the next business day.</p>
                        <p>
                            In case you don't receive a funding decision from us in the next 24 hours please check your spam or junk folder.
                           If you do not receive a funding decision from us within the next twelve hours, please check your spam or junk folder. If you still have not received an email, please contact our customer care department by phone: 0800 011 4787 or by emailing: <a href="mailto:customercare@ezbob.com">customercare@ezbob.com</a>.
                        </p>
                        <p>The criteria for qualifying for funding is a minimum annual turnover of 150,000 pounds. If you have additional accounts we recommend that you link them to ezbob, so we can have a clearer understanding of your business and be able to increase the amount we can offer.</p>
                    </div>
                    <p>Thank You,<br>
                        The EZBOB Team</p>
                </div>
                <a 
                    href='#'
                    class="btn-continue button orange pull-right"
                    ui-event-control-id="wizard:complete"
                    onClick="EzBob.App.GA.trackEventReditect('@Url.Action("Index", "Profile", new { Area = "Customer" })', 'Wizard Complete', 'Go To account', 'Awaiting Approval'); return false;">Go to Account
                </a>
            </div>
        </section>
        <div class="clear"></div>
        <br />
        <br />
        <br />
    </div>
</script>

@{
    Html.RenderPartial("_TargetingTemplate");
}

<script id="consent-agreement-temlate" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ui-event-control-id="wizard:dismiss_consent">×</button>
        <h3 id="myModalLabel">Consent</h3>
    </div>
    <div id="consent-conent" class="modal-body consent-dialog">
        @{Html.RenderPartial("~/Areas/Customer/Views/Consent/Commercial.cshtml");}

        <p><b>Agreed by:</b><%-firstName%> <%-middleInitial%> <%-surname%></p>
        <p><b>Agreed on:</b> <%-EzBob.formatDate(date)%></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="pull-right print print-link" ui-event-control-id="wizard:print_consent">Print</a>
        <a style="margin-right: 20px;" class="pull-right download pdf-link" ui-event-control-id="wizard:download_consent">Download</a>
    </div>
</script>
