@using EZBob.DatabaseLib.Model.Database
@using EzBob.Web
@using EzBob.Web.Infrastructure
@model dynamic

@{
	var bml = new WizardBrokerLeadModel(Session);
	var sInitialFirstName = bml.IsSet ? bml.FirstName : string.Empty;
	var sInitialLastName = bml.IsSet ? bml.LastName : string.Empty;
}

<script id="personinfo-template" type="text/template">
    <div class="row-fluid">
        <h2 class="form_start">Personal information</h2>

        @using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "PersonalDetailsForm" })) {
            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="attardi-input">
                        <span>First name</span>
                        <input class="form_field" type="text" id="FirstName" name="FirstName" value="@sInitialFirstName" ui-event-control-id="personal-info:first_name" />
                        <img id="FirstNameImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container notoffline">
                <div class="controls">
                    <label class="attardi-input">
                        <span>Middle name</span>
                        <input type="text" id="MiddleInitial" name="MiddleInitial" class="form_field alphaOnly" ui-event-control-id="personal-info:middle_name" />
                        <img id="MiddleNameImage" class="field_status empty" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="attardi-input">
                        <span>Surname</span>
                        <input id="Surname" type="text" name="Surname" class="form_field" value="@sInitialLastName" ui-event-control-id="personal-info:last_name" />
                        <img id="SurnameImage" class="field_status required" />
                    </label>
                </div>
            </div>
            <input type="hidden" name="Fullname" />

            <div class="form_field_container">
                <div class="attardi-input FormRadioCtrl">
                    <input type="radio" name="Gender" value="M" id="FormRadioCtrl_M" class="required" ui-event-control-id="personal-info:gender"><label for="FormRadioCtrl_M">Male</label>
                    <input class="gender-margin" type="radio" name="Gender" value="F" id="FormRadioCtrl_F" ui-event-control-id="personal-info:gender"><label for="FormRadioCtrl_F">Female</label>
                    <img id="GenderImage" class="field_status required personal-details-gender-image" alt="" />
                </div>

            </div>

            @EzForm.DateInput(this, "DateOfBirth", "Date of birth", required: true, statusIcon: true, uiEventControlID: "personal-info:birth_date", labelCss: "personal-details-birth-date")

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Marital status</span>
                        <select class="form_field" id="MaritalStatus" name="MaritalStatus" ui-event-control-id="personal-info:marital_status">
                            <option></option>
                            <option value="Married">Married</option>
                            <option value="Single">Single</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Widowed">Widowed</option>
                            <option value="LivingTogether">Living Together</option>
                            <option value="Separated">Separated</option>
                            <option value="Other">Other</option>
                        </select>
                        <img id="MaritalStatusImage" class="field_status required" />
                    </label>

                </div>
            </div>

            <h2 class="form_section">Home address</h2>

                @EzForm.AddressInput(this, "PersonalAddress", "Home address", "personal")

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>How long at this address</span>
                            <select id="TimeAtAddress" name="TimeAtAddress" class="TimeAtAddress select form_field" ui-event-control-id="personal-info:time_at_address">
                                <option selected="selected" value=""></option>
                                <option value="1">1 year</option>
                                <option value="2">2 years</option>
                                <option value="3">3 years or more</option>
                            </select>
                            <img id="TimeAtAddressImage" class="field_status required" />
                        </label>

                    </div>
                </div>

                @EzForm.AddressInput(this, "PrevPersonAddresses", "Previous address", "previous-personal", "prevPersonAddress canDisabledAddress")

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Residential status</span>
                            <select id="PropertyStatus" name="PropertyStatus" class="select form_field" ui-event-control-id="personal-info:residential_status">
                                <option></option>
                                <% _.each(EzBob.PropertyStatusesData, function(group) { %>
                                    <optgroup label="<%- group.Title %>">
                                        <% _.each(group.Statuses, function(status) {  %>
                                            <option value="<%- status.Id %>" class="<%- status.IsOwnerOfOtherProperties ? 'OtherPropertyOwner' : '' %>"><%- status.Description %></option>
                                        <% }); %>
                                    </optgroup>
                                <% }); %>
                            </select>
                            <img id="PropertyStatusImage" class="field_status required" />
                        </label>
                    </div>
                </div>
            
                <div id="otherPropertiesSection" class="hide">
                    <h2 class="form_section">Other owned properties</h2>
                    @EzForm.AddressInput(this, "OtherPropertiesAddresses", "Other properties addresses", "other-properties-personal", "otherPropertiesAddress canDisabledAddress")
                </div>

                <h2 class="form_section">Contact details</h2>

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Mobile number</span>
                            <input type="text" class="phonenumber form_field" name="MobilePhone" id="MobilePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.MobilePhone : '' %>" ui-event-control-id="personal-info:mobile_phone" />
                            <img id="MobilePhoneImage" class="field_status required" />
                        </label>
                    </div>
                </div>

                <div class="control-group form_field_container">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Other contact number</span>
                            <input type="text" class="phonenumber form_field" id="DayTimePhone" name="DayTimePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.DayTimePhone : '' %>" ui-event-control-id="personal-info:daytime_phone" />
                            <img id="DayTimePhoneImage" class="field_status required" />
                        </label>
                    </div>
                </div>
                
                <div class="control-group form_read_and_accept">
                    <div class="controls">
                        <input id="ConsentToSearch" name="ConsentToSearch" type="checkbox" value="false" ui-event-control-id="personal-info:consent_to_search" />
                        <label for="ConsentToSearch" class="editor-label-with-checkbox">I have read and accept the <a ui-event-control-id="personal-info:terms-and-conditions">terms and conditions</a> of the credit bureau search</label>
                    </div>
                </div>
        }

        <div class="form_buttons_container">
            <div class="attardi-button">
                <a href="#" class="button btn-green btn-continue disabled" ui-event-control-id="personal-info:continue">Continue</a>
            </div>
        </div>
    </div>
</script>

<script id="company-data-template" type="text/template">
    <div class="row-fluid">
        <h2 class="form_start">Company details</h2>

        @using (Html.BeginForm("SaveCompany", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm" })) {
            <div class="control-group form_field_container">
                <div class="controls">
                    <span class="type-of-business-caption">Type of business</span>
                    <select class="type-of-business-form_field" id="TypeOfBusiness" name="TypeOfBusiness" size="6" ui-event-control-id="personal-info:type_of_business" autofocus="autofocus">
                        <option value="Limited">Limited company</option>
                        <option value="LLP">Limited liability partnership</option>
                        <option value="PShip3P">Partnership (less than three)</option>
                        <option value="PShip">Partnership (more than three)</option>
                        <option class="NonAlibabaTypeOfBusiness" value="SoleTrader">Sole trader (Inc.)</option>
                        <option class="NonAlibabaTypeOfBusiness" value="Entrepreneur">Sole trader (not Inc.)</option>
                    </select>
                    <img id="TypeOfBusinessImage" class="field_status required" />
                </div>
            </div>

            <div class="control-group form_field_container">
                <div class="controls">
                    <div class="oobts oobts-common oobts-offline oobts-selected" data-oobts="offline" ui-event-control-id="personal-info:i_am_offline"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;I am a small business</div>
                    <div class="oobts oobts-common oobts-online" data-oobts="online" ui-event-control-id="personal-info:i_am_online"><i class="fa fa-square-o"></i>&nbsp;&nbsp;I am an online business</div>
                </div>
            </div>

            <div class="after-business-type">
                <div class="control-group form_field_container industry-type-div">
                    <div class="controls">
                        <label class="control-label attardi-input">
                            <span>Industry type</span>
                            <select id="IndustryType" name="IndustryType" class="select form_field" ui-event-control-id="personal-info:industry_type">
                                <option selected="selected" value=""></option>
                                <option value="0">Accommodation / food</option>
                                <option value="1">Automotive</option>
                                <option value="2">Business services</option>
                                <option value="3">Construction</option>
                                <option value="4">Construction services</option>
                                <option value="5">Consumer services</option>
                                <option value="6">Education</option>
                                <option value="7">Food</option>
                                <option value="8">Health & Beauty</option>
                                <option value="9">Healthcare</option>
                                <option value="10">Manufacturing</option>
                                <option value="11">Online</option>
                                <option value="12">Retail</option>
                                <option value="13">Transportation</option>
                                <option value="14">Wholesale</option>
                                <option value="15">Other</option>
                            </select>
                            <img id="IndustryTypeImage" class="field_status required" />
                        </label>
                    </div>
                </div>
                <div class="after-financial-details">
                    <div class="control-group form_field_container OverallTurnOver hide">
                        <div class="controls cashControlls">
                            <label class="attardi-input">
                                <span>Total annual revenue</span>
                                <input id="OverallTurnOver" name="OverallTurnOver" type="text" class="cashInput form_field" ui-event-control-id="personal-info:overall_turnover" />
                                <img id="OverallTurnOverImage" class="field_status required" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row-fluid company-full-details"></div>
            </div>
        }
    </div>

    <div class="form_buttons_container">
        <div class="attardi-button">
            <a href='#' class="btn-continue next button btn-green disabled" ui-event-control-id="personal-info:company_continue">Continue</a>
        </div>
    </div>
</script>

<script id="director-edit-template" type="text/template">
    <div>
        <h2 class="form_section">Additional directors (optional)</h2>

        <div class="directorArea"></div>

        <div class="add-director-container">
            <div class="wizard-director-text">Adding the details of additional directors may improve the offer you receive.</div>
            <input id="addDirector" class="button btn-green" type="button" value="Add" ui-event-control-id="personal-info:add_director" />
        </div>
    </div>
</script>

<script id="employee-count-template" type="text/template">
    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Current # of employees</span>
                <input id="EmployeeCount" name="EmployeeCount" type="text" class="form_field numeric" min="0" ui-event-control-id="personal-info:employee_count" />
                <img id="EmployeeCountImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Total monthly salary expenditure (inc tax & national insurance)</span>
                <input id="TotalMonthlySalary" name="TotalMonthlySalary" type="text" class="form_field cashInput" ui-event-control-id="personal-info:total_monthly_salary" />
                <img id="TotalMonthlySalaryImage" class="field_status required" />
            </label>
        </div>
    </div>
    
    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Who files with the HMRC for your company?</span>
                <select id="VatReporting" name="VatReporting" class="select form_field" ui-event-control-id="personal-info:vat-reporting">
                    <option selected="selected" value=""></option>
                    @Html.EnumToOptions(
						VatReporting.VatOnlineMySelf,
						VatReporting.AccountantOnline,
						VatReporting.CompanyEmployee,
						VatReporting.NotVatRegistered,
						VatReporting.Other
					)
                </select>
                <img id="VATReportingImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="control-group form_read_and_accept">
        <div class="controls">
            <input id="DirectorCheck" name="DirectorCheck" type="checkbox" value="false" ui-event-control-id="personal-info:director_check" />
            <label for="DirectorCheck" class="editor-label-with-checkbox">I am the director of the company which I have listed in the application. I hereby state that I have the authority to complete the loan application.</label>
        </div>
    </div>
</script>

<script id="nonlimitededinfo-template" type="text/template">
    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Company name</span>
                <input id="NonLimitedCompanyName" name="NonLimitedCompanyName" type="text" class="form_field" ui-event-control-id="personal-info:nonlimited_company_name" />
                <img id="NonLimitedCompanyNameImage" class="field_status required" />
            </label>
        </div>
    </div>

    @EzForm.AddressInput(this, "NonLimitedCompanyAddress", "Address", "nonlimited")
    
    <h2 class="financial-details">Financial details</h2>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Time in business</span>
                <select id="NonLimitedTimeInBusiness" name="NonLimitedTimeInBusiness" class="select form_field" ui-event-control-id="personal-info:nonlimited_time_in_business">
                    <option selected="selected" value=""></option>
                    <option value="1">1 year</option>
                    <option value="2">2 years</option>
                    <option value="3">3 years</option>
                    <option value="4">4 years</option>
                    <option value="5">5 years</option>
                    <option value="6">6 years</option>
                    <option value="7">7 years</option>
                    <option value="8">8 years</option>
                    <option value="9">9 years</option>
                    <option value="101">More than 10 years</option>
                </select>
                <img id="NonLimitedTimeInBusinessImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="employee-count"></div>

    <div class="directors"></div>
</script>

<script id="limitedinfo-template" type="text/template">
    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Company registration number</span>
                <input id="LimitedCompanyNumber" name="LimitedCompanyNumber" type="text" class="form_field" ui-event-control-id="personal-info:limited_company_number" />
                <img id="LimitedCompanyNumberImage" class="field_status required" />
            </label>
        </div>
    </div>

    <div class="control-group form_field_container">
        <div class="controls">
            <label class="control-label attardi-input">
                <span>Company name</span>
                <input id="LimitedCompanyName" name="LimitedCompanyName" type="text" class="form_field" ui-event-control-id="personal-info:limited_company_name" />
                <img id="LimitedCompanyNameImage" class="field_status required" />
            </label>
        </div>
    </div>

    @EzForm.AddressInput(this, "LimitedCompanyAddress", "Address", "limited")
    
    <h2 class="financial-details">Financial details</h2>

    <div class="employee-count"></div>

    <div class="directors"></div>
</script>

<script id="address-popup-template" type="text/template">
    @{Html.RenderPartial("_AddressPopupTemplate");}
</script>

<script id="address-template" type="text/template">
    @{Html.RenderPartial("_AddressTemplate");}
</script>

<script id="oneDirector" type="text/template">
    <%_.each(directors, function(director, i){%>
        <div class="Directors">
            <div class="add-director-container">
                <h1 class="form_start" preffix="<%-preffix%>" seqno="<%=i%>">Director #<%=i+1%><a style="float: right; margin-bottom: 7px" number="<%=i+1%>" href="#" class="removeDirector button btn-green" ui-event-control-id="personal-info:remove_director">Remove</a></h1>
            </div>
            
            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>First Name</span>
                        <input class="form_field director_name_part" id="<%-preffix%>[<%=i%>].Name" name="<%-preffix%>[<%=i%>].Name" type="text" value="<%- director.Name %>" ui-event-control-id="personal-info:director_first_name" />
                        <img id="<%-preffix%>[<%=i%>].NameImage" class="field_status required" />
                    </label>
                </div>
            </div>
            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Middle initial</span>
                        <input class="form_field director_name_part nonrequired alphaOnly" id="<%-preffix%>[<%=i%>].Middle" name="<%-preffix%>[<%=i%>].Middle" type="text" value="<%- director.Middle %>" ui-event-control-id="personal-info:director_middle_name" />
                        <img id="<%-preffix%>[<%=i%>].MiddleImage" class="field_status" />
                    </label>
                </div>
            </div>
            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Surname</span>
                        <input class="form_field director_surname_part" id="<%-preffix%>[<%=i%>].Surname" name="<%-preffix%>[<%=i%>].Surname" type="text" value="<%- director.Surname %>" ui-event-control-id="personal-info:director_last_name" />
                        <img id="<%-preffix%>[<%=i%>].SurnameImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container FormRadioCtrl">
                <span>
                    <input class="male-director-gender-margin" <%if(director.Gender == 'M'){%>checked="checked"<%}%> type="radio" name="<%-preffix%>[<%=i%>].Gender" value="M" id="<%-preffix%>[<%=i%>].FormRadioCtrl_M" ui-event-control-id="personal-info:director_gender"><label for="<%-preffix%>[<%=i%>].GenderCtrl_M">Male</label>
                    <input class="gender-margin" <%if(director.Gender == 'F'){%>checked="checked"<%}%> type="radio" name="<%-preffix%>[<%=i%>].Gender" value="F" id="<%-preffix%>[<%=i%>].FormRadioCtrl_F" ui-event-control-id="personal-info:director_gender"><label for="<%-preffix%>[<%=i%>].GenderCtrl_F">Female</label>
                </span>
                <img id="<%-preffix%>[<%=i%>].GenderImage" class="field_status required director_gender_image" />
            </div>

            @EzForm.DateInput(this, "<%-preffix%>[<%=i%>].DateOfBirth", "Date of Birth", css: "director_date", required: true, statusIcon: true, uiEventControlID: "personal-info:director_birth_date", hiddenFieldAuxClass: "director_birth_date")

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Email</span>
                        <input class="form_field director_email" id="<%-preffix%>[<%=i%>].Email" name="<%-preffix%>[<%=i%>].Email" type="email" value="<%- director.Email %>" ui-event-control-id="personal-info:director_email" />
                        <img id="<%-preffix%>[<%=i%>].EmailImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="control-group form_field_container">
                <div class="controls">
                    <label class="control-label attardi-input">
                        <span>Best contact number</span>
                        <input class="form_field director_phone phonenumber" id="<%-preffix%>[<%=i%>].Phone" name="<%-preffix%>[<%=i%>].Phone" type="text" value="<%- director.Phone %>" ui-event-control-id="personal-info:director_phone" />
                        <img id="<%-preffix%>[<%=i%>].PhoneImage" class="field_status required" />
                    </label>
                </div>
            </div>

            <div class="director_address">
                @EzForm.AddressInput(this, "<%-preffix%>Address<%=i%>", "Address", "director")
            </div>

            <input type="hidden" name="<%-preffix%>[<%=i%>].IsDirector" value="on" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].IsShareholder" value="off" />

            <input type="hidden" name="<%-preffix%>[<%=i%>].NameImage" value="<%- director.NameStatus %>" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].SurnameImage" value="<%- director.SurnameStatus %>" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].GenderImage" value="<%- director.GenderStatus %>" />
            <input type="hidden" name="<%-preffix%>[<%=i%>].DateOfBirthImage" value="<%- director.DateOfBirthStatus %>" />
        </div>
    <%})%>
</script>

@{
	Html.RenderPartial("_TargetingTemplate");
}

<script id="consent-agreement-temlate" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ui-event-control-id="wizard:dismiss_consent">×</button>
        <h3 id="myModalLabel">Consent</h3>
    </div>
    <div id="consent-conent" class="modal-body consent-dialog">
        @{Html.RenderPartial("~/Areas/Customer/Views/Consent/Commercial.cshtml");}

        <p><b>Agreed by:</b><%-firstName%> <%-middleInitial%> <%-surname%></p>
        <p><b>Agreed on:</b> <%-EzBob.formatDate(date)%></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="pull-right print print-link" ui-event-control-id="wizard:print_consent">Print</a>
        <a style="margin-right: 20px;" class="pull-right download pdf-link" ui-event-control-id="wizard:download_consent">Download</a>
    </div>
</script>


