@using System
@using System.Collections.Generic
@using EzBob.CommonLib
@using EZBob.DatabaseLib.Model.Database
@using EzBob.Web.Infrastructure.Html
@model dynamic

@{
	var origin = ViewBag.CustomerOrigin.GetOrigin();

	List<EzSelectOptionGroup> typeOfBusinessOptions = new List<EzSelectOptionGroup> {
		new EzSelectOptionGroup {
			Options = new List<EzSelectOption> {
				new EzSelectOption("Limited", "Limited company", ""),
				new EzSelectOption("LLP", "Limited liability partnership", ""),
				new EzSelectOption("PShip3P", "Partnership (less than three)", "NonFCACompliant"),
				new EzSelectOption("PShip", "Ordinary partnership", ""),
				new EzSelectOption("Entrepreneur", "Sole trader", "NonAlibabaTypeOfBusiness NonFCACompliant")
			}
		}
	};

	var timeInBusiness = new List<Tuple<string, string>>  {
		new Tuple<string, string>("1", "1 year"),
		new Tuple<string, string>("2", "2 years"),
		new Tuple<string, string>("3", "3 years"),
		new Tuple<string, string>("4", "4 years"),
		new Tuple<string, string>("5", "5 years"),
		new Tuple<string, string>("6", "6 years"),
		new Tuple<string, string>("7", "7 years"),
		new Tuple<string, string>("8", "8 years"),
		new Tuple<string, string>("9", "9 years"),
		new Tuple<string, string>("101", "10 years or more")
		
	};

}

<script id="company-data-template" type="text/template">
    <div class="row-fluid">
		@if (origin == CustomerOriginEnum.everline) {
			Html.RenderPartial("~/Areas/Customer/Views/Shared/SideBars/_SecurityIcons.cshtml");
		}
        <h2 class="form_start" id="page-rendered-bussines-information">Business details</h2>
		
        @using (Html.BeginForm("SaveCompany", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm" })) {

			<div class="after-business-name">
				@EzForm.SelectWizard(new EzSelectModel("TypeOfBusiness", "Type of business",
					typeOfBusinessOptions,
					cls: "form_field",
					isRequired: true,
					statusIcon: true,
					uiEventControlID: "personal-info:type_of_business",
					autoFocus: true,
					size: 1,
					tabIndex: 1,
					hasEmpty: true),
					origin: origin)
			</div>
			<div class="after-industry-type">
				@EzForm.SelectWizard(new EzSelectModel("IndustryType", "Industry type",
							IndustryType.Other.ToTupleInt<IndustryType>(),
							cls: "form_field",
							isRequired: true,
							statusIcon: true,
							tabIndex: 2,
							uiEventControlID: "personal-info:industry_type"),
							origin: origin)
			</div>
            <div class="after-financial-details">
				@EzForm.InputTextWizard(new EzInputBuilder("OverallTurnOver", "Total annual revenue",
					captionLine2: "(sales)",
					type: "tel",
					cls: "cashInput form_field",
					isRequired: true,
					statusIcon: true,
					labelClass: "long",
					tabIndex: 8,
					uiEventControlID: "personal-info:overall_turnover"),
					origin: origin)
            </div>
            <div class="row-fluid company-full-details"></div>

			<hr class="wizard-hr" />
			@EzForm.InputTextWizard(new EzInputBuilder("promoCode", "Promo code",
					captionLine2: "(optional)",
					cls: "form_field",
					isRequired: false,
					statusIcon: true,
					labelClass: "long",
					tabIndex: 16,
					uiEventControlID: "personal-info:promo-code"),
					origin: origin)
		}
    </div>
	
	@EzForm.WizardButton(new EzButtonModel("companyContinueBtn", "Next",
				cls: "btn-continue next button btn-green disabled ev-btn-org",
				uiEventControlID: "personal-info:company_continue",
				buttonType: EzButtonType.link,
				tabIndex: 17,
				href: "#"),
				origin: origin)
</script>

<script id="director-edit-template" type="text/template">
    <div>
		<hr class="wizard-hr" />
        <h2 class="form_section">Additional directors <span class="sub-h2">(optional)</span></h2>
        <div class="directorArea"></div>
		<hr class="wizard-hr" />
		<div class="add-director-container form_field_container">
			<div class="wizard-director-text">Adding the details of additional directors may improve the offer you receive.</div>
			<div class="input-wrapper">
				@EzForm.ButtonTag(new List<EzButtonModel>{
					new EzButtonModel {
						Id = "addDirector",
						ButtonType = EzButtonType.input,
						Caption = "Add director",
						Cls = "button btn-green clean-btn",
						UiEventControlID = "personal-info:add_director"
					}
				})
			</div>
		</div>
    </div>
</script>

<script id="employee-count-template" type="text/template">
	
	@EzForm.InputTextWizard(new EzInputBuilder("EmployeeCount", "Current number of employees",
						type: "tel",
						cls: "form_field numeric",
						isRequired: true,
						statusIcon: true,
						uiEventControlID: "personal-info:employee_count", 
						min : 1,
						tabIndex: 11,
						max: 1000),
						origin: origin)
	
	@EzForm.InputTextWizard(new EzInputBuilder("TotalMonthlySalary", "Total monthly salary expenditure (including tax & national insurance)",
						type: "tel",
						cls: "form_field cashInput",
						isRequired: true,
						statusIcon: true,
                        labelClass :"long",
						tabIndex: 12,
						uiEventControlID: "personal-info:total_monthly_salary"),
						origin: origin)
    				 
            @EzForm.ClickableInputWizard(new EzClickInputModel(
						name: "VatRegistered",
						caption: "Are you VAT registered? ",
						errorImgClass: "field_status required personal-details-gender-image",
						inputWrapperClass: "FormRadioCtrl",
						isRequired: true,
						statusIcon: true,
						inputButtons: new List<EzInputBuilder> { 
							new EzInputBuilder("FormRadioCtrl_Yes", "Yes",
								value:"true",
								type:"radio",
								cls: "required",
								isRequired: true,
								statusIcon: true,
								name: "VatRegistered",
								tabIndex: 13,
								uiEventControlID: "personal-info:vat-registered" ), 
							new EzInputBuilder("FormRadioCtrl_No", "No",
								value: "false",
								type: "radio",
								cls: "gender-margin",
								isRequired: true,
								statusIcon: true,
								name: "VatRegistered",
								tabIndex: 14,
								uiEventControlID: "personal-info:vat-registered") }), 
						origin: origin)
	
            @EzForm.ClickableInputWizard(new EzClickInputModel(
				name: "DirectorCheck",
				caption: "",
				errorImgClass: "",
				inputWrapperClass: "controls",
				containerClass: "form_read_and_accept",
				isRequired: false,
				statusIcon: false,
				inputButtons: new List<EzInputBuilder> { 
				   new EzInputBuilder("DirectorCheck", "I am the director of the company which I have listed in the application. I hereby state that I have the authority to complete the loan application.",
                          value: "false",
                          type: "checkbox",
                          cls: "required",
                          isRequired: true,
                          statusIcon: true,
                          name: "DirectorCheck",
						  tabIndex: 15,
                          labelClass: "editor-label-with-checkbox normal-label",
                          uiEventControlID: "personal-info:director_check")
			   }), 
			   origin: origin)
        
</script>

<script id="nonlimitededinfo-template" type="text/template">
	@EzForm.InputTextWizard(new EzInputBuilder("NonLimitedCompanyName", "Business name",
					cls: "form_field",
					isRequired: true,
					statusIcon: true,
					tabIndex: 3,
					uiEventControlID: "personal-info:nonlimited_company_name"),
					origin: origin)

    @EzForm.AddressInput(this, "NonLimitedCompanyAddress", "Address", "nonlimited")

    <hr class="wizard-hr" />
    <h2 class="financial-details">Financial details</h2>
	
	<div class="after-financial-details"></div>
	@EzForm.SelectWizard(new EzSelectModel("NonLimitedTimeInBusiness", "Time in business",
					timeInBusiness,
					cls: "form_field",
					isRequired: true,
					statusIcon: true,
					tabIndex: 9,
					uiEventControlID: "personal-info:nonlimited_time_in_business"),
					origin: origin)
	
	@EzForm.InputTextWizard(new EzInputBuilder("NonLimitedBusinessPhone", "Main business phone number",
					type: "tel",
					cls: "form_field phonenumber",
					isRequired: true,
					statusIcon: true,
					tabIndex: 10,
					uiEventControlID: "personal-info:nonlimited_phone"),
					origin: origin)

    <div class="employee-count"></div>

    <div class="directors clear"></div>
</script>

<script id="limitedinfo-template" type="text/template">
	
	@EzForm.InputTextWizard(new EzInputBuilder("LimitedCompanyNumber", "Company registration number",
						cls: "form_field",
						isRequired: true,
						statusIcon: true,
						maxLength: 8,
						tabIndex: 3,
						uiEventControlID: "personal-info:limited_company_number"),
						origin: origin)

	@EzForm.InputTextWizard(new EzInputBuilder("LimitedCompanyName", "Business name",
						cls: "form_field",
						isRequired: true,
						statusIcon: true,
						tabIndex: 4,
						uiEventControlID: "personal-info:limited_company_name"),
						origin: origin)
	
	@EzForm.InputTextWizard(new EzInputBuilder("LimitedBusinessPhone", "Main business phone number",
						type: "tel",
						cls: "form_field phonenumber",
						isRequired: true,
						statusIcon: true,
						tabIndex: 5,
						uiEventControlID: "personal-info:limited_phone"),
						origin: origin)

    @EzForm.AddressInput(this, "LimitedCompanyAddress", "Address", "limited")
    
	<hr class="wizard-hr" />
    <h2 class="financial-details">Financial details</h2>
	<div class="after-financial-details"></div>
    <div class="employee-count"></div>

    <div class="directors"></div>
</script>

<script id="address-popup-template" type="text/template">
    @{Html.RenderPartial("_AddressPopupTemplate");}
</script>

<script id="oneDirector" type="text/template">
    <%_.each(directors, function(director, i){%>
		<hr class="wizard-hr" />
	<div class="Directors">
		<div class="add-director-container">
			<h2 class="form_start" preffix="<%-preffix%>" seqno="<%=i%>">Director <%=i+1%><a style="float: right; margin-bottom: 7px" number="<%=i+1%>" href="#" class="removeDirector button btn-green" ui-event-control-id="personal-info:remove_director">Remove</a></h2>
		</div>

		@EzForm.InputTextWizard(new EzInputBuilder("<%-preffix%>[<%=i%>].Name", "First name",
						value: "<%- director.Name %>",
						cls: "form_field director_name_part",
						isRequired: true,
						statusIcon: true,
						uiEventControlID: "personal-info:director_first_name"),
						origin: origin)

		@EzForm.InputTextWizard(new EzInputBuilder("<%-preffix%>[<%=i%>].Middle", "Middle name",
						value: "<%- director.Middle %>",
						cls: "form_field director_name_part nonrequired alphaOnly",
						isRequired: false,
						statusIcon: true,
						uiEventControlID: "personal-info:director_middle_name"),
						origin: origin)

		@EzForm.InputTextWizard(new EzInputBuilder("<%-preffix%>[<%=i%>].Surname", "Surname",
						value: "<%- director.Surname %>",
						cls: "form_field director_surname_part",
						isRequired: true,
						statusIcon: true,
						uiEventControlID: "personal-info:director_last_name"),
						origin: origin)

		

		@EzForm.ClickableInputWizard(new EzClickInputModel(
			name: "Gender",
			caption: "Gender ",
			errorImgClass: "field_status required director_gender_image",
			inputWrapperClass: "FormRadioCtrl",
			isRequired: true,
			statusIcon: true,
			inputButtons: new List<EzInputBuilder> { 
				new EzInputBuilder("<%-preffix%>[<%=i%>].FormRadioCtrl_M", "Male",
					value: "M",
					type: "radio",
					cls: "male-director-gender-margin",
					isRequired: true,
					statusIcon: true,
					name: "<%-preffix%>[<%=i%>].Gender",
					uiEventControlID: "personal-info:director_gender"),
				new EzInputBuilder("<%-preffix%>[<%=i%>].FormRadioCtrl_F", "Female",
					value: "F",
					type: "radio",
					cls: "gender-margin",
					isRequired: true,
					statusIcon: true,
					name: "<%-preffix%>[<%=i%>].Gender",
					uiEventControlID: "personal-info:director_gender") 
			}),
			origin: origin)

				@EzForm.DateInput(this, "<%-preffix%>[<%=i%>].DateOfBirth", "Date of birth", css: "director_date", required: true, statusIcon: true, uiEventControlID: "personal-info:director_birth_date", hiddenFieldAuxClass: "director_birth_date", origin: origin)

				@EzForm.InputTextWizard(new EzInputBuilder("<%-preffix%>[<%=i%>].Email", "Email address",
						value: "<%- director.Email %>",
						type: "email",
						cls: "form_field director_email",
						isRequired: true,
						statusIcon: true,
						uiEventControlID: "personal-info:director_email"),
						origin: origin)

				@EzForm.InputTextWizard(new EzInputBuilder("<%-preffix%>[<%=i%>].Phone", "Mobile number",
						value: "<%- director.Phone %>",
						type: "tel",
						cls: "form_field director_phone phonenumber",
						isRequired: true,
						statusIcon: true,
						uiEventControlID: "personal-info:director_phone"),
						origin: origin)

				<div class="director_address">
					@EzForm.AddressInput(this, "<%-preffix%>Address<%=i%>", "Address", "director")
				</div>

				<input type="hidden" name="<%-preffix%>[<%=i%>].IsDirector" value="on" />
				<input type="hidden" name="<%-preffix%>[<%=i%>].IsShareholder" value="off" />

				<input type="hidden" name="<%-preffix%>[<%=i%>].NameImage" value="<%- director.NameStatus %>" />
				<input type="hidden" name="<%-preffix%>[<%=i%>].SurnameImage" value="<%- director.SurnameStatus %>" />
				<input type="hidden" name="<%-preffix%>[<%=i%>].GenderImage" value="<%- director.GenderStatus %>" />
				<input type="hidden" name="<%-preffix%>[<%=i%>].DateOfBirthImage" value="<%- director.DateOfBirthStatus %>" />
	</div>
    <%})%>
</script>

@{
	Html.RenderPartial("_AddressTemplate");
	Html.RenderPartial("_TargetingTemplate");
}

