@using EzBob.Web.Models.Strings
@model dynamic
           
@helper PersonalInfo()
{
    <div class="row-fluid">
        <div class="span7">
            <h1>&nbsp;Personal Info:</h1>
            <h2>Safe &amp; Secure!</h2>
            <div class="simple-well" style="padding: 10px;">
                @using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm form-horizontal" }))
                {

                    <div class="control-group">
                        <label class="control-label">First Name</label>
                        <div class="controls">
                            <input type="text" name="FirstName" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.FirstName : '' %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Middle Initial</label>
                        <div class="controls">
                            <input type="text" name="MiddleInitial" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.MiddleInitial : '' %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Surname</label>
                        <div class="controls">
                            <input type="text" name="Surname" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.Surname : '' %>"/>
                        </div>
                    </div>
                    <input type="hidden" name="Fullname" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.Fullname : '' %>" />

                    @EzForm.DateInput("DateOfBirth", "Date of Birth")

                  <div class="control-group">
                      <label class="control-label" for="Gender">Gender</label>
                      <div class="controls">
                          <select id="Gender" name="Gender" class="" >
                              <option value="-">-</option>
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                          </select>
                      </div>
                  </div>

                    @EzForm.Select("MartialStatus", "Martial Status", new[] { "Single", "Married", "Divorced", "Widow/er", "Other" }, "select")

                    @EzForm.AddressInput("PersonalAddress", "Address")
                    @EzForm.SelectAdvanced("TimeAtAddress", "Resided at Address", new Dictionary<string, string> { { "", "-" }, { "1", "1 year" }, { "2", "2 years" }, { "3", "More than 3 years" } }, "", "TimeAtAddress select", 0)
                    @EzForm.AddressInput("PrevPersonAddresses", "Previous Address", "canDisabledAddress")
                    @EzForm.Select("ResidentialStatus", "Residential Status", new[] { "Home owner", "Renting", "Living with parents" }, "select")

                    <hr/>

                    <div class="control-group">
                        <label class="control-label">Daytime Phone #</label>
                        <div class="controls">
                            <input type="text" class="phonenumber" name="DayTimePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.DayTimePhone : '' %>"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Mobile Phone #</label>
                        <div class="controls">
                            <input type="text" class="phonenumber" name="MobilePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.MobilePhone : '' %>"/>
                        </div>
                    </div>
                    
                    <hr/>

                    <div>
                        <div class="control-group typeOfBussiness">
                            <label class="control-label">Type of Business</label>
                            <div class="controls">
                                <select name="TypeOfBusiness">
                                    <option value="">-</option>
                                    <option value="Entrepreneur">Sole Trader (not Inc.)</option>
                                    <option value="SoleTrader">Sole Trader (Inc.)</option>
                                    <option value="PShip3P">Partnership (Up to 3)</option>
                                    <option value="PShip">Partnership (More than 3)</option>
                                    <option value="Limited">Limited Company</option>
                                    <option value="LLP">LLP</option>                                    
                                </select>
                            </div>
                        </div>
                        
                        <fieldset class="PersonalturnOver turnOver">
                            <legend><b>Estimated</b> Turnover Past 12 Months (£)</legend>
                            @EzForm.InputTextWithHelp(Html, "OverallTurnOver", "Total <b>Estimated</b> Sales", "", "Please enter estimation for your total sales including online and offline. You don't have to open your books or talk to your accountant, just provide an approximate amount.", "")
                            @EzForm.InputTextWithHelp(Html, "WebSiteTurnOver", "Online <b>Estimated</b> Sales", "", "Please enter estimation for your total online sales. You don't have to open your books or talk to your accountant, just provide an approximate amount.", "")
                        </fieldset>
                    </div>

                    <hr/>

                    <div class="control-group">      
                        <div class="controls">
                            <label for="ConsentToSearch" class="editor-label-with-checkbox">
                                <input id="ConsentToSearch" name="ConsentToSearch" type="checkbox" value="true"/>
                                 I have read and accept the <a>terms and conditions</a> of the credit bureau search
                            </label>
                        </div>
                    </div>
                }    
            </div>

            <div class="">
                <a href="#" class="btn-continue button orange btn-next pull-right disabled">Complete</a>
                <a href="#" class="btn-back button orange back pull-right">Back</a>
            </div>
         </div>
         <div class="span1">&nbsp;</div>
         @{Html.RenderPartial("SideBars/DetailsNotification");}
    </div>
}
@helper Director()
{
    <fieldset>
        <legend>Additional Directors (Optional)</legend>
            
        <div class="directorArea"></div>
        
        <span class="wizard-director-text">EZBOB assumes that you are a director in the Company.</span>

        <a href="#" id="addDirector"><b>Add directors</b> and qualify for more cash.</a>
    </fieldset>
}


@helper LimitedInfo()
    {
    <div class="row-fluid">
        <div class="span7">
            <h1>&nbsp;Business Info:</h1>
            <h2>Safe &amp; Secure!</h2>
            <div class="simple-well" style="padding: 10px; margin-bottom: 10px;">
                @using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm form-horizontal" }))
                {
                    <fieldset>
                        <legend>Company</legend>
                        @EzForm.InputText("LimitedCompanyNumber", "Registration #", "")
                        @EzForm.InputText("LimitedCompanyName", "Name", "")
                        @EzForm.AddressInput("LimitedCompanyAddress", "Address")
                        @EzForm.InputText("LimitedBusinessPhone", "Business Phone", "","phonenumber")
                        <input type="hidden" name="LimitedRefNum" class="RefNum" />
                    </fieldset>
                    
                    <fieldset>
                        <legend>Turnover Past 12 Months</legend>
                        @EzForm.InputTextCash("OverallTurnOver", "Your Total Sales", "")
                        @EzForm.InputTextCash("WebSiteTurnOver", "Online Total Sales", "")
                    </fieldset>

                    <div class="directors">
                    </div>
                }
                

            </div>
            <div class="">
                <a href="#" class="next btn-continue button orange pull-right">Complete</a>
                <a href="#" class="back btn-back button orange pull-right">Back</a>
            </div>
            </div>
            <div class="span1">&nbsp;</div>
            @{Html.RenderPartial("SideBars/DetailsNotification");}
    </div>
}

@helper Nonlimitedinfo()
    {
    <div class="row-fluid">
        <div class="span7" style="padding-top: 10px;">
            <h1>&nbsp;Business Info:</h1>
            <h2>Safe &amp; Secure!</h2>
            <div class="simple-well" style="padding: 10px; margin-bottom: 10px;">
                    @using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm form-horizontal" }))
                    {
                        <fieldset>
                            <legend>Company</legend>
                            <input type="hidden" name="NonLimitedRefNum" class="RefNum" />
                            @EzForm.InputText("NonLimitedCompanyName", "Name", "")        
                            @EzForm.AddressInput("NonLimitedCompanyAddress", "Address")
                            @EzForm.SelectAdvanced("NonLimitedTimeAtAddress", "Resided at Address", new Dictionary<string, string> { { "1", "1 year" }, { "2", "2 years" }, { "3", "More than 3 years" } }, "TimeAtAddress")
                            @EzForm.SelectAdvanced("NonLimitedTimeInBusiness", "Time in Business", new Dictionary<string, string> { { "", "-" }, { "1", "1 year" }, { "2", "2 years" }, { "3", "3 years" }, { "4", "4 years" }, { "5", "5 years" }, { "6", "6 years" }, { "7", "7 years" }, { "8", "8 years" }, { "9", "9 years" }, { "10", "10 years" }, { "10+", "More than 10 years" } })
                            @EzForm.InputText("NonLimitedBusinessPhone", "Business Phone", "","phonenumber")

                        </fieldset>

                        <fieldset>
                            <legend>Turnover</legend>
                            @EzForm.InputTextCash("OverallTurnOver", "Your Total Sales", "")
                            @EzForm.InputTextCash("WebSiteTurnOver", "Online Total Sales", "")
                        </fieldset>
                        <div class="directors">
                        </div>  
                    }
                    
            </div>
            <div class="">
                <a href="#" class="continue btn-continue next button orange pull-right">Complete</a>
                <a href="#" class="back btn-back button orange pull-right">Back</a>
            </div>
            </div>
        <div class="span1">&nbsp;</div>
        @{Html.RenderPartial("SideBars/DetailsNotification");}
    </div>
}

@helper LastWizardPage()
    {
    <div class="row-fluid">
    <div class="span7">                          
        <div class="thankyou-loan">
            We are processing your data in the Credit Bureau and will notify you about you validation in 24 hours. <br /> You can edit you personal and business information in your dashboard.
        </div>
        <a href='@Url.Action("Index", "Profile", new { Area = "Customer" })' class="btn-continue button orange pull-right">Go to My Profile</a>
    </div>
    <div class="span1">&nbsp;</div>
    @{Html.RenderPartial("SideBars/DetailsNotification");}
</div>
}



<script id="personinfo-template" type="text/template">
    @PersonalInfo()
</script>

<script id="limitedinfo-template" type="text/template">
    @LimitedInfo()
</script>

<script id="nonlimitededinfo-template" type="text/template">
      @Nonlimitedinfo()
</script>

<script id="address-popup-template" type="text/template">
        @{Html.RenderPartial("_AddressPopupTemplate");}
</script>

<script id="address-template" type="text/template">
       @{Html.RenderPartial("_AddressTemplate");}
</script>

<script id="director-edit-template" type="text/template">
    @Director()
</script>

<script id="oneDirector" type="text/template">
    <%_.each(directors, function(director, i){%>
        <fieldset class="Directors form-horizontal">
            <legend style="font-size: 14px; font-weight: normal">Director #<%=i+1%> <span style="font-size: 10px;">(<a style="color:#aaa" number="<%=i+1%>" href="#" class="removeDirector">remove</a>)</span></legend>

            @EzForm.InputText("<%-preffix%>[<%=i%>].Name", "Name", "<%- director.Name %>")
            @EzForm.InputText("<%-preffix%>[<%=i%>].Middle", "Middle Initial", "<%- director.Middle %>")
            @EzForm.InputText("<%-preffix%>[<%=i%>].Surname", "Surname", "<%- director.Surname %>")

            
            <div class="control-group">
                <label class="control-label" for="">Gender</label>
                <div class="controls">
                    <select name="<%-preffix%>[<%=i%>].Gender">
                        <option value="">-</option>
                        <option <%if(director.Gender == 'M'){%>selected="selected"<%}%> value="M">Male</option>
                        <option <%if(director.Gender == 'F'){%>selected="selected"<%}%> value="F">Female</option>
                    </select>
                </div>
            </div>

            @EzForm.DateInput("<%-preffix%>[<%=i%>].DateOfBirth", "Date of Birth", false)
            @EzForm.AddressInput("<%-preffix%>Address<%=i%>", "Address")
        </fieldset>
    <%
    })
    %>

</script>

<script id="director-hidden-template" type="text/template">
    <%_.each(directors, function(director, i){%>
        <input type="hidden" name="<%-preffix%>[<%=i%>].Name" value="<%- director.Name %>"/>
        <input type="hidden" name="<%-preffix%>[<%=i%>].Middle" value="<%- director.Middle %>"/>
        <input type="hidden" name="<%-preffix%>[<%=i%>].Surname" value="<%- director.Surname %>"/>
        <input type="hidden" name="<%-preffix%>[<%=i%>].DateOfBirth" value="<%- director.DateOfBirth %>"/>
    <%});%>
</script>

<script id="lastWizardThankYouPage" type="text/template">
<div class="row-fluid">
    <div class="span7">                          
        <div class="thankyou-loan">
            We are processing your application and will notify you in the next business day.
        </div>
        <a href='@Url.Action("Index", "Profile", new { Area = "Customer" })' class="btn-continue button orange pull-right">Go to My Account</a>
    </div>
    <div class="span1">&nbsp;</div>
    @{Html.RenderPartial("SideBars/DetailsNotification");}
</div>
</script>


@{
    Html.RenderPartial("_TargetingTemplate");
}

<script id="consent-agreement-temlate" type="text/template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Consent</h3>
    </div>
    <div id="consent-conent" class="modal-body consent-dialog">
        @{Html.RenderPartial("~/Areas/Customer/Views/Consent/Commercial.cshtml");}
        
        <p><b>Agreed by:</b><%-firstName%> <%-middleInitial%> <%-surname%> </p>
        <p><b>Agreed on:</b> <%-EzBob.formatDate(date)%></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="pull-right print print-link">Print</a>
        <a style="margin-right: 20px;"class="pull-right download pdf-link">Download</a>
    </div>
</script>
