@using EzBob.Web.Models.Strings
@model dynamic
@helper PersonalInfo() {
	<div class="row-fluid">
		<h2 class="form_start">Personal information</h2>
		<div>
			@using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm" })) {
				<div class="control-group form_field_container">
					<div class="controls">
						<label class="attardi-input"><span>First Name</span>
							<input class="form_field" type="text" id="FirstName" name="FirstName" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.FirstName : '' %>" />
						</label>
						<span class="required">*</span>
						<img id="FirstNameImage"/>
					</div>
				</div>

				<div class="control-group form_field_container">
					<div class="controls">
						<label class="attardi-input"><span>Middle Name</span>
							<input type="text" id="MiddleInitial" name="MiddleInitial" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.MiddleInitial : '' %>" class="form_field" />
						</label>
						<img id="MiddleNameImage"/>
					</div>
				</div>

				<div class="control-group form_field_container">
					<div class="controls">
						<label class="attardi-input"><span>Last Name</span>
							<input id="Surname" type="text" name="Surname" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.Surname : '' %>" class="form_field" />
						</label>
						<span class="required">*</span>
						<img id="SurnameImage"/>
					</div>
				</div>
				<input type="hidden" name="Fullname" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.Fullname : '' %>" />
				
				<div class="form_field_container GenderCtrl">
					Gender
					<span class="required">*</span>
					<input type="radio" name="Gender" value="M" id="GenderCtrl_M"><label for="GenderCtrl_M">Male</label>
					<input type="radio" name="Gender" value="F" id="GenderCtrl_F"><label for="GenderCtrl_F">Female</label>
				</div>
				
				@EzForm.DateInput("DateOfBirth", "Date of Birth")

				<div class="control-group form_field_container">
					<div class="controls">
						<label class="control-label attardi-input"><span>Martial Status</span>
							<select class="form_field" id="MartialStatus" name="MartialStatus">
								<option></option>
								<option value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Divorced">Divorced</option>
								<option value="Widow/er">Widow/er</option>
								<option value="Other">Other</option>
							</select>
						</label>
						<span class="required">*</span>
                        <img id="MartialStatusImage"/>
					</div>
				</div>

				<h2 class="form_section">Residential Address</h2>

				@EzForm.AddressInput("PersonalAddress", "Potcode")

				<div class="control-group form_field_container">
					<div class="controls">
						<label class="control-label attardi-input">
							<span>Length of time at address</span>
							<select id="TimeAtAddress" name="TimeAtAddress" class="TimeAtAddress select form_field">
								<option selected="selected" value=""></option>
								<option value="1">1 year</option>
								<option value="2">2 years</option>
								<option value="3">More than 3 years</option>
							</select>
						</label>
						<span class="required">*</span>
                        <img id="TimeAtAddressImage"/>
					</div>
				</div>

				@EzForm.AddressInput("PrevPersonAddresses", "Previous Address", "canDisabledAddress")

				<div class="control-group form_field_container">
					<div class="controls">
						<label class="control-label attardi-input">
							<span>Residential Status</span>
								<select id="ResidentialStatus" name="ResidentialStatus" class="select form_field">
									<option></option>
									<option value="Home owner">Home owner</option>
									<option value="Renting">Renting</option>
									<option value="Living with parents">Living with parents</option>
								</select>
						</label>
						<span class="required">*</span>
                        <img id="ResidentialStatusImage"/>
					</div>
				</div>

				<h2 class="form_section">Contact Details</h2>

				<div class="control-group form_field_container">
					<div class="controls">
						<label class="control-label attardi-input">
							<span>Phone Number</span>
							<input type="text" class="phonenumber form_field" id="DayTimePhone" name="DayTimePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.DayTimePhone : '' %>" />
						</label>
						<span class="required">*</span>
                        <img id="DayTimePhoneImage"/>
					</div>
				</div>

				<div class="control-group form_field_container">
					<div class="controls">
						<label class="control-label attardi-input">
							<span>Mobile Number</span>
							<input type="text" class="phonenumber form_field" name="MobilePhone" value="<%- CustomerPersonalInfo ? CustomerPersonalInfo.MobilePhone : '' %>" />
						</label>
						<span class="required">*</span>
					</div>
				</div>

				<h2 class="form_section">Company Information</h2> 

				<div class="control-group typeOfBussiness form_field_container">
					<div class="controls">
						<label class="attardi-input">
							<span>Type of Business</span>
							<select class="form_field" id="TypeOfBusiness" name="TypeOfBusiness">
								<option value=""></option>
								<option value="Entrepreneur">Sole Trader (not Inc.)</option>
								<option value="SoleTrader">Sole Trader (Inc.)</option>
								<option value="PShip3P">Partnership (Up to 3)</option>
								<option value="PShip">Partnership (More than 3)</option>
								<option value="Limited">Limited Company</option>
								<option value="LLP">LLP</option>
							</select>
						</label>
						<span class="required">*</span>
                        <img id="TypeOfBusinessImage"/>
					</div>
				</div>

				<div class="control-group form_field_container">
					<div class="controls cashControlls">
						<label class="attardi-input">
							<span>Total Online Sales (£)</span>
							<input id="OverallTurnOver" name="OverallTurnOver" type="text" class="cashInput form_field" />
						</label>
						<span class="required">*</span>
						<img id="OverallTurnOverImage" />
					</div>
				</div>

				<div class="control-group form_field_container">
					<div class="controls cashControlls">
						<label class="attardi-input">
							<span>Total Online & Offline Sales (£)</span>
							<input id="WebSiteTurnOver" name="WebSiteTurnOver" type="text" class="cashInput form_field" />
						</label>
						<span class="required">*</span>
						<img id="WebSiteTurnOverImage" />
					</div>
				</div>

				<div class="control-group form_read_and_accept">
					<hr />
					<div class="controls">
						<input id="ConsentToSearch" name="ConsentToSearch" type="checkbox" value="false" />
						<label for="ConsentToSearch" class="editor-label-with-checkbox"> I have read and accept the <a>terms and conditions</a> of the credit bureau search</label>
					</div>
				</div>
   }
		</div>

		<div class="form_buttons_container">
			<a href="#" class="btn-back button gray back">Back</a>
			<a href="#" class="btn-continue button orange btn-next disabled continue">Complete</a>
		</div>
	</div>
}
@helper Director() {
	<div>
		<h2 style="padding-left:0">Additional Directors (Optional)</h2>

		<div class="directorArea"></div>

		<span class="wizard-director-text">EZBOB assumes that you are a director in the Company.</span>
		
		<input id="addDirector" class="btn green" type="button" value="Add directors" />
	</div>
}

@helper LimitedInfo() {
	<div class="row-fluid">
		<h2 style="padding-left:0">Company Info</h2> 
		<div style="margin-bottom: 10px;">
			@using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForm" })) {
				<div class="control-group">
					<label for="LimitedCompanyNumber" class="control-label">Registration # <span class="required">*</span></label>
					<div class="controls">
						<input id="LimitedCompanyNumber" name="LimitedCompanyNumber" type="text" class="form_field" />
					</div>
				</div>
				
				<div class="control-group">
					<label for="LimitedCompanyName" class="control-label">Name <span class="required">*</span></label>
					<div class="controls">
						<input id="LimitedCompanyName" name="LimitedCompanyName" type="text" class="form_field" />
					</div>
				</div>
				
				@EzForm.AddressInput("LimitedCompanyAddress", "Address")
				
				<div class="control-group">
					<label for="LimitedBusinessPhone" class="control-label">Business Phone <span class="required">*</span></label>
					<div class="controls">
						<input id="LimitedBusinessPhone" name="LimitedBusinessPhone" type="text" class="form_field phonenumber" />
					</div>
				</div>
					
				<input type="hidden" name="LimitedRefNum" class="RefNum" />

				<div class="directors">
				</div>
			}

		</div>
		<div class="">
			<a href="#" class="next btn-continue button orange pull-right">Complete</a>
			<a href="#" class="back btn-back button orange pull-right">Back</a>
		</div>
	</div>
}

@helper Nonlimitedinfo() {
	<div class="row-fluid">
		<h2 style="padding-left:0">Company Info</h2>
		<div style="margin-bottom: 10px;">
			@using (Html.BeginForm("Save", "CustomerDetails", new { Area = "Customer" }, FormMethod.Post, new { @class = "CompanyDetailForml" })) {
				<input type="hidden" name="NonLimitedRefNum" class="RefNum" />
				
				<div class="control-group">
					<label for="NonLimitedCompanyName" class="control-label">Name <span class="required">*</span></label>
					<div class="controls">
						<input id="NonLimitedCompanyName" name="NonLimitedCompanyName" type="text" class="form_field" />
					</div>
				</div>
				
				@EzForm.AddressInput("NonLimitedCompanyAddress", "Address")

				<div class="control-group">
					<label class="control-label" for="NonLimitedTimeAtAddress">Resided at Address <span class="required">*</span></label>
					<div class="controls">
						<select style="height:30px; width:345px" id="NonLimitedTimeAtAddress" name="NonLimitedTimeAtAddress" class="TimeAtAddress select">
							<option selected="selected" value="">-</option>
							<option value="1">1 year</option>
							<option value="2">2 years</option>
							<option value="3">More than 3 years</option>
						</select>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="NonLimitedTimeInBusiness">Time in Business <span class="required">*</span></label>
					<div class="controls">
						<select style="height:30px; width:345px" id="NonLimitedTimeInBusiness" name="NonLimitedTimeInBusiness" class="select">
							<option selected="selected" value="">-</option>
							<option value="1">1 year</option>
							<option value="2">2 years</option>
							<option value="3">3 years</option>
							<option value="4">4 years</option>
							<option value="5">5 years</option>
							<option value="6">6 years</option>
							<option value="7">7 years</option>
							<option value="8">8 years</option>
							<option value="9">9 years</option>
							<option value="101">More than 10 years</option>
						</select>
					</div>
				</div>
				
				<div class="control-group">
					<label for="NonLimitedBusinessPhone" class="control-label">Business Phone <span class="required">*</span></label>
					<div class="controls">
						<input id="NonLimitedBusinessPhone" name="NonLimitedBusinessPhone" type="text" class="form_field phonenumber" />
					</div>
				</div>

				<div class="directors">
				</div>
			}
		</div>

		<div class="">
			<a href="#" class="continue btn-continue next button orange pull-right">Complete</a>
			<a href="#" class="back btn-back button orange pull-right">Back</a>
		</div>
	</div>
}

<script id="personinfo-template" type="text/template">
	@PersonalInfo()
</script>

<script id="limitedinfo-template" type="text/template">
	@LimitedInfo()
</script>

<script id="nonlimitededinfo-template" type="text/template">
	  @Nonlimitedinfo()
</script>

<script id="address-popup-template" type="text/template">
		@{Html.RenderPartial("_AddressPopupTemplate");}
</script>

<script id="address-template" type="text/template">
	   @{Html.RenderPartial("_AddressTemplate");}
</script>

<script id="director-edit-template" type="text/template">
	@Director()
</script>

<script id="oneDirector" type="text/template">
	<%_.each(directors, function(director, i){%>
		<div class="Directors">	
			<h1 style="padding-left:0;">Director #<%=i+1%><a style="margin-left: 15px; margin-bottom: 7px" number="<%=i+1%>" href="#" class="removeDirector btn green">Remove</a></h1>
			
			<div class="control-group">
				<label for="<%-preffix%>[<%=i%>].Name" class="control-label">Name <span class="required">*</span></label>
				<div class="controls">
					<input class="form_field" style="height:20px;" id="<%-preffix%>[<%=i%>].Name" name="<%-preffix%>[<%=i%>].Name" type="text" value="<%- director.Name %>" />
				</div>
			</div>

			<div class="control-group">
				<label for="<%-preffix%>[<%=i%>].Middle" class="control-label">Middle Initial</label>
				<div class="controls">
					<input class="form_field" style="height:20px;" id="<%-preffix%>[<%=i%>].Middle" name="<%-preffix%>[<%=i%>].Middle" type="text" value="<%- director.Middle %>" />
				</div>
			</div>
	
			<div class="control-group">
				<label for="<%-preffix%>[<%=i%>].Surname" class="control-label">Surname <span class="required">*</span></label>
				<div class="controls">
					<input class="form_field" style="height:20px;" id="<%-preffix%>[<%=i%>].Surname" name="<%-preffix%>[<%=i%>].Surname" type="text" value="<%- director.Surname %>" />
				</div>
			</div>	
	
			<div>
				<label style="display:inline-block;margin-bottom: 10px" class="control-label">Gender <span class="required">*</span></label>
				<input <%if(director.Gender == 'M'){%>checked="checked"<%}%> type="radio" name="<%-preffix%>[<%=i%>].Gender" value="M" style="margin-bottom: 6.5px;margin-left: 25px"><label style="display:inline-block;margin-left: 5px">Male</label>
				<input <%if(director.Gender == 'F'){%>checked="checked"<%}%> type="radio" name="<%-preffix%>[<%=i%>].Gender" value="F" style="margin-bottom: 6.5px;margin-left: 15px"><label style="display:inline-block;margin-left: 5px">Female</label>
			</div>

			@EzForm.DateInput("<%-preffix%>[<%=i%>].DateOfBirth", "Date of Birth", false)	

			@EzForm.AddressInput("<%-preffix%>Address<%=i%>", "Address")
		</div>
	<%
	})
	%>
</script>

<script id="director-hidden-template" type="text/template">
	<%_.each(directors, function(director, i){%>
		<input type="hidden" name="<%-preffix%>[<%=i%>].Name" value="<%- director.Name %>"/>
		<input type="hidden" name="<%-preffix%>[<%=i%>].Middle" value="<%- director.Middle %>"/>
		<input type="hidden" name="<%-preffix%>[<%=i%>].Surname" value="<%- director.Surname %>"/>
		<input type="hidden" name="<%-preffix%>[<%=i%>].DateOfBirth" value="<%- director.DateOfBirth %>"/>
	<%});%>
</script>

<script id="lastWizardThankYouPage" type="text/template">
	<div>
		<section id="full_width">
			<div style="margin: 50px auto; width: 600px;">
				<div style="padding: 20px; margin: 0 0 20px 0; background: #fff; border: 1px #ccc solid;">
					<h2>Thank you</h2>
					<p>We have the infomation we need and are processing your application. You will be notified by email as soon as it's ready</p>
					<p>If you haven't already we would suggest that you read through <a href="#">Our Loans Explained</a> and understand what repayment method best suits your business needs.</p>
					<p><strong>Remember you can pay any amount at any time during the loan period and there are not penalties for early repayments.</strong></p>
				</div>
				<a href='@Url.Action("Index", "Profile", new { Area = "Customer" })' class="btn-continue button orange pull-right">Back to account</a>
			</div>
		</section>
		<div class="clear"></div>
		<br />
		<br />
		<br />
	</div>
</script>


@{
	Html.RenderPartial("_TargetingTemplate");
}

<script id="consent-agreement-temlate" type="text/template">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Consent</h3>
	</div>
	<div id="consent-conent" class="modal-body consent-dialog">
		@{Html.RenderPartial("~/Areas/Customer/Views/Consent/Commercial.cshtml");}
		
		<p><b>Agreed by:</b><%-firstName%> <%-middleInitial%> <%-surname%> </p>
		<p><b>Agreed on:</b> <%-EzBob.formatDate(date)%></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="pull-right print print-link">Print</a>
		<a style="margin-right: 20px;"class="pull-right download pdf-link">Download</a>
	</div>
</script>
