@using System
@using System.Collections.Generic
@using System.Linq
@using EZBob.DatabaseLib.Model.Database.UserManagement
@using EzBob.Web.Infrastructure
@using ConfigManager
@using EzBob.Web.Infrastructure.Html
@using EZBob.DatabaseLib.Model.Database
@model dynamic
@{
    List<Tuple<string, string>> securityQuestions = (ViewData["Questions"] as List<SecurityQuestion>).Select(x => new Tuple<string, string>(x.Id.ToString(), x.Name)).ToList();
    // var securityQuestions = ViewData["Questions"] as List<Tuple<int, string>>;
	CustomerOriginEnum origin = ViewBag.CustomerOrigin.GetOrigin();
    string captchamode = CurrentValues.Instance.CaptchaMode;
    bool instructionsEnabled = CurrentValues.Instance.WizardInstructionsEnabled;
    var bml = new WizardBrokerLeadModel(Session);
    var sInitialEmail = bml.IsSet ? bml.LeadEmail : string.Empty;
    var sBrokerForCustomerIndicator = bml.BrokerFillsForCustomer ? "broker-for-customer" : string.Empty;
}

<script id="signup-template" type="text/template">
    @using (Html.BeginForm("SignUp", "Account", new { Area = "" }, FormMethod.Post, new { @class = "signup clearfix" }))
    {
                @*The following control is only used to save customer name for Alibaba customer. ui-event-control-id attribute is used to copy a value from cookie to the control.*@
                <input type="hidden" name="FirstName" ui-event-control-id="personal-info:first_name" />
                <input type="hidden" name="Surname" ui-event-control-id="personal-info:last_name" />
               if (origin == CustomerOriginEnum.everline) {
			        <h2 class="@sBrokerForCustomerIndicator">Your details</h2>
               } else {
					<h2 class="@sBrokerForCustomerIndicator">Create account</h2>
               }
                
                @EzForm.InputTextWizard(new EzInputBuilder("Email", "Email address", value: @sInitialEmail, type: "email", cls: "form_field"
, isRequired: true, statusIcon: true, uiEventControlID: "signup:email", tabIndex: 1, autoCorrect: "off", autoCapitalize: "off"), origin: origin)
                @EzForm.InputTextWizard(new EzInputBuilder("signupPass1", "Password", type: "password", cls: "form_field"
 , isRequired: true, statusIcon: true, uiEventControlID: "signup:password1", tabIndex: 2, formFieldID: "strength-password-view"), origin: origin)
                @EzForm.InputTextWizard(new EzInputBuilder("signupPass2", "Confirm password", type: "password"
 , cls: "form_field", isRequired: true, statusIcon: true, uiEventControlID: "signup:password2", tabIndex: 3), origin: origin)
                @EzForm.SelectWizard(new EzSelectModel("securityQuestion", "Secret question", cls: "form_field", listItems: securityQuestions, isRequired: true
               , tabIndex: 4, statusIcon: true, uiEventControlID: "signup:security_question"), origin: origin)
                @EzForm.InputTextWizard(new EzInputBuilder("SecurityAnswer", "Secret answer", cls: "form_field", isRequired: true
 , statusIcon: true, uiEventControlID: "signup:security-answer", tabIndex: 5), origin: origin)

                <div id="twilioDiv" class="hide">
                    @EzForm.InputTextWizard(new EzInputBuilder("mobilePhone", "Mobile phone", cls: "phonenumber form_field_left_side form_field", type: "tel", isRequired: true
              , statusIcon: true, uiEventControlID: "signup:mobile-phone", tabIndex: 11, innerMessage: "Code sent", button: new EzButtonModel("generateMobileCode", "Send activation code", "button clean-btn btn-green form_field_right_side_signup_phone disabled", "signup:generate-mobile-code", buttonType: EzButtonType.button)), origin: origin)

                    @EzForm.InputTextWizard(new EzInputBuilder("mobileCode", "Authentication code", cls: "phonenumbercode form_field_left_side form_field", type: "tel", isRequired: true, tohide: true, formFieldID: "mobileCodeDiv",
                            statusIcon: true, uiEventControlID: "signup:mobile-code", tabIndex: 12, button: new EzButtonModel("switchToCaptcha", "Did not receive code", "clean-btn btn-link form_field_right_side_signup_phone", "signup:switch-to-captcha", buttonType: EzButtonType.button)
                                       ), origin: origin)
                </div>

                <div id="captchaDiv" class="hide">
                    <div class="form_field_container">
                        @EzForm.Captcha(captchamode, uiEventControlID: "signup:captcha", origin: origin)
                    </div>
                </div>
                @EzForm.WizardButton(new EzButtonModel("signupSubmitButton", "Next", 
					cls: "button btn-green ev-btn-org continue disabled", 
					tabIndex: 13, 
					uiEventControlID: "signup:submit", 
					buttonType: EzButtonType.submit), 
					origin: origin)
               

                <div class="hide">
                    @if (instructionsEnabled)
                    {
                        <div id="offline_help" class="help_window">
                            <h2>Welcome to the @ViewBag.CustomerOrigin.Name application process</h2>
                            <p>Please find below what you need to complete your application successfully.</p>
                            <div class="help_image help_offline"></div>
                            <p>Complete it in five minutes.</p>
                            <br>
                            <div class="alignright" style="padding: 0 10px 0 0;">
                                <a href="javascript:$.colorbox.close()" target="_blank" class="button btn-green pull-right" ui-event-control-id="signup:offline-popup-continue">Continue</a>
                            </div>
                            <div class="clear"></div>
                            <hr>
                            <div class="help_security"></div>
                        </div>
                    }
                    <div id="everline_help" class="help_window" ui-event-control-id="signup:everline-help-popup">
                        <div class="help_everline_header"></div>
                        <div class="help_everline_content">
                            <p><h3><strong>Dear Everline registered user</strong></h3></p>
                            <p><strong>Everline</strong> has been purchased by <strong>Orange Money Ltd</strong>, the first online SME lender to be an approved financial intermediary for the European Investment Fund (EIF) and it is also backed by the Business Bank supported Angel Co-Fund.</p>
                            <p>If you would like to apply for a new loan, for the protection of your personal information, we require you to create new login credentials. The application process will take less than 10 minutes and once we have created your new account we will retain all your details so it is simple to login on your next visit.</p>
                            <p>You can apply for up to £150,000 for 18 months and will also benefit from a 28 – 40% saving in loan costs – based on risk based pricing - when compared to the old Everline annual loan costs. Previously Everline had offered loans up to £50,000 for 12 months at rates of 26% per annum.</p>
                            <p>Please click here to Apply or simply close this popup window.</p>
                            <p style="text-align: center;"><a class="org-btn btn-sm" onclick="javascript: $.colorbox.close();" ui-event-control-id="signup:everline-popup-apply">Apply <i class="fa fa-chevron-right"></i></a></p>
                        </div>
                    </div>
                </div>
    }
</script>