@model dynamic
@helper AmazonInfo()
{
    <div class="amazon-instructions" style="padding-top: 1px;">
        <div class="amazon-instructions-title">
            <h2>Add Amazon Shop</h2>
            <a class="amazonscreenshot" rel="group" href="#">
                <img src="@Url.Content("~/Content/img/Tutorial/tn_amazon1.jpg")" alt="add amazon shop" ui-event-control-id="link-account:amazon_tutorial" />
            </a>
            <label class="amazon_view_tutorial_label">View Tutorial</label>
        </div>

        <div style="padding-top: 10px;">
            <ol class='store-connect-manual'>
                <li>
                    <a href="https://sellercentral.amazon.co.uk/gp/mws/registration/register.html" class="blue-link-force go-to-amazon" target="_blank" ui-event-control-id="link-account:amazon_link_to_register">Click here</a>   to be redirected to Amazon Services and login with your seller ID
                </li>

                <hr class="dotted" />

                <li>Once you are logged into your Amazon account, choose the 2<sup>nd</sup> option <q>"I want to use an <b>application</b>..."</q>
                    and enter the following in Amazon Services:
                    <dl>
                        <dt>Application Name</dt>
                        <dd>EZBOB</dd>

                        <dt>Developer Account Number</dt>
                        <dd>0145-5534-7663</dd>
                    </dl>
                </li>

                <hr class="dotted" />

                <li>Read and accept Amazon Services terms and conditions.
                </li>

                <hr class="dotted" />

                <li>Copy and Paste from Amazon Services:
                    @using (Html.BeginForm("", "", new { }, FormMethod.Post, new { @class = "AmazonForm", @style = "padding-top:20px;" }))
                    {
                        <div class="clearfix">
                            @EzForm.InputText("amazonMerchantId", "Merchant ID", cls: "form_field", isRequired: true, statusIcon: true, isDisabled: true, maxLength: 30, uiEventControlID: "link-account:amazon_merchant_id")
                            @EzForm.InputText("amazonMarketplaceId", "Marketplace ID", cls: "form_field", isRequired: true, statusIcon: true, isDisabled: true, maxLength: 15, uiEventControlID: "link-account:amazon_marketplace_id")
                        </div>
                    }
                </li>
            </ol>
        </div>
        <div class="control-group clearfix form_buttons_container">
            <div class="attardi-button">
                <a href="#Connect/amazon" class="connect-amazon button btn-green disabled" ui-event-control-id="link-account:amazon_connect">Continue</a>
                <a href="#" class="back button btn-grey" ui-event-control-id="link-account:amazon_back">Back</a>
            </div>
        </div>
    </div>
}

<script id="amazon-store-info" type="text/template">
    @AmazonInfo()
</script>

<div id="amazon-gallery-container" class="hide">
    <div class="amazon-tutorial-slider">
        <a href='@Url.Content("~/Content/img/Tutorial/amazon1.jpg")' target="_blank">
            <img height="471" width="960" src='@Url.Content("~/Content/img/Tutorial/amazon1.jpg")' alt="" />
        </a>

        <a href='@Url.Content("~/Content/img/Tutorial/amazon1.jpg")' target="_blank">
            <img height="471" width="960" src='@Url.Content("~/Content/img/Tutorial/amazon2.jpg")' alt="" />
        </a>

        <a href='@Url.Content("~/Content/img/Tutorial/amazon1.jpg")' target="_blank">
            <img height="471" width="960" src='@Url.Content("~/Content/img/Tutorial/amazon3.jpg")' alt="" />
        </a>

        <a href='@Url.Content("~/Content/img/Tutorial/amazon1.jpg")' target="_blank">
            <img height="471" width="960" src='@Url.Content("~/Content/img/Tutorial/amazon4.jpg")' alt="" />
        </a>
    </div>
</div>
