@model dynamic
@helper EbayInstructions()
{
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="instructions-header">
                <h2>
                    <span class="exclamation">!</span>
                    <p>Please follow the instructions below to register your shop with EZBOB</p>
                </h2>
            </div>
            <div class="ebay-instructions">
                <div class="simple-well ebay-instructions-list">
                    <div class="row-fluid">
                        <div class="span4">
                            <img src='@Url.Content("~/Content/img/ebay-link.png")' style="display: block; padding-top: 10px;" alt="" />
                        </div>
                        <div class="span8" style="padding-top: 10px;">
                            <span>1.</span>
                            <p>Click <b>continue</b> and be redirected to eBay</p>
                        </div>
                    </div>

                    <hr class="dotted" />

                    <div class="row-fluid">
                        <div class="span4">
                            <img src='@Url.Content("~/Content/img/ebay-inst2.png")' alt="" />
                        </div>
                        <div class="span8" style="padding-top: 20px;">
                            <span>2.</span>
                            <p>Sign in with your eBay seller ID</p>
                        </div>
                    </div>

                    <hr class="dotted" />

                    <div class="row-fluid">
                        <div class="span4">
                            <img src='@Url.Content("~/Content/img/ebay-inst3.png")' alt="" />
                        </div>
                        <div class="span8">
                            <span>3.</span>
                            <p>You will be redirected back to EZBOB</p>
                        </div>
                    </div>
                </div>
                <div class="control-group clearfix">
                    <a href="@Url.Action("AttachEbay", "EbayMarketPlaces", new { Area = "Customer" })" target="_blank" class="button orange connect-ebay pull-right">Continue</a>
                    <a href="#" class="back button grey pull-right">Back</a>
                </div>
                @{Html.RenderPartial("_SecureDisclaimer");}
            </div>
        </div>
    </div>
}

<script id="ebay-store-info" type="text/template">
    @EbayInstructions()
</script>
