@using EzBob.Web.Models.Strings
@model dynamic

@helper PaypalInstructionsContent()
{
    <div class="ebay-instructions">
        <div class="ebay-instructions-list" style="padding-top: 1px;">
            <div class="instructions-header">
                <h2>
                    <span class="exclamation">!</span>
                    <p>Please follow the instructions bellow to add your PayPal account</p>
                </h2>
            </div>
                
            <div class="simple-well">
                <div class="row-fluid">
                    <div class="span4">
                        <img src='@Url.Content("~/Content/img/paypal-link.png")' style="display: block; padding-top: 10px;" alt=""/>
                    </div>
                    <div class="span8" style="padding-top: 10px;">
                        <span>1.</span>
                        <p>Click <b>continue</b> to be redirected to PayPal</p>
                    </div>
                </div>
                    
                <hr class="dotted" />
                    
                <div class="row-fluid">
                    <div class="span4">
                        <img src='@Url.Content("~/Content/img/paypal-inst2.png")' alt=""/>
                    </div>
                    <div class="span8" style="padding-top: 20px;">
                        <span>2.</span>
                        <p>Sign in with your Paypal ID</p>
                    </div>
                </div>

                <hr class="dotted" />

                <div class="row-fluid">
                    <div class="span4">
                        <img src='@Url.Content("~/Content/img/ebay-inst3.png")' alt=""/>
                    </div>
                    <div class="span8">
                        <span>3.</span>
                        <p>You will be redirected back to EZBOB</p>
                    </div>
                </div>
            </div>
            <div class="control-group clearfix">
                <a href="@Url.Action("AttachPayPal", "PaymentAccounts", new {Area = "Customer"})" class="button orange connect-paypal  pull-right" target="_new">Continue</a>
                <a href="#" class="back button grey pull-right">Back</a>
            </div>
            @{Html.RenderPartial("_SecureDisclaimer");}
        </div>
    </div>
  
}

<script id="paypal-instructions" type="text/template">
    @PaypalInstructionsContent() 
</script>