@using EzTvDashboard.Code
@model EzTvDashboard.Models.DashboardModel

<div class="row">
    <div class="col-md-6">
        @if (Model.MonthlyBoard.Any())
        {
            <div class="box box-blue">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Monthly Dashboard</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-condensed fill-head table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Count</td>
                                <td>Values</td>
                                <td>Benchmark</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var el in Model.MonthlyBoard)
                            {
                                <tr>
                                    <td>@el.Caption</td>
                                    <td>@el.Count</td>
                                    <td>@el.Value</td>
                                    <td>@el.Benchmark.ToPercent()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        @if (Model.MonthlyTraffic.Any())
        {
            <div class="box box-blue">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Monthly Traffic</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-condensed fill-head table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Visits</td>
                                <td>Applications</td>
                                <td>Approvals</td>
                                <td>Loans</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var el in Model.MonthlyTraffic)
                            {
                                <tr>
                                    <td>@el.Caption</td>
                                    <td>@el.Visits</td>
                                    <td>@el.Applications</td>
                                    <td>@el.Approvals</td>
                                    <td>@el.Loans</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @if (Model.MonthlyCollection.Any())
        {
            <div class="box box-red">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Monthly Collection</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-condensed fill-head table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Count</td>
                                <td>Value</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var el in Model.MonthlyCollection)
                            {
                                <tr>
                                    <td>@el.Caption</td>
                                    <td>@el.Count</td>
                                    <td>@el.Value.ToK0()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        @if (Model.CollectionStatus.Any())
        {
            <div class="box box-red">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Collection Status</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-condensed fill-head table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Clients</td>
                                <td>Value</td>
                                <td>Percent</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var el in Model.CollectionStatus)
                            {
                                <tr>
                                    <td>@el.Caption</td>
                                    <td>@el.Clients</td>
                                    <td>@el.Value.ToK0()</td>
                                    <td>@el.Percent.ToPercent()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        @if (Model.FunnelNumbers.Any())
        {
            <div class="box box-green">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Funnel Numbers</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-condensed fill-head table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Count</td>
                                <td>Percent</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var el in Model.FunnelNumbers)
                            {
                                <tr>
                                    <td>@el.Caption</td>
                                    <td>@el.Count</td>
                                    <td>@el.Percent.ToPercent()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        @if (Model.ExistingCustomers.Any())
        {
            <div class="box box-green">
                <div class="box-title">
                    <h3><i class="fa fa-bar-chart-o"></i>Existing Customers</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-condensed fill-head table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Count</td>
                                <td>Potential</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var el in Model.ExistingCustomers)
                            {
                                <tr>
                                    <td>@el.Caption</td>
                                    <td>@el.Count</td>
                                    <td>@el.Potential.ToK0()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
