@using EzTvDashboard.Code

@model EzTvDashboard.Models.DashboardModel
<div class="box">
    <div class="box-title text-center">
        <h3>Today</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Visitors
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("T_UkVisitors").ToInt()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgreen">
                <div class="caption">
                    Registration
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("T_Registration").ToInt()</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Applications
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("T_Application").ToInt()</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Approved
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("T_Approved").ToK0()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgreen">
                <div class="caption">
                    Loans out
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("T_LoansOut").ToK0()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Repayments
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("T_Repayments").ToK0()</p>
            </div>
        </div>
    </div>

</div>

<div class="box">
    <div class="box-title text-center">
        <h3>Month to date</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Visitors
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_UkVisitors").ToInt()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgreen">
                <div class="caption">
                    Registration
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_Registration").ToInt()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Applications
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_Application").ToInt()</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Approved
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_Approved").ToK0()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgreen">
                <div class="caption">
                    Loans out
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_LoansOut").ToK0()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Repayments
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_Repayments").ToK0()</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Avg loan size
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_AvgLoanSize").ToK1()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgreen">
                <div class="caption">
                    Avg daily loans
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_AvgDailyLoans").ToK1()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Avg interest
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("M_AvgInterest").ToPercent()</p>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-title text-center">
        <h3>General</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Total loans
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("G_TotalLoans").ToM()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgreen">
                <div class="caption">
                    Book size
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("G_BookSize").ToM()</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile tile-ezgrey">
                <div class="caption">
                    Avg interest
                </div>
                <p class="title text-center">@Model.Stats.GetSafe("G_AvgInterest").ToPercent()</p>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-title text-center">
        <h3></h3>
    </div>
</div>

