<div class="tabbable yodleeTabTable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#yodleetab0" data-toggle="tab">Cash Flow Report</a></li>
        <li><a href="#yodleetab1" id="yodleeSearchWordsTab" data-toggle="tab">Search Words Report</a></li>
        <li><a href="#yodleetab2" data-toggle="tab">Charts</a></li>
        <li><a href="#yodleetab3" data-toggle="tab">Bank Account Details</a></li>
        <li><a href="#yodleetab4" id="yodleeTransactionsTabLink" data-toggle="tab">Bank Accounts Transactions</a></li>
        <li><a href="#yodleetab5" data-toggle="tab">Aggregates</a></li>
        <li><a href="#yodleetab6" id="yodleeRulesTab" data-toggle="tab">Custom Categorization Rules</a></li>
    </ul>
    <div class="tab-content">
        @YodleeCashFlowReport()
        @YodleeSearchWordsReport()
        @YodleeCharts()
        @YodleeBankAccounts()
        @YodleeBankAccountsTransactions()
        @YodleeAggregates()
        @YodleeRules()
    </div>
</div>

@helper YodleeCashFlowReport()
{
    <div class="tab-pane active" id="yodleetab0">
        <%(function() { if (y.CashFlowReportModel && y.CashFlowReportModel.YodleeCashFlowReportModelDict) { %>
        <table class="table centered rright" style="width: auto;">
            <thead class="box">
                <tr class="box-title">
                    <th>Cash Flow Report</th>
                    <% var obj = y.CashFlowReportModel.YodleeCashFlowReportModelDict;
                    var minDay = y.CashFlowReportModel.MinDateDict;
                    var maxDay = y.CashFlowReportModel.MaxDateDict;
                    var cat1 = obj[Object.keys(obj)[0]]; 
                    var count = 1; for (k in cat1) if (cat1.hasOwnProperty(k)) count++;
                    for (var month in cat1) { %>
                    <th><% if(month == '999999') { 
                            print('Total');
                        } else { 
                            print(minDay[month] + '-' + maxDay[month] + '/' + month.substring(4) + '/' + month.substring(0,4));
                        } %>
                    </th>
                    <%}%>
                </tr>
            </thead>
            <tbody>
                <%for(var cat in obj) {%>
                <% var style = '', isPound = true, isMajor = true;
                   if(cat[0] == 'c' || cat[0] == 'd' || cat[0] == 'e' || cat[0] == 'f') { continue; /*skip average and num of transactions*/ }
                   if(cat[1] == 'a' || cat[1] == 'b' || cat[1] == 'c') {style = 'font-weight: bold;';} else { isMajor = false; }
                %>
                <tr style="<%=style%>">
                    <td><%=cat.substr(2, cat.length-2)%></td>
                    <%for (var month in obj[cat]) { %>
                    <%var css = "";
                    if(cat[1] == 'c' && obj[cat][month] < 0){ css='debit';}
                    else if(cat[1] == 'c' && obj[cat][month] >= 0){ css='credit';}
                    else if(obj[cat][month] < 0) { css = 'negative';}
                    %>
                    <td class="<%=css%>"><%= obj[cat][month] == 0 ? '-' : (isPound ? EzBob.formatPoundsAsInt(obj[cat][month]) : parseInt(obj[cat][month]))  %></td>
                    <%}%>
                </tr>
                <%if(cat[1] == 'c') {%><tr><td colspan="<%=count%>"></td></tr> <%}%>
                <%}%>
            </tbody>
        </table>
        <%} else { print('No data to show'); } })();%>
    </div>
}

@helper YodleeSearchWordsReport()
{
    <div class="tab-pane" id="yodleetab1">
        <%(function() { if (y.SearchWordsModel && y.SearchWordsModel.YodleeSearchWordModelDict) { %>
        <table class="table centered rright" style="width: auto;">
            <thead class="box">
                <tr class="box-title">
                    <th>Search Words Report</th>
                    <th>Word Origin</th>
                    <% var obj = y.SearchWordsModel.YodleeSearchWordModelDict;
                    var word1 = obj[Object.keys(obj)[0]]; 
                    for (var type in word1) { %>
                    <th><%= type %></th>
                    <%}
                    if(!word1){%>
                    <th>No matches to search words</th>
                    <%}%>
                </tr>
            </thead>
            <tbody>
                <%for(var word in obj){%>
                <tr class="yodleeSearchWordsRow">
                    <td><%=word.substr(1)%></td>
                    <td><%switch(word[0]) { case '0': print('Customer surname'); break; case '1': print('Director surname'); break; case '2': print('Search word'); break; default: print('unknown'); break; } %></td>
                    <%for (var type in obj[word]) { var isPound = type.indexOf('#') == -1;%>
                    <td><%= obj[word][type] == 0 ? '-' : (isPound ? EzBob.formatPoundsAsInt(obj[word][type]) : parseInt(obj[word][type])) %></td>
                    <%}%>
                </tr>
                <%}%>
            </tbody>
        </table>
        <hr />
        <div class="well" style="width: 570px">
            <span>Add/Remove Search Words For Yodlee Transactions</span>
            <div class="form-group">
            <label for="yodleeSearchWordsDdl">Search Words</label>
                <select id="yodleeSearchWordsDdl" class="form-control selectheight" style="margin-bottom: 0">
                    <option></option>
                    <%for(var word in y.SearchWordsModel.WordsDict) { %>
                    <option value="<%=word%>"><%=y.SearchWordsModel.WordsDict[word]%></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary yodleeSearchWordsDelete" id="removeYodleeSearchWord">Remove</button>
            </div>
            <hr />
            <div class="form-group">
                <label for="yodleeAddSearchWordTxt">Add Word</label>
                <input type="text" class="form-control" id="yodleeAddSearchWordTxt" style="margin-bottom: 0" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary yodleeSearchWordsAdd" id="addYodleeSearchWord">Add</button>
            </div>

        </div>
        <%} else {print('No match was found to the search words');} })();%>
    </div>
}

@helper YodleeCharts()
{
    <div class="tab-pane" id="yodleetab2">
        <%(function() { if (y.CashFlowReportModel && y.CashFlowReportModel.YodleeCashFlowReportModelDict) { %>
        <h3 style="margin: 0; text-align: center;">Monthly Activity Summary<br />
            <small>monthly as of date <%=EzBob.formatDate(new Date(moment(y.CashFlowReportModel.AsOfDate)))%></small>
        </h3>
        <div class="well" style="width: 80%; height: 350px; position: relative;">
            <div id="yodleeBarGraph" class="jqplot-target" style="width: 90%; height: 300px; position: relative;"></div>
        </div>
        <hr />
        <h3 style="margin: 0; text-align: center;">Cash Flow High/Low Trends<br />
            <small>monthly as of date <%=EzBob.formatDate(new Date(moment(y.CashFlowReportModel.AsOfDate)))%></small>
        </h3>
        <div class="well" style="width: 80%; height: 350px; position: relative;">
            <button class="yodleeReplotGraph btn btn-mini" style="right: 0px; top: 0px; position: absolute;" title="Replot"><i class="fa fa-refresh"></i></button>
            <button class="yodleeShowTransactionsInRange btn btn-mini" style="right: 0px; top: 35px; position: absolute; z-index: 5;" title="Show transactions in range"><i class="fa fa-magnet"></i></button>
            <div id="yodleeRunningBalanceChart" class="jqplot-target" style="width: 90%; height: 300px; position: relative;"></div>
        </div>

        <br />

        <%} else {print('No data to show charts');} })();%>
    </div>
}

@helper YodleeBankAccounts()
{
    <div class="tab-pane" id="yodleetab3">
        <table class="table centered nowrap">
            <thead class="box">
                <tr class="box-title">
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Type</th>
                    <th>Current Balance</th>
                    <th>Available Balance</th>
                    <th>Account Holder</th>
                    <th>As Of Date</th>
                    <th>Overdraft Protection</th>
                    <th>Routing Number</th>
                    <th>Is Deleted</th>
                </tr>
            </thead>
            <tbody>
                <%_.each(y.banks, function(bank, i) {%>
                        <tr class="yodleeAccountsRow">
                            <td><%-bank.accountName!=undefined ? bank.accountName : "-"%></td>
                            <td><%-bank.accountNumber!=undefined ? bank.accountNumber : "-"%></td>
                            <td><%-bank.accountType!=undefined ? bank.accountType : "-"%></td>
                            <td class="<%-(bank.currentBalance < 0 ? 'negative' : '')%>"><%-bank.currentBalance!=undefined ? GBPValues(bank.currentBalance, true) : "-"%></td>
                            <td class="<%-(bank.availableBalance < 0 ? 'negative' : '')%>"><%-bank.availableBalance!=undefined ? GBPValues(bank.availableBalance, true) : "-"%></td>
                            <td><%-bank.accountHolder!=undefined ? bank.accountHolder : "-"%></td>
                            <td><%-bank.asOfDate!=undefined ? EzBob.formatDateWithoutTime(bank.asOfDate) : "-"%></td>
                            <td><%-bank.overdraftProtection!=undefined ? GBPValues(bank.overdraftProtection) : "-"%></td>
                            <td><%-bank.routingNumber!=undefined ? bank.routingNumber : "-"%></td>
                            <td><%-bank.isDeleted!=undefined ? bank.isDeleted : "-"%></td>
                        </tr>
                <%});%>
            </tbody>
        </table>
    </div>
}

@helper YodleeBankAccountsTransactions()
{
    <div class="tab-pane" id="yodleetab4">
        <div class="dataTables_filter col-md-3" id="range-filter">
            <label for="date-range">Filter by date range:
                <input type="text" id="date-range" />
            </label>
            <button class="btn btn-mini btn-primary show-tooltip clear-filter" data-original-title="Clear filter" data-placement="bottom"><i class="fa fa-eraser"></i></button>
        </div>
        <table class="table centered nowrap YodleeTransactionsTable" id="YodleeTransactionsTable">
            <thead class="box">
                <tr class="box-title">
                    <th>Acct #</th>
                    <th>Tr Type</th>
                    <th>Tr/Post Date</th>
                    <th>Tr Amount £</th>
                    <th>Running Balance End Of Day £<i class="fa fa-info-circle" data-yodlee-calculated=""></i></th>
                    <th>Tr Group</th>
                    <th>Tr SubGroup</th>
                    <th>Category</th>
                    <th>Category Type</th>
                    <th>Description</th>
                    <th>Tr Status</th>
                </tr>
            </thead>
            <tbody>
                <%_.each(y.banks, function(bank, i) {%>
                <%_.each(bank.transactions, function(transaction, j) {%>
                <%if(transaction.transactionBaseType=='credit'){ %>
                <tr class="credit">
                <%}else{%>
                <tr class="debit">
                <%}%>
                    <td><%=i+1%></td>
                    <td><%-transaction.transactionBaseType!=undefined ? transaction.transactionBaseType : "-"%></td>
                    <td><%-transaction.transactionDate!=undefined ? EzBob.formatDateWithoutTime(transaction.transactionDate) : "-"%></td>
                    <td style="text-align: right"><%-transaction.transactionAmount!=undefined ? EzBob.formatPoundsAsInt(transaction.transactionAmount) : "-"%></td>
                    <td style="text-align: right"><%-transaction.runningBalance!=undefined ? EzBob.formatPoundsAsInt(transaction.runningBalance) : "-"%></td>
                    <td><%-transaction.ezbobGroup!=undefined ? transaction.ezbobGroup : "-"%></td>
                    <td><%-transaction.ezbobSubGroup!=undefined ? transaction.ezbobSubGroup : "-"%></td>
                    <td><%-transaction.categoryName!=undefined ? transaction.categoryName : "-"%></td>
                    <td><%-transaction.categoryType!=undefined ? transaction.categoryType : "-"%></td>
                    <td><%=transaction.description!=undefined ? transaction.description : "-"%></td>
                    <td><%-transaction.transactionStatus!=undefined ? transaction.transactionStatus : "-"%></td>
                </tr>
                <%});%>
                <%});%>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="11">Total:</th>
                </tr>
                <tr class="hide">
                    <th><input type="text" name="search_acct" value="Search Acct #" class="search_init"></th>
                    <th><input type="text" name="search_trtype" value="Search Tr Type" class="search_init"></th>
                    <th><input type="text" name="search_date" value="Search Tr Date" class="search_init"></th>
                    <th><input type="text" name="search_amount" value="Search Tr Amount" class="search_init"></th>
                    <th><input type="text" name="search_runningbalance" value="Search Running Balance" class="search_init"></th>
                    <th><input type="text" name="search_group" value="Search Group" class="search_init"></th>
                    <th><input type="text" name="search_subgroup" value="Search Sub Group" class="search_init"></th>
                    <th><input type="text" name="search_category" value="Search Category" class="search_init"></th>
                    <th><input type="text" name="search_categorytype" value="Search Category Type" class="search_init"></th>
                    <th><input type="text" name="search_description" value="Search Description" class="search_init"></th>
                    <th><input type="text" name="search_status" value="Search Status" class="search_init"></th>
                </tr>
            </tfoot>
        </table>
    </div>
}

@helper YodleeAggregates()
{
    <div class="tab-pane" id="yodleetab5">
        <table class="table centered nowrap rright">
            <thead class="box">
                <tr class="box-title">
                    <th></th>
                    <th>1M</th>
                    <th>3M</th>
                    <th>6M</th>
                    <th>12M</th>
                    <th>15M</th>
                    <th>18M</th>
                    <th>24M</th>
                    <th>Lifetime</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Income</td>
                    <td><%-ai.TotalIncome1M!=undefined ? GBPValues(ai.TotalIncome1M, true): "-"%></td>
                    <td><%-ai.TotalIncome3M!=undefined ? GBPValues(ai.TotalIncome3M, true): "-"%></td>
                    <td><%-ai.TotalIncome6M!=undefined ? GBPValues(ai.TotalIncome6M, true): "-"%></td>
                    <td><%-ai.TotalIncome12M!=undefined ? GBPValues(ai.TotalIncome12M, true): "-"%></td>
                    <td><%-ai.TotalIncome15M!=undefined ? GBPValues(ai.TotalIncome15M, true): "-"%></td>
                    <td><%-ai.TotalIncome18M!=undefined ? GBPValues(ai.TotalIncome18M, true): "-"%></td>
                    <td><%-ai.TotalIncome24M!=undefined ? GBPValues(ai.TotalIncome24M, true): "-"%></td>
                    <td><%-ai.TotalIncomeLifetime!=undefined ? GBPValues(ai.TotalIncomeLifetime, true): "-"%></td>
                </tr>
                <tr>
                    <td>Total Income Annualized</td>
                    <td><%-ai.TotalIncomeAnnualized1M!=undefined ? GBPValues(ai.TotalIncomeAnnualized1M, true): "-"%></td>
                    <td><%-ai.TotalIncomeAnnualized3M!=undefined ? GBPValues(ai.TotalIncomeAnnualized3M, true): "-"%></td>
                    <td><%-ai.TotalIncomeAnnualized6M!=undefined ? GBPValues(ai.TotalIncomeAnnualized6M, true): "-"%></td>
                    <td><%-ai.TotalIncomeAnnualized12M!=undefined ? GBPValues(ai.TotalIncomeAnnualized12M, true): "-"%></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Expense</td>
                    <td><%-ai.TotalExpense1M!=undefined ? GBPValues(ai.TotalExpense1M, true) : "-"%></td>
                    <td><%-ai.TotalExpense3M!=undefined ? GBPValues(ai.TotalExpense3M, true) : "-"%></td>
                    <td><%-ai.TotalExpense6M!=undefined ? GBPValues(ai.TotalExpense6M, true) : "-"%></td>
                    <td><%-ai.TotalExpense12M!=undefined ? GBPValues(ai.TotalExpense12M, true) : "-"%></td>
                    <td><%-ai.TotalExpense15M!=undefined ? GBPValues(ai.TotalExpense15M, true) : "-"%></td>
                    <td><%-ai.TotalExpense18M!=undefined ? GBPValues(ai.TotalExpense18M, true) : "-"%></td>
                    <td><%-ai.TotalExpense24M!=undefined ? GBPValues(ai.TotalExpense24M, true) : "-"%></td>
                    <td><%-ai.TotalExpenseLifetime!=undefined ? GBPValues(ai.TotalExpenseLifetime, true) : "-"%></td>
                </tr>
                <tr>
                    <td>Number Of Transactions</td>
                    <td><%-ai.NumberOfTransactions1M!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactions1M) : "-"%></td>
                    <td><%-ai.NumberOfTransactions3M!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactions3M) : "-"%></td>
                    <td><%-ai.NumberOfTransactions6M!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactions6M) : "-"%></td>
                    <td><%-ai.NumberOfTransactions12M!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactions12M) : "-"%></td>
                    <td><%-ai.NumberOfTransactions15M!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactions15M) : "-"%></td>
                    <td><%-ai.NumberOfTransactions18M!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactions18M) : "-"%></td>
                    <td><%-ai.NumberOfTransactions24M!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactions24M) : "-"%></td>
                    <td><%-ai.NumberOfTransactionsLifetime!=undefined ? EzBob.formatIntWithCommas(ai.NumberOfTransactionsLifetime) : "-"%></td>
                </tr>
            </tbody>
        </table>
        <div class="last-transaction-date-badge">Last Transaction Date: <%-EzBob.formatDate2(m.LastTransactionDate)%></div>
    </div>
}

@helper YodleeRules()
{
    <div class="tab-pane" id="yodleetab6">
        <%(function() { if (y.RuleModel && y.RuleModel.GroupRulesDict) { var rm = y.RuleModel; %>
        <table class="table centered" style="width: auto;">
            <thead class="box">
                <tr class="box-title">
                    <th>Group</th>
                    <th>Rule</th>
                </tr>
            </thead>
            <tbody>
                <%for(var gr in rm.GroupRulesDict){ %>
                <tr class="yodleeSearchWordsRow">
                    <td><%=gr%></td>
                    <td><%for(var r in rm.GroupRulesDict[gr]){ %>
                            <%=r%> <%if(rm.GroupRulesDict[gr][r]) { print(': '); %>  <%=rm.GroupRulesDict[gr][r]%> <%}%><br />
                        <%}%>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <hr />
        <div class="well" style="width: 570px">
            <div class="form-group">
                <span>Add Rule</span>
                <label for="yodleeGroup">Group</label>
                <select id="yodleeGroup" class="form-control selectheight" style="margin-bottom: 0">
                    <option></option>
                    <%for(var i in rm.Groups) { if(!rm.Groups.hasOwnProperty(i)) {continue;} %>
                    <option value="<%=rm.Groups[i].Id%>"><%=rm.Groups[i].Group%> <%if(rm.Groups[i].SubGroup) { print(' - ');%><%=rm.Groups[i].SubGroup%><%}%></option>
                    <%}%>
                </select>
            </div>

            <div class="form-group">
                <label for="yodleeRule">Rule</label>
                <select id="yodleeRule" class="form-control selectheight" style="margin-bottom: 0">
                    <option></option>
                    <%for(var i in rm.Rules) { if(!rm.Rules.hasOwnProperty(i)) {continue;} %>
                    <option value="<%=rm.Rules[i].Id%>"><%=rm.Rules[i].Rule%></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label for="yodleeLiteral">Literal</label>
                <input type="text" id="yodleeLiteral" class="form-control" style="margin-bottom: 0" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary yodleeRuleAdd" id="yodleeRuleAdd">Add</button>
            </div>
            <hr />
        </div>
        <%} else {print('No rules available');} })();%>
    </div>
}
