<div class="tabbable yodleeTabTable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#yodleetab0" data-toggle="tab">Cash Flow Report</a></li>
        <li><a href="#yodleetab1" data-toggle="tab">Search Words Report</a></li>
        <li><a href="#yodleetab2" data-toggle="tab">Charts</a></li>
        <li><a href="#yodleetab3" data-toggle="tab">Bank Account Details</a></li>
        <li><a href="#yodleetab4" id="yodleeTransactionsTabLink" data-toggle="tab">Bank Accounts Transactions</a></li>
    </ul>
    <div class="tab-content">
        @YodleeCashFlowReport()
        @YodleeSearchWordsReport()
        @YodleeCharts()
        @YodleeBankAccounts()
        @YodleeBankAccountsTransactions()
    </div>
</div>

@helper YodleeCashFlowReport()
{
    <div class="tab-pane active" id="yodleetab0">
        <%(function() { if (y.CashFlowReportModel && y.CashFlowReportModel.YodleeCashFlowReportModelDict) { %>
        <table class="table table-bordered table-striped  blue-header centered rright" style="width: auto;">
            <thead>
                <tr>
                    <th>Cash Flow Report</th>
                    <% var obj = y.CashFlowReportModel.YodleeCashFlowReportModelDict;
                    var minDay = y.CashFlowReportModel.MinDateDict;
                    var maxDay = y.CashFlowReportModel.MaxDateDict;
                    var cat1 = obj[Object.keys(obj)[0]]; 
                    var count = 1; for (k in cat1) if (cat1.hasOwnProperty(k)) count++;
                    for (var month in cat1) { %>
                    <th><% if(month == '999999') { 
                            print('Total');
                        } else { 
                            print(minDay[month] + '-' + maxDay[month] + '/' + month.substring(4) + '/' + month.substring(0,4));
                        } %>
                    </th>
                    <%}%>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="<%=count%>"><b>Income</b></td>
                </tr>
                <%for(var cat in obj){%>
                <% var style = '', isPound = true; console.log(cat,cat.substr(0,2));
                   if(cat[0] == '3' || cat[0] == '8') {style = 'font-style: italic;'; isPound = false; }
                   if(cat[0] == '2' || cat[0] == '7' || cat[0] == 'a') {style = 'font-weight: bold;';} %>
                <tr style="<%=style%>">
                    <td><%=cat.substr(1, cat.length-1)%></td>
                    <%for (var month in obj[cat]) { %>
                    <td><%= obj[cat][month] == 0 ? '' : (isPound ? EzBob.formatPoundsAsInt(obj[cat][month]) : parseInt(obj[cat][month]))  %></td>
                    <%}%>
                </tr>
                <%if(cat[0]=='4'){%>
                    <tr>
                        <td colspan="<%=count%>"><b>Expenses</b></td>
                    </tr>
                <%}%>
                <%if(cat[0]=='9'){%>
                    <tr>
                        <td colspan="<%=count%>"><b>Net Cash Flow</b></td>
                    </tr>
                <%}}%>
            </tbody>
        </table>
        <%} else { print('No data to show'); } })();%>
    </div>
}

@helper YodleeSearchWordsReport()
{
    <div class="tab-pane" id="yodleetab1">
        <%(function() { if (y.SearchWordsModel && y.SearchWordsModel.YodleeSearchWordModelDict) { %>
        <table class="table table-bordered table-striped  blue-header centered rright" style="width: auto;">
            <thead>
                <tr>
                    <th>Search Words Report</th>
                    <% var obj = y.SearchWordsModel.YodleeSearchWordModelDict;
                    var word1 = obj[Object.keys(obj)[0]]; 
                    for (var type in word1) { %>
                    <th><%= type %></th>
                    <%}
                    if(!word1){%>
                    <th>No matches to search words</th>
                    <%}%>
                </tr>
            </thead>
            <tbody>
                <%for(var word in obj){%>
                <tr class="yodleeSearchWordsRow">
                    <td><%=word%></td>
                    <%for (var type in obj[word]) { var isPound = type.indexOf('#') == -1;%>
                    <td><%= obj[word][type] == 0 ? '' : (isPound ? EzBob.formatPoundsAsInt(obj[word][type]) : parseInt(obj[word][type])) %></td>
                    <%}%>
                </tr>
                <%}%>
            </tbody>
        </table>
        <hr />
        <div class="well">
            <span>Add/Remove Search Words For Yodlee Transactions</span>
            <label for="yodleeSearchWordsDdl">Search Words</label>
            <select id="yodleeSearchWordsDdl" class="selectheight" style="margin-bottom: 0">
                <option></option>
                <%for(var word in y.SearchWordsModel.WordsDict) { %>
                <option value="<%=word%>"><%=y.SearchWordsModel.WordsDict[word]%></option>
                <%}%>
            </select>
            <button class="btn yodleeSearchWordsDelete" id="removeYodleeSearchWord">Remove</button>
            <hr />
            <input type="text" id="yodleeAddSearchWordTxt" style="margin-bottom: 0" />
            <button class="btn yodleeSearchWordsAdd" id="addYodleeSearchWord">Add</button>

        </div>
        <%} else {print('No match was found to the search words');} })();%>
    </div>
}

@helper YodleeCharts()
{
    <div class="tab-pane" id="yodleetab2">
        <%(function() { if (y.CashFlowReportModel && y.CashFlowReportModel.YodleeCashFlowReportModelDict) { %>
        <div id="yodleeBarGraph" class="well" style="width: 800px; height: 300px;"></div>
        <hr />

        <h3 style="width: 800px; text-align: center;">High/Low Running Balance<br />
            <small>monthly</small></h3>
        <div class="well" style="width: 800px; height: 300px; position: relative;">
            <button class="yodleeReplotGraph btn btn-mini" style="right: 0px; top: 0px; position: absolute;" title="Replot"><i class="icon-refresh"></i></button>
            <div id="yodleeRunningBalanceChart" class="jqplot-target" style="width: 800px; height: 300px; position: relative;"></div>
        </div>
        <%} else {print('No data to show charts');} })();%>
    </div>
}

@helper YodleeBankAccounts()
{
    <div class="tab-pane" id="yodleetab3">
        <table class="table table-bordered table-striped  blue-header centered nowrap">
            <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Available Balance</th>
                    <th>Current Balance</th>
                    <th>Account Holder</th>
                    <th>Account Open Date</th>
                    <th>Custom Name</th>
                    <th>Custom Description</th>
                    <th>Is Deleted</th>
                    <th>Term</th>
                    <th>Routing Number</th>
                    <th>Account Nickname At SrcSite</th>
                    <th>Secondary Account Holder Name</th>
                    <th>Taxes Withheld Ytd</th>
                </tr>
            </thead>
            <tbody>
                <%_.each(y.banks, function(bank, i) {%>
                                <tr onclick="$('#yodleeTabLink<%= (i + 3) %>').click();">
                                    <td><%-bank.accountName!=undefined ? bank.accountName : "-"%></td>
                                    <td><%-bank.accountNumber!=undefined ? bank.accountNumber : "-"%></td>
                                    <td><%-bank.availableBalance!=undefined ? GBPValues(bank.availableBalance, true) : "-"%></td>
                                    <td><%-bank.currentBalance!=undefined ? GBPValues(bank.currentBalance, true) : "-"%></td>
                                    <td><%-bank.accountHolder!=undefined ? bank.accountHolder : "-"%></td>
                                    <td><%-bank.accountOpenDate!=undefined ? bank.accountOpenDate : "-"%></td>
                                    <td><%-bank.customName!=undefined ? bank.customName : "-"%></td>
                                    <td><%-bank.customDescription!=undefined ? bank.customDescription : "-"%></td>
                                    <td><%-bank.isDeleted!=undefined ? bank.isDeleted : "-"%></td>
                                    <td><%-bank.term!=undefined ? bank.term : "-"%></td>
                                    <td><%-bank.routingNumber!=undefined ? bank.routingNumber : "-"%></td>
                                    <td><%-bank.accountNicknameAtSrcSite!=undefined ? bank.accountNicknameAtSrcSite : "-"%></td>
                                    <td><%-bank.secondaryAccountHolderName!=undefined ? bank.secondaryAccountHolderName : "-"%></td>
                                    <td><%-bank.taxesWithheldYtd!=undefined ? bank.taxesWithheldYtd : "-"%></td>
                                </tr>
                <%});%>
            </tbody>
        </table>
    </div>
}

@helper YodleeBankAccountsTransactions()
{
    <div class="tab-pane" id="yodleetab4">
        <table class="table table-bordered table-striped  blue-header centered nowrap YodleeTransactionsTable">
            <thead>
                <tr>
                    <th>Acct #</th>
                    <th>Tr Type</th>
                    <th>Tr/Post Date</th>
                    <th>Tr Amount £</th>
                    <th>Running Balance £ (calculated)</th>
                    <th>Category</th>
                    <th>Category Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <%_.each(y.banks, function(bank, i) {%>
                <%_.each(bank.transactions, function(transaction, j) {%>
                <%if(transaction.transactionBaseType=='credit'){ %>
                <tr class="credit">
                    <%}else{%>
                <tr class="debit">
                    <%}%>
                    <td><%=i+1%></td>
                    <td><%-transaction.transactionBaseType!=undefined ? transaction.transactionBaseType : "-"%></td>
                    <td><%-transaction.transactionDate!=undefined ? EzBob.formatDateHumanFull(transaction.transactionDate) : "-"%></td>
                    <td style="text-align: right"><%-transaction.transactionAmount!=undefined ? EzBob.formatPoundsAsInt(transaction.transactionAmount) : "-"%></td>
                    <td style="text-align: right"><%-transaction.runningBalance!=undefined ? EzBob.formatPoundsAsInt(transaction.runningBalance) : "-"%></td>
                    <td><%-transaction.categoryName!=undefined ? transaction.categoryName : "-"%></td>
                    <td><%-transaction.categoryType!=undefined ? transaction.categoryType : "-"%></td>
                    <td><%-transaction.description!=undefined ? transaction.description : "-"%></td>
                </tr>
                <%});%>
                <%});%>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total:</th>
                    <th></th>
                    <th>Sum Credit:</th>
                    <th style="text-align: right"></th>
                    <th></th>
                    <th>Sum Debit:</th>
                    <th style="text-align: right"></th>
                    <th></th>
                </tr>
                <tr>
                    <th rowspan="1" colspan="1"><input type="text" name="search_acct" value="Search Acct #" class="search_init"></th>
                    <th rowspan="1" colspan="1"><input type="text" name="search_trtype" value="Search Tr Type" class="search_init"></th>
                    <th rowspan="1" colspan="1"><input type="text" name="search_date" value="Search Tr Date" class="search_init"></th>
                    <th rowspan="1" colspan="1"><input type="text" name="search_amount" value="Search Tr Amount" class="search_init"></th>
                    <th rowspan="1" colspan="1"><input type="text" name="search_runningbalance" value="Search Running Balance" class="search_init"></th>
                    <th rowspan="1" colspan="1"><input type="text" name="search_category" value="Search Category" class="search_init"></th>
                    <th rowspan="1" colspan="1"><input type="text" name="search_categorytype" value="Search Category Type" class="search_init"></th>
                    <th rowspan="1" colspan="1"><input type="text" name="search_description" value="Search Description" class="search_init"></th>
                    
                </tr>

            </tfoot>
        </table>
    </div>
}

